Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-02, with the labels that each got.

#1178 Remove special handling for ComputeAddress about 'state-into-status' annotation
  pkg/k8s/state_into_spec_annotation.go
  pkg/k8s/state_into_spec_annotation_test.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeaddress.md
  scripts/generate-google3-docs/resource-reference/main.go
Labels: lgtm, approved

#1180 nits from #1133
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#1098 tests: run each mock test in a different project
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples.go
  config/tests/samples/create/samples_test.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1184 tests: Fix shutdown ordering (again)
  config/tests/samples/create/harness.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1170 Recover disabled integration test-update test yaml
  config/samples/resources/computeregionnetworkendpointgroup/private-service-connection-region-network-endpoint-group/compute_v1beta1_computesubnetwork.yaml
  pkg/test/controller/k8s.go
  pkg/test/gcp/gcp.go
  pkg/test/resourcefixture/testdata/basic/apigee/v1beta1/apigeeorganization/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/binaryauthorization/v1beta1/binaryauthorizationpolicy/serviceidentitypolicytoserviceaccountpolicy/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/globalcomputebackendserviceiap/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/globalcomputebackendserviceiap/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/globalcomputebackendserviceiap/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/regionalcomputebackendserviceiap/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/regionalcomputebackendserviceiap/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/regionalcomputebackendserviceiap/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeprojectmetadata/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeprojectmetadata/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeprojectmetadata/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeregionnetworkendpointgroup/privateserviceconnectioncomputeregionnetworkendpointgroup/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeregionnetworkendpointgroup/privateserviceconnectioncomputeregionnetworkendpointgroup/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computesharedvpcserviceproject/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computesharedvpcserviceproject/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/dlp/v1beta1/dlpdeidentifytemplate/infotypedeidentifytemplate/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/dlp/v1beta1/dlpjobtrigger/bigqueryjobtrigger/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/acmfeature/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcsdfeature/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapbrand/create.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapbrand/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinfolder/create.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinfolder/update.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinorg/create.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinorg/update.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectmovedfoldertofolder/create.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectmovedfoldertofolder/update.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/resourcemanagerpolicy/projectorgpolicy/dependencies.yaml
  pkg/test/resourcefixture/testdata/containerannotations/folderid/create.yaml
  pkg/test/resourcefixture/testdata/containerannotations/folderid/update.yaml
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceidandservergeneratedid/create.yaml
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceidandservergeneratedid/update.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/computebackendservice/oauth2clientidcomputebackendservice/dependencies.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeregionnetworkendpointgroup.md
Labels: approved

#1188 tests: even more careful cleanup
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#1190 mockgcp: services should return http.Handler
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbilling/service.go
  mockgcp/mockcertificatemanager/service.go
  mockgcp/mockcloudfunctions/service.go
  mockgcp/mockcompute/service.go
  mockgcp/mockedgecontainer/service.go
  mockgcp/mockedgenetwork/service.go
  mockgcp/mockgkemulticloud/service.go
  mockgcp/mockiam/service.go
  mockgcp/mocknetworkservices/service.go
  mockgcp/mockprivateca/service.go
  mockgcp/mockresourcemanager/service.go
  mockgcp/mocksecretmanager/service.go
  mockgcp/mockserviceusage/service.go
Labels: lgtm, approved

#1185 Recover disabled integration test-Leaser,IAMPolicy,IAMPartialPolicy
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller_integration_test.go
  pkg/controller/iam/policy/iampolicy_controller_integration_test.go
  pkg/lease/leaser/leaser_integration_test.go
  pkg/test/iam/shouldrun.go
Labels: lgtm, approved

#957 Record and verify HTTP requests
  config/tests/samples/create/harness.go
  mockgcp/common/httpmux/errors.go
  mockgcp/common/httpmux/mux.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockiam/service.go
  mockgcp/mockiam/serviceaccounts.go
  pkg/cli/gcpclient/client_integration_test.go
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/controller/mocktests/secretmanager_secret_test.go
  pkg/dcl/clientconfig/config.go
  pkg/test/eventsink.go
  pkg/test/http_recorder.go
  pkg/test/resourcefixture/testdata/basic/iam/v1beta1/iamserviceaccount/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1194 Fix MockService for mockapikeys
  mockgcp/mockapikeys/service.go
Labels: lgtm, approved

#1204 tests: run tests grouped by GVK group
  pkg/test/resourcefixture/test_runner.go
Labels: lgtm, approved

#1200 tests: when creating a folder, inject a wait afterwards
  pkg/controller/dynamic/dynamic_controller_integration_test.go
Labels: lgtm, approved

#1208 tests: Add apikeys to set of supported services
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#1211 tests: Don't try to delete APIKeysKey
  pkg/test/gcp/gcp.go
Labels: lgtm, approved

#1215 change ComputeForwardingRule subnetworkRef to use self_link
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computeaddress.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computenetwork.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computesubnetwork_proxy.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computetargethttpproxy.yaml
  config/samples/resources/computeforwardingrule/global-internal-forwarding-rule-with-target-http-proxy/compute_v1beta1_computeurlmap.yaml
  config/servicemappings/compute.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
Labels: lgtm, approved

#1205 script: cleanup temp generation folder
  scripts/generate-go-crd-clients/generate-clients.sh
Labels: lgtm, approved

#1221 mockgcp: Refactor errors from storage.Update and storage.Delete also
  mockgcp/common/operations/operations.go
  mockgcp/mockapikeys/key.go
  mockgcp/mockbilling/billingv1.go
  mockgcp/mockcertificatemanager/v1.go
  mockgcp/mockcloudfunctions/v1.go
  mockgcp/mockcompute/networksv1.go
  mockgcp/mockcompute/subnetsv1.go
  mockgcp/mockedgecontainer/cluster.go
  mockgcp/mockedgecontainer/nodepool.go
  mockgcp/mockedgenetwork/network.go
  mockgcp/mockedgenetwork/subnet.go
  mockgcp/mockgkemulticloud/attachedcluster.go
  mockgcp/mockiam/serviceaccounts.go
  mockgcp/mocknetworkservices/networkservices.go
  mockgcp/mockprivateca/capool.go
  mockgcp/mockresourcemanager/projects_internal.go
  mockgcp/mocksecretmanager/secrets.go
  mockgcp/mocksecretmanager/secretversions.go
  mockgcp/mockserviceusage/serviceusagev1.go
  mockgcp/pkg/storage/interfaces.go
  mockgcp/pkg/storage/memory.go
Labels: lgtm, approved

#1192 mockgcp: add mock for TagsTagKey
  config/tests/samples/create/harness.go
  mockgcp/common/httpmux/json.go
  mockgcp/common/httpmux/mux.go
  mockgcp/common/operations/http.go
  mockgcp/common/operations/operations.go
  mockgcp/mockresourcemanager/service.go
  mockgcp/mockresourcemanager/tagkeys.go
  pkg/test/http_recorder.go
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeybasic/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyproject/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyproject/create.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1150 [DNSRecordSet] implement support for internal load balancer health ch…
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dnsrecordsets.dns.cnrm.cloud.google.com.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computeaddress.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computenetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/dns_v1beta1_dnsmanagedzone.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/dns_v1beta1_dnsrecordset.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/resourcemanager_v1beta1_project.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeaddress.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computenetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computesubnetwork_proxy.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computetargethttpproxy.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeurlmap.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/dns_v1beta1_dnsmanagedzone.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/dns_v1beta1_dnsrecordset.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/resourcemanager_v1beta1_project.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computeaddress.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computenetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/dns_v1beta1_dnsmanagedzone.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/dns_v1beta1_dnsrecordset.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/resourcemanager_v1beta1_project.yaml
  config/servicemappings/dns.yaml
  pkg/clients/generated/apis/dns/v1beta1/dnsrecordset_types.go
  pkg/clients/generated/apis/dns/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesgeohealthchecks/create.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesgeohealthchecks/dependencies.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesgeohealthchecks/update.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesprimarybackup/create.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesprimarybackup/dependencies.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesprimarybackup/update.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpolicieswrrhealthchecks/create.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpolicieswrrhealthchecks/dependencies.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpolicieswrrhealthchecks/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dns/dnsrecordset.md
Labels: lgtm, approved

#1225 Clean up the imports for sample harness.go
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#1231 gitignore: .tmp
  .gitignore
Labels: lgtm, approved

#1189 mockgcp: Implement ComputeDisk resource
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/disksv1.go
  mockgcp/mockcompute/regiondisksv1.go
  mockgcp/mockcompute/service.go
Labels: lgtm, approved

#1236 mockgcp: Don't wrap errors in the storage layer
  mockgcp/mockcompute/disksv1.go
  mockgcp/mockcompute/regiondisksv1.go
  mockgcp/mockresourcemanager/tagkeys.go
Labels: lgtm, approved

#1149 Move the state-into-spec defaulter from webhook to controllers
  pkg/controller/dcl/controller.go
  pkg/controller/iam/auditconfig/iamauditconfig_controller.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
  pkg/controller/lifecyclehandler/handler.go
  pkg/controller/tf/controller.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/k8s/state_into_spec_annotation_test.go
  pkg/webhook/generic_defaulter.go
Labels: lgtm, approved

#1226 mockgcp support for ComputeNodeGroup and ComputeNodeTemplate
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/nodegroupsv1.go
  mockgcp/mockcompute/nodetemplatesv1.go
  mockgcp/mockcompute/service.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenodegroup/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenodetemplate/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1238 Add instructions for v1alpha1 to v1beta1 promotion
  README.NewResourceFromTerraform.md
Labels: lgtm, approved

#1235 tests: Fix loading samples to avoid mixing samples with the same name
  config/tests/samples/create/samples.go
Labels: lgtm, approved

#1033 mockgcp: initial support for StorageBucket
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/apis/mockgcp/storage/v1/README.md
  mockgcp/apis/mockgcp/storage/v1/service.proto
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/cloud/functions/v1/functions.pb.go
  mockgcp/generated/mockgcp/storage/v1/service.pb.go
  mockgcp/generated/mockgcp/storage/v1/service.pb.gw.go
  mockgcp/generated/mockgcp/storage/v1/service_grpc.pb.go
  mockgcp/generated/mockgcp/storage/v1/storage.pb.go
  mockgcp/generated/mockgcp/storage/v1/storage_resources.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockstorage/service.go
  mockgcp/mockstorage/v1.go
  mockgcp/pkg/storage/memory.go
Labels: lgtm, approved

#1152 Enable the configuration of state-into-spec default value for DCL controller
  cmd/deletiondefender/main.go
  cmd/manager/main.go
  cmd/unmanageddetector/main.go
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples_test.go
  pkg/controller/dcl/controller.go
  pkg/controller/gsakeysecretgenerator/service_account_key_integration_test.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/kccmanager/kccmanager_test.go
  pkg/controller/registration/registration_controller.go
  pkg/controller/tf/controller.go
  pkg/dcl/resource.go
  pkg/k8s/constants.go
  pkg/k8s/defaulter.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/krmtotf/resource.go
  pkg/test/controller/reconciler/testreconciler.go
Labels: lgtm, approved

#1243 Enable the configuration of state-into-spec default value for IAM policy relevant controllers
  pkg/controller/iam/auditconfig/iamauditconfig_controller.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
  pkg/controller/registration/registration_controller.go
  pkg/test/controller/reconciler/testreconciler.go
Labels: lgtm, approved

#1252 ci: stage golangci-lint, ci: add errcheck linter
  .github/workflows/lint.yaml
  .golangci.yaml
  Makefile
  config/tests/samples/create/samples.go
  operator/pkg/controllers/utils.go
  operator/pkg/logging/logging_test.go
  pkg/cli/cmd/apply/yamlresource/yaml_to_unstructured_resource_test.go
  pkg/cli/cmd/commonparams/commonparams.go
  pkg/cli/stream/asset_to_unstructured_resource_stream_test.go
  pkg/cluster/installation_identifier_test.go
  pkg/controller/iam/iamclient/tfiamclient.go
  pkg/controller/lifecyclehandler/handler.go
  pkg/controller/lifecyclehandler/handler_test.go
  pkg/controller/mocktests/harness.go
  pkg/controller/resourcewatcher/resourcewatcher_test.go
  pkg/crd/testutils/tesutils.go
  pkg/dcl/kcclite/conversion_test.go
  pkg/dcl/kcclite/templating_test.go
  pkg/krmtotf/references_test.go
  pkg/logging/logging_test.go
  pkg/resourceoverrides/dns_record_set.go
  pkg/test/main/testmain.go
  pkg/tf/serialization/tf_resource_test.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1224 typed client generation: parameterize version
  pkg/clients/generated/apis/accesscontextmanager/v1alpha1/register.go
  pkg/clients/generated/apis/apigateway/v1alpha1/register.go
  pkg/clients/generated/apis/apigee/v1alpha1/register.go
  pkg/clients/generated/apis/apikeys/v1alpha1/register.go
  pkg/clients/generated/apis/appengine/v1alpha1/register.go
  pkg/clients/generated/apis/beyondcorp/v1alpha1/register.go
  pkg/clients/generated/apis/bigquery/v1alpha1/register.go
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/register.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/register.go
  pkg/clients/generated/apis/bigquerydatapolicy/v1alpha1/register.go
  pkg/clients/generated/apis/bigquerydatatransfer/v1alpha1/register.go
  pkg/clients/generated/apis/bigqueryreservation/v1alpha1/register.go
  pkg/clients/generated/apis/cloudasset/v1alpha1/register.go
  pkg/clients/generated/apis/cloudfunctions2/v1alpha1/register.go
  pkg/clients/generated/apis/cloudids/v1alpha1/register.go
  pkg/clients/generated/apis/cloudiot/v1alpha1/register.go
  pkg/clients/generated/apis/cloudtasks/v1alpha1/register.go
  pkg/clients/generated/apis/compute/v1alpha1/register.go
  pkg/clients/generated/apis/containeranalysis/v1alpha1/register.go
  pkg/clients/generated/apis/datacatalog/v1alpha1/register.go
  pkg/clients/generated/apis/dataform/v1alpha1/register.go
  pkg/clients/generated/apis/datastore/v1alpha1/register.go
  pkg/clients/generated/apis/datastream/v1alpha1/register.go
  pkg/clients/generated/apis/deploymentmanager/v1alpha1/register.go
  pkg/clients/generated/apis/dialogflow/v1alpha1/register.go
  pkg/clients/generated/apis/dialogflowcx/v1alpha1/register.go
  pkg/clients/generated/apis/dns/v1alpha1/register.go
  pkg/clients/generated/apis/documentai/v1alpha1/register.go
  pkg/clients/generated/apis/essentialcontacts/v1alpha1/register.go
  pkg/clients/generated/apis/filestore/v1alpha1/register.go
  pkg/clients/generated/apis/firebase/v1alpha1/register.go
  pkg/clients/generated/apis/firebasedatabase/v1alpha1/register.go
  pkg/clients/generated/apis/firebasehosting/v1alpha1/register.go
  pkg/clients/generated/apis/firebasestorage/v1alpha1/register.go
  pkg/clients/generated/apis/gkebackup/v1alpha1/register.go
  pkg/clients/generated/apis/healthcare/v1alpha1/register.go
  pkg/clients/generated/apis/identityplatform/v1alpha1/register.go
  pkg/clients/generated/apis/kms/v1alpha1/register.go
  pkg/clients/generated/apis/mlengine/v1alpha1/register.go
  pkg/clients/generated/apis/networkmanagement/v1alpha1/register.go
  pkg/clients/generated/apis/networkservices/v1alpha1/register.go
  pkg/clients/generated/apis/notebooks/v1alpha1/register.go
  pkg/clients/generated/apis/orgpolicy/v1alpha1/register.go
  pkg/clients/generated/apis/osconfig/v1alpha1/register.go
  pkg/clients/generated/apis/oslogin/v1alpha1/register.go
  pkg/clients/generated/apis/pubsublite/v1alpha1/register.go
  pkg/clients/generated/apis/securitycenter/v1alpha1/register.go
  pkg/clients/generated/apis/serviceusage/v1alpha1/register.go
  pkg/clients/generated/apis/storage/v1alpha1/register.go
  pkg/clients/generated/apis/storagetransfer/v1alpha1/register.go
  pkg/clients/generated/apis/tags/v1alpha1/register.go
  pkg/clients/generated/apis/tpu/v1alpha1/register.go
  pkg/clients/generated/apis/vertexai/v1alpha1/register.go
  pkg/clients/generated/apis/workflows/v1alpha1/register.go
  pkg/clients/generated/apis/workstations/v1alpha1/register.go
  scripts/generate-go-crd-clients/register.go.tmpl
Labels: lgtm, approved

#1182 chore: add a license-lint gh action
  .github/license-lint-config.yml
  .github/workflows/license-lint.yaml
Labels: lgtm, approved

#1265 chore:lint: enable go-vet linter
  .golangci.yaml
Labels: lgtm, approved

#1241 tests: Filter log messages
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#1272 Refactor: rewrite SplitYAML to be more conventional
  operator/scripts/utils/yaml.go
Labels: lgtm, approved

#1270 tests: remove extra lines from our golden cluster test
  pkg/tf/serialization/testdata/cluster.golden.tf
Labels: lgtm

#1293 chore: better error messages in servicemappingloader
  pkg/servicemapping/servicemappingloader/servicemappingloader.go
Labels: lgtm, approved

#1291 chore: don't use caching for go task in lint github action
  .github/workflows/lint.yaml
Labels: lgtm, approved

#1298 Update Mock GCP guide
  mockgcp/README.md
Labels: lgtm, approved

#1299 Add a note on observedFields when adding a new resource
  README.NewResourceFromTerraform.md
Labels: lgtm, approved

#1302 chore:ci: bump golangci-lint and add make target
  .github/workflows/lint.yaml
  Makefile
Labels: lgtm, approved

#1242 Release notes for 1.113.0
  docs/releasenotes/release-1.113.0.md
Labels: lgtm, approved

#1306 chore: avoid errors.Is, replace with IsFoo
  pkg/controller/lifecyclehandler/handler.go
  pkg/controller/lifecyclehandler/handler_test.go
  pkg/k8s/errors.go
Labels: lgtm, approved

#1203 tests: Add more logging in e2e tests
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/test/controller/reconcile.go
  pkg/test/controller/reconciler/testreconciler.go
Labels: lgtm, approved

#1191 mockgcp: special case compute API operations
  mockgcp/mockcompute/globaloperationsv1.go
  mockgcp/mockcompute/lro.go
  mockgcp/mockcompute/networksv1.go
  mockgcp/mockcompute/operations.go
  mockgcp/mockcompute/regionaloperationsv1.go
  mockgcp/mockcompute/service.go
Labels: lgtm, approved

#1304 mockgcp: fix a few more extra-wrappings of errors
  mockgcp/mockapikeys/key.go
  mockgcp/mockbilling/billingv1.go
  mockgcp/mockcertificatemanager/v1.go
  mockgcp/mockcloudfunctions/v1.go
  mockgcp/mockcompute/disksv1.go
  mockgcp/mockcompute/networksv1.go
  mockgcp/mockcompute/regiondisksv1.go
  mockgcp/mockcompute/subnetsv1.go
  mockgcp/mockedgecontainer/cluster.go
  mockgcp/mockedgecontainer/nodepool.go
  mockgcp/mockedgenetwork/network.go
  mockgcp/mockedgenetwork/subnet.go
  mockgcp/mockgkemulticloud/attachedcluster.go
  mockgcp/mockiam/serviceaccounts.go
  mockgcp/mocknetworkservices/networkservices.go
  mockgcp/mockprivateca/capool.go
  mockgcp/mockresourcemanager/projects_internal.go
  mockgcp/mockresourcemanager/projectsv3.go
  mockgcp/mockresourcemanager/tagkeys.go
  mockgcp/mocksecretmanager/secrets.go
  mockgcp/mocksecretmanager/secretversions.go
  mockgcp/mockserviceusage/serviceusagev1.go
Labels: lgtm, approved

#1249 terraform provider: bigquery dataset iam_member support
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatasets.bigquery.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigquery/v1beta1/bigquerydataset_types.go
  pkg/clients/generated/apis/bigquery/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquery/bigquerydataset.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/bigquery/resource_bigquery_dataset.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/bigquery/resource_bigquery_dataset_test.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/website/docs/r/bigquery_dataset.html.markdown
Labels: lgtm, approved

#1165 mockgcp: Implement compute addresses
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/globaladdress.go
  mockgcp/mockcompute/regionaladdress.go
  mockgcp/mockcompute/service.go
Labels: lgtm, approved

#1177 Direct-code APIKeys Key
  go.mod
  go.sum
  mockgcp/common/operations/http.go
  mockgcp/common/operations/operations.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockapikeys/key.go
  mockgcp/mockapikeys/service.go
  pkg/controller/config.go
  pkg/controller/direct/apikeys/apikeyskey_controller.go
  pkg/controller/direct/apikeys/apikeyskey_test.go
  pkg/controller/direct/apikeys/utils.go
  pkg/controller/direct/debug/format.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/directbase/interfaces.go
  pkg/controller/direct/mappings/assertions.go
  pkg/controller/direct/mappings/build.go
  pkg/controller/direct/mappings/convert.go
  pkg/controller/direct/mappings/field.go
  pkg/controller/direct/mappings/fieldpath.go
  pkg/controller/direct/mappings/jsontag.go
  pkg/controller/direct/mappings/map.go
  pkg/controller/direct/mappings/point.go
  pkg/controller/direct/mappings/protounionfield.go
  pkg/controller/direct/mappings/structfield.go
  pkg/controller/direct/mappings/type.go
  pkg/controller/direct/mappings/validation.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/mocktests/secretmanager_secret_test.go
  pkg/controller/registration/registration_controller.go
  pkg/dcl/clientconfig/config.go
  pkg/kccfeatureflags/flags.go
Labels: lgtm, approved

#1313 Add http log instructions in mockgcp readme
  mockgcp/README.md
Labels: lgtm, approved

#1314 enh: log err to record event
  pkg/controller/lifecyclehandler/handler.go
Labels: lgtm, approved
