Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-12, with the labels that each got.

#3275 chore: add apt-get update to install-tools
  dev/tasks/install-tools
Labels: lgtm, approved

#3263 Improve update method to avoid permanent diff
  pkg/controller/direct/gkehub/diffs.go
  pkg/controller/direct/gkehub/featuremembership_controller.go
Labels: lgtm, approved

#2933 feat: add mockgcp for bigqueryroutine
  config/tests/samples/create/harness.go
  mockgcp/mockbigquery/routine.go
  mockgcp/mockbigquery/service.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/basicbigqueryroutine/_generated_object_basicbigqueryroutine.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/basicbigqueryroutine/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/basicbigqueryroutine/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/basicbigqueryroutine/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/basicbigqueryroutine/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/_generated_object_bigqueryroutineautogen.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/_generated_object_fullybigqueryroutine.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/update.yaml
Labels: lgtm, approved

#3269 chore: enable bigquery in e2e
  dev/tasks/create-test-project
Labels: lgtm, approved

#2657 Add management field for gkehubfeaturemembership
  apis/gkehub/v1beta1/featuremembership_types.go
  apis/gkehub/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkehubfeaturememberships.gkehub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/gkehub/v1beta1/gkehubfeaturemembership_types.go
  pkg/clients/generated/apis/gkehub/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/gkehub/acmconversion.go
  pkg/controller/direct/gkehub/diffs.go
  pkg/controller/direct/gkehub/mappings.go
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_generated_object_basicacmgkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/update.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_generated_object_fullacmgkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
Labels: lgtm, approved

#3284 fix: regen logs
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/basicbigqueryroutine/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryroutine/fullybigqueryroutine/_http.log
Labels: lgtm, approved

#3273 Add MockGCP tests for Apigee Envgroup
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/apigee/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/apigee/v1/service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/apigee/v1/service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockapigee/envgroup.go
  mockgcp/mockapigee/service.go
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeenvgroup/apigeeenvgroup-basic/_generated_object_apigeeenvgroup-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeenvgroup/apigeeenvgroup-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeenvgroup/apigeeenvgroup-basic/create.yaml
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeenvgroup/apigeeenvgroup-full/_generated_object_apigeeenvgroup-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeenvgroup/apigeeenvgroup-full/_http.log
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeenvgroup/apigeeenvgroup-full/create.yaml
  tests/e2e/httplog.go
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3233 chore: pass in just enough args to ResolveProject
  apis/bigquery/v1beta1/dataset_reference.go
  apis/bigqueryanalyticshub/v1alpha1/listing_reference.go
  apis/bigqueryconnection/v1alpha1/connection_reference.go
  apis/bigqueryconnection/v1beta1/connection_reference.go
  apis/discoveryengine/v1alpha1/datastore_reference.go
  apis/discoveryengine/v1alpha1/engine_reference.go
  apis/kms/v1alpha1/keyhandle_reference.go
  apis/refs/v1beta1/projectref.go
  apis/securesourcemanager/v1alpha1/instance_reference.go
  apis/securesourcemanager/v1alpha1/repository_reference.go
  apis/workstations/v1alpha1/cluster_reference.go
  apis/workstations/v1alpha1/config_reference.go
  apis/workstations/v1beta1/cluster_reference.go
  dev/tools/controllerbuilder/template/apis/identity.go
  pkg/controller/direct/bigqueryanalyticshub/dataexchange_controller.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_controller.go
  pkg/controller/direct/certificatemanager/dnsauthorization_controller.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/common/refs.go
  pkg/controller/direct/dataflow/refs.go
  pkg/controller/direct/dataform/repository_controller.go
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/direct/gkehub/featuremembership_controller.go
  pkg/controller/direct/kms/autokeyconfig/autokeyconfig_controller.go
  pkg/controller/direct/logging/logbucketref.go
  pkg/controller/direct/logging/logmetric_controller.go
  pkg/controller/direct/monitoring/monitoringdashboard_controller.go
  pkg/controller/direct/networkconnectivity/refs.go
  pkg/controller/direct/networkconnectivity/serviceconnectionpolicy_controller.go
  pkg/controller/direct/privateca/privatecapool_controller.go
  pkg/controller/direct/privilegedaccessmanager/entitlement_controller.go
  pkg/controller/direct/redis/cluster/rediscluster_controller.go
  pkg/controller/direct/redis/cluster/refs.go
  pkg/controller/direct/workstations/cluster_controller.go
  pkg/controller/direct/workstations/cluster_normalize.go
Labels: lgtm, approved

#3274 chore: improve secretmanager on edge case handling
  apis/secretmanager/v1beta1/secret_reference.go
  pkg/controller/direct/common/labels.go
  pkg/controller/direct/secretmanager/mapper.generated.go
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/controller/direct/secretmanager/secretversion_controller.go
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_object_fullsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/update.yaml
Labels: lgtm, approved

#3231 feat: support referencing BQCC service account ID in IAM resources
  apis/bigqueryconnection/v1beta1/connection_reference.go
  apis/bigqueryconnection/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iampartialpolicies.iam.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iampolicymembers.iam.cnrm.cloud.google.com.yaml
  pkg/apis/iam/v1beta1/krm_types.go
  pkg/apis/iam/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/apis/iam/v1beta1/iampartialpolicy_types.go
  pkg/clients/generated/apis/iam/v1beta1/iampolicymember_types.go
  pkg/clients/generated/apis/iam/v1beta1/zz_generated.deepcopy.go
  pkg/controller/iam/iamclient/helpers.go
  pkg/controller/iam/iamclient/iamclient.go
  pkg/test/resourcefixture/testdata/iammemberreferences/bigqueryconnectionconnectionref/_generated_object_bigqueryconnectionconnectionref.golden.yaml
  pkg/test/resourcefixture/testdata/iammemberreferences/bigqueryconnectionconnectionref/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/bigqueryconnectionconnectionref/create.yaml
  pkg/test/resourcefixture/testdata/iammemberreferences/bigqueryconnectionconnectionref/dependencies.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampartialpolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicymember.md
Labels: lgtm, approved

#3301 fix: update to use new ResolveProject func
  apis/bigqueryanalyticshub/v1alpha1/dataexchange_reference.go
  apis/memorystore/v1alpha1/instance_reference.go
Labels: lgtm, approved

#3285 docs:Update release-1.126.md
  docs/releasenotes/release-1.126.md
Labels: lgtm, approved

#3270 Add MockPrivateCACertificateAuthority
  config/tests/samples/create/harness.go
  mockgcp/mockprivateca/certificateauthority.go
  pkg/test/resourcefixture/testdata/basic/privateca/v1beta1/privatecacertificateauthority/_generated_object_privatecacertificateauthority.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privateca/v1beta1/privatecacertificateauthority/_http.log
  pkg/test/resourcefixture/testdata/basic/privateca/v1beta1/privatecacertificateauthority/create.yaml
  pkg/test/resourcefixture/testdata/basic/privateca/v1beta1/privatecacertificateauthority/update.yaml
Labels: lgtm, approved

#3300 chore: do not import direct package in apis/
  apis/bigqueryconnection/v1alpha1/connection_reference.go
  apis/compute/v1beta1/targettcpproxy_reference.go
Labels: lgtm, approved

#3151 tests: stage random filler
  pkg/test/fuzz/fuzz_test.go
  pkg/test/fuzz/krmgen.go
Labels: lgtm, approved

#3309 chore: add public sample for BigQueryConnection referenced by IAMPolicyMember
  config/samples/resources/iampolicymember/policy-member-with-bigqueryconnection-reference/bigqueryconnection_v1beta1_bigqueryconnectionconnection.yaml
  config/samples/resources/iampolicymember/policy-member-with-bigqueryconnection-reference/iam_v1beta1_iampolicymember.yaml
  config/samples/resources/iampolicymember/policy-member-with-bigqueryconnection-reference/secret.yaml
  config/samples/resources/iampolicymember/policy-member-with-bigqueryconnection-reference/sql_v1beta1_sqldatabase.yaml
  config/samples/resources/iampolicymember/policy-member-with-bigqueryconnection-reference/sql_v1beta1_sqlinstance.yaml
  config/samples/resources/iampolicymember/policy-member-with-bigqueryconnection-reference/sql_v1beta1_sqluser.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicymember.md
Labels: lgtm, approved

#3277 refactor: table => tableRef
  apis/bigqueryanalyticshub/v1alpha1/listing_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting_types.go
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryanalyticshub/mapper.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-base/_http.log
Labels: lgtm, approved

#3226 tests: set 0 llm
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_export0.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_export1.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_http00.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_http00.log.real
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_http01.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_http01.log.real
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_object00.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/_object01.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set-zero/script.yaml
Labels: lgtm, approved

#3265 feat: Implement WorkstationConfig direct controller and record GCP
  apis/workstations/v1alpha1/config_identity.go
  apis/workstations/v1alpha1/config_reference.go
  apis/workstations/v1alpha1/config_types.go
  apis/workstations/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationconfigs.workstations.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/workstations/v1alpha1/workstationconfig_types.go
  pkg/clients/generated/apis/workstations/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/workstations/config_controller.go
  pkg/controller/direct/workstations/config_defaults.go
  pkg/controller/direct/workstations/config_mappings.go
  pkg/controller/direct/workstations/config_resolverefs.go
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/_generated_object_workstationconfig-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/_http.log
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-minimal/_generated_object_workstationconfig-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-minimal/dependencies.yaml
Labels: lgtm, approved, service:workstations

#3299 fix: Update docs for ApigeeEnvironment conditional IAM support
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/apigee/apigeeenvironment.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampartialpolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicy.md
  scripts/generate-google3-docs/resource-reference/main.go
  scripts/generate-google3-docs/resource-reference/templates/shared/iamsupport.tmpl
Labels: lgtm, approved

#3302 docs: update release note from #3231
  docs/releasenotes/release-1.126.md
Labels: lgtm, approved

#3266 feat: Add mockgcp for WorkstationConfig
  config/tests/samples/create/harness.go
  mockgcp/mockworkstations/service.go
  mockgcp/mockworkstations/workstations.go
  pkg/controller/direct/workstations/config_controller.go
  pkg/test/resourcefixture/testdata/basic/workstations/workstationcluster/workstationcluster-full/_http.log
  pkg/test/resourcefixture/testdata/basic/workstations/workstationcluster/workstationcluster-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/_generated_object_workstationconfig-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-full/_http.log
  pkg/test/resourcefixture/testdata/basic/workstations/workstationconfig/workstationconfig-minimal/_http.log
Labels: lgtm, approved, service:workstations

#3319 Promote KmsKeyhandle from alpha to beta
  apis/kms/v1beta1/keyhandle_reference.go
  apis/kms/v1beta1/keyhandle_types.go
  apis/kms/v1beta1/types.generated.go
  apis/kms/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_kmskeyhandles.kms.cnrm.cloud.google.com.yaml
  config/samples/resources/kmskeyhandle/kms_v1beta1_kmskeyhandle.yaml
  config/servicemappings/kms.yaml
  docs/develop-resources/deep-dives/5-releases.md
  pkg/controller/direct/kms/keyhandle/keyhandle_controller.go
  pkg/controller/direct/kms/keyhandle/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/snippet/snippetgeneration/snippetgeneration.go
  pkg/test/resourcefixture/sets.go
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/_generated_object_kmskeyhandle.golden.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/create.yaml
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/kms/kmskeyhandle.md
  scripts/generate-google3-docs/resource-reference/overview.md
  scripts/generate-google3-docs/resource-reference/templates/kms_kmskeyhandle.tmpl
Labels: lgtm, approved

#3320 fix: Update help text for controller-builder command
  dev/tools/controllerbuilder/pkg/commands/generatecontroller/generatecontrollercommand.go
Labels: lgtm, approved

#3282 feat: add secretManager version alias
  apis/secretmanager/v1beta1/secret_types.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/controller/direct/secretmanager/secretversion_controller.go
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_export_basicsecretmanagersecret.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_export_fullsecretmanagersecret.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
  tests/e2e/export.go
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_export0.yaml
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_export3.yaml
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_http00.log
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_http02.log
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_http03.log
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_object00.yaml
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_object01.yaml
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_object02.yaml
  tests/e2e/testdata/scenarios/secretmanagerversionalias/_object03.yaml
  tests/e2e/testdata/scenarios/secretmanagerversionalias/script.yaml
Labels: lgtm, approved

#3203 fix: Add known acronyms for type generator
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
Labels: lgtm, approved

#3331 Correct typo in autokey config documentation
  scripts/generate-google3-docs/resource-reference/overview.md
Labels: lgtm, approved

#3250 Add SecureSourceManagerInstance CMEK example
  apis/refs/v1beta1/kmsrefs.go
  mockgcp/mocksecuresourcemanager/instance.go
  pkg/controller/direct/securesourcemanager/instance_controller.go
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerinstance/securesourcemanagerinstancecmek/_generated_object_securesourcemanagerinstancecmek.golden.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerinstance/securesourcemanagerinstancecmek/_http.log
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerinstance/securesourcemanagerinstancecmek/create.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerinstance/securesourcemanagerinstancecmek/dependencies.yaml
Labels: lgtm, approved

#3311 chore: enable disco api for tests
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#3343 chore: turn on readOnlyRootFilesystem for GKE add-on release'
  operator/config/gke-addon/manager_patch.yaml
Labels: lgtm, approved

#3351 feat: Add capability to replace proto contents in patch-proto
  mockgcp/apply-proto-patches.sh
  mockgcp/tools/patch-proto/go.mod
  mockgcp/tools/patch-proto/go.sum
  mockgcp/tools/patch-proto/main.go
Labels: lgtm, approved

#3345 fix: add version
  pkg/controller/direct/gkehub/mappings.go
Labels: lgtm, approved

#3329 test:add a scenario test for unset fields in bigquerydataset
  tests/e2e/normalize.go
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_export5.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_export6.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_export7.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http00.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http01.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http02.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http03.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http04.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http05.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http06.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_http07.log
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object00.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object01.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object02.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object03.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object04.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object05.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object06.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/_object07.yaml
  tests/e2e/testdata/scenarios/fields/management/bigquery/dataset/set_unset/script.yaml
Labels: lgtm, approved

#3335 feat: sync `BigQueryDataTransferConfig` to pinned googleapis version
  apis/bigquerydatatransfer/v1beta1/transferconfig_types.go
  apis/bigquerydatatransfer/v1beta1/types.generated.go
  apis/bigquerydatatransfer/v1beta1/zz_generated.deepcopy.go
  apis/refs/v1beta1/pubsubref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  go.mod
  go.sum
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransfer_mappings.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_controller.go
  pkg/controller/direct/bigquerydatatransfer/mapper.generated.go
  pkg/controller/direct/bigquerydatatransfer/roundtrip_test.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
Labels: lgtm, approved

#3337 tool: correctly insert field into Spec or ObservedState.
  dev/tools/controllerbuilder/pkg/commands/updatetypes/updatetypescommand.go
  dev/tools/controllerbuilder/pkg/typeupdater/insertfield-ast.go
  dev/tools/controllerbuilder/pkg/typeupdater/insertfield-gemini.go
  dev/tools/controllerbuilder/pkg/typeupdater/insertmessage-ast.go
  dev/tools/controllerbuilder/pkg/typeupdater/insertmessage-gemini.go
  dev/tools/controllerbuilder/pkg/typeupdater/typeupdater.go
  dev/tools/controllerbuilder/update.sh
  docs/develop-resources/scenarios/new-field.md
Labels: lgtm, approved

#3252 fix: Log error when update is not supported for regional TCP Proxy
  apis/compute/v1beta1/targettcpproxy_reference.go
  pkg/controller/direct/compute/targettcpproxy/targettcpproxy_controller.go
Labels: lgtm, approved, service:compute

#3356 refactor:tests: add overrides
  pkg/test/fuzz/fuzz_test.go
  pkg/test/fuzz/krmgen.go
Labels: lgtm, approved

#3330 Enable klog in dynamic test
  go.mod
  go.sum
  pkg/test/main/testmain.go
Labels: lgtm, approved

#3377 fix: Update resource status even if no GCP fields are updated
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#3324 fix: Specify that MockGCP will not pass due to API changes
  docs/develop-resources/deep-dives/2-define-apis.md
Labels: lgtm, approved

#3323 feat: Enable direct controller for regional tcp proxy
  pkg/controller/direct/compute/targettcpproxy/targettcpproxy_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/regionalcomputetargettcpproxy-direct/_generated_object_regionalcomputetargettcpproxy-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/regionalcomputetargettcpproxy-direct/create.yaml
Labels: lgtm, approved

#3379 tests: add full listing suite
  mockgcp/mockbigqueryanalyticshub/analyticshub.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-full/_generated_object_bigqueryanalyticshublisting-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-full/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-full/_http.log.real
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting-full/update.yaml
Labels: lgtm, approved

#3381 tool: add annotation to the generated Go fields with their corresponding proto fields
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
Labels: lgtm, approved

#3391 Update dependencies.
  experiments/compositions/expanders/helm-expander/go.mod
  experiments/compositions/expanders/helm-expander/go.sum
Labels: lgtm, approved

#3392 fix: golang non-constant format string
  tests/e2e/script_test.go
Labels: lgtm, approved

#3346 fix: only patch membership config for one membership
  mockgcp/mockgkehub/gkehubfeature.go
  pkg/controller/direct/gkehub/featuremembership_controller.go
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http00.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http01.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http02.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http03.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http04.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http05.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http06.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_http07.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object00.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object01.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object02.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object03.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object04.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object05.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object06.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/_object07.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/update_single_membership/script.yaml
Labels: lgtm, approved

#3394 fix: misspell in toc
  scripts/generate-google3-docs/resource-reference/_toc.yaml
Labels: lgtm, approved

#3358 docs:fix: point to the right ref
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubmembership.md
  scripts/generate-google3-docs/resource-reference/templates/gkehub_gkehubmembership.tmpl
Labels: lgtm, approved

#3370 fix: dataflowflextemplatejob specialize subnetwork format
  apis/refs/v1beta1/computerefs.go
  pkg/controller/direct/dataflow/refs.go
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/dataflowflextemplatejob-direct-subnetwork/_generated_object_batchdataflowflextemplatejob-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/dataflowflextemplatejob-direct-subnetwork/_generated_object_dataflowflextemplatejob-direct-subnetwork.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/dataflowflextemplatejob-direct-subnetwork/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/dataflowflextemplatejob-direct-subnetwork/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/dataflowflextemplatejob-direct-subnetwork/dependencies.yaml
Labels: lgtm, approved

#3404 docs: Update directbase_controller.go
  pkg/controller/direct/directbase/directbase_controller.go
Labels: lgtm, approved

#3402 chore: allow generate-proto.sh to install protoc on mac
  dev/tools/controllerbuilder/generate-proto.sh
Labels: lgtm, approved

#3398 fix: Fix g3doc for refs
  apis/bigquery/v1beta1/dataset_reference.go
  apis/bigqueryanalyticshub/v1alpha1/dataexchange_reference.go
  apis/bigqueryanalyticshub/v1alpha1/listing_reference.go
  apis/bigqueryanalyticshub/v1beta1/dataexchange_reference.go
  apis/bigqueryconnection/v1alpha1/connection_reference.go
  apis/bigqueryconnection/v1beta1/connection_reference.go
  apis/compute/v1beta1/computefirewallpolicyrule_reference.go
  apis/compute/v1beta1/targettcpproxy_reference.go
  apis/discoveryengine/v1alpha1/datastore_reference.go
  apis/discoveryengine/v1alpha1/engine_reference.go
  apis/kms/v1alpha1/autokeyconfig_reference.go
  apis/kms/v1alpha1/keyhandle_reference.go
  apis/kms/v1beta1/keyhandle_reference.go
  apis/memorystore/v1alpha1/instance_reference.go
  apis/refs/v1beta1/computerefs.go
  apis/secretmanager/v1beta1/secret_reference.go
  apis/secretmanager/v1beta1/secretversion_reference.go
  apis/securesourcemanager/v1alpha1/instance_reference.go
  apis/securesourcemanager/v1alpha1/repository_reference.go
  apis/spanner/v1beta1/instance_reference.go
  apis/workstations/v1alpha1/cluster_reference.go
  apis/workstations/v1alpha1/config_reference.go
  apis/workstations/v1alpha1/workstation_reference.go
  apis/workstations/v1beta1/cluster_reference.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudbuildworkerpools.cloudbuild.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computefirewallpolicyrules.compute.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataflowflextemplatejobs.dataflow.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryengineengines.discoveryengine.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_memorystoreinstances.memorystore.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkconnectivityserviceconnectionpolicies.networkconnectivity.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_redisclusters.redis.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecretversions.secretmanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerrepositories.securesourcemanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_sqlinstances.sql.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationclusters.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationconfigs.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstations.workstations.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/template/apis/identity.go
  dev/tools/controllerbuilder/template/apis/refs.go
  pkg/controller/direct/firestore/firestoredatabase_externalresource.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudbuild/cloudbuildworkerpool.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computefirewallpolicyrule.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dataflow/dataflowflextemplatejob.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/redis/rediscluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecretversion.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/sql/sqlinstance.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationcluster.md
Labels: lgtm, approved

#3407 tests: lint shortnames
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/shortnames.txt
Labels: lgtm, approved

#3382 tests: add test coverage for exporting BigQueryTable
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerytable/_generated_export_bigquerytable.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerytable/_http.log
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_generated_export_referencewithuserspecifiedresourceid.golden
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_http.log
  tests/e2e/export.go
Labels: lgtm, approved

#3414 fix: PR merge issue
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryanalyticshub/bigqueryanalyticshublisting.md
Labels: lgtm, approved

#3420 regen: fix head
  apis/bigqueryanalyticshub/v1beta1/dataexchange_reference.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryanalyticshub/bigqueryanalyticshublisting.md
Labels: lgtm, approved

#3421 fix: table ref
  apis/refs/v1beta1/bigqueryref.go
Labels: lgtm, approved

#3410 feat: Add fuzzer for WorkstationConfig
  pkg/controller/direct/workstations/config_controller.go
  pkg/controller/direct/workstations/config_mappings.go
Labels: lgtm, approved

#3403 refactor: new new new ref style
  apis/bigquery/v1beta1/dataset_identity.go
  apis/bigquery/v1beta1/dataset_reference.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/bigquerydataset/dataset_controller.go
  pkg/controller/direct/bigquerydataset/dataset_externalresource.go
Labels: lgtm, approved

#3408 fix: add shortnames
  apis/bigqueryanalyticshub/v1alpha1/listing_types.go
  apis/bigqueryanalyticshub/v1beta1/listing_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryanalyticshub/bigqueryanalyticshublisting.md
  tests/apichecks/testdata/exceptions/shortnames.txt
Labels: lgtm, approved

#3411 feat: Add fuzzer for Workstation
  pkg/controller/direct/workstations/workstation_controller.go
Labels: lgtm, approved

#3328 tests: remove LRO false fields
  tests/e2e/normalize.go
Labels: lgtm, approved

#3423 fix: ComputeTCPTargetProxy Reference and Identity
  apis/compute/v1beta1/computefirewallpolicyrule_reference.go
  apis/compute/v1beta1/targettcpproxy_identity.go
  apis/compute/v1beta1/targettcpproxy_reference.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/compute/targettcpproxy/targettcpproxy_controller.go
Labels: lgtm, approved

#3137 Spanner instance direct controller
  apis/spanner/v1beta1/instance_identity.go
  apis/spanner/v1beta1/instance_reference.go
  apis/spanner/v1beta1/instance_types.go
  apis/spanner/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_spannerinstances.spanner.cnrm.cloud.google.com.yaml
  dev/tasks/run-e2e
  dev/tools/controllerbuilder/generate.sh
  go.mod
  go.sum
  pkg/controller/direct/register/register.go
  pkg/controller/direct/spanner/instance_controller.go
  pkg/controller/direct/spanner/mapper.generated.go
  pkg/controller/direct/spanner/spannerinstace_mapper.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-basic/_generated_object_spannerinstance-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-full/_generated_object_spannerinstance-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-full/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/_generated_object_spannerinstance.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/_http.log
  pkg/test/resourcefixture/testdata/externalref/externalwithsubresource/_http.log
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/spanner/spannerinstance.md
Labels: lgtm, approved

#3405 Add sample to enable configsync autoupgrade
  config/samples/resources/gkehubfeaturemembership/configsync-auto-upgrade-feature-membership/container_v1beta1_containercluster.yaml
  config/samples/resources/gkehubfeaturemembership/configsync-auto-upgrade-feature-membership/gkehub_v1beta1_gkehubfeature.yaml
  config/samples/resources/gkehubfeaturemembership/configsync-auto-upgrade-feature-membership/gkehub_v1beta1_gkehubfeaturemembership.yaml
  config/samples/resources/gkehubfeaturemembership/configsync-auto-upgrade-feature-membership/gkehub_v1beta1_gkehubmembership.yaml
  config/samples/resources/gkehubfeaturemembership/configsync-auto-upgrade-feature-membership/resourcemanager_v1beta1_project.yaml
  config/samples/resources/gkehubfeaturemembership/configsync-auto-upgrade-feature-membership/serviceusage_v1beta1_service.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
Labels: lgtm, approved

#3415 tooling: add hints when we can't match a field
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
Labels: lgtm, approved

#3428 tool: use a different annotation prefix for go fields
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
Labels: lgtm, approved

#3387 fix: listing ref
  apis/bigqueryanalyticshub/v1alpha1/listing_reference.go
Labels: lgtm, approved

#3399 Support the `spec.configmanagement.configSync.stopSyncing` field in GKEHubFeatureMembership
  apis/gkehub/v1beta1/featuremembership_types.go
  apis/gkehub/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkehubfeaturememberships.gkehub.cnrm.cloud.google.com.yaml
  pkg/controller/direct/gkehub/acmconversion.go
  pkg/controller/direct/gkehub/diffs.go
  pkg/controller/direct/gkehub/mappings.go
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_generated_object_basicacmgkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
Labels: lgtm, approved

#3434 fix: Make ResourceID field "mutable"
  apis/bigquerydatatransfer/v1alpha1/config_types.go
  apis/bigquerydatatransfer/v1beta1/transferconfig_types.go
  apis/certificatemanager/v1alpha1/dnsauthorization_types.go
  apis/certificatemanager/v1beta1/dnsauthorization_types.go
  apis/compute/v1beta1/targettcpproxy_types.go
  apis/containerattached/v1beta1/cluster_types.go
  apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  apis/kms/v1alpha1/keyhandle_types.go
  apis/kms/v1beta1/keyhandle_types.go
  apis/privilegedaccessmanager/v1alpha1/entitlement_types.go
  apis/privilegedaccessmanager/v1beta1/privilegedaccessmanagerentitlement_types.go
  apis/secretmanager/v1beta1/secret_types.go
  apis/securesourcemanager/v1alpha1/repository_types.go
  apis/spanner/v1beta1/instance_types.go
  apis/workstations/v1alpha1/cluster_types.go
  apis/workstations/v1alpha1/config_types.go
  apis/workstations/v1alpha1/workstation_types.go
  apis/workstations/v1beta1/cluster_types.go
  apis/workstations/v1beta1/config_types.go
  apis/workstations/v1beta1/workstation_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_certificatemanagerdnsauthorizations.certificatemanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computetargettcpproxies.compute.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containerattachedclusters.containerattached.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryenginedatastores.discoveryengine.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_kmskeyhandles.kms.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_privilegedaccessmanagerentitlements.privilegedaccessmanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerrepositories.securesourcemanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_spannerinstances.spanner.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationclusters.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationconfigs.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstations.workstations.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/template/apis/types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/certificatemanager/certificatemanagerdnsauthorization.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computetargettcpproxy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/containerattached/containerattachedcluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/kms/kmskeyhandle.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/privilegedaccessmanager/privilegedaccessmanagerentitlement.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/spanner/spannerinstance.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstation.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationcluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationconfig.md
Labels: lgtm, approved

#3435 tests: record fields that are never set
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#3441 Add my contributions to 1.127 release notes
  docs/releasenotes/release-1.127.md
Labels: lgtm, approved

#3406 docs: gkehubfeaturemembership
  docs/releasenotes/release-1.127.md
Labels: lgtm, approved

#3424 fix: ComputeFirewallPolicyRule Reference and Identity
  apis/compute/v1beta1/computefirewallpolicyrule_reference.go
  apis/compute/v1beta1/firewallpolicyrule_identity.go
  apis/compute/v1beta1/firewallpolicyrule_reference.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/compute/firewallpolicyrule/firewallpolicyrule_controller.go
  pkg/controller/direct/compute/targettcpproxy/targettcpproxy_controller.go
Labels: lgtm, approved

#3313 feat: Add note for project dependency gotcha in mockgcp docs
  docs/develop-resources/deep-dives/1-add-mockgcp-tests.md
Labels: lgtm, approved

#3413 chore: switch controllerbuilder to use vertexai gemini endpoint
  dev/tools/controllerbuilder/go.mod
  dev/tools/controllerbuilder/go.sum
  dev/tools/controllerbuilder/pkg/llm/gemini.go
  dev/tools/controllerbuilder/pkg/toolbot/csv.go
  dev/tools/controllerbuilder/pkg/toolbot/datapoint.go
  dev/tools/controllerbuilder/pkg/toolbot/extracttoolmarkers.go
  dev/tools/controllerbuilder/pkg/typeupdater/insertfield-gemini.go
  dev/tools/controllerbuilder/pkg/typeupdater/insertmessage-gemini.go
  dev/tools/controllerbuilder/pkg/typeupdater/typeupdater.go
Labels: lgtm, approved

#3442 Revert "fix: Add helper comment for ResourceID validation"
  apis/bigquerydatatransfer/v1alpha1/config_types.go
  apis/bigquerydatatransfer/v1beta1/transferconfig_types.go
  apis/certificatemanager/v1alpha1/dnsauthorization_types.go
  apis/certificatemanager/v1beta1/dnsauthorization_types.go
  apis/compute/v1beta1/targettcpproxy_types.go
  apis/containerattached/v1beta1/cluster_types.go
  apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  apis/kms/v1alpha1/keyhandle_types.go
  apis/kms/v1beta1/keyhandle_types.go
  apis/privilegedaccessmanager/v1alpha1/entitlement_types.go
  apis/privilegedaccessmanager/v1beta1/privilegedaccessmanagerentitlement_types.go
  apis/secretmanager/v1beta1/secret_types.go
  apis/securesourcemanager/v1alpha1/repository_types.go
  apis/spanner/v1beta1/instance_types.go
  apis/workstations/v1alpha1/cluster_types.go
  apis/workstations/v1alpha1/config_types.go
  apis/workstations/v1alpha1/workstation_types.go
  apis/workstations/v1beta1/cluster_types.go
  apis/workstations/v1beta1/config_types.go
  apis/workstations/v1beta1/workstation_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_certificatemanagerdnsauthorizations.certificatemanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computetargettcpproxies.compute.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containerattachedclusters.containerattached.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryenginedatastores.discoveryengine.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_kmskeyhandles.kms.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_privilegedaccessmanagerentitlements.privilegedaccessmanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerrepositories.securesourcemanager.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_spannerinstances.spanner.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationclusters.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationconfigs.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstations.workstations.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/template/apis/types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/certificatemanager/certificatemanagerdnsauthorization.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computetargettcpproxy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/containerattached/containerattachedcluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/kms/kmskeyhandle.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/privilegedaccessmanager/privilegedaccessmanagerentitlement.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/spanner/spannerinstance.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstation.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationcluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationconfig.md
Labels: lgtm, approved

#3438 Mark 'spec.deletionPolicy' mutable-but-unreadable in SQLDatabase
  config/servicemappings/sql.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasebasic/_generated_object_sqldatabasebasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasebasic/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasebasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasebasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasebasic/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasesismerge/_generated_object_sqldatabasesismerge.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasesismerge/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasesismerge/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasesismerge/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/sqldatabasesismerge/update.yaml
Labels: lgtm, approved

#3447 fix: Fix workstations docs quotation issue
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstation.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationconfig.md
  scripts/generate-google3-docs/resource-reference/templates/workstations_workstation.tmpl
  scripts/generate-google3-docs/resource-reference/templates/workstations_workstationconfig.tmpl
Labels: lgtm, approved

#3156 Add SecureSourceManagerRepository controller and mockgcp
  apis/securesourcemanager/v1alpha1/instance_reference.go
  config/tests/samples/create/harness.go
  mockgcp/mocksecuresourcemanager/repository.go
  pkg/controller/direct/registry/registry.go
  pkg/controller/direct/securesourcemanager/mapper.generated.go
  pkg/controller/direct/securesourcemanager/repository_controller.go
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositorybasic/_generated_object_securesourcemanagerrepositorybasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositorybasic/_http.log
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositorybasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositorybasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositoryfull/_generated_object_securesourcemanagerrepositoryfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositoryfull/_http.log
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositoryfull/create.yaml
  pkg/test/resourcefixture/testdata/basic/securesourcemanager/securesourcemanagerrepository/securesourcemanagerrepositoryfull/dependencies.yaml
Labels: lgtm, approved

#3448 Update dependencies for cel-expander.
  experiments/compositions/expanders/cel-expander/go.mod
  experiments/compositions/expanders/cel-expander/go.sum
Labels: lgtm, approved

#3449 fix: Actually fix workstation docs
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstation.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationconfig.md
  scripts/generate-google3-docs/resource-reference/templates/workstations_workstation.tmpl
  scripts/generate-google3-docs/resource-reference/templates/workstations_workstationconfig.tmpl
Labels: lgtm, approved

#3340 feat: Add fuzz test for FirestoreDatabase
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/direct/firestore/firestoredatabase_defaults.go
  pkg/controller/direct/firestore/firestoredatabase_mappings.go
Labels: lgtm, approved, service:firestore

#3416 DiscoveryEngineTargetSite: initial types
  apis/discoveryengine/v1alpha1/targetsite_identity.go
  apis/discoveryengine/v1alpha1/targetsite_reference.go
  apis/discoveryengine/v1alpha1/targetsite_types.go
  apis/discoveryengine/v1alpha1/types.generated.go
  apis/discoveryengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryenginedatastoretargetsites.discoveryengine.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate.sh
  pkg/controller/direct/discoveryengine/datastoretargetsite_fuzzer.go
  pkg/controller/direct/discoveryengine/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#3451 chore: fix makefile
  Makefile
Labels: lgtm, approved
