Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-08, with the labels that each got.

#2397 chore: fix some linter warnings
  scripts/resource-autogen/main.go
Labels: lgtm, approved

#2384 Add a step to automate the kube object comparison in powertool test
  tests/e2e/script_test.go
  tests/e2e/testdata/scenarios/README.md
  tests/e2e/testdata/scenarios/powertool/logginglogmetric_clear_state_into_spec/SCENARIO_README.md
  tests/e2e/testdata/scenarios/powertool/logginglogmetric_clear_state_into_spec/script.yaml
Labels: lgtm, approved

#2385 chore: add code comments about how to wire up backdoor test commands
  mockgcp/mock_http_roundtrip.go
Labels: lgtm, approved

#2304 chore: Generate NetworkConnectivityServiceConnectionPolicy types
  apis/bigtable/v1beta1/types.generated.go
  apis/networkconnectivity/v1alpha1/doc.go
  apis/networkconnectivity/v1alpha1/groupversion_info.go
  apis/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy_types.go
  apis/networkconnectivity/v1alpha1/types.generated.go
  apis/networkconnectivity/v1alpha1/types.go
  apis/networkconnectivity/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkconnectivityserviceconnectionpolicies.networkconnectivity.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/go.mod
  dev/tools/controllerbuilder/go.sum
  dev/tools/controllerbuilder/pkg/codegen/generatorbase.go
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatemapper/generatemappercommand.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/proto-to-mapper/Makefile
  go.mod
  go.sum
  go.work
  go.work.sum
  mockgcp/Makefile
  mockgcp/apis/mockgcp/cloud/networkconnectivity/v1/networkconnectivity.proto
  mockgcp/go.mod
  mockgcp/go.sum
  mockgcp/tools/gapic/pkg/protogen/convert.go
  mockgcp/tools/gapic/pkg/protogen/render.go
  pkg/clients/generated/apis/networkconnectivity/v1alpha1/doc.go
  pkg/clients/generated/apis/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy_types.go
  pkg/clients/generated/apis/networkconnectivity/v1alpha1/register.go
  pkg/clients/generated/apis/networkconnectivity/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/fake/fake_networkconnectivity_client.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/fake/fake_networkconnectivityserviceconnectionpolicy.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/networkconnectivity_client.go
  pkg/clients/generated/client/clientset/versioned/typed/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy.go
  tests/apichecks/crds_test.go
Labels: lgtm, approved

#1973 Bigtable: workaround for autoscaling
  pkg/resourceoverrides/bigtable_instance.go
  pkg/resourceoverrides/overrides.go
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/_generated_object_bigtableinstanceautoscaling.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/_http.log
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/update.yaml
  tests/e2e/testdata/scenarios/bigtableinstance/unchanged-merge/_http02.log
  tests/e2e/testdata/scenarios/bigtableinstance/unchanged-merge/_object03.yaml
Labels: lgtm, approved

#2405 docs: small change
  experiments/kompanion/README.md
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2404 chore: fix typo in message
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
Labels: lgtm, approved

#2407 feat: Use externalRef as the true identity in cbwp
  pkg/controller/direct/cloudbuild/externalresource.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/externalresource/resource.go
  pkg/controller/direct/externalresource/resource_test.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_generated_object_cloudbuildworkerpool.golden.yaml
Labels: lgtm, approved

#2382 mockgcp: improve artifactregistry fidelity
  mockgcp/mockartifactregistry/repository.go
  mockgcp/mockartifactregistry/service.go
  pkg/test/resourcefixture/testdata/basic/artifactregistry/v1beta1/artifactregistryrepository/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/serviceidentityref/_http.log
Labels: lgtm, approved

#2305 Generate mappers for NetworkConnectivityServiceConnectionPolicy
  apis/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy_types.go
  apis/networkconnectivity/v1alpha1/types.generated.go
  apis/networkconnectivity/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkconnectivityserviceconnectionpolicies.networkconnectivity.cnrm.cloud.google.com.yaml
  dev/tasks/find-missing-fields
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/codegen/generatorbase.go
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatemapper/generatemappercommand.go
  dev/tools/controllerbuilder/pkg/options/generateoptions.go
  go.work.sum
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/networkconnectivity/v1/networkconnectivity.pb.go
  mockgcp/generated/mockgcp/cloud/networkconnectivity/v1/networkconnectivity.pb.gw.go
  mockgcp/generated/mockgcp/cloud/networkconnectivity/v1/networkconnectivity_grpc.pb.go
  pkg/clients/generated/apis/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy_types.go
  pkg/clients/generated/apis/networkconnectivity/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/networkconnectivity/mapper.generated.go
  pkg/controller/direct/networkconnectivity/mapper.go
  pkg/controller/direct/networkconnectivity/refs.go
  pkg/controller/direct/networkconnectivity/roundtrip_test.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved

#2412 mockgcp: widget content is required for MonitoringDashboard
  mockgcp/mockmonitoring/dashboard.go
Labels: lgtm, approved

#2413 doc: add release note for v1.121.0
  docs/releasenotes/release-1.121.md
Labels: lgtm, approved

#2424 parameterize GOWORK for all make composition targets
  experiments/compositions/composition/Makefile
  experiments/compositions/composition/expanders.mk
  experiments/compositions/composition/inline.mk
  experiments/compositions/expanders/cel-expander/Makefile
  experiments/compositions/expanders/helm-expander/Makefile
Labels: lgtm, approved

#2415 doc: archive doc about adding new tf/dcl resources
  README.md
  docs/archive/README.ChangingTerraform.md
  docs/archive/README.NewResourceFromTerraform.md
  docs/archive/README.UpdatingDCL.md
  docs/archive/README.UpdatingTerraformProvider.md
Labels: lgtm, approved

#1688 feat(runjob): add support for cloud_sql_instance
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_runjobs.run.cnrm.cloud.google.com.yaml
  config/samples/resources/runjob/job-with-sql/run_v1beta1_runjob.yaml
  config/samples/resources/runjob/job-with-sql/sql_v1beta1_sqlinstance.yaml
  config/servicemappings/run.yaml
  crds/run_v1beta1_runjob.yaml
  pkg/clients/generated/apis/run/v1beta1/runjob_types.go
  pkg/clients/generated/apis/run/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runjob/runjobsql/create.yaml
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runjob/runjobsql/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runjob/runjobsql/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/run/runjob.md
Labels: lgtm, approved

#2418 feat: add direct controller for NetworkConnectivityServiceConnectionPolicy
  apis/refs/v1beta1/computerefs.go
  pkg/controller/direct/networkconnectivity/client.go
  pkg/controller/direct/networkconnectivity/refs.go
  pkg/controller/direct/networkconnectivity/serviceconnectionpolicy_controller.go
  pkg/controller/direct/networkconnectivity/utils.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/_generated_object_serviceconnectionpolicybasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/_http.log
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/update.yaml
Labels: lgtm, approved

#2431 tools: do not skip type generation when scaffolding a new resource
  dev/tools/controllerbuilder/pkg/codegen/generatorbase.go
Labels: lgtm, approved

#1633 mockgcp support for NetworkConnectivityServiceConnectionPolicy
  config/tests/samples/create/harness.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mocknetworkconnectivity/service.go
  mockgcp/mocknetworkconnectivity/serviceconnectionpolicies.go
  mockgcp/mocknetworkconnectivity/utils.go
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/_generated_object_serviceconnectionpolicybasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/_http.log
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/update.yaml
Labels: lgtm, approved

#2422 chore: resolve comments in #2407
  pkg/controller/direct/cloudbuild/externalresource.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
Labels: lgtm, approved

#2426 tests: capture compute LROs also
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/readalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/zonalalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudids/v1beta1/cloudidsendpoint/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/globalcomputeaddress/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/regionalcomputeaddress/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancebasicexample/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancewithencrypteddisk/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computemanagedsslcertificate/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computesubnetwork/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargetvpngateway/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computevpngateway/_http.log
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containercluster/_http.log
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcifeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubmembership/_http.log
  pkg/test/resourcefixture/testdata/basic/servicenetworking/v1beta1/servicenetworkingconnection/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/mysqlinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/mysqlinstancebasic/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/postgresinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/postgresinstancebasic/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstanceencryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlserverinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlserverinstancebasic/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqluser/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointnetwork/_http.log
  pkg/test/resourcefixture/testdata/directives/removedefaultnodepool/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/sqlinstanceref/_http.log
  pkg/test/resourcefixture/testdata/resourceoverrides/computeinstance/networkipcomputeinstance/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2428 SecureSourceManager update for latest machinery
  apis/securesourcemanager/v1alpha1/doc.go
  apis/securesourcemanager/v1alpha1/groupversion_info.go
  apis/securesourcemanager/v1alpha1/register.go
  apis/securesourcemanager/v1alpha1/securesourcemanagerinstance_types.go
  apis/securesourcemanager/v1alpha1/types.generated.go
  apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerinstances.securesourcemanager.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/codegen/generatorbase.go
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  go.mod
  go.sum
  go.work.sum
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/securesourcemanagerinstance_types.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/securesourcemanager/mapper.generated.go
  pkg/controller/direct/securesourcemanager/roundtrip_test.go
Labels: lgtm, approved

#2441 fix: fix serviceconnectionpolicybasic test fixture
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/serviceconnectionpolicy/serviceconnectionpolicybasic/_http.log
Labels: lgtm, approved

#2438 feat: add kmskeyring ref
  apis/refs/v1beta1/helper.go
  apis/refs/v1beta1/kmskeyref.go
  apis/refs/v1beta1/kmsrefs.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigtableinstances.bigtable.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigtable/bigtableinstance.md
Labels: lgtm, approved

#2444 ci: exclude mapper generations
  .golangci.yaml
Labels: lgtm, approved

#1936 mockgcp: serve multiple hosts, including variables
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockaiplatform/service.go
  mockgcp/mockalloydb/service.go
  mockgcp/mockapikeys/service.go
  mockgcp/mockartifactregistry/service.go
  mockgcp/mockbigquery/service.go
  mockgcp/mockbigqueryconnection/service.go
  mockgcp/mockbigtable/service.go
  mockgcp/mockbilling/service.go
  mockgcp/mockcertificatemanager/service.go
  mockgcp/mockcloudbuild/service.go
  mockgcp/mockcloudfunctions/service.go
  mockgcp/mockcloudids/service.go
  mockgcp/mockcompute/service.go
  mockgcp/mockcontainer/service.go
  mockgcp/mockcontaineranalysis/service.go
  mockgcp/mockdataform/service.go
  mockgcp/mockedgecontainer/service.go
  mockgcp/mockedgenetwork/service.go
  mockgcp/mockgkehub/service.go
  mockgcp/mockgkemulticloud/service.go
  mockgcp/mockiam/service.go
  mockgcp/mockkms/service.go
  mockgcp/mocklogging/service.go
  mockgcp/mockmonitoring/service.go
  mockgcp/mocknetworkconnectivity/service.go
  mockgcp/mocknetworkservices/service.go
  mockgcp/mockprivateca/service.go
  mockgcp/mockprivilegedaccessmanager/service.go
  mockgcp/mockpubsub/service.go
  mockgcp/mockpubsublite/service.go
  mockgcp/mockredis/service.go
  mockgcp/mockresourcemanager/service.go
  mockgcp/mocksecretmanager/service.go
  mockgcp/mockservicenetworking/service.go
  mockgcp/mockserviceusage/service.go
  mockgcp/mockspanner/admin/service.go
  mockgcp/mocksql/service.go
  mockgcp/mockstorage/service.go
Labels: lgtm, approved

#2446 feat: Add basic/full test suite for storageNotification
  pkg/test/constants/presubmitconstants_test.go
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationbase/_generated_object_storagenotificationbase.golden.yaml
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationbase/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationbase/create.yaml
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationbase/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationfull/_generated_object_storagenotificationfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationfull/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationfull/create.yaml
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationfull/dependencies.yaml
Labels: lgtm, approved

#2414 tests: more complete compute normalization
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2448 fix: wrong flag reference in generate-type CLI
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/pkg/options/generateoptions.go
Labels: lgtm, approved

#2447 feat: add mockgcp for storageNotification
  config/tests/samples/create/harness.go
  mockgcp/mockpubsub/topic.go
  mockgcp/mockstorage/bucket.go
  mockgcp/mockstorage/notification.go
  mockgcp/mockstorage/service.go
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containercluster/_http.log
  pkg/test/resourcefixture/testdata/basic/pubsub/v1beta1/pubsubtopic/_generated_object_pubsubtopic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/pubsub/v1beta1/pubsubtopic/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlserverinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationbase/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationfull/_http.log
  pkg/test/resourcefixture/testdata/directives/forcedestroy/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/serviceaccountref/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/sqlinstanceref/_http.log
Labels: lgtm, approved

#2409 feat: use CEL to validate network immutable field for cbwp
  apis/cloudbuild/v1beta1/workerpool_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudbuildworkerpools.cloudbuild.cnrm.cloud.google.com.yaml
Labels: lgtm, approved

#2461 Update GCP dependencies
  dev/tasks/run-in-kube
  dev/tasks/update-gcp-dependencies
  dev/tools/controllerbuilder/go.mod
  dev/tools/controllerbuilder/go.sum
  experiments/compositions/dev/test-golang
  experiments/kompanion/go.mod
  experiments/kubectl-plan/go.mod
  experiments/kubectl-plan/go.sum
  go.mod
  go.sum
  go.work.sum
  hack/dependabot/Dockerfile
  mockgcp/dev/images/protoc/Dockerfile
  mockgcp/go.mod
  mockgcp/go.sum
Labels: lgtm, approved

#2400 generate mockGCP tests for bigquery table resource
  config/tests/samples/create/harness.go
  mockgcp/mockbigquery/service.go
  mockgcp/mockbigquery/tables.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerytable/_http.log
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_generated_object_referencewithuserspecifiedresourceid.golden.yaml
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_http.log
Labels: lgtm, approved

#1625 feat: direct controller for RedisCluster
  apis/redis/v1alpha1/rediscluster_types.go
  apis/redis/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_redisclusters.redis.cnrm.cloud.google.com.yaml
  go.work.sum
  pkg/clients/generated/apis/redis/v1alpha1/rediscluster_types.go
  pkg/clients/generated/apis/redis/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/redis/cluster/client.go
  pkg/controller/direct/redis/cluster/mapper.go
  pkg/controller/direct/redis/cluster/rediscluster_controller.go
  pkg/controller/direct/redis/cluster/refs.go
  pkg/controller/direct/redis/cluster/roundtrip_test.go
  pkg/controller/direct/redis/cluster/utils.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_generated_object_redisclustersimple.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/create.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/update.yaml
Labels: lgtm, approved

#2465 chore: make e2e project creation use GOOGLE_APPLICATION_CREDENTIALS
  dev/tasks/create-test-project
Labels: lgtm, approved

#2466 chore: more project creation tweaks
  dev/tasks/create-test-project
Labels: lgtm, approved

#2468 tests: use GCP_PROJECT_ID (if set) as default project
  dev/tasks/run-e2e
  pkg/test/gcp/gcp.go
Labels: lgtm, approved

#2471 tests: set TEST_ORG_ID in tests
  dev/tasks/run-e2e
Labels: lgtm, approved

#2470 tests: move resource acquistion test to script test
  tests/e2e/httplog.go
  tests/e2e/normalize.go
  tests/e2e/replacements.go
  tests/e2e/script_test.go
  tests/e2e/testdata/scenarios/acquisition/monitoringgroup/_http00.log
  tests/e2e/testdata/scenarios/acquisition/monitoringgroup/_http01.log
  tests/e2e/testdata/scenarios/acquisition/monitoringgroup/_object00.yaml
  tests/e2e/testdata/scenarios/acquisition/monitoringgroup/_object01.yaml
  tests/e2e/testdata/scenarios/acquisition/monitoringgroup/script.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2463 mockgcp: more BigQueryTable fidelity
  mockgcp/mockbigquery/tables.go
  mockgcp/mockbigquery/utils.go
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_generated_object_referencewithuserspecifiedresourceid.golden.yaml
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_http.log
Labels: lgtm, approved

#2460 chore: update golangci-lint-action
  .github/workflows/lint.yaml
Labels: lgtm, approved

#2462 chore: remove some files mistakenly added
  dev/tasks/run-in-kube
  experiments/compositions/dev/test-golang
  hack/dependabot/Dockerfile
  mockgcp/dev/images/protoc/Dockerfile
Labels: lgtm, approved

#2455 fix: temporarily skip integration tests for edgecontainer
  pkg/test/constants/constants.go
  pkg/test/constants/presubmitconstants.go
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#2475 tests: expose TEST_BILLING_ACCOUNT_ID
  dev/tasks/run-e2e
  hack/record-gcp
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogexclusion/billingexclusion/_generated_object_billingexclusion.golden.yaml
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogexclusion/billingexclusion/_http.log
  tests/e2e/httplog.go
  tests/e2e/replacements.go
Labels: lgtm, approved

#2482 feat: respect acronyms in type generation
  apis/securesourcemanager/v1alpha1/types.generated.go
  apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerinstances.securesourcemanager.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/securesourcemanagerinstance_types.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/securesourcemanager/mapper.generated.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#2474 tests: fix tcpuptimecheckconfig test for immutable change
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringuptimecheckconfig/tcpuptimecheckconfig/_generated_object_tcpuptimecheckconfig.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringuptimecheckconfig/tcpuptimecheckconfig/_http.log
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringuptimecheckconfig/tcpuptimecheckconfig/update.yaml
Labels: lgtm, approved, service:monitoring

#2479 e2e: add periodic test for securesourcemanager
  dev/ci/periodics/e2e-service-securesourcemanager
Labels: lgtm, approved, service:securesourcemanager

#2484 Return an error in dynamic test when Export() is not supported
  pkg/test/resourcefixture/contexts/register.go
Labels: lgtm, approved

#2302 Update mock for CertificateManager Resources
  mockgcp/mockcertificatemanager/certificate.go
  mockgcp/mockcertificatemanager/certificatemap.go
  mockgcp/mockcertificatemanager/certificatemapentry.go
  mockgcp/mockcertificatemanager/dnsauthorization.go
  mockgcp/mockcertificatemanager/service.go
  mockgcp/mockcertificatemanager/v1.go
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificatemanageddns/_generated_object_certificatemanagercertificatemanageddns.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificatemanageddns/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificateselfmanaged/_generated_object_certificatemanagercertificateselfmanaged.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificateselfmanaged/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemap/_generated_object_certificatemanagercertificatemap.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemap/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemapentry/_generated_object_certificatemanagercertificatemapentry.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemapentry/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization/_generated_object_certificatemanagerdnsauthorization.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization/_http.log
Labels: lgtm, approved

#1619 mockgcp: more fidelity for KMSKeyRing
  go.work.sum
  mockgcp/mockkms/cryptokey.go
  mockgcp/mockkms/cryptokeyversion.go
  mockgcp/mockkms/keyring.go
  mockgcp/mockkms/utils.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containercluster/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmscryptokey/_generated_object_kmscryptokey.golden.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmscryptokey/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstanceencryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaidataset/vertexaidatasetencryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointencryptionkey/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:kms

#2433 mocks: Update ComputeForwardingRule mock responses with API default fields
  mockgcp/mockcompute/globaladdress.go
  mockgcp/mockcompute/globalforwardingrulesv1.go
  mockgcp/mockcompute/instancesv1.go
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/regionalcomputeaddress/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_generated_object_globalcomputeforwardingrule.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_generated_object_regionalcomputeforwardingrule.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancebasicexample/_generated_object_computeinstancebasicexample.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancebasicexample/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancewithencrypteddisk/_generated_object_computeinstancewithencrypteddisk.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancewithencrypteddisk/_http.log
  pkg/test/resourcefixture/testdata/resourceoverrides/computeinstance/networkipcomputeinstance/_generated_object_networkipcomputeinstance.golden.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/computeinstance/networkipcomputeinstance/_http.log
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:compute

#2491 More github actions for Compositions
  .github/workflows/presubmit-compositions.yaml
  experiments/compositions/composition/Makefile
  experiments/compositions/composition/proto/expander.pb.go
  experiments/compositions/composition/proto/expander_grpc.pb.go
  experiments/compositions/scripts/github-actions/format-gomod.sh
  experiments/compositions/scripts/github-actions/verify-goimports.sh
Labels: lgtm, approved

#2494 tests: log resource name for dependency failure
  pkg/test/controller/reconciler/testreconciler.go
  pkg/test/runner/runner.go
Labels: lgtm, approved

#2498 tests: improve fidelity for BigtableTable
  config/tests/samples/create/harness.go
  mockgcp/mockbigtable/table.go
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtabletable/_http.log
Labels: lgtm, approved, service:bigtable

#2492 fix: Reduce bigtable request size to meet project quotas
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/_generated_object_bigtableinstanceautoscaling.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/_http.log
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling2/_generated_object_bigtableinstanceautoscaling2.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling2/_http.log
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling2/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/bigtableinstanceautoscaling2/update.yaml
Labels: lgtm, approved, service:bigtable

#2493 Add linter that targets only compositions folder
  .github/workflows/presubmit-compositions.yaml
  experiments/compositions/composition/README.md
  experiments/compositions/composition/expanders/getter/main_test.go
Labels: approved

#2500 chore: don't use "direct" package from mockgcp
  mockgcp/mockstorage/notification.go
  mockgcp/mockstorage/utils.go
Labels: lgtm, approved

#2445 mockgcp support for RedisCluster
  config/tests/samples/create/harness.go
  go.work
  go.work.sum
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/redis/cluster/v1/cloud_redis_cluster.pb.go
  mockgcp/generated/mockgcp/cloud/redis/cluster/v1/cloud_redis_cluster.pb.gw.go
  mockgcp/generated/mockgcp/cloud/redis/cluster/v1/cloud_redis_cluster_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/redis/v1beta1/cloud_redis.pb.go
  mockgcp/mockredis/cluster.go
  mockgcp/mockredis/service.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_generated_object_redisclustersimple.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/redisinstance/_http.log
  tests/e2e/normalize.go
  tests/e2e/replacements.go
  tests/e2e/script_test.go
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:redis

#2489 tests: capture our golden output after e2e
  dev/ci/periodics/e2e-service-logging
  dev/ci/periodics/e2e-service-monitoring
  dev/ci/periodics/e2e-service-securesourcemanager
Labels: lgtm, approved

#2464 test suites for Redis cluster
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_generated_object_basicrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/update.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_generated_object_fullrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/update.yaml
Labels: lgtm, approved, service:redis

#2490 tests: increase default e2e timeout to 2 hours
  config/tests/samples/create/samples.go
  dev/tasks/run-e2e
  tests/e2e/script_test.go
Labels: lgtm, approved

#2477 e2e: add tests for redis service
  dev/ci/periodics/e2e-service-redis
Labels: lgtm, approved, service:redis

#2486 Support optional 'spec' field as targetField in resource references
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbclusters.alloydb.cnrm.cloud.google.com.yaml
  config/servicemappings/alloydb.yaml
  pkg/clients/generated/apis/alloydb/v1beta1/alloydbcluster_types.go
  pkg/clients/generated/apis/alloydb/v1beta1/zz_generated.deepcopy.go
  pkg/krmtotf/references.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_generated_object_basicalloydbcluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/_generated_object_basicalloydbsecondarycluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_generated_object_fullalloydbcluster.golden.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbcluster.md
Labels: lgtm, approved

#2505 tests: update redis examples for latest mockgcp
  mockgcp/mockredis/cluster.go
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_generated_object_basicrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_generated_object_fullrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_http.log
Labels: lgtm, approved

#2506 mockgcp: improve fidelity of RedisCluster
  mockgcp/mockredis/cluster.go
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_generated_object_basicrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_http.log
Labels: lgtm, approved

#2483 feat: Implement "Export" for SQLInstance
  pkg/controller/direct/sql/mapping.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/test/resourcefixture/contexts/register.go
  pkg/test/resourcefixture/contexts/sql_context.go
Labels: lgtm, approved

#2501 kubectl-plan: try to pretty-print diffs
  experiments/kubectl-plan/pkg/plan/fieldpath.go
  experiments/kubectl-plan/pkg/plan/golden_test.go
  experiments/kubectl-plan/pkg/plan/model.go
  experiments/kubectl-plan/pkg/plan/objectdiff.go
  experiments/kubectl-plan/pkg/plan/planner.go
  experiments/kubectl-plan/pkg/plan/printer.go
  experiments/kubectl-plan/pkg/plan/testdata/simplecreate/_plan.txt
  experiments/kubectl-plan/pkg/plan/testdata/simplecreate/_plan.yaml
  experiments/kubectl-plan/pkg/plan/testdata/simplenochange/_plan.txt
  experiments/kubectl-plan/pkg/plan/testdata/simplenochange/_plan.yaml
  experiments/kubectl-plan/pkg/plan/testdata/simpleupdate/_plan.txt
  experiments/kubectl-plan/pkg/plan/testdata/simpleupdate/_plan.yaml
  experiments/kubectl-plan/pkg/plan/utils.go
Labels: lgtm, approved

#2504 Support SetLabels() in mock compute image
  mockgcp/mockcompute/imagesv1.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeimage/_generated_object_computeimage.golden.yaml
Labels: lgtm, approved

#2503 fixing linter errors
  experiments/compositions/composition/api/v1alpha1/plan_types.go
  experiments/compositions/composition/cmd/inline/main.go
  experiments/compositions/composition/config/crd/bases/composition.google.com_plans.yaml
  experiments/compositions/composition/expanders/expand/main.go
  experiments/compositions/composition/expanders/getter/main_test.go
  experiments/compositions/composition/expanders/jinja2/main.go
  experiments/compositions/composition/expanders/jinja2/main_test.go
  experiments/compositions/composition/internal/controller/composition_controller.go
  experiments/compositions/composition/internal/controller/expander_reconciler.go
  experiments/compositions/composition/internal/controller/expanderversion_controller.go
  experiments/compositions/composition/pkg/applier/applier.go
  experiments/compositions/composition/pkg/containerexecutor/jobcontainerexecutor/jobcontainerrunner.go
  experiments/compositions/composition/pkg/crds/crds.go
  experiments/compositions/composition/tests/cluster/cluster.go
  experiments/compositions/composition/tests/cluster/configcontroller/cluster.go
  experiments/compositions/composition/tests/cluster/kind/cluster.go
  experiments/compositions/composition/tests/scenario/scenario.go
  experiments/compositions/composition/tests/testcases/kcc_samples_test.go
  experiments/compositions/composition/tests/testcases/main_test.go
  experiments/compositions/composition/tests/testcases/simple_samples_test.go
  experiments/compositions/composition/tests/testclient/client.go
  experiments/compositions/composition/tests/testclient/framework.go
  experiments/compositions/composition/tests/utils/utils.go
Labels: lgtm, approved

#2502 fixit: Initialize direct controller registry for postsubmit samples tests
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples_test.go
  pkg/controller/direct/registry/registry.go
  pkg/controller/registration/registration_controller.go
  pkg/test/main/testmain.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2515 fixit: Fix samples test data for internal-managed-load-balancing-backend-service
  config/samples/resources/computebackendservice/internal-managed-load-balancing-backend-service/compute_v1beta1_computebackendservice.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computebackendservice.md
Labels: lgtm, approved

#2517 chore: clean up internal path
  pkg/dcl/metadata/metadata.go
Labels: lgtm, approved

#2519 Implement Export capability for AlloyDB
  pkg/controller/direct/alloydb/cluster_controller.go
  pkg/controller/direct/alloydb/mapping.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_generated_object_basicalloydbcluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/update.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_generated_object_fullalloydbcluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/update.yaml
Labels: lgtm, approved, service:alloydb

#2516 revert: fixit: Initialize direct controller registry for postsubmit samples tests
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples_test.go
  pkg/controller/direct/registry/registry.go
  pkg/controller/registration/registration_controller.go
  pkg/test/main/testmain.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2508 add commands to build binaries for controllers
  Makefile
Labels: lgtm, approved

#2370 enh: direct controller template change
  dev/tools/controllerbuilder/cmd/root.go
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/controller.go
  dev/tools/controllerbuilder/template/externalresource.go
  pkg/controller/direct/cloudbuild/workerpool_externalresource.go
Labels: lgtm, approved

#2521 Add a note for deprecating Hierarchy Controller in Config Management feature
  apis/gkehub/v1beta1/gkehubfeaturemembership_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkehubfeaturememberships.gkehub.cnrm.cloud.google.com.yaml
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/configmanagement/configmanagement.pb.go
  pkg/clients/generated/apis/gkehub/v1beta1/gkehubfeaturemembership_types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
Labels: lgtm, approved

#2522 mockgcp: initial support for DataFlowFlexTemplateJob
  config/tests/samples/create/harness.go
  go.work.sum
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/dataflow/v1beta3/environment.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/jobs.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/jobs.pb.gw.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/jobs_grpc.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/messages.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/messages.pb.gw.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/messages_grpc.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/metrics.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/metrics.pb.gw.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/metrics_grpc.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/snapshots.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/snapshots.pb.gw.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/snapshots_grpc.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/streaming.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/templates.pb.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/templates.pb.gw.go
  mockgcp/generated/mockgcp/dataflow/v1beta3/templates_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockdataflow/flextemplates.go
  mockgcp/mockdataflow/jobs.go
  mockgcp/mockdataflow/service.go
  mockgcp/mockdataflow/workflows.go
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/_generated_object_batchdataflowflextemplatejob.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/dependencies.yaml
  tests/e2e/normalize.go
  tests/e2e/replacements.go
Labels: lgtm, approved, service:dataflow

#2524 tests: add e2e job for dataflow
  dev/ci/periodics/e2e-service-dataflow
Labels: lgtm, approved

#2523 tests: fix e2e by making helper script executable
  dev/ci/periodics/_create_project_and_run_e2e
Labels: lgtm, approved

#2488 tests: don't fail on changes in the http log during e2e
  dev/ci/periodics/_create_project_and_run_e2e
  pkg/test/utils.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2520 reduce cyclomatic complexity of Reconcile function
  experiments/compositions/composition/internal/controller/expander_reconciler.go
Labels: lgtm, approved

#2527 Fix SpannerDatabase resource name in testdata and improve mockspanner
  mockgcp/mockspanner/admin/database.go
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_generated_object_spannerdatabase.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/create.yaml
Labels: lgtm, approved

#2530 kompanion: refactor to avoid global variables
  experiments/kompanion/cmd/export/export.go
  experiments/kompanion/main.go
Labels: lgtm, approved

#2528 tests: fix typo that was breaking artifacts collection
  dev/ci/periodics/_create_project_and_run_e2e
Labels: lgtm, approved

#2518 fix: rediscluster multiple field updates
  hack/record-gcp
  mockgcp/mockredis/cluster.go
  pkg/controller/direct/redis/cluster/rediscluster_controller.go
  pkg/k8s/condition.go
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_generated_object_fullrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/update.yaml
Labels: lgtm, approved, service:redis

#2535 test: Temporarily increase presubmit fixtures timeout
  .github/workflows/presubmit.yaml
  scripts/github-actions/tests-e2e-fixtures
Labels: lgtm, approved

#2532 Support direct exporters in config-connector CLI
  pkg/cli/cmd/bulkexport/execute.go
  pkg/cli/cmd/bulkexport/filteredinputstream/filteredinputstream.go
  pkg/cli/cmd/bulkexport/filteredinputstream/filteredinputstream_test.go
  pkg/cli/cmd/bulkexport/outputstream/outputstream.go
  pkg/cli/cmd/bulkexport/parameters/parameters.go
  pkg/cli/cmd/export/execute.go
  pkg/cli/cmd/export/parameters/parameters.go
  pkg/cli/cmd/root.go
  pkg/cli/stream/asset_to_unstructured_resource_stream.go
  pkg/cli/stream/asset_to_unstructured_resource_stream_test.go
  pkg/controller/direct/export.go
  pkg/controller/direct/registry/registry.go
Labels: lgtm, approved

#2544 Support Export in apikeyskey controller
  pkg/controller/direct/apikeys/apikeyskey_controller.go
Labels: lgtm, approved

#2536 Feature: Support optional Name, Namespace for cel readiness rules
  experiments/compositions/composition/api/v1alpha1/composition_types.go
  experiments/compositions/composition/config/crd/bases/composition.google.com_compositions.yaml
  experiments/compositions/composition/pkg/applier/applier.go
Labels: lgtm, approved

#2531 fixit: Add flag to skip samples tests
  config/tests/samples/create/samples_test.go
Labels: lgtm, approved

#2534 Fix TestSecretManagerSecretVersion
  mockgcp/mocksecretmanager/tests/service_test.go
  pkg/controller/mocktests/secretmanager_secret_test.go
  scripts/unit-test.sh
Labels: lgtm, approved

#2547 Fix -skip-tests logic in samples test
  config/tests/samples/create/samples_test.go
Labels: lgtm, approved

#2509 feat: fix RedisCluster pscConfig in observedState
  apis/redis/v1alpha1/rediscluster_types.go
  apis/redis/v1alpha1/types.generated.go
  apis/redis/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_redisclusters.redis.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/redis/v1alpha1/rediscluster_types.go
  pkg/clients/generated/apis/redis/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/redis/cluster/mapper.generated.go
  pkg/controller/direct/redis/cluster/mapper.go
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_generated_object_redisclustersimple.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_generated_object_basicrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_generated_object_fullrediscluster.golden.yaml
Labels: lgtm, approved, service:redis

#2543 fix: use KUBECONFIG if specified
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2542 kompanion: iterate over kinds by default
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2538 fix: don't raise errors in SupportsIAM
  pkg/controller/direct/registry/registry.go
Labels: lgtm, approved

#2541 feat: use much higher QPS if not configured
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2551 Disallow duplicate composition definitions for the same GVK
  experiments/compositions/composition/internal/controller/composition_controller.go
  experiments/compositions/composition/tests/data/TestMultipleCompositionsDisallowedForSameGVK/composition2.yaml
  experiments/compositions/composition/tests/data/TestMultipleCompositionsDisallowedForSameGVK/input.yaml
  experiments/compositions/composition/tests/data/TestMultipleCompositionsDisallowedForSameGVK/output.yaml
  experiments/compositions/composition/tests/scenario/scenario.go
  experiments/compositions/composition/tests/testcases/simple_test.go
Labels: lgtm, approved

#2552 Add a timeout param to compositions/lint action
  .github/workflows/presubmit-compositions.yaml
Labels: lgtm, approved

#2546 Add build for config connector manifests
  Makefile
  config/installbundle/release-manifests/kustomization.yaml
Labels: lgtm, approved

#2545 direct: ComputeForwardingRule refs
  apis/refs/v1beta1/computerefs.go
  pkg/controller/direct/compute/refs.go
Labels: lgtm, approved

#2485 Update ContainerCluster and ContainerNodePool CRDs
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containerclusters.container.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containernodepools.container.cnrm.cloud.google.com.yaml
  mockgcp/mockcontainer/nodepool.go
  pkg/clients/generated/apis/container/v1beta1/containercluster_types.go
  pkg/clients/generated/apis/container/v1beta1/containernodepool_types.go
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_generated_object_containernodepool.golden.yaml
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_http.log
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/create.yaml
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/container/containercluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/container/containernodepool.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/node_config.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/resource_container_cluster.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/resource_container_node_pool.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/resource_container_node_pool_test.go
Labels: lgtm, approved

#2555 kompanion: default group version to resource list GV
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2554 kompanion: fix namespace auto-selection logic
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2540 chore: add kompanion to go.work
  experiments/kompanion/go.mod
  experiments/kompanion/go.sum
  go.work
  go.work.sum
Labels: lgtm, approved

#2556 kompanion: use "Config Connector" instead of KCC
  experiments/kompanion/cmd/export/export.go
Labels: lgtm, approved

#2429 Add CloudSQL support for "create from clone"
  apis/sql/v1beta1/sqlinstance_types.go
  apis/sql/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_sqlinstances.sql.cnrm.cloud.google.com.yaml
  mockgcp/mocksql/sqlinstance.go
  pkg/clients/generated/apis/sql/v1beta1/sqlinstance_types.go
  pkg/clients/generated/apis/sql/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/sql/mapping.go
  pkg/controller/direct/sql/merge.go
  pkg/controller/direct/sql/normalize.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/direct/sql/utils.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstanceclonebasic/_generated_object_sqlinstanceclonebasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstanceclonebasic/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstanceclonebasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstanceclonebasic/dependencies.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/sql/sqlinstance.md
Labels: lgtm, approved, service:sql

#2120 Add golden output of gkehub resource with IAM references
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_http00.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_http01.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_http02.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_http03.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_http04.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_http05.log
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_object00.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_object01.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_object02.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_object03.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_object04.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/_object05.yaml
  tests/e2e/testdata/scenarios/gkehubfeaturemembership/iam_test/script.yaml
Labels: lgtm, approved

#2564 Add commands for deploying kcc manifests and run tests locally
  Makefile
Labels: lgtm, approved

#2566 tests: fix typo and add README to periodics
  dev/ci/periodics/README.md
  dev/ci/periodics/_create_project_and_run_e2e
Labels: lgtm, approved

#2525 Fix gkehub sample
  config/samples/resources/gkehubfeaturemembership/config-management-feature-membership/gkehub_v1beta1_gkehubfeature.yaml
  config/samples/resources/gkehubfeaturemembership/config-management-feature-membership/gkehub_v1beta1_gkehubfeaturemembership.yaml
  config/samples/resources/gkehubfeaturemembership/config-management-feature-membership/gkehub_v1beta1_gkehubmembership.yaml
  config/samples/resources/gkehubfeaturemembership/config-management-feature-membership/serviceusage_v1beta1_service.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
Labels: lgtm, approved

#2569 tests: add golden objects for monitoring tests
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmetricdescriptor/_generated_object_monitoringmetricdescriptor.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmonitoredproject/_generated_object_monitoringmonitoredproject.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservice/_generated_object_monitoringservice.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/requestbaseddistributioncut/_generated_object_requestbaseddistributioncut.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/requestbasedgoodtotalratio/_generated_object_requestbasedgoodtotalratio.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/requestbasedgtrtotalservicefilter/_generated_object_requestbasedgtrtotalservicefilter.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedgoodbadmetricfilter/_generated_object_windowbasedgoodbadmetricfilter.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedgtrdistributioncut/_generated_object_windowbasedgtrdistributioncut.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedgtrperformancegtr/_generated_object_windowbasedgtrperformancegtr.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedgtrperformancegtrtotalservicefilter/_generated_object_windowbasedgtrperformancegtrtotalservicefilter.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedmetricmeanfilter/_generated_object_windowbasedmetricmeanfilter.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedmetricsumfilter/_generated_object_windowbasedmetricsumfilter.golden.yaml
Labels: lgtm, approved

#2513 tests: add api check to warn if there are refs in status
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/no_refs_in_status.txt
Labels: lgtm, approved

#2537 chore: add GCP token source to controller options
  pkg/cli/cmd/bulkexport/parameters/parameters.go
  pkg/cli/cmd/export/parameters/parameters.go
  pkg/config/controllerconfig.go
  pkg/controller/direct/alloydb/client.go
  pkg/controller/direct/apikeys/apikeyskey_controller.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/dataform/repository_controller.go
  pkg/controller/direct/gkehub/client.go
  pkg/controller/direct/logging/client.go
  pkg/controller/direct/monitoring/client.go
  pkg/controller/direct/networkconnectivity/client.go
  pkg/controller/direct/privateca/client.go
  pkg/controller/direct/redis/cluster/client.go
  pkg/controller/direct/resourcemanager/client.go
  pkg/controller/direct/sql/client.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
  pkg/test/resourcefixture/testdata/basic/dataform/v1alpha1/dataformrepository-base/_http.log
  pkg/test/resourcefixture/testdata/basic/dataform/v1alpha1/dataformrepository-full/_http.log
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/explicitlogmetric/_http.log
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/exponentiallogmetric/_http.log
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/linearlogmetric/_http.log
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/logbucketmetric/_http.log
  pkg/test/resourcefixture/testdata/basic/privateca/v1beta1/privatecacapool/privatecacapooliam/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1alpha1/rediscluster/redisclustersimple/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_http.log
  tests/e2e/testdata/scenarios/fields/llm_custom_diff/value_type/label/_http00.log
  tests/e2e/testdata/scenarios/fields/llm_custom_diff/value_type/label/_http01.log
  tests/e2e/testdata/scenarios/fields/llm_immutable_field/labels_value_type/_http00.log
  tests/e2e/testdata/scenarios/fields/llm_immutable_field/labels_value_type/_http01.log
  tests/e2e/testdata/scenarios/fields/llm_immutable_field/metric_kind_and_value_type/_http00.log
  tests/e2e/testdata/scenarios/fields/llm_immutable_field/metric_kind_and_value_type/_http01.log
  tests/e2e/testdata/scenarios/fields/llm_lazy_reconcile/_http00.log
  tests/e2e/testdata/scenarios/fields/llm_lazy_reconcile/_http01.log
  tests/e2e/testdata/scenarios/fields/llm_set_unset/basic/_http00.log
  tests/e2e/testdata/scenarios/fields/llm_set_unset/basic/_http01.log
  tests/e2e/testdata/scenarios/fields/llm_set_unset/basic/_http02.log
  tests/e2e/testdata/scenarios/fields/llm_set_unset/metric_descriptor/_http00.log
  tests/e2e/testdata/scenarios/fields/llm_set_unset/metric_descriptor/_http01.log
  tests/e2e/testdata/scenarios/fields/llm_set_unset/metric_descriptor/_http02.log
  tests/e2e/testdata/scenarios/fields/mutable_but_unreadable/_http00.log
  tests/e2e/testdata/scenarios/fields/mutable_but_unreadable/_http01.log
  tests/e2e/testdata/scenarios/powertool/logginglogmetric_clear_state_into_spec/_http00.log
  tests/e2e/testdata/scenarios/powertool/logginglogmetric_clear_state_into_spec/_http01.log
  tests/e2e/testdata/scenarios/powertool/logginglogmetric_clear_state_into_spec/_http02.log
Labels: lgtm, approved

#2559 Add predicate to partially enable SQLInstance direct reconciler
  apis/sql/v1beta1/sqlinstance_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_sqlinstances.sql.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/sql/v1beta1/sqlinstance_types.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/registry/registry.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/predicate/reconcilegate.go
  pkg/controller/registration/registration_controller.go
  pkg/controller/tf/controller.go
Labels: lgtm, approved, service:sql

#2568 Remove TestSimpleCompositionCreate
  experiments/compositions/composition/tests/data/TestSimpleCompositionCreate/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionCreate/output.yaml
  experiments/compositions/composition/tests/testcases/simple_test.go
Labels: lgtm, approved

#2572 tests: add periodics for pubsub and sql
  dev/ci/periodics/e2e-service-pubsub
  dev/ci/periodics/e2e-service-sql
Labels: lgtm, approved

#2575 fixit: Fix samples tests
  config/tests/samples/create/samples_test.go
Labels: lgtm, approved

#2578 Remove incorrect assertions for invalid expander tests
  experiments/compositions/composition/tests/data/TestSimpleExpanderInvalid/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleExpanderVersionInvalid/input.yaml
  experiments/compositions/composition/tests/testcases/simple_test.go
Labels: lgtm, approved

#2364 feat: Direct controller for ComputeForwardingRule
  apis/compute/v1beta1/computeforwardingrule_types.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudbuildworkerpools.cloudbuild.cnrm.cloud.google.com.yaml
  hack/compare-mock
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/apis/common/v1alpha1/types.go
  pkg/clients/generated/apis/cloudbuild/v1beta1/cloudbuildworkerpool_types.go
  pkg/controller/direct/compute/client.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/controller/direct/compute/forwardingrule_externalresource.go
  pkg/controller/direct/compute/refs.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_generated_object_globalcomputeforwardingrule.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_generated_object_regionalcomputeforwardingrule.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudbuild/cloudbuildworkerpool.md
  scripts/github-actions/tests-e2e-fixtures
Labels: lgtm, approved, service:compute

#2557 feat: generate CRD & mapper for DataFlowFlexTemplateJob
  apis/dataflow/v1beta1/dataflowflextemplatejob_types.go
  apis/dataflow/v1beta1/doc.go
  apis/dataflow/v1beta1/groupversion_info.go
  apis/dataflow/v1beta1/types.generated.go
  apis/dataflow/v1beta1/types.go
  apis/dataflow/v1beta1/zz_generated.deepcopy.go
  apis/refs/v1beta1/gcpserviceaccountref.go
  apis/refs/v1beta1/kmsrefs.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigtableinstances.bigtable.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataflowflextemplatejobs.dataflow.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataformrepositories.dataform.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkehubfeaturememberships.gkehub.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_sqlinstances.sql.cnrm.cloud.google.com.yaml
  dev/tasks/find-missing-fields
  dev/tools/controllerbuilder/generate.sh
  dev/tools/proto-to-mapper/Makefile
  go.mod
  go.sum
  pkg/clients/generated/apis/dataflow/v1beta1/dataflowflextemplatejob_types.go
  pkg/clients/generated/apis/dataflow/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/dataflow/mapper.generated.go
  pkg/controller/direct/dataflow/mapper.go
  pkg/controller/direct/dataflow/roundtrip_test.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigtable/bigtableinstance.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dataflow/dataflowflextemplatejob.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/sql/sqlinstance.md
  tests/e2e/normalize.go
Labels: lgtm, approved, service:dataflow

#2565 add commands to build kcc manifest for autopilot
  Makefile
  config/installbundle/release-manifests/autopilot/kustomization.yaml
  config/installbundle/release-manifests/standard/kustomization.yaml
Labels: lgtm, approved

#2582 Add support for deleting resources in reverse order by stage.
  experiments/compositions/composition/internal/controller/expander_reconciler.go
  experiments/compositions/composition/pkg/applier/applier.go
  experiments/compositions/composition/tests/data/TestDeleteFacade/input.yaml
  experiments/compositions/composition/tests/data/TestDeleteFacade/output.yaml
  experiments/compositions/composition/tests/data/TestSimpleDeleteFacade/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleDeleteFacade/output.yaml
  experiments/compositions/composition/tests/testcases/simple_test.go
  experiments/compositions/composition/tests/testclient/client.go
Labels: lgtm, approved

#2585 tests: funnel all tests through run-e2e
  dev/tasks/run-e2e
  scripts/github-actions/tests-e2e-fixtures
  scripts/github-actions/tests-e2e-fixtures-compute
  scripts/github-actions/tests-e2e-fixtures-gkehub
Labels: lgtm, approved

#2581 refactor: pass operation objects to adapters
  dev/tools/controllerbuilder/template/controller.go
  pkg/controller/direct/alloydb/cluster_controller.go
  pkg/controller/direct/apikeys/apikeyskey_controller.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/controller/direct/dataform/repository_controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/directbase/interfaces.go
  pkg/controller/direct/directbase/operations.go
  pkg/controller/direct/gkehub/featuremembership_controller.go
  pkg/controller/direct/logging/logmetric_controller.go
  pkg/controller/direct/monitoring/monitoringdashboard_controller.go
  pkg/controller/direct/networkconnectivity/serviceconnectionpolicy_controller.go
  pkg/controller/direct/privateca/privatecapool_controller.go
  pkg/controller/direct/redis/cluster/rediscluster_controller.go
  pkg/controller/direct/resourcemanager/tagkey_controller.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/test/resourcefixture/contexts/register.go
Labels: lgtm, approved

#2588 direct: Implement export for ComputeForwardingRule
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/controller/direct/compute/mapper.go
Labels: lgtm, approved

#2586 Compositions: Refactor Reconcile loop
  experiments/compositions/composition/internal/controller/expander_reconciler.go
  experiments/compositions/composition/pkg/applier/applier.go
Labels: lgtm, approved

#2584 feat: create direct controller for DataflowFlexTemplateJob
  apis/refs/v1beta1/projectref.go
  go.work.sum
  hack/compare-mock
  mockgcp/mockdataflow/workflows.go
  pkg/controller/direct/dataflow/client.go
  pkg/controller/direct/dataflow/dataflowflextemplatejob_controller.go
  pkg/controller/direct/dataflow/refs.go
  pkg/controller/direct/register/register.go
  tests/e2e/replacements.go
Labels: lgtm, approved

#2590 Fix dynamic test scifi issues
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/test/resourcefixture/contexts/register.go
Labels: lgtm, approved

#2587 fix: Rename sqlinstance test fixtures to not end in "basic"
  pkg/test/resourcefixture/contexts/sql_context.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/_generated_object_sqlinstance-authorizednetworks.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal/_generated_object_sqlinstance-clone-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/_generated_object_sqlinstance-encryptionkey.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal/_generated_object_sqlinstance-mysql-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql/_generated_object_sqlinstance-mysql.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal/_generated_object_sqlinstance-postgres-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres/_generated_object_sqlinstance-postgres.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork/_generated_object_sqlinstance-privatenetwork.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal/_generated_object_sqlinstance-sqlserver-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver/_generated_object_sqlinstance-sqlserver.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver/update.yaml
Labels: lgtm, approved

#2593 fix: Properly handle test edge cases direct resource conversions
  pkg/test/resourcefixture/contexts/register.go
Labels: lgtm, approved
