Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-03, with the labels that each got.

#1301 refactor:chore:lint missed err wrap
  operator/pkg/controllers/configconnector/configconnector_controller.go
  operator/pkg/controllers/configconnector/configconnector_controller_test.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller_test.go
  operator/pkg/k8s/constants.go
Labels: lgtm, approved, tide/merge-method-squash

#1326 Support an allowlist to manage available options for 'state-into-spec'
  pkg/k8s/allowlist.go
  pkg/k8s/allowlist_test.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/k8s/state_into_spec_annotation_test.go
Labels: lgtm, approved

#1280 Support state-into-spec user override in ConfigConnectorContext
  build/builder/Dockerfile
  config/tests/samples/create/harness.go
  operator/config/crd/bases/core.cnrm.cloud.google.com_configconnectorcontexts.yaml
  operator/pkg/apis/core/v1beta1/configconnectorcontext_types.go
  operator/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/controller/gsakeysecretgenerator/service_account_key_integration_test.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/mocktests/harness.go
  pkg/controller/mocktests/secretmanager_secret_test.go
  pkg/crd/crdloader/crdloader.go
  pkg/k8s/defaulter.go
  pkg/test/controller/reconciler/testreconciler.go
  pkg/test/environment/environment.go
  scripts/generate-third-party-licenses/main.go
Labels: lgtm, approved

#1300 feat: pause resource actuation
  operator/config/crd/bases/core.cnrm.cloud.google.com_configconnectorcontexts.yaml
  operator/config/crd/bases/core.cnrm.cloud.google.com_configconnectors.yaml
  operator/pkg/apis/core/v1beta1/configconnector_types.go
  operator/pkg/apis/core/v1beta1/configconnectorcontext_types.go
  operator/pkg/apis/core/v1beta1/modes.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/kccmanager/nocache/clientbuilder.go
  pkg/controller/mocktests/harness.go
  pkg/controller/resourceactuation/resourceactuation.go
  pkg/controller/resourceactuation/resourceactuation_test.go
  pkg/controller/tf/controller.go
Labels: lgtm, approved

#1281 Promote AccessContextManagerServicePerimeterResource v1alpha1 to v1beta1
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_accesscontextmanagerserviceperimeterresources.accesscontextmanager.cnrm.cloud.google.com.yaml
  config/samples/resources/accesscontextmanagerserviceperimeter/accesscontextmanager_v1beta1_accesscontextmanagerserviceperimeter.yaml
  config/samples/resources/accesscontextmanagerserviceperimeterresource/accesscontextmanager_v1beta1_accesscontextmanagerserviceperimeterresource.yaml
  config/servicemappings/accesscontextmanager.yaml
  config/tests/samples/create/samples_test.go
  pkg/clients/generated/apis/accesscontextmanager/v1alpha1/register.go
  pkg/clients/generated/apis/accesscontextmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/apis/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeterresource_types.go
  pkg/clients/generated/apis/accesscontextmanager/v1beta1/register.go
  pkg/clients/generated/apis/accesscontextmanager/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1alpha1/accesscontextmanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1alpha1/fake/fake_accesscontextmanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1alpha1/fake/fake_accesscontextmanagerserviceperimeterresource.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1beta1/accesscontextmanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeterresource.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1beta1/fake/fake_accesscontextmanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1beta1/fake/fake_accesscontextmanagerserviceperimeterresource.go
  pkg/clients/generated/client/clientset/versioned/typed/accesscontextmanager/v1beta1/generated_expansion.go
  pkg/resourceskeleton/testdata/asset-skeleton.yaml
  pkg/resourceskeleton/testdata/uri-skeleton.yaml
  pkg/test/resourcefixture/contexts/accesscontextmanager_context.go
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeter/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeterresource/create.yaml
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeterresource/dependencies.yaml
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/accesscontextmanager/accesscontextmanagerserviceperimeter.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/accesscontextmanager/accesscontextmanagerserviceperimeterresource.md
  scripts/generate-google3-docs/resource-reference/overview.md
  scripts/generate-google3-docs/resource-reference/templates/accesscontextmanager_accesscontextmanagerserviceperimeterresource.tmpl
Labels: lgtm, approved

#1338 chore:lint upgrade golangci-lint
  .github/workflows/lint.yaml
  .golangci.yaml
  Makefile
  README.UpdatingDCL.md
Labels: lgtm, approved

#1339 chore: upgrade dcl to v1.61
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkehubfeaturememberships.gkehub.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/clients/generated/apis/gkehub/v1beta1/gkehubfeaturemembership_types.go
  pkg/clients/generated/apis/gkehub/v1beta1/zz_generated.deepcopy.go
  pkg/dcl/schema/embed/dcl_assets_vfsdata.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/gkehub/gkehubfeaturemembership.md
Labels: lgtm, approved

#1355 fix: skip for golden check
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#1354 Fix test data for Tags
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagbinding/tagbindingbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagbinding/tagbindingbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagkey/tagkeyorgbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagkey/tagkeyorgbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagkey/tagkeyprojectbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagkey/tagkeyprojectbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagvalue/tagvaluebasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1alpha1/tagstagvalue/tagvaluebasic/dependencies.yaml
Labels: lgtm, approved

#1334 test: ensure alpha resource is not referenced by stable resource
  config/tests/servicemapping/servicemapping_test.go
Labels: lgtm, approved

#1358 Revert Tags test folder name
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagbinding/tagbindingbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagbinding/tagbindingbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyorgbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyorgbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyprojectbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyprojectbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagvalue/tagvaluebasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagvalue/tagvaluebasic/dependencies.yaml
Labels: lgtm, approved

#1352 tests: log if no samples
  config/tests/samples/create/samples_test.go
Labels: lgtm, approved, tide/merge-method-squash

#1303 logging: log to configured logger when registering controller
  config/tests/samples/create/harness.go
  pkg/controller/deletiondefender/controller.go
  pkg/controller/tf/controller.go
Labels: lgtm, approved

#1361 Revert "[DNSRecordSet] implement support for internal load balancer health checking"
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dnsrecordsets.dns.cnrm.cloud.google.com.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computeaddress.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computenetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/dns_v1beta1_dnsmanagedzone.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/dns_v1beta1_dnsrecordset.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-geo-health-checks/resourcemanager_v1beta1_project.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeaddress.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computenetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computesubnetwork_proxy.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computetargethttpproxy.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/compute_v1beta1_computeurlmap.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/dns_v1beta1_dnsmanagedzone.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/dns_v1beta1_dnsrecordset.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-primary-backup/resourcemanager_v1beta1_project.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computeaddress.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computebackendservice.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computeforwardingrule.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computehealthcheck.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computeinstancegroup.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computenetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/dns_v1beta1_dnsmanagedzone.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/dns_v1beta1_dnsrecordset.yaml
  config/samples/resources/dnsrecordset/dns-routing-policy-wrr-health-checks/resourcemanager_v1beta1_project.yaml
  config/servicemappings/dns.yaml
  pkg/clients/generated/apis/dns/v1beta1/dnsrecordset_types.go
  pkg/clients/generated/apis/dns/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesgeohealthchecks/create.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesgeohealthchecks/dependencies.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesgeohealthchecks/update.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesprimarybackup/create.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesprimarybackup/dependencies.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpoliciesprimarybackup/update.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpolicieswrrhealthchecks/create.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpolicieswrrhealthchecks/dependencies.yaml
  pkg/test/resourcefixture/testdata/resourceoverrides/dnsrecordset/routingpolicieswrrhealthchecks/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dns/dnsrecordset.md
Labels: lgtm, approved

#1312 versionbump: update prometheus-to-sd image
  operator/scripts/update-kcc-manifest/manager_sidecar_patch.yaml
  operator/scripts/update-kcc-manifest/recorder_sidecar_patch.yaml
Labels: lgtm, approved

#1347 test: basic golden test for pause
  config/tests/samples/create/samples.go
  tests/e2e/unified_test.go
Labels: lgtm, approved, tide/merge-method-squash

#1360 CCC: Switch Enum values for spec.stateIntoSpec to upper camel case
  operator/config/crd/bases/core.cnrm.cloud.google.com_configconnectorcontexts.yaml
  operator/pkg/apis/core/v1beta1/configconnectorcontext_types.go
  operator/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  pkg/k8s/defaulter.go
Labels: lgtm, approved

#1275 Powertool to force-set a field
  pkg/cli/cmd/root.go
  pkg/cli/powertools/cmd.go
  pkg/cli/powertools/diffs/fieldpath.go
  pkg/cli/powertools/diffs/objectdiff.go
  pkg/cli/powertools/diffs/utils.go
  pkg/cli/powertools/forcesetfield/cmd.go
  pkg/cli/powertools/kubecli/client.go
  pkg/cli/powertools/kubecli/options.go
Labels: lgtm, approved

#1348 feat: more controllers supporting pause
  .github/workflows/presubmit.yaml
  config/tests/samples/create/samples.go
  pkg/controller/dcl/controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/iam/auditconfig/iamauditconfig_controller.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
  pkg/controller/tf/controller.go
  scripts/github-actions/ga-pause-test.sh
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1342 Stop merging sensitive fields in SQLInstance and ComputeBackendService
  pkg/krmtotf/tftokrm.go
Labels: lgtm, approved

#1388 chore: avoid changing name of tests
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1329 Set displayName to be mutable-but-unreadable in AlloyDBCluster
  config/servicemappings/alloydb.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/update.yaml
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/alloydb/resource_alloydb_cluster.go
Labels: lgtm, approved

#1402 Update the constant name for 'v1beta1' version
  config/tests/servicemapping/servicemapping_test.go
  pkg/crd/crdgeneration/crdgeneration.go
  pkg/dcl/metadata/metadata.go
  pkg/dcl/metadata/metadata_test.go
  pkg/k8s/constants.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/test/resourcefixture/sets.go
  scripts/resource-autogen/allowlist/allowlist.go
Labels: lgtm, approved

#1401 Ensure observed fields are 'spec' fields
  config/tests/servicemapping/servicemapping_test.go
Labels: lgtm, approved

#1396 chore: fix mispelling
  .golangci.yaml
  operator/pkg/controllers/configconnector/configconnector_controller.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller.go
  pkg/apis/core/v1alpha1/servicemapping_types.go
  pkg/cli/stream/yamlstream.go
  pkg/controller/dcl/controller.go
  pkg/controller/direct/mappings/map.go
  pkg/controller/iam/iamclient/dcliamclient_test.go
  pkg/controller/unmanageddetector/predicate.go
  pkg/dcl/conversion/converter.go
  pkg/dcl/metadata/metadata.go
  pkg/k8s/references.go
  pkg/krmtotf/krmtotf.go
  pkg/krmtotf/tftokrm.go
  pkg/resourceoverrides/sql_instance.go
  pkg/resourceoverrides/storage_bucket.go
  pkg/test/constants/constants.go
  pkg/test/constants/presubmitconstants.go
Labels: lgtm, approved, tide/merge-method-squash

#1382 Backport Add provider attribute universe_domain
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/envvar/envvar_utils.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/fwmodels/provider_model.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/fwprovider/framework_provider.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/fwtransport/framework_config.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/provider/provider.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/provider/universe/universe_domain_compute_test.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/provider/universe/universe_domain_pubsub_test.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/provider/universe/universe_domain_storage_test.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/provider/universe/universe_domain_util.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/tpgresource/field_helpers.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/tpgresource/utils.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/transport/config.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/website/docs/guides/provider_reference.html.markdown
Labels: lgtm, approved

#1405 docs: remove deprecation warning
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/secretmanager/v1beta1/secretmanagersecret_types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/secretmanager/resource_secret_manager_secret.go
Labels: lgtm, approved

#1400 docs: clarify field usage
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computedisks.compute.cnrm.cloud.google.com.yaml
  config/servicemappings/compute.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computedisk.md
Labels: lgtm, approved

#1381 chore: Add release notes for 1.114.0
  docs/releasenotes/release-1.114.0.md
  docs/releasenotes/release-1.115.0.md
Labels: lgtm, approved

#1346 vcr: use go-vcr package to setup vcr recorder
  config/tests/samples/create/harness.go
  go.mod
  go.sum
  pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1319 Enable IAM conditions in SpannerDatabase
  config/servicemappings/spanner.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampartialpolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicymember.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/spanner/spannerdatabase.md
Labels: lgtm, approved

#1410 fix:"fix:" move cache location
  Makefile
Labels: lgtm, approved

#1227 mockgcp: Refactor to pass around environment
  mockgcp/common/env.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockaiplatform/service.go
  mockgcp/mockaiplatform/tensorboard.go
  mockgcp/mockapikeys/names.go
  mockgcp/mockapikeys/service.go
  mockgcp/mockbilling/service.go
  mockgcp/mockcertificatemanager/names.go
  mockgcp/mockcertificatemanager/service.go
  mockgcp/mockcloudfunctions/names.go
  mockgcp/mockcloudfunctions/service.go
  mockgcp/mockcompute/disksv1.go
  mockgcp/mockcompute/globaladdress.go
  mockgcp/mockcompute/networksv1.go
  mockgcp/mockcompute/nodegroupsv1.go
  mockgcp/mockcompute/nodetemplatesv1.go
  mockgcp/mockcompute/regionaladdress.go
  mockgcp/mockcompute/regiondisksv1.go
  mockgcp/mockcompute/service.go
  mockgcp/mockcompute/subnetsv1.go
  mockgcp/mockedgecontainer/names.go
  mockgcp/mockedgecontainer/service.go
  mockgcp/mockedgenetwork/names.go
  mockgcp/mockedgenetwork/service.go
  mockgcp/mockgkemulticloud/names.go
  mockgcp/mockgkemulticloud/service.go
  mockgcp/mockiam/names.go
  mockgcp/mockiam/service.go
  mockgcp/mockiam/serviceaccounts.go
  mockgcp/mocknetworkservices/names.go
  mockgcp/mocknetworkservices/service.go
  mockgcp/mockprivateca/names.go
  mockgcp/mockprivateca/service.go
  mockgcp/mockresourcemanager/projectsv3.go
  mockgcp/mockresourcemanager/service.go
  mockgcp/mocksecretmanager/secrets.go
  mockgcp/mocksecretmanager/secretversions.go
  mockgcp/mocksecretmanager/service.go
  mockgcp/mockserviceusage/names.go
  mockgcp/mockserviceusage/service.go
  mockgcp/mockserviceusage/serviceusagev1.go
  mockgcp/mockstorage/service.go
Labels: lgtm, approved

#1415 Fix license check
  scripts/generate-third-party-licenses/main.go
Labels: lgtm, approved

#1419 Fix deletion lock for Tags Key/Value
  pkg/krmtotf/fetchlivestate.go
Labels: lgtm, approved

#1316 Don't use other reconcilers if direct reconciler was requested
  pkg/controller/registration/registration_controller.go
Labels: lgtm, approved

#1349 vcr: Apply hook in vcr recorder
  config/tests/samples/create/harness.go
  pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1353 Move computed fields to status.observedState for new CRDs
  pkg/controller/iam/iamclient/tfiamclient.go
  pkg/crd/crdgeneration/tf2crdgeneration.go
  pkg/k8s/allowlist.go
  pkg/k8s/allowlist_test.go
  pkg/k8s/constants.go
  pkg/k8s/observedstate.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/krmtotf/fetchlivestate.go
  pkg/krmtotf/fetchlivestate_test.go
  pkg/krmtotf/references.go
  pkg/krmtotf/references_test.go
  pkg/krmtotf/resource.go
  pkg/krmtotf/resource_test.go
  pkg/krmtotf/templating.go
  pkg/krmtotf/tftokrm.go
  pkg/krmtotf/tftokrm_test.go
  pkg/test/resources.go
Labels: lgtm, approved

#1372 vcr: Apply custom matcher
  pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1423 ci: add dcl upgrade probe
  .github/workflows/dcl-upgrade-probe.yaml
Labels: lgtm, approved

#1428 chore: Update Contributing doc
  CONTRIBUTING.md
Labels: lgtm, approved

#1425 ci: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: lgtm, approved

#1431 print the actual error when parsing resourceID panics
  pkg/krmtotf/tftokrm.go
Labels: lgtm, approved

#1430 Return nil when observedState is not found in status
  pkg/krmtotf/resource.go
Labels: lgtm, approved

#1394 chore: Add tests for CCC stateIntoSpec
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples.go
  pkg/test/eventsink.go
  tests/e2e/export.go
  tests/e2e/httplog.go
  tests/e2e/normalize.go
  tests/e2e/script_test.go
  tests/e2e/testdata/scenarios/README.md
  tests/e2e/testdata/scenarios/ccc_state_into_spec_absent/_export1.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_absent/_object00.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_absent/_object01.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_absent/script.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_merge/_export1.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_merge/_object00.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_merge/_object01.yaml
  tests/e2e/testdata/scenarios/ccc_state_into_spec_merge/script.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1377 Modify google_alloydb_cluster and google_alloydb_instance resources t…
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbclusters.alloydb.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbinstances.alloydb.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/alloydb/v1beta1/alloydbcluster_types.go
  pkg/clients/generated/apis/alloydb/v1beta1/alloydbinstance_types.go
  pkg/clients/generated/apis/alloydb/v1beta1/zz_generated.deepcopy.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbcluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbinstance.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/alloydb/resource_alloydb_cluster.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/alloydb/resource_alloydb_instance.go
Labels: lgtm, approved

#1433 Verify watches and configure them as we expect
  cmd/deletiondefender/main.go
  cmd/unmanageddetector/main.go
  config/tests/samples/create/harness.go
  operator/cmd/manager/main.go
  operator/pkg/test/main/testmain.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/kccmanager/nocache/clientbuilder.go
  pkg/test/controller/reconcile.go
  pkg/test/http_recorder.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1409 chore: ensure that alpha CRD generation is marked with stability alpha
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_apikeyskeys.apikeys.cnrm.cloud.google.com.yaml
  pkg/crd/crdgeneration/tf2crdgeneration.go
Labels: lgtm, approved

#1441 Revert PR #1353 and #1430
  pkg/controller/iam/iamclient/tfiamclient.go
  pkg/crd/crdgeneration/tf2crdgeneration.go
  pkg/k8s/allowlist.go
  pkg/k8s/allowlist_test.go
  pkg/k8s/constants.go
  pkg/k8s/observedstate.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/krmtotf/fetchlivestate.go
  pkg/krmtotf/fetchlivestate_test.go
  pkg/krmtotf/references.go
  pkg/krmtotf/references_test.go
  pkg/krmtotf/resource.go
  pkg/krmtotf/resource_test.go
  pkg/krmtotf/templating.go
  pkg/krmtotf/tftokrm.go
  pkg/krmtotf/tftokrm_test.go
  pkg/test/resources.go
Labels: lgtm, approved

#1240 mockgcp: Implement compute healthchecks
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/globalhealthcheckv1.go
  mockgcp/mockcompute/regionalhealthcheckv1.go
  mockgcp/mockcompute/service.go
Labels: lgtm, approved

#1404 chore: update product name in docstring
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_accesscontextmanagerserviceperimeterresources.accesscontextmanager.cnrm.cloud.google.com.yaml
  config/servicemappings/accesscontextmanager.yaml
  pkg/clients/generated/apis/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeterresource_types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/accesscontextmanager/accesscontextmanagerserviceperimeterresource.md
Labels: lgtm, approved

#1444 Alloydb CRR cleanup for #1279
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbinstances.alloydb.cnrm.cloud.google.com.yaml
  config/samples/resources/alloydbbackup/alloydb_v1beta1_alloydbinstance.yaml
  config/samples/resources/alloydbcluster/restored-from-backup-cluster/alloydb_v1beta1_alloydbinstance.yaml
  config/samples/resources/alloydbinstance/primary-instance/alloydb_v1beta1_alloydbinstance.yaml
  config/samples/resources/alloydbinstance/read-instance/alloydb_v1beta1_alloydbinstance.yaml
  config/samples/resources/alloydbinstance/zonal-instance/alloydb_v1beta1_alloydbinstance.yaml
  config/samples/resources/alloydbuser/database-user/alloydb_v1beta1_alloydbinstance.yaml
  config/samples/resources/alloydbuser/iam-user/alloydb_v1beta1_alloydbinstance.yaml
  config/servicemappings/alloydb.yaml
  pkg/clients/generated/apis/alloydb/v1beta1/alloydbinstance_types.go
  pkg/resourceoverrides/alloydb_instance.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/update.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbinstance.md
Labels: lgtm, approved

#1442 Automated cherry pick of #1433: tests: Verify the kubernetes watches we open
  cmd/deletiondefender/main.go
  cmd/unmanageddetector/main.go
  config/tests/samples/create/harness.go
  operator/cmd/manager/main.go
  operator/pkg/test/main/testmain.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/kccmanager/nocache/clientbuilder.go
  pkg/test/controller/reconcile.go
  pkg/test/http_recorder.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1450 Add encryption to AlloyDB secondary cluster sample
  config/samples/resources/alloydbcluster/secondary-cluster/alloydb_v1beta1_alloydbcluster.yaml
  config/samples/resources/alloydbcluster/secondary-cluster/iam_v1beta1_iampartialpolicy.yaml
  config/samples/resources/alloydbcluster/secondary-cluster/kms_v1beta1_kmscryptokey.yaml
  config/samples/resources/alloydbcluster/secondary-cluster/kms_v1beta1_kmskeyring.yaml
  config/samples/resources/alloydbcluster/secondary-cluster/serviceusage_v1beta1_serviceidentity.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbcluster.md
Labels: lgtm, approved

#1456 Add initialUser to primary cluster for AlloyDB secondary instance sample
  config/samples/resources/alloydbinstance/secondary-instance/alloydb_v1beta1_alloydbcluster.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbinstance.md
Labels: lgtm, approved

#1462 Added note for secondary instance creation
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbinstance.md
  scripts/generate-google3-docs/resource-reference/templates/alloydb_alloydbinstance.tmpl
Labels: lgtm, approved

#1414 chore: upgrade dcl to v1.62
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_eventarctriggers.eventarc.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_logginglogbuckets.logging.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/clients/generated/apis/eventarc/v1beta1/eventarctrigger_types.go
  pkg/clients/generated/apis/eventarc/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/apis/logging/v1beta1/logginglogbucket_types.go
  pkg/clients/generated/apis/logging/v1beta1/zz_generated.deepcopy.go
  pkg/dcl/metadata/metadata.go
  pkg/dcl/schema/embed/dcl_assets_vfsdata.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/eventarc/eventarctrigger.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/logging/logginglogbucket.md
Labels: lgtm, approved, tide/merge-method-squash

#1443 chore:lint: Start linting golang file under scripts/
  .golangci.yaml
  operator/scripts/copy-dependency-manifests/main.go
  operator/scripts/update-kcc-manifest/main.go
  scripts/client-gen/main.go
  scripts/deepcopy-gen/main.go
  scripts/generate-crds/main.go
  scripts/generate-google3-docs/resource-lists/main.go
  scripts/generate-google3-docs/resource-reference/main.go
  scripts/parse-crds/parse-crds.go
  scripts/resource-autogen/main.go
  scripts/resource-autogen/servicemapping/embed/generated/main/assets_generate.go
Labels: lgtm, approved, ok-to-test
