Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-11, with the labels that each got.

#3044 chore: update client generation to generate multiple CRD versions
  pkg/crd/fielddesc/fielddesc.go
  pkg/crd/fielddesc/fielddesc_test.go
  pkg/k8s/crds.go
  scripts/generate-go-crd-clients/generate-types-file.go
  scripts/generate-google3-docs/resource-reference/main.go
Labels: lgtm, approved

#3052 chore: Enable more SecretManagerSecret fields
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_object_fullsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/update.yaml
Labels: lgtm, approved

#3028 mockgcp: don't depend on "root" module
  mockgcp/go.mod
  mockgcp/go.sum
  mockgcp/mockredis/cluster.go
  mockgcp/mocks/pointerutils.go
  mockgcp/mocksql/sqlinstance.go
Labels: lgtm, approved

#3067 test: skip TestIAMPolicyMappings for direct resources
  config/tests/servicemapping/servicemapping_test.go
Labels: lgtm, approved

#3068 feat: simplify the mockgcp UPDATE based on field-mask
  mockgcp/common/fields/updatemask.go
Labels: lgtm, approved

#3074 docs: Update 5-releases.md
  docs/develop-resources/deep-dives/5-releases.md
Labels: lgtm, approved

#3007 fix: Incorrect value of clientTLSPolicy from ComputeBackendService
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computebackendservices.compute.cnrm.cloud.google.com.yaml
  config/servicemappings/compute.yaml
  pkg/krmtotf/templating.go
  pkg/test/resourcefixture/contexts/compute_context.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/globalcomputebackendservicesecuritysettings/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/globalcomputebackendservicesecuritysettings/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computebackendservice/globalcomputebackendservicesecuritysettings/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computebackendservice.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/compute/resource_compute_backend_service.go
Labels: lgtm, approved

#3021 Fix hanging deletion for PrivilegedAccessManagerEntitlement
  config/samples/resources/privilegedaccessmanagerentitlement/project-level-entitlement/iam_v1beta1_iamserviceaccount.yaml
  config/samples/resources/privilegedaccessmanagerentitlement/project-level-entitlement/privilegedaccessmanager_v1alpha1_privilegedaccessmanagerentitlement.yaml
  config/servicemappings/privilegedaccessmanager.yaml
  pkg/snippet/snippetgeneration/snippetgeneration.go
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementbasicproject/_generated_object_privilegedaccessmanagerentitlementbasicproject.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/_generated_object_privilegedaccessmanagerentitlementfullfolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/_generated_object_privilegedaccessmanagerentitlementfullorg.golden.yaml
  pkg/webhook/immutable_fields_validator.go
Labels: lgtm, approved

#3042 fix dynamic test cloudspannerconnectionbasic
  mockgcp/mockbigqueryconnection/connection.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/awsconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/azureconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_generated_object_cloudspannerconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/update.yaml
Labels: lgtm, approved

#3031 fix: cbwp GCP server request/response project in different format
  apis/refs/v1beta1/computerefs.go
  mockgcp/mockcloudbuild/workerpool.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/cloudbuild/workerpool_mappings.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_generated_export_cloudbuildworkerpool.golden
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_generated_object_cloudbuildworkerpool.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
Labels: lgtm, approved

#3056 tests: normalize addresses for RedisInstance
  mockgcp/mockredis/cluster.go
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_generated_object_basicrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/basicrediscluster/_http.log
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_generated_object_fullrediscluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/fullrediscluster/_http.log
  tests/e2e/normalize.go
Labels: lgtm, approved

#3060 mockgcp: more fidelity for container APIs
  mockgcp/mockcontainer/cluster.go
  mockgcp/mockcontainer/lro.go
  mockgcp/mockcontainer/nodepool.go
  mockgcp/mockcontainer/utils.go
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containercluster/_generated_object_containercluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containercluster/_http.log
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_generated_object_containernodepool.golden.yaml
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcifeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubmembership/_http.log
  pkg/test/resourcefixture/testdata/directives/removedefaultnodepool/_generated_object_removedefaultnodepool.golden.yaml
  pkg/test/resourcefixture/testdata/directives/removedefaultnodepool/_http.log
Labels: lgtm, approved

#3071 chore: fix turbo-e2e script to work on mac
  dev/tasks/turbo-e2e
Labels: lgtm, approved

#3003 DiscoveryEngineDataStore: mockgcp support
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/common/operations/operations.go
  mockgcp/generated/google/cloud/discoveryengine/v1/data_store_service.pb.gw.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockdiscoveryengine/datastore.go
  mockgcp/mockdiscoveryengine/service.go
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/_generated_object_discoveryenginedatastoreminimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/_http.log
Labels: lgtm, approved

#3078 tests: clearer log when waiting for webhook
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#3055 tests: rename tests with same name
  config/samples/resources/iampartialpolicy/project-level-iampartialpolicy/iam_v1beta1_iampartialpolicy.yaml
  config/samples/resources/iampartialpolicy/project-level-iampartialpolicy/iam_v1beta1_iamserviceaccount.yaml
  config/samples/resources/iampartialpolicy/project-level-iampartialpolicy/resourcemanager_v1beta1_project.yaml
  config/samples/resources/iampartialpolicy/pubsub-admin-iampartialpolicy/iam_v1beta1_iampartialpolicy.yaml
  config/samples/resources/iampartialpolicy/pubsub-admin-iampartialpolicy/iam_v1beta1_iamserviceaccount.yaml
  config/samples/resources/iampartialpolicy/pubsub-admin-iampartialpolicy/pubsub_v1beta1_pubsubtopic.yaml
  pkg/snippet/snippetgeneration/snippetgeneration.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudfunctions/cloudfunctionsfunction.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudscheduler/cloudschedulerjob.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/edgecontainer/edgecontainercluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampartialpolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicymember.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/monitoring/monitoringnotificationchannel.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/pubsub/pubsubsubscription.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/run/runjob.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/run/runservice.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/vertexai/vertexaidataset.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/vertexai/vertexaiendpoint.md
  scripts/generate-google3-docs/resource-reference/main.go
Labels: lgtm, approved

#3073 feat: A solution for SecretRef (BasicAuthRef )
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/types.generated.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/secret/basicauth.go
  apis/refs/v1beta1/secret/interface.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_generated_object_cloudsqlconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/dependencies.yaml
Labels: lgtm, approved

#3081 tests: add e2e for cloudbuild
  dev/ci/periodics/e2e-service-cloudbuild
  dev/tasks/create-test-project
Labels: lgtm, approved

#3087 mockgcp: support int32 in update_mask
  mockgcp/common/fields/updatemask.go
Labels: lgtm, approved

#3065 tests:fix mockgcp for bigquery to mimic real GCP behavoir
  mockgcp/mockbigquery/datasets.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_generated_export_basicbigquerydataset.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/_generated_export_bigquerydatasetaccessblock.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerytable/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/streamingdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/pubsub/v1beta1/pubsubsubscription/bigquerypubsubsubscription/_http.log
  pkg/test/resourcefixture/testdata/containerannotations/projectid/_generated_export_projectid.golden
  pkg/test/resourcefixture/testdata/containerannotations/projectid/_http.log
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/bigquerydataset/_generated_export_bigquerydataset.golden
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/bigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_http.log
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceid/_generated_export_userspecifiedresourceid.golden
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceid/_http.log
  pkg/test/resourcefixture/testdata/stateabsentinspec/bigquerydataset/_generated_export_bigquerydataset#01.golden
  pkg/test/resourcefixture/testdata/stateabsentinspec/bigquerydataset/_http.log
Labels: lgtm

#3092 Avoid misleading error message when a string contains colon and followed by only env vars
  config/samples/resources/iampolicy/external-project-level-policy/iam_v1beta1_iampolicy.yaml
  config/samples/resources/iampolicy/project-level-policy/iam_v1beta1_iampolicy.yaml
  config/samples/resources/privilegedaccessmanagerentitlement/folder-level-entitlement/privilegedaccessmanager_v1beta1_privilegedaccessmanagerentitlement.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/iam/iampolicy.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/privilegedaccessmanager/privilegedaccessmanagerentitlement.md
Labels: lgtm, approved

#3085 tests: set time limit for webhook start
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#3090 tests: add e2e for discoveryengine
  dev/ci/periodics/e2e-service-discoveryengine
  dev/tasks/create-test-project
Labels: lgtm, approved

#3099 docs: Update release-1.125.md
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#3096 feat: add gemini prompting to controllerbuilder
  dev/tools/controllerbuilder/cmd/root.go
  dev/tools/controllerbuilder/pkg/commands/exportcsv/exportcsvcommand.go
  dev/tools/controllerbuilder/pkg/commands/exportcsv/prompt.go
  dev/tools/controllerbuilder/pkg/toolbot/csv.go
  dev/tools/controllerbuilder/pkg/toolbot/datapoint.go
  dev/tools/controllerbuilder/pkg/toolbot/enhancewithprotodefinition.go
  dev/tools/controllerbuilder/pkg/toolbot/extracttoolmarkers.go
  mockgcp/mockkms/cryptokey.go
  mockgcp/mockkms/cryptokeyversion.go
  mockgcp/mockkms/keyring.go
  mockgcp/mocklogging/logbucket.go
  mockgcp/mocklogging/logmetric.go
  mockgcp/mocklogging/logview.go
  mockgcp/mockpubsublite/reservation.go
  mockgcp/mockpubsublite/subscription.go
  mockgcp/mockpubsublite/topic.go
Labels: lgtm, approved

#3094 tests: add e2e for apigee
  dev/ci/periodics/e2e-service-apigee
  dev/tasks/create-test-project
Labels: lgtm, approved

#3095 tests: add e2e for serviceusage
  dev/ci/periodics/e2e-service-serviceusage
  dev/tasks/create-test-project
Labels: lgtm, approved

#2863 feat: Direct controller for ComputeFirewallPolicyRule
  apis/compute/v1beta1/firewallpolicyrule_types.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcompute/firewallpoliciesv1.go
  pkg/controller/direct/compute/firewallpolicyrule/firewallpolicyrule_controller.go
  pkg/controller/direct/compute/firewallpolicyrule/refs.go
  pkg/controller/direct/maputils.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/_generated_object_computefirewallpolicyrule-egress-full-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/_generated_object_computefirewallpolicyrule-ingress-full-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal-direct/_generated_object_computefirewallpolicyrule-minimal-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal-direct/update.yaml
Labels: lgtm, approved, service:compute

#3035 feat: Add externalRef for ComputeFirewallPolicyRule
  apis/compute/v1beta1/computefirewallpolicyrule_reference.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  apis/refs/v1beta1/computerefs.go
  pkg/controller/direct/compute/firewallpolicyrule/firewallpolicyrule_controller.go
  pkg/controller/direct/compute/firewallpolicyrule/refs.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/_generated_object_computefirewallpolicyrule-egress-full-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/_generated_object_computefirewallpolicyrule-ingress-full-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal-direct/_generated_object_computefirewallpolicyrule-minimal-direct.golden.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved, service:compute

#3106 fix: Use actual sqlinstance location preference if not specified
  pkg/controller/direct/sql/sqlinstance_defaults.go
Labels: lgtm, approved

#3098 tests: improve turbo-e2e tool to run on mac and linux
  dev/tasks/turbo-e2e
Labels: lgtm, approved

#3104 docs: update release note with cluster mode rate limit feature
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#3107 chore: remove a sample for bigquerydatatransferconfig
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/bigquery_v1beta1_bigquerydataset.yaml
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/bigquerydatatransfer_v1beta1_bigquerydatatransferconfig.yaml
  pkg/snippet/snippetgeneration/snippetgeneration.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
Labels: lgtm, approved

#3103 Update field name from 'step' to 'steps' in PrivilegedAccessManagerEntitlement
  apis/privilegedaccessmanager/v1alpha1/types.generated.go
  apis/privilegedaccessmanager/v1beta1/types.generated.go
  config/cloudcodesnippets/cloudbuild_v1beta1_cloudbuildtrigger.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_privilegedaccessmanagerentitlements.privilegedaccessmanager.cnrm.cloud.google.com.yaml
  config/samples/resources/privilegedaccessmanagerentitlement/folder-level-entitlement/privilegedaccessmanager_v1beta1_privilegedaccessmanagerentitlement.yaml
  pkg/clients/generated/apis/privilegedaccessmanager/v1beta1/privilegedaccessmanagerentitlement_types.go
  pkg/clients/generated/apis/privilegedaccessmanager/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/_generated_object_privilegedaccessmanagerentitlementfullfolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/update.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/_generated_object_privilegedaccessmanagerentitlementfullorg.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/privilegedaccessmanager/privilegedaccessmanagerentitlement.md
Labels: lgtm, approved

#3118 Update release note for 1.125
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#2928 Add poco basic and full test case
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/gkehub/policycontroller/v1beta/policycontroller.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/configmanagement/configmanagement.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/feature.pb.go
  mockgcp/mockserviceusage/knownservices.go
  pkg/controller/direct/gkehub/pococonversion.go
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/_generated_object_basicpocogkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/update.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_generated_object_fullpocogkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/update.yaml
Labels: lgtm, approved

#3144 tests: increase timeout for lint job
  .github/workflows/lint.yaml
Labels: lgtm, approved

#3046 Sort the AccessControlEntry slice in PrivilegedAccessManagerEntitlement before diffing
  pkg/controller/direct/privilegedaccessmanager/entitlement_controller.go
  pkg/controller/direct/privilegedaccessmanager/util.go
  pkg/controller/direct/privilegedaccessmanager/util_test.go
Labels: lgtm, approved

#3141 fix: Remove whitespace from docs command
  docs/develop-resources/deep-dives/2-define-apis.md
Labels: lgtm, approved

#3124 chore: clean up logging in configmap tool
  operator/scripts/generate-image-configmap/main.go
Labels: lgtm, approved

#3123 chore: improve error handling when building release bundle
  dev/tasks/build-release-bundle
  scripts/add-license-header-to-yaml.sh
Labels: lgtm, approved

#3070 chore: add some experimental scripts for working with github
  dev/widgets/retest
  dev/widgets/whyfail
Labels: lgtm, approved

#3134 Fix the unexpected diff in runservicemulticontainer test
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runservice/runservicemulticontainer/create.yaml
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runservice/runservicemulticontainer/update.yaml
Labels: lgtm, approved

#3122 fix: don't include unmanageddetector in base
  config/installbundle/base/kustomization.yaml
Labels: lgtm, approved

#3093 Configure pprof on controller-manager.
  operator/config/crd/bases/customize.core.cnrm.cloud.google.com_controllerreconcilers.yaml
  operator/config/crd/bases/customize.core.cnrm.cloud.google.com_namespacedcontrollerreconcilers.yaml
  operator/pkg/apis/core/customize/v1alpha1/controllerreconciler_types.go
  operator/pkg/controllers/configconnector/configconnector_controller.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller.go
  operator/pkg/controllers/utils.go
  operator/pkg/preflight/upgrade.go
Labels: lgtm, approved

#3130 Change BigqueryDataset Location to Optional
  apis/bigquery/v1beta1/dataset_reference.go
  apis/bigquery/v1beta1/dataset_types.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatasets.bigquery.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigquery/v1beta1/bigquerydataset_types.go
  pkg/clients/generated/apis/bigquery/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/bigquerydataset/bigquerydataset_mappings.go
  pkg/controller/direct/bigquerydataset/dataset_controller.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset-direct/_generated_export_basicbigquerydataset-direct.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset-direct/_generated_object_basicbigquerydataset-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_generated_export_basicbigquerydataset.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_generated_object_basicbigquerydataset.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock-direct/_generated_object_bigquerydatasetaccessblock-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset-direct/_generated_object_fullybigquerydataset-direct.golden.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquery/bigquerydataset.md
Labels: lgtm, approved

#3115 docs: Update release notes 1.125
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#3147 fix: Remove service prefix from WorkstationCluster
  pkg/controller/direct/workstations/workstationcluster_controller.go
  pkg/controller/direct/workstations/workstationcluster_externalresource.go
  pkg/test/resourcefixture/testdata/basic/workstations/workstationcluster/workstationcluster-full/_generated_object_workstationcluster-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/workstations/workstationcluster/workstationcluster-minimal/_generated_object_workstationcluster-minimal.golden.yaml
Labels: lgtm, approved

#3114 Verify `priority` string in externalRef can be converted to an integer
  apis/compute/v1beta1/computefirewallpolicyrule_reference.go
  pkg/controller/direct/compute/firewallpolicyrule/firewallpolicyrule_controller.go
Labels: lgtm, approved

#3150 Fix poco test
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/_generated_object_basicpocogkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/update.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_generated_object_fullpocogkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/update.yaml
Labels: lgtm, approved

#3091 feat: Add docs for enabling direct resources
  docs/features/index.md
  docs/features/optin.md
Labels: lgtm, approved

#3079 Refactor CloudNetworkRef to use Ref / ID split pattern
  apis/refs/v1beta1/computerefs.go
  mockgcp/mockcloudbuild/workerpool.go
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/dataflow/refs.go
  pkg/controller/direct/networkconnectivity/refs.go
  pkg/controller/direct/redis/cluster/refs.go
  pkg/controller/direct/sql/sqlinstance_resolverefs.go
  pkg/controller/direct/workstations/workstationcluster_normalize.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
Labels: lgtm, approved

#3149 chore: Add release-1.125 release notes
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#3157 docs: update release note with the ContainerNodePool fix
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#3023 chore: support multiple resources in controllerbuilder
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/codegen/generatorbase.go
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
Labels: lgtm, approved

#3155 docs: use new fuzzer example
  docs/develop-resources/deep-dives/4-add-controller.md
  docs/develop-resources/scenarios/migrate-tf-resource-beta.md
Labels: lgtm, approved

#3153 feat: allow user-specified connection ID in BigQueryConnection Connection
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1beta1/connection_reference.go
  apis/bigqueryconnection/v1beta1/connection_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryconnection/v1beta1/bigqueryconnectionconnection_types.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/awsconnectionbasic/_generated_object_awsconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/awsconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/awsconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/awsconnectionbasic/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/azureconnectionbasic/_generated_object_azureconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/azureconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/azureconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/azureconnectionbasic/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_generated_object_bigqueryconnectionconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_vcr_cassettes/nontf.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_vcr_cassettes/oauth.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_generated_object_bigqueryconnectionconnectionfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_vcr_cassettes/nontf.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_vcr_cassettes/oauth.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_generated_object_cloudspannerconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_generated_object_cloudsqlconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudsqlconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudsqlconnectionbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/sparkconnectionbasic/_generated_object_sparkconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/sparkconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/sparkconnectionbasic/create.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryconnection/bigqueryconnectionconnection.md
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/_http00.log
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/_http01.log
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/_object00.yaml
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/_object01.yaml
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/script.yaml
Labels: lgtm, approved

#3160 docs: update guide on type generation
  docs/develop-resources/deep-dives/2-define-apis.md
Labels: lgtm, approved

#2819 feat: Add types for WorkstationConfig
  apis/workstations/v1alpha1/cluster_reference.go
  apis/workstations/v1alpha1/cluster_types.go
  apis/workstations/v1alpha1/config_reference.go
  apis/workstations/v1alpha1/config_types.go
  apis/workstations/v1alpha1/shared_types.go
  apis/workstations/v1alpha1/types.generated.go
  apis/workstations/v1alpha1/zz_generated.deepcopy.go
  apis/workstations/v1beta1/cluster_reference.go
  apis/workstations/v1beta1/cluster_types.go
  apis/workstations/v1beta1/shared_types.go
  apis/workstations/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationclusters.workstations.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationconfigs.workstations.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/workstations/v1alpha1/doc.go
  pkg/clients/generated/apis/workstations/v1alpha1/register.go
  pkg/clients/generated/apis/workstations/v1alpha1/workstationconfig_types.go
  pkg/clients/generated/apis/workstations/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/apis/workstations/v1beta1/workstationcluster_types.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/fake/fake_workstationconfig.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/fake/fake_workstations_client.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/workstationconfig.go
  pkg/clients/generated/client/clientset/versioned/typed/workstations/v1alpha1/workstations_client.go
  pkg/controller/direct/workstations/workstationcluster_mappings.go
  pkg/gvks/supportedgvks/gvks_generated.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/workstations/workstationcluster.md
Labels: lgtm, approved, service:workstations

#3159 Cleanup: Rename WorkstationCluster files for readability and uniqueness
  pkg/controller/direct/workstations/cluster_controller.go
  pkg/controller/direct/workstations/cluster_externalresource.go
  pkg/controller/direct/workstations/cluster_mappings.go
  pkg/controller/direct/workstations/cluster_normalize.go
Labels: lgtm, approved

#2376 doc: fix description for CloudBuildTrigger
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudbuildtriggers.cloudbuild.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/cloudbuild/v1beta1/cloudbuildtrigger_types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudbuild/cloudbuildtrigger.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/cloudbuild/resource_cloudbuild_trigger.go
Labels: lgtm, approved

#2287 Validate format of GoogleServiceAccount in CCC
  operator/pkg/preflight/configconnectorcontextchecker.go
  operator/pkg/preflight/configconnectorcontextchecker_test.go
Labels: lgtm, approved

#2813 tools: fix naming mismatch on ObservedState in template
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#1719 tests: vcr: minor revisions
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2955 chore: refactor SecureSourceManagerInstance to work in proto
  pkg/controller/direct/protoutils.go
  pkg/controller/direct/securesourcemanager/instance_controller.go
Labels: lgtm, approved

#3088 e2e: add tests for memcache
  dev/ci/periodics/e2e-service-memcache
  dev/tasks/create-test-project
Labels: lgtm, approved

#3165 fix: typo in kcc doc
  config/samples/resources/cloudfunctionsfunction/eventtrigger-with-pubsubtopic/cloudfunctions_v1beta1_cloudfunctionsfunction.yaml
  pkg/controller/direct/logging/logbucketref.go
  pkg/controller/ratelimiter/ratelimiter.go
  pkg/k8s/references.go
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudfunctions/cloudfunctionsfunction.md
Labels: lgtm, approved

#3080 feat: Check if CRD contains sensitive data
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/sensitive.txt
Labels: lgtm, approved

#3161 feat: Add support for nested arrays to gapic converter
  mockgcp/Makefile
  mockgcp/apis/mockgcp/cloud/apigee/v1/service.proto
  mockgcp/apis/mockgcp/cloud/bigquery/v2/api.proto
  mockgcp/apis/mockgcp/cloud/ids/v1/service.proto
  mockgcp/apis/mockgcp/cloud/kms/v1/service.proto
  mockgcp/apis/mockgcp/cloud/networkconnectivity/v1/networkconnectivity.proto
  mockgcp/apis/mockgcp/cloud/servicenetworking/v1/servicenetworking.proto
  mockgcp/apis/mockgcp/storage/v1/service.proto
  mockgcp/tools/gapic/pkg/protogen/convert.go
  mockgcp/tools/gapic/pkg/protogen/render.go
Labels: lgtm, approved

#3171 test: fix TestAcquire/bigquery/resourceid-userspecifiedresourceid
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceid/create.yaml
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceid/update.yaml
Labels: lgtm, approved

#3168 doc: rewrote 1.125 release note
  docs/releasenotes/release-1.125.md
  docs/releasenotes/release-1.126.md
  docs/releasenotes/release-1.127.md
Labels: lgtm, approved

#3082 chore: restructure scifi controller cmd
  dev/tools/controllerbuilder/cmd/root.go
  dev/tools/controllerbuilder/pkg/commands/generatecontroller/generatecontrollercommand.go
  docs/develop-resources/deep-dives/4-add-controller.md
Labels: lgtm, approved

#3174 fix: Add WorkstationCluster to docs TOC and resource listing
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/overview.md
Labels: lgtm, approved

#3167 mock: fix service account ID in connection mock
  mockgcp/mockbigqueryconnection/connection.go
  tests/e2e/normalize.go
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/_http00.log
  tests/e2e/testdata/scenarios/acquisition/bigqueryconnectionconnection/_http01.log
Labels: lgtm, approved

#3176 chore: refactor the external reference for SecretManagerSecret
  apis/common/utils.go
  apis/secretmanager/v1beta1/secret_identity.go
  apis/secretmanager/v1beta1/secret_reference.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/secretmanager/secret_controller.go
Labels: lgtm, approved

#3113 fix: bqcc aws identity output-only and required in update
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/awsconnectionbasic/_http.log
Labels: lgtm, approved

#3158 docs: Fix description for ComputeFirewallPolicyRef
  apis/refs/v1beta1/computerefs.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computefirewallpolicyrules.compute.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computefirewallpolicyrule.md
Labels: lgtm, approved

#3179 Try to fix flaky samples
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
Labels: lgtm, approved

#3172 tests: simple backoff on direct dynamic
  pkg/test/resourcefixture/contexts/register.go
Labels: lgtm, approved

#3169 tests: Skip checking for changes in reference field
  pkg/controller/dynamic/dynamic_controller_integration_test.go
Labels: approved

#3186 feat: migrate the problematic go-client
  pkg/clients/generated/README.md
  scripts/unit-test.sh
  scripts/validate-prereqs.sh
Labels: lgtm, approved

#3163 Generate set-unset golden output for gkehubfeaturemembership
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http00.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http01.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http02.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http03.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http04.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http05.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_object00.yaml
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_object01.yaml
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_object02.yaml
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_object03.yaml
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_object04.yaml
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_object05.yaml
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/script.yaml
Labels: lgtm, approved

#3180 Added summary command to kompanion
  experiments/kompanion/cmd/export/export.go
  experiments/kompanion/cmd/summary/options.go
  experiments/kompanion/cmd/summary/summary.go
  experiments/kompanion/go.mod
  experiments/kompanion/go.sum
  experiments/kompanion/main.go
  experiments/kompanion/pkg/utils/utils.go
Labels: lgtm, approved

#3185 feat: a simple cmd to add a basic scifi reconciler
  dev/tools/controllerbuilder/cmd/root.go
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/commands/generatecontroller/generatecontrollercommand.go
  dev/tools/controllerbuilder/pkg/commands/generatedirectreconciler/command.go
  dev/tools/controllerbuilder/pkg/commands/generatemapper/generatemappercommand.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/template/apis/types.go
Labels: lgtm, approved

#3105 mockgcp: more fidelity for compute address
  mockgcp/mockcompute/globaladdress.go
  mockgcp/mockcompute/regionaladdress.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/readalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/zonalalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudids/v1beta1/cloudidsendpoint/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/globalcomputeaddress/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/regionalcomputeaddress/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulessl/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancebasicexample/_http.log
  pkg/test/resourcefixture/testdata/basic/servicenetworking/v1beta1/servicenetworkingconnection/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-legacyref-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-legacyref/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointnetwork/_http.log
Labels: approved

#3184 fix:TestCreateNoChangeUpdateDelete/bigquery
  mockgcp/mockserviceusage/serviceusagev1beta1.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/update.yaml
Labels: lgtm, approved

#2596 Turn on gkehubfeaturemembership direct controller
  apis/gkehub/v1beta1/featuremembership_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkehubfeaturememberships.gkehub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/gkehub/v1beta1/gkehubfeaturemembership_types.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http03.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http04.log
  tests/e2e/testdata/scenarios/fields/gkehubfeaturemembership/set_unset/_http05.log
Labels: lgtm, approved

#3192 feat: add API for SecretManagerSecretVersion
  apis/refs/v1beta1/secret/basicauth.go
  apis/refs/v1beta1/secret/legacy.go
  apis/refs/v1beta1/secret/zz_generated.deepcopy.go
  apis/secretmanager/v1beta1/secretversion_reference.go
  apis/secretmanager/v1beta1/secretversion_types.go
  apis/secretmanager/v1beta1/types.generated.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  apis/sql/v1beta1/instance_types.go
  apis/sql/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecretversions.secretmanager.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/secretmanager/v1beta1/secretmanagersecretversion_types.go
  pkg/clients/generated/apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/secretmanager/mapper.generated.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/controller/direct/sql/sqlinstance_mappings.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecretversion.md
Labels: lgtm, approved

#3202 Update compute firewall policy test description
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/dependencies.yaml
Labels: lgtm, approved

#3201 chore: start to refactor resource reference generator
  scripts/generate-google3-docs/resource-reference/main.go
Labels: lgtm, approved

#3086 refactor normalization
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulegrpcproxy/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulessl/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/_http.log
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainercluster/_http.log
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainernodepool/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcifeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmonitoredproject/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinorg/_http.log
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceidandservergeneratedid/_http.log
  tests/e2e/normalize.go
  tests/e2e/replacements.go
  tests/e2e/script_test.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3195 [CHORE] Avoid here links
  CONTRIBUTING.md
  apis/networkconnectivity/v1alpha1/types.generated.go
  crds/artifactregistry_v1beta1_artifactregistryrepository.yaml
  crds/cloudscheduler_v1beta1_cloudschedulerjob.yaml
  docs/archive/README.NewResourceFromTerraform.md
  docs/archive/README.UpdatingTerraformProvider.md
  docs/develop-resources/deep-dives/4-add-controller.md
  docs/develop-resources/deep-dives/5-releases.md
  docs/releasenotes/release-1.123.md
  experiments/compositions/samples/AttachedAKS/aks-charlie.md
  mockgcp/apis/mockgcp/cloud/kms/v1/service.proto
  mockgcp/apis/mockgcp/cloud/networkconnectivity/v1/networkconnectivity.proto
Labels: lgtm, approved

#3120 Add mapper for SecureSourceManagerRepository
  apis/securesourcemanager/v1alpha1/repository_types.go
  apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerrepositories.securesourcemanager.cnrm.cloud.google.com.yaml
  dev/tasks/find-missing-fields
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/securesourcemanagerrepository_types.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/securesourcemanager/mapper.generated.go
  pkg/controller/direct/securesourcemanager/mapper.go
  pkg/controller/direct/securesourcemanager/roundtrip_test.go
Labels: lgtm, approved

#3166 AutokeyConfig to beta
  apis/kms/v1beta1/autokeyconfig_reference.go
  apis/kms/v1beta1/autokeyconfig_types.go
  apis/kms/v1beta1/types.generated.go
  apis/kms/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_kmsautokeyconfigs.kms.cnrm.cloud.google.com.yaml
  config/samples/resources/kmsautokeyconfig/kms_v1beta1_kmsautokeyconfig.yaml
  config/servicemappings/kms.yaml
  pkg/clients/generated/apis/kms/v1beta1/kmsautokeyconfig_types.go
  pkg/clients/generated/apis/kms/v1beta1/register.go
  pkg/clients/generated/apis/kms/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/typed/kms/v1beta1/fake/fake_kms_client.go
  pkg/clients/generated/client/clientset/versioned/typed/kms/v1beta1/fake/fake_kmsautokeyconfig.go
  pkg/clients/generated/client/clientset/versioned/typed/kms/v1beta1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/kms/v1beta1/kms_client.go
  pkg/clients/generated/client/clientset/versioned/typed/kms/v1beta1/kmsautokeyconfig.go
  pkg/controller/direct/kms/autokeyconfig/autokeyconfig_controller.go
  pkg/controller/direct/kms/autokeyconfig/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/snippet/snippetgeneration/snippetgeneration.go
  pkg/test/resourcefixture/sets.go
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmsautokeyconfig/_generated_object_kmsautokeyconfig.golden.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmsautokeyconfig/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmsautokeyconfig/create.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmsautokeyconfig/update.yaml
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/kms/kmsautokeyconfig.md
  scripts/generate-google3-docs/resource-reference/overview.md
  scripts/generate-google3-docs/resource-reference/templates/kms_kmsautokeyconfig.tmpl
Labels: lgtm, approved

#3187 Keyhandle allow user to configure keyhandle ID
  apis/kms/v1alpha1/keyhandle_reference.go
  apis/kms/v1alpha1/keyhandle_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_kmskeyhandles.kms.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/kms/v1alpha1/kmskeyhandle_types.go
  pkg/controller/direct/kms/keyhandle/keyhandle_controller.go
  pkg/test/resourcefixture/testdata/basic/kms/v1alpha1/kmskeyhandle/_generated_object_kmskeyhandle.golden.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1alpha1/kmskeyhandle/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1alpha1/kmskeyhandle/create.yaml
Labels: lgtm, approved

#3059 tests: log test failures with FAIL
  pkg/test/utils.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3211 chore: update doc due to merge issue
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryenginedatastores.discoveryengine.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_osconfigguestpolicies.osconfig.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/osconfig/osconfigguestpolicy.md
Labels: lgtm, approved

#3221 chore: update e2e tests
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerytable/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/regionalcomputetargettcpproxy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/streamingdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/pubsub/v1beta1/pubsubsubscription/bigquerypubsubsubscription/_http.log
  pkg/test/resourcefixture/testdata/containerannotations/projectid/_http.log
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/bigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/resourceid/referencewithuserspecifiedresourceid/_http.log
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceid/_http.log
  pkg/test/resourcefixture/testdata/stateabsentinspec/bigquerydataset/_http.log
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3200 refactor:tests: field management scenario tests
  tests/e2e/testdata/scenarios/fields/management/README.md
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_http00.log
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_http01.log
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_http02.log
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_http03.log
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_http04.log
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_http05.log
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_object00.yaml
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_object01.yaml
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_object02.yaml
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_object03.yaml
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_object04.yaml
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/_object05.yaml
  tests/e2e/testdata/scenarios/fields/management/gkehub/featuremembership/set_unset/script.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/SCENARIO_README.md
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_export0.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_export1.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_export2.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_http00.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_http01.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_http02.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_object00.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_object01.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/_object02.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/basic/script.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_export0.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_export1.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_export2.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_http00.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_http01.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_http02.log
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_object00.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_object01.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/_object02.yaml
  tests/e2e/testdata/scenarios/fields/management/logging/logmetric/set_unset/metric_descriptor/script.yaml
Labels: lgtm, approved, tide/merge-method-squash

#3225 feat: use `merge_group` action to avoid incompatible PRs
  .github/workflows/presubmit.yaml
Labels: lgtm, approved

#3212 chore: improvements around Direct identity and external
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/scaffold/apis.go
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/apis/identity.go
  dev/tools/controllerbuilder/template/apis/refs.go
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#3218 [CHORE] Spelling 10/n
  CONTRIBUTING.md
  config/tests/samples/create/contents_test.go
  config/tests/servicemapping/servicemapping_test.go
  crds/bigquery_v1alpha1_bigquerydatasetaccess.yaml
  crds/cloudscheduler_v1beta1_cloudschedulerjob.yaml
  crds/monitoring_v1beta1_monitoringnotificationchannel.yaml
  crds/networkservices_v1beta1_networkservicesendpointpolicy.yaml
  crds/tpu_v1alpha1_tpunode.yaml
  dev/tools/controllerbuilder/pkg/commands/updatetypes/updatetypescommand.go
  experiments/compositions/composition/api/v1alpha1/composition_types.go
  operator/pkg/controllers/imagetransform.go
  pkg/cli/cmd/commonparams/commonparams.go
  pkg/cli/stream/yamlstream.go
  pkg/cluster/installation_identifier_test.go
  pkg/controller/dcl/controller.go
  pkg/controller/iam/iamclient/externalonly.go
  pkg/controller/iam/iamclient/helpers.go
  pkg/krmtotf/conversion.go
  pkg/krmtotf/legacygcpmanagedfields.go
  pkg/lease/leasable/leasable_test.go
  pkg/servicemapping/servicemappingloader/servicemappingloader.go
  pkg/test/equals.go
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedmetricsumfilter/_generated_object_windowbasedmetricsumfilter.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedmetricsumfilter/_http.log
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservicelevelobjective/windowbasedmetricsumfilter/update.yaml
  pkg/util/util.go
  pkg/webhook/immutable_fields_validator_test.go
  scripts/resource-autogen/main.go
  scripts/resource-autogen/servicemapping/servicemappingloader/servicemappingloader.go
  tests/e2e/normalize.go
Labels: lgtm, approved

#3229 fix: crd shortnames
  apis/bigqueryanalyticshub/v1beta1/dataexchange_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshubdataexchanges.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryanalyticshub/v1beta1/bigqueryanalyticshubdataexchange_types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryanalyticshub/bigqueryanalyticshubdataexchange.md
Labels: lgtm, approved

#2956 refactor: move reference resolver into shared package
  pkg/controller/direct/common/refs.go
  pkg/controller/direct/common/visitfields.go
  pkg/controller/direct/dataflow/dataflowflextemplatejob_controller.go
  pkg/controller/direct/monitoring/monitoringdashboard_controller.go
  pkg/controller/direct/monitoring/utils.go
  pkg/controller/direct/networkconnectivity/serviceconnectionpolicy_controller.go
  pkg/controller/direct/redis/cluster/rediscluster_controller.go
Labels: lgtm, approved

#3209 tests: add e2e for secretmanager
  dev/ci/periodics/e2e-service-secretmanager
  dev/tasks/create-test-project
Labels: lgtm, approved

#3232 fix: some direct scaffold typo
  dev/tools/controllerbuilder/template/apis/identity.go
  dev/tools/controllerbuilder/template/apis/refs.go
Labels: lgtm, approved

#3235 chore: fix inconsistent tags on types
  apis/bigqueryanalyticshub/v1alpha1/dataexchange_types.go
Labels: lgtm, approved

#3236 fix: Fix potential nil pointer issue in ComputeTargetTCPProxy direct update operation
  pkg/controller/direct/compute/targettcpproxy/targettcpproxy_controller.go
Labels: lgtm, approved

#3242 chore: check generated files under /operator as part of presubmit validation
  Makefile
  operator/pkg/apis/core/customize/v1alpha1/zz_generated.deepcopy.go
Labels: lgtm, approved

#2296 mockgcp: update service enablement APIs for fidelity with GCP
  config/tests/samples/create/harness.go
  mockgcp/mockserviceusage/service.go
  mockgcp/mockserviceusage/serviceusagev1.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/acmfeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcifeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcsdfeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_generated_export_service.golden
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_generated_object_service.golden.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_http.log
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_vcr_cassettes/oauth.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/create.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/dependencies.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3210 chore: skip update client in ready-pr
  Makefile
Labels: lgtm, approved

#2952 mockgcp: VPCAccessConnector
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/vpcaccess/v1/vpc_access.pb.go
  mockgcp/generated/mockgcp/cloud/vpcaccess/v1/vpc_access.pb.gw.go
  mockgcp/generated/mockgcp/cloud/vpcaccess/v1/vpc_access_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcloudfunctions/v1.go
  mockgcp/mockserviceusage/knownservices.go
  mockgcp/mockvpcaccess/connector.go
  mockgcp/mockvpcaccess/service.go
  pkg/test/resourcefixture/testdata/basic/cloudfunctions/v1beta1/cloudfunctionsfunction/eventfunction/_generated_object_eventfunction.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudfunctions/v1beta1/cloudfunctionsfunction/eventfunction/_http.log
  pkg/test/resourcefixture/testdata/basic/vpcaccess/v1beta1/vpcaccessconnector/cidrconnector/_generated_object_cidrconnector.golden.yaml
  pkg/test/resourcefixture/testdata/basic/vpcaccess/v1beta1/vpcaccessconnector/cidrconnector/_http.log
  pkg/test/resourcefixture/testdata/basic/vpcaccess/v1beta1/vpcaccessconnector/subnetconnector/_generated_object_subnetconnector.golden.yaml
  pkg/test/resourcefixture/testdata/basic/vpcaccess/v1beta1/vpcaccessconnector/subnetconnector/_http.log
Labels: lgtm, approved

#3222 chore: controllergen uses pinned googleapi version
  dev/tools/controllerbuilder/generate-proto.sh
  dev/tools/controllerbuilder/generate.sh
Labels: lgtm, approved

#3249 mockgcp: pin googleapis for GRPC generation also
  mockgcp/Makefile
  mockgcp/generated/google/bigtable/admin/v2/bigtable_instance_admin.pb.gw.go
  mockgcp/generated/google/bigtable/admin/v2/bigtable_table_admin.pb.gw.go
  mockgcp/go.mod
Labels: lgtm, approved

#3237 test: test update backend service in ComputeTCPProxy
  mockgcp/mockcompute/globaltargettcpproxyv1.go
  pkg/controller/direct/compute/targettcpproxy/targettcpproxy_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic-direct/_generated_object_globalcomputetargettcpproxy-basic-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic/_generated_object_globalcomputetargettcpproxy-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-basic/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full-direct/_generated_object_globalcomputetargettcpproxy-full-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full/_generated_object_globalcomputetargettcpproxy-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/globalcomputetargettcpproxy-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/regionalcomputetargettcpproxy-direct/_http.log
Labels: lgtm, approved, service:compute

#3183 fix: Update apigee proto definition to fix naming conflict
  mockgcp/apis/mockgcp/cloud/apigee/v1/service.proto
Labels: lgtm, approved

#3245 Support env var to only compare http log events with given URL prefix
  pkg/test/utils.go
Labels: lgtm, approved

#2778 mockgcp: support for CloudIdentityGroup
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/apis/google/apps/cloudidentity/groups/v1beta1/service.proto
  mockgcp/generated/google/apps/cloudidentity/groups/v1beta1/service.pb.go
  mockgcp/generated/google/apps/cloudidentity/groups/v1beta1/service.pb.gw.go
  mockgcp/generated/google/apps/cloudidentity/groups/v1beta1/service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcloudidentity/groups.go
  mockgcp/mockcloudidentity/service.go
  mockgcp/mockcloudidentity/utils.go
  pkg/test/controller/k8s.go
  pkg/test/gcp/gcp.go
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitygroup/_generated_object_cloudidentitygroup.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitygroup/_http.log
  tests/e2e/normalize.go
  tests/e2e/replacements.go
Labels: lgtm, approved

#3257 chore: specify run for download-e2e-logs
  dev/tasks/download-e2e-logs
Labels: lgtm, approved

#2298 mockgcp: more fidelity/tests for ComputeNetwork with autoCreateSubnets
  mockgcp/common/regions/regions.go
  mockgcp/common/workflows/computenetwork_subnetworks.go
  mockgcp/mockcompute/networksv1.go
  mockgcp/mockcompute/operations.go
  mockgcp/mockcompute/subnetsv1.go
  mockgcp/mockcompute/utils.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/readalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkautocreatesubnets/_generated_object_computenetworkautocreatesubnets.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkautocreatesubnets/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkautocreatesubnets/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkautocreatesubnets/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkbasic/_generated_object_computenetworkbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/computenetworkbasic/update.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved, service:compute

#3239 Adding MemorystoreInstance v1alpha1 API
  apis/memorystore/v1alpha1/doc.go
  apis/memorystore/v1alpha1/groupversion_info.go
  apis/memorystore/v1alpha1/instance_reference.go
  apis/memorystore/v1alpha1/instance_types.go
  apis/memorystore/v1alpha1/types.generated.go
  apis/memorystore/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_memorystoreinstances.memorystore.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3260 chore: add fmt to `make ready-pr`
  Makefile
Labels: lgtm, approved

#3189 fix: Remove wait after SQLInstance periodic test steps
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/test/resourcefixture/contexts/register.go
  pkg/test/resourcefixture/contexts/sql_context.go
Labels: lgtm, approved, service:sql

#3255 Ignore NotFound error when deleting PrivilegedAccessManagerEntitlement
  pkg/controller/direct/privilegedaccessmanager/entitlement_controller.go
Labels: lgtm, approved

#3234 feat: A new parent interface
  apis/common/parent/interface.go
  apis/common/parent/project.go
  apis/common/parent/projectlocation.go
  apis/common/parent/zz_generated.deepcopy.go
  dev/tasks/generate-crds
Labels: lgtm, approved

#3267 docs: update release note from #3244
  docs/releasenotes/release-1.126.md
Labels: lgtm, approved

#3264 chore: skip dcl code-generation in read-pr
  Makefile
Labels: lgtm, approved
