Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-10, with the labels that each got.

#2808 Fix sqlinstance user labels to filter out KRM-style labels
  pkg/cli/krmtohcl/krmtohcl.go
  pkg/cli/krmtohcl/testdata/computeinstance.golden.tf
  pkg/cli/krmtohcl/testdata/containercluster.golden.tf
  pkg/cli/krmtohcl/testdata/pubsubsubscription.golden.tf
  pkg/cli/krmtohcl/testdata/storagebucket.golden.tf
  pkg/cli/stream/testdata/expected-hcl-stream.golden.yaml
  pkg/controller/direct/sql/sqlinstance_mappings.go
  pkg/controller/direct/sql/sqlinstance_merge.go
  pkg/controller/direct/sql/sqlinstance_normalize.go
  pkg/controller/tf/controller.go
  pkg/dcl/conversion/converter.go
  pkg/krmtotf/fetchlivestate.go
  pkg/krmtotf/krmtotf.go
  pkg/label/label.go
  pkg/label/label_test.go
  pkg/test/controller/label.go
Labels: lgtm, approved

#2821 Delete unit test TestAllServicesInMap
  pkg/test/constants/presubmitconstants_test.go
Labels: lgtm, approved

#2822 refactor:ci: remove dcl upgrade probe
  .github/workflows/dcl-upgrade-probe.yaml
Labels: lgtm, approved

#2816 Fix broken Golang install, and make installed version managed by upda…
  dev/codebots/update-golang-version
  scripts/environment-setup/golang-setup.sh
Labels: lgtm, approved

#2786 feat: direct BigQueryAnalyticsHubDataExchange
  apis/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange_types.go
  apis/bigqueryanalyticshub/v1alpha1/doc.go
  apis/bigqueryanalyticshub/v1alpha1/groupversion_info.go
  apis/bigqueryanalyticshub/v1alpha1/types.generated.go
  apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshubdataexchanges.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange_types.go
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryanalyticshub/dataexchange_controller.go
  pkg/controller/direct/bigqueryanalyticshub/dataexchange_externalresource.go
  pkg/controller/direct/bigqueryanalyticshub/mapper.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange/bigqueryanalyticshubdataexchangebasic/create.yaml
Labels: lgtm, approved

#2806 add support for bigqueryconnection cloudSpanner and azure
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/spannerdatabaseref.go
  apis/refs/v1beta1/spannerinstanceref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  mockgcp/mockbigqueryconnection/connection.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/azureconnectionbasic/_generated_object_azureconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/azureconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/azureconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/azureconnectionbasic/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_generated_object_cloudspannerconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/update.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2799 doc: add intro guide and a pic!
  docs/develop-resources/README.md
  docs/develop-resources/api-conventions/external-reference.md
  docs/develop-resources/api-conventions/resource-reference.md
  docs/develop-resources/api-conventions/validations.md
  docs/develop-resources/guides/0-introduction.md
  docs/develop-resources/guides/2-define-apis.md
  docs/develop-resources/img/direct-intro.png
  docs/develop-resources/img/externalref-reconcile.png
  docs/develop-resources/scenarios/new-field.md
  docs/develop-resources/scenarios/new-resource.md
Labels: lgtm, approved

#2820 fix: Make WorkstationCluster network/subnetwork required
  apis/workstations/v1alpha1/workstationcluster_types.go
  apis/workstations/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationclusters.workstations.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/workstations/v1alpha1/workstationcluster_types.go
  pkg/clients/generated/apis/workstations/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/workstations/workstationcluster_mappings.go
  pkg/controller/direct/workstations/workstationcluster_normalize.go
Labels: lgtm, approved

#2832 fix: Adjust sqlinstance-datacacheconfig test case for tf controller
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig/create.yaml
Labels: lgtm, approved

#2836 chore: Clean up old mock tests
  pkg/controller/mocktests/harness.go
  pkg/controller/mocktests/secretmanager_secret_test.go
  pkg/controller/mocktests/testdata/secretmanager/secret_and_secretversion/input.yaml
Labels: lgtm, approved

#2834 nit: Address minor comments for DNSAuthorization Direct controller
  pkg/controller/direct/certificatemanager/dnsauthorization_controller.go
Labels: lgtm, approved

#2841 Skip direct CRDs when checking IAM support in IAM integration tests
  pkg/test/iam/resource.go
Labels: lgtm, approved

#2833 fix: Fix ResourceID field optional tag format
  apis/bigquery/v1beta1/bigquerydataset_types.go
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig_types.go
  apis/bigtable/v1beta1/bigtableinstance_types.go
  apis/cloudbuild/v1beta1/workerpool_types.go
  apis/firestore/v1alpha1/firestoredatabase_types.go
  apis/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy_types.go
  apis/redis/v1alpha1/rediscluster_types.go
  apis/secretmanager/v1beta1/secretmanagersecret_types.go
  apis/workstations/v1alpha1/workstationcluster_types.go
  dev/tools/controllerbuilder/template/apis/types.go
  pkg/apis/common/v1alpha1/types.go
Labels: lgtm, approved

#2844 fix: Fix sqlinstance-datacacheconfig periodic
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig/create.yaml
Labels: lgtm, approved

#2824 refactor:ci: selectively run pause tests
  scripts/github-actions/ga-pause-test.sh
Labels: lgtm, approved

#2835 refactor: name field is output only
  apis/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange_types.go
  apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshubdataexchanges.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange_types.go
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryanalyticshub/dataexchange_controller.go
  pkg/controller/direct/bigqueryanalyticshub/mapper.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-base/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/update.yaml
Labels: lgtm, approved

#2848 chore: mark *.generated.go as generated
  .gitattributes
Labels: lgtm, approved

#2847 chore: update to latest controller-gen
  apis/apikeys/v1alpha1/zz_generated.deepcopy.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  apis/bigquerydatatransfer/v1alpha1/zz_generated.deepcopy.go
  apis/bigtable/v1beta1/zz_generated.deepcopy.go
  apis/certificatemanager/v1alpha1/zz_generated.deepcopy.go
  apis/certificatemanager/v1beta1/zz_generated.deepcopy.go
  apis/cloudbuild/v1alpha1/zz_generated.deepcopy.go
  apis/cloudbuild/v1beta1/zz_generated.deepcopy.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  apis/dataflow/v1beta1/zz_generated.deepcopy.go
  apis/dataform/v1alpha1/zz_generated.deepcopy.go
  apis/dataform/v1beta1/zz_generated.deepcopy.go
  apis/firestore/v1alpha1/zz_generated.deepcopy.go
  apis/gkehub/v1beta1/zz_generated.deepcopy.go
  apis/kms/v1beta1/zz_generated.deepcopy.go
  apis/logging/v1beta1/zz_generated.deepcopy.go
  apis/monitoring/v1beta1/zz_generated.deepcopy.go
  apis/networkconnectivity/v1alpha1/zz_generated.deepcopy.go
  apis/redis/v1alpha1/zz_generated.deepcopy.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  apis/sql/v1beta1/zz_generated.deepcopy.go
  apis/workstations/v1alpha1/zz_generated.deepcopy.go
  dev/tasks/generate-crds
Labels: lgtm, approved

#2719 mockgcp: BigQueryAnalyticsHub
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/bigquery/analyticshub/v1/analyticshub.pb.go
  mockgcp/generated/mockgcp/cloud/bigquery/analyticshub/v1/analyticshub.pb.gw.go
  mockgcp/generated/mockgcp/cloud/bigquery/analyticshub/v1/analyticshub_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbigqueryanalyticshub/analyticshub.go
  mockgcp/mockbigqueryanalyticshub/service.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-base/_generated_object_bigqueryanalyticshubdataexchange-base.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-base/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/_generated_object_bigqueryanalyticshubdataexchange-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/_http.log
Labels: lgtm, approved

#2851 refactor: make add cmd kind aware
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/controller/controller.go
  dev/tools/controllerbuilder/template/controller/externalresource.go
Labels: lgtm, approved

#2784 feat: Outbound public IP support for AlloyDB instances
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbinstances.alloydb.cnrm.cloud.google.com.yaml
  config/samples/resources/alloydbinstance/primary-instance/alloydb_v1beta1_alloydbinstance.yaml
  mockgcp/generated/mockgcp/cloud/alloydb/v1beta/resources.pb.go
  pkg/clients/generated/apis/alloydb/v1beta1/alloydbinstance_types.go
  pkg/clients/generated/apis/alloydb/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/_generated_object_fullalloydbinstance.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/update.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/readalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/zonalalloydbinstance/_http.log
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbinstance.md
  tests/apichecks/testdata/exceptions/acronyms.txt
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/alloydb/resource_alloydb_instance.go
Labels: lgtm, approved

#2843 feat: improve the template for external (no external-ref, use real-id)
  apis/bigqueryconnection/v1alpha1/connection_reference.go
  apis/refs/v1beta1/interface.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/scaffold/apis.go
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/apis/refs.go
  dev/tools/controllerbuilder/template/apis/types.go
  dev/tools/controllerbuilder/template/controller/controller.go
  dev/tools/controllerbuilder/template/controller/externalresource.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
Labels: lgtm, approved

#2857 fix: bad merge
  dev/tools/controllerbuilder/scaffold/controller.go
Labels: lgtm, approved

#2852 chore: Remove '+optional' marker from types template
  apis/bigquery/v1beta1/bigquerydataset_types.go
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig_types.go
  apis/bigtable/v1beta1/bigtableinstance_types.go
  apis/cloudbuild/v1beta1/workerpool_types.go
  apis/firestore/v1alpha1/firestoredatabase_types.go
  apis/networkconnectivity/v1alpha1/networkconnectivityserviceconnectionpolicy_types.go
  apis/redis/v1alpha1/rediscluster_types.go
  apis/secretmanager/v1beta1/secretmanagersecret_types.go
  apis/workstations/v1alpha1/workstationcluster_types.go
  dev/tools/controllerbuilder/template/apis/types.go
  pkg/apis/common/v1alpha1/types.go
Labels: lgtm, approved

#2859 Added script to update the prometheus-to-sd image.
  hack/update-images.sh
  operator/channels/packages/configconnector/1.121.0/cluster/workload-identity/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.121.0/namespaced/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.121.0/namespaced/per-namespace-components.yaml
  operator/channels/packages/configconnector/1.122.0/cluster/workload-identity/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.122.0/namespaced/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.122.0/namespaced/per-namespace-components.yaml
  operator/channels/packages/configconnector/1.123.1/cluster/workload-identity/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.123.1/namespaced/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.123.1/namespaced/per-namespace-components.yaml
  operator/config/gke-addon/image_configmap.yaml
  operator/scripts/update-kcc-manifest/manager_sidecar_patch.yaml
  operator/scripts/update-kcc-manifest/recorder_sidecar_patch.yaml
Labels: lgtm, approved

#2861 Fix redis cluster delete error due to not honoring AllowPartial flag
  pkg/controller/direct/redis/cluster/rediscluster_controller.go
Labels: lgtm, approved

#2867 fix: nil dereference
  dev/tools/controllerbuilder/template/apis/refs.go
Labels: lgtm, approved

#2868 Avoid loading CRDs when registering the webhook
  pkg/webhook/register.go
Labels: lgtm, approved

#2855 mockgcp: support for MetricsScope
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/monitoring/metricsscope/v1/metrics_scope.pb.go
  mockgcp/generated/mockgcp/monitoring/metricsscope/v1/metrics_scopes.pb.go
  mockgcp/generated/mockgcp/monitoring/metricsscope/v1/metrics_scopes.pb.gw.go
  mockgcp/generated/mockgcp/monitoring/metricsscope/v1/metrics_scopes_grpc.pb.go
  mockgcp/mockmonitoring/scopes.go
  mockgcp/mockmonitoring/service.go
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmonitoredproject/_generated_object_monitoringmonitoredproject.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmonitoredproject/_http.log
  tests/e2e/httplog.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2830 mockgcp: support for MonitoringService
  config/tests/samples/create/harness.go
  mockgcp/mockmonitoring/monitoringservice.go
  mockgcp/mockmonitoring/service.go
  mockgcp/mockmonitoring/utils.go
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservice/_generated_object_monitoringservice.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringservice/_http.log
Labels: lgtm, approved

#2858 fix: Update ref template to return ReferenceNotReadyError
  dev/tools/controllerbuilder/template/apis/refs.go
  pkg/k8s/errors.go
Labels: lgtm, approved

#2766 Define backward-compatible attached clusters API for the direct controller
  apis/containerattached/v1beta1/containerattachedcluster_types.go
  apis/containerattached/v1beta1/doc.go
  apis/containerattached/v1beta1/groupversion_info.go
  apis/containerattached/v1beta1/refs.go
  apis/containerattached/v1beta1/types.generated.go
  apis/containerattached/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containerattachedclusters.containerattached.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/template/apis/types.go
  pkg/clients/generated/apis/containerattached/v1beta1/containerattachedcluster_types.go
  pkg/clients/generated/apis/containerattached/v1beta1/zz_generated.deepcopy.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/containerattached/containerattachedcluster.md
Labels: lgtm, approved

#2827 Update README.md
  docs/develop-resources/README.md
Labels: lgtm, approved

#2815 Update Github username to use an environment variable
  CONTRIBUTING.md
Labels: lgtm, approved

#2659 Support PrivilegedAccessManagerEntitlement via the direct controller
  Makefile
  apis/privilegedaccessmanager/v1alpha1/doc.go
  apis/privilegedaccessmanager/v1alpha1/groupversion_info.go
  apis/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement_types.go
  apis/privilegedaccessmanager/v1alpha1/types.generated.go
  apis/privilegedaccessmanager/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/folderref.go
  apis/refs/v1beta1/organizationref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_privilegedaccessmanagerentitlements.privilegedaccessmanager.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  mockgcp/generated/mockgcp/cloud/privilegedaccessmanager/v1/privilegedaccessmanager.pb.go
  pkg/clients/generated/apis/privilegedaccessmanager/group.go
  pkg/clients/generated/apis/privilegedaccessmanager/v1alpha1/doc.go
  pkg/clients/generated/apis/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement_types.go
  pkg/clients/generated/apis/privilegedaccessmanager/v1alpha1/register.go
  pkg/clients/generated/apis/privilegedaccessmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/fake/fake_privilegedaccessmanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/fake/fake_privilegedaccessmanagerentitlement.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/privilegedaccessmanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement.go
  pkg/controller/direct/privilegedaccessmanager/entitlement_controller.go
  pkg/controller/direct/privilegedaccessmanager/entitlement_externalresource.go
  pkg/controller/direct/privilegedaccessmanager/entitlement_mappings.go
  pkg/controller/direct/privilegedaccessmanager/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/test/constants/presubmitconstants.go
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/_generated_object_privilegedaccessmanagerentitlement.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/_http.log
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/update.yaml
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#2877 fix: Add copyright headers to compositions samples
  experiments/compositions/samples/Eventarc/eventarc-composition.yaml
  experiments/compositions/samples/Eventarc/eventarcconfigs-crd.yaml
  experiments/compositions/samples/Eventarc/facade.yaml
Labels: lgtm, approved

#2871 Generate list of supported GVKs
  Makefile
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/gvks/supportedgvks/supportedgvks.go
  pkg/k8s/constants.go
  pkg/webhook/register.go
  scripts/generate-gvks/main.go
Labels: lgtm, approved

#2878 Increase lint workflow timeout to 10m
  .github/workflows/lint.yaml
  .github/workflows/presubmit-compositions.yaml
  .golangci.yaml
Labels: lgtm, approved

#2837 Use reconcile gate to determine reconciler in periodic tests
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/controller/iam/auditconfig/iamauditconfig_controller_integration_test.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller_integration_test.go
  pkg/controller/iam/policy/iampolicy_controller_integration_test.go
  pkg/controller/iam/policymember/iampolicymember_controller_integration_test.go
  pkg/test/controller/reconcile.go
  pkg/test/controller/reconciler/testreconciler.go
  pkg/test/resourcefixture/contexts/register.go
  pkg/test/runner/runner.go
Labels: lgtm, approved

#2879 Update release-1.124.md
  docs/releasenotes/release-1.124.md
Labels: lgtm, approved

#2870 test: Add full test case for ComputeFirewallPolicyRule
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/_generated_object_computefirewallpolicyrule-egress-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-egress-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/_generated_object_computefirewallpolicyrule-ingress-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-ingress-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal/_generated_object_computefirewallpolicyrule-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computefirewallpolicyrule/computefirewallpolicyrule-minimal/update.yaml
Labels: lgtm, approved, service:compute

#2812 Add release doc for direct ComputeForwardingRule
  docs/releasenotes/release-1.124.md
Labels: lgtm, approved

#2826 Support mockgcp test for PrivilegedAccessManagerEntitlement
  config/tests/samples/create/harness.go
  mockgcp/mockprivilegedaccessmanager/entitlement.go
  mockgcp/mockprivilegedaccessmanager/names.go
  mockgcp/mockprivilegedaccessmanager/service.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2884 fix: check set for enum
  pkg/controller/direct/bigqueryanalyticshub/dataexchange_controller.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/_generated_object_bigqueryanalyticshubdataexchange-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshubdataexchange-full/update.yaml
Labels: lgtm, approved

#2823 Tidy up SQLInstance mappings and ref resolving
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/direct/sql/sqlinstance_equality.go
  pkg/controller/direct/sql/sqlinstance_mappings.go
  pkg/controller/direct/sql/sqlinstance_normalize.go
  pkg/controller/direct/sql/utils.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-activationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-auditconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-binarylog-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-pitr-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-connectorenforcement-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-databaseflags-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-deletionprotection-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-insightsconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-maintenancewindow-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-multithreading-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-passwordvalidationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-legacyref-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-replica-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-storage-direct/_http.log
Labels: lgtm, approved, service:sql

#2891 Update release-1.124.md about the new PrivilegedAccessManagerEntitlem…
  docs/releasenotes/release-1.124.md
Labels: lgtm, approved

#2887 dev:tools: various small changes
  dev/tools/controllerbuilder/scaffold/apis.go
  dev/tools/controllerbuilder/template/apis/types.go
Labels: lgtm, approved

#2797 feat: direct controller for SecretManagerSecret (part 1)
  apis/secretmanager/v1beta1/secretmanagersecret_types.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  dev/tasks/run-e2e
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/template/apis/refs.go
  go.mod
  go.sum
  mockgcp/mocksecretmanager/secrets.go
  mockgcp/mocksecretmanager/tests/service_test.go
  mockgcp/mockserviceusage/serviceusagev1beta1.go
  pkg/controller/direct/common/compare.go
  pkg/controller/direct/common/labels.go
  pkg/controller/direct/common/normalize.go
  pkg/controller/direct/register/register.go
  pkg/controller/direct/secretmanager/mapper.generated.go
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_externalresource.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runjob/jobwithsecretmanagersecret/_generated_object_jobwithsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runjob/jobwithsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_object_basicsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_object_fullsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_http.log
Labels: lgtm, approved

#2896 Update autogen test suffix from "basic" to "autogen"
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1alpha1/accesscontextmanageraccesslevelcondition/accesscontextmanageraccesslevelconditionautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1alpha1/accesscontextmanageraccesslevelcondition/accesscontextmanageraccesslevelconditionautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1alpha1/accesscontextmanagergcpuseraccessbinding/accesscontextmanagergcpuseraccessbindingautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1alpha1/accesscontextmanagergcpuseraccessbinding/accesscontextmanagergcpuseraccessbindingautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapiautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/apigee/v1alpha1/apigeeaddonsconfig/apigeeaddonsautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/appengine/v1alpha1/appenginedomainmapping/appenginedomainmappingautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/beyondcorp/v1alpha1/beyondcorpappconnection/beyondcorpappconnectionautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/beyondcorp/v1alpha1/beyondcorpappconnection/beyondcorpappconnectionautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/beyondcorp/v1alpha1/beyondcorpappconnector/beyondcorpappconnectorautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/beyondcorp/v1alpha1/beyondcorpappconnector/beyondcorpappconnectorautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/beyondcorp/v1alpha1/beyondcorpappgateway/beyondcorpappgatewayautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatapolicy/v1alpha1/bigquerydatapolicydatapolicy/bigquerydatapolicydatapolicyautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatapolicy/v1alpha1/bigquerydatapolicydatapolicy/bigquerydatapolicydatapolicyautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryreservation/v1alpha1/bigqueryreservationcapacitycommitment/bigqueryreservationcapacitycommitmentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryreservation/v1alpha1/bigqueryreservationreservation/bigqueryreservationautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudtasks/v1alpha1/cloudtasksqueue/queueautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computediskresourcepolicyattachment/diskresourcepolicyattachmentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computediskresourcepolicyattachment/diskresourcepolicyattachmentautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computemachineimage/machineimageautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computemachineimage/machineimageautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computeorganizationsecuritypolicy/organizationsecuritypolicyautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computeregiondiskresourcepolicyattachment/regiondiskresourcepolicyattachmentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computeregiondiskresourcepolicyattachment/regiondiskresourcepolicyattachmentautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentrygroup/datacatalogentrygroupautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogtagtemplate/datacatalogtagtemplateautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/datastream/v1alpha1/datastreamconnectionprofile/datastreamconnectionprofileautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/deploymentmanager/v1alpha1/deploymentmanagerdeployment/deploymentmanagerdeploymentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/dialogflow/v1alpha1/dialogflowentitytype/dialogflowentitytypeautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/dialogflow/v1alpha1/dialogflowentitytype/dialogflowentitytypeautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/dialogflow/v1alpha1/dialogflowfulfillment/dialogflowfulfillmentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/dialogflow/v1alpha1/dialogflowfulfillment/dialogflowfulfillmentautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/dialogflow/v1alpha1/dialogflowintent/dialogflowintentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/dialogflow/v1alpha1/dialogflowintent/dialogflowintentautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/firebase/v1alpha1/firebaseandroidapp/firebaseandroidappautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/firebase/v1alpha1/firebaseproject/firebaseprojectautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/firebase/v1alpha1/firebaseproject/firebaseprojectautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/firebasedatabase/v1alpha1/firebasedatabaseinstance/firebasedatabaseinstanceautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/firebasehosting/v1alpha1/firebasehostingsite/firebasehostingsiteautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/healthcare/v1alpha1/healthcaredataset/healthcaredatasetautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/identityplatform/v1alpha1/identityplatformdefaultsupportedidpconfig/identityplatformdefaultsupportedidpconfigautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/identityplatform/v1alpha1/identityplatforminboundsamlconfig/identityplatforminboundsamlconfigautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/mlengine/v1alpha1/mlenginemodel/mlmodelautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/networkservices/v1alpha1/networkservicesedgecachekeyset/networkservicesedgecachekeysetautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/networkservices/v1alpha1/networkservicesedgecacheorigin/networkservicesedgecacheoriginautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/notebooks/v1alpha1/notebooksenvironment/notebookenvironmentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/orgpolicy/v1alpha1/orgpolicycustomconstraint/orgpolicycustomconstraintautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/osconfig/v1alpha1/osconfigpatchdeployment/osconfigpatchdeploymentautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/oslogin/v1alpha1/osloginsshpublickey/osloginsshkeyautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitesubscription/pubsublitesubscriptionautogen/_generated_object_pubsublitesubscriptionautogen.golden.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitesubscription/pubsublitesubscriptionautogen/_http.log
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitesubscription/pubsublitesubscriptionautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitesubscription/pubsublitesubscriptionautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitetopic/pubsublitetopicautogen/_generated_object_pubsublitetopicautogen.golden.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitetopic/pubsublitetopicautogen/_http.log
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitetopic/pubsublitetopicautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitetopic/pubsublitetopicautogen/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/securitycenter/v1alpha1/securitycentersource/sccsourceautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/tpu/v1alpha1/tpunode/tpunodeautogen/create.yaml
  scripts/resource-autogen/main.go
Labels: lgtm, approved

#2892 Remove non-configurable fields in PrivilegedAccessManagerEntitlement
  apis/privilegedaccessmanager/v1alpha1/types.generated.go
  apis/privilegedaccessmanager/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_privilegedaccessmanagerentitlements.privilegedaccessmanager.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement_types.go
  pkg/clients/generated/apis/privilegedaccessmanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/privilegedaccessmanager/entitlement_controller.go
  pkg/controller/direct/privilegedaccessmanager/entitlement_mappings.go
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/_generated_object_privilegedaccessmanagerentitlement.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/update.yaml
Labels: lgtm, approved

#2872 Support full test cases for PrivilegedAccessManagerEntitlement
  mockgcp/mockprivilegedaccessmanager/entitlement.go
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementbasicproject/_generated_object_privilegedaccessmanagerentitlementbasicproject.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementbasicproject/_http.log
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementbasicproject/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementbasicproject/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementbasicproject/update.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/_generated_object_privilegedaccessmanagerentitlementfullfolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/_http.log
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/update.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/_generated_object_privilegedaccessmanagerentitlementfullorg.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/_http.log
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/create.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullorg/update.yaml
Labels: lgtm, approved

#2903 Replace hard-coded test folder ID with the place holder
  pkg/test/resourcefixture/testdata/basic/identityplatform/v1beta1/identityplatformconfig/dependencies.yaml
Labels: lgtm, approved

#2854 support BQCC spark
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/dataprocclusterref.go
  apis/refs/v1beta1/metastoreserviceref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  mockgcp/mockbigqueryconnection/connection.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/sparkconnectionbasic/_generated_object_sparkconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/sparkconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/sparkconnectionbasic/create.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2902 Add IsPureDirectResource step to Direct Controller resource guide
  docs/develop-resources/guides/5-releases.md
Labels: lgtm, approved

#2905 Update autogen test suffix from "basic" to "autogen"-missing test cloudiotdeviceregistrybasic
  pkg/test/resourcefixture/testdata/basic/cloudiot/v1alpha1/cloudiotdeviceregistry/cloudiotdeviceregistryautogen/create.yaml
Labels: lgtm, approved

#2898 tests: small changes for dataformrespository
  pkg/controller/direct/dataform/repository_controller.go
  pkg/test/resourcefixture/sets.go
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-basic/_generated_object_dataformrepository-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-basic/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-basic/update.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_generated_object_dataformrepository-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/update.yaml
Labels: lgtm, approved

#2910 feat: dataflowjob export
  pkg/controller/direct/dataflow/dataflowflextemplatejob_controller.go
Labels: lgtm, approved

#2895 chore: secretManagerSecret use new external ref
  apis/secretmanager/v1beta1/secret_reference.go
  apis/secretmanager/v1beta1/secretmanagersecret_types.go
  apis/secretmanager/v1beta1/types.generated.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_externalresource.go
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_object_basicsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_object_fullsecretmanagersecret.golden.yaml
Labels: lgtm, approved

#2901 Add RedisCluster v1beta1 promotion to release doc
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#2919 chore: simplify setStatus
  dev/tools/controllerbuilder/template/controller/controller.go
  pkg/controller/direct/secretmanager/secret_controller.go
Labels: lgtm, approved

#2931 Update POC Script
  experiments/compositions/dev-setup/poc_setup.sh
Labels: lgtm, approved

#2932 fix: missing end quote in controller template
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#2930 doc: 1.124.0 release notes
  docs/releasenotes/release-1.124.md
Labels: lgtm, approved

#2926 feat: Add sample test for RedisCluster
  config/samples/resources/rediscluster/compute_v1beta1_computenetwork.yaml
  config/samples/resources/rediscluster/compute_v1beta1_computesubnetwork.yaml
  config/samples/resources/rediscluster/networkconnectivity_v1alpha1_networkconnectivityserviceconnectionpolicy.yaml
  config/samples/resources/rediscluster/redis_v1beta1_rediscluster.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/redis/rediscluster.md
Labels: lgtm, approved

#2916 feat: add export for gkehubfeatmem
  pkg/controller/direct/gkehub/featuremembership_controller.go
  pkg/controller/direct/gkehub/mappings.go
Labels: lgtm, approved

#2753 test: (part2)update regional forwarding rule full test
  mockgcp/mockcompute/globalforwardingrulesv1.go
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/controller/direct/compute/forwardingrule/forwardingrule_controller.go
  pkg/controller/direct/compute/forwardingrule/refs.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrulefull/_generated_object_regionalcomputeforwardingrulefull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrulefull/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrulefull/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrulefull/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_http.log
Labels: lgtm, approved, service:compute

#2908 Fix sqlinstance periodics
  pkg/controller/direct/sql/sqlinstance_mappings.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/_generated_object_sqlinstance-denymaintenanceperiod-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod/_generated_object_sqlinstance-denymaintenanceperiod.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-replica-direct/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-replica/dependencies.yaml
Labels: lgtm, approved

#2904 feat: add a proto comparison to simplify Update field mask operations
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/common/compare.go
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
Labels: lgtm, approved

#2938 fix: Enable sqlinstance-denymaintenanceperiod nochange test
  pkg/test/resourcefixture/contexts/sql_context.go
Labels: lgtm, approved

#2937 doc: fix jargon and clean up stale doc
  README.md
  docs/develop-resources/README.md
  mockgcp/README.md
Labels: lgtm, approved

#2940 Update toc and overview for RedisCluster
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/overview.md
Labels: lgtm, approved

#2667 chore:improve KCC build commands
  CONTRIBUTING.md
  Makefile
  config/installbundle/base/kustomization.yaml
Labels: lgtm, approved

#2829 mockgcp: support for MonitoringMetricDescriptor
  config/tests/samples/create/harness.go
  mockgcp/mockmonitoring/metricdescriptor.go
  mockgcp/mockmonitoring/service.go
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmetricdescriptor/_generated_object_monitoringmetricdescriptor.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringmetricdescriptor/_http.log
Labels: lgtm, approved

#2410 mockgcp: improve fidelity of serviceusage
  mockgcp/mockserviceusage/service.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/acmfeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcifeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcsdfeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_http.log
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/serviceidentity/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaidataset/vertexaidatasetencryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointencryptionkey/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/serviceidentityref/_http.log
  tests/e2e/normalize.go
Labels: lgtm, approved, service:serviceusage

#2865 feat: types for direct BigQueryAnalyticsHubListing
  apis/bigqueryanalyticshub/v1alpha1/dataexchange_types.go
  apis/bigqueryanalyticshub/v1alpha1/listing_reference.go
  apis/bigqueryanalyticshub/v1alpha1/listing_types.go
  apis/bigqueryanalyticshub/v1alpha1/types.generated.go
  apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/dataexchangeref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/bigqueryanalyticshublisting_types.go
  pkg/clients/generated/apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#2929 Support pscConfig in mockalloydb cluster
  mockgcp/apply-proto-patches.sh
  mockgcp/generated/mockgcp/cloud/alloydb/v1beta/resources.pb.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbsecondarycluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/basicalloydbsecondaryinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/fullalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/readalloydbinstance/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/zonalalloydbinstance/_http.log
Labels: lgtm, approved

#2936 mockgcp support for Folders
  config/tests/samples/create/harness.go
  mockgcp/mocklogging/logbucket.go
  mockgcp/mockresourcemanager/folders.go
  mockgcp/mockresourcemanager/service.go
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogbucket/folderlogbucket/_generated_object_folderlogbucket.golden.yaml
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogbucket/folderlogbucket/_http.log
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/folderinfolder/_generated_object_folderinfolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/folderinfolder/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/folderinorg/_generated_object_folderinorg.golden.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/folderinorg/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/foldermovedfoldertofolder/_generated_object_foldermovedfoldertofolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/foldermovedfoldertofolder/_http.log
  pkg/test/resourcefixture/testdata/containerannotations/organizationid/_generated_object_organizationid.golden.yaml
  pkg/test/resourcefixture/testdata/containerannotations/organizationid/_http.log
  tests/e2e/normalize.go
  tests/e2e/replacements.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2945 mockgcp: support LoggingLogView
  config/tests/samples/create/harness.go
  mockgcp/mocklogging/logbucket.go
  mockgcp/mocklogging/logmetric.go
  mockgcp/mocklogging/logview.go
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogview/_generated_object_logginglogview.golden.yaml
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogview/_http.log
Labels: lgtm, approved

#2838 docs: modifications on SciFi migraiton documents
  docs/develop-resources/api-conventions/validations.md
  docs/develop-resources/guides/3-add-mapper.md
  docs/develop-resources/guides/4-add-controller.md
  docs/develop-resources/scenarios/migrate-tf-resource-beta.md
  mockgcp/README.md
Labels: lgtm, approved

#2890 feat: Record events when updating SQLInstances
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/directbase/operations.go
  pkg/controller/direct/sql/sqlinstance_controller.go
Labels: lgtm, approved

#2962 tests: fix env var to be ONLY_TEST_APIGROUPS
  scripts/github-actions/tests-e2e-fixtures-sql
Labels: lgtm, approved

#2949 feat:refactor: kind aware cmd add
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#2954 controllerbuilder: don't add log name
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#2967 chore: update upload-artifact to v4
  .github/workflows/presubmit.yaml
Labels: lgtm, approved

#2972 Skip ignored CRDs when listing CRDs in the recorder
  cmd/recorder/main.go
Labels: lgtm, approved

#2961 update and improve bqcc cloudSQL
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_generated_object_cloudsqlconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/create.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved

#2973 fix: mark "node_config[0].kubelet_config" as "computed"
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/node_config.go
Labels: lgtm, approved

#2983 add pprof to kube-apiserver
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#2982 tests: warn, don't panic, if we can't read spec.resourceID
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2963 chore: cleanup a few lint problems
  pkg/controller/direct/common/labels.go
  pkg/controller/direct/monitoring/client.go
  pkg/controller/direct/monitoring/monitoringdashboard_controller.go
Labels: lgtm, approved

#2976 e2e: enable securesourcemanager in our periodic tests
  dev/tasks/create-test-project
Labels: lgtm, approved

#2977 chore: add script to download the e2e golden output from real-gcp
  dev/tasks/download-e2e-logs
Labels: lgtm, approved

#2985 Fix permanent diff caused by default GPU driver installation in GKE node pools
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/node_config.go
Labels: lgtm, approved

#2969 [Compositions] Change missing context to info
  experiments/compositions/composition/internal/controller/expander_reconciler.go
Labels: lgtm, approved

#2957 tests: add e2e for compute resources
  dev/ci/periodics/e2e-service-compute
Labels: lgtm, approved

#2964 tests: add cloudfunctions to e2e
  dev/ci/periodics/e2e-service-cloudfunctions
Labels: lgtm, approved

#2965 tests: add gke to e2e
  dev/ci/periodics/e2e-service-container
Labels: lgtm, approved

#2986 build:add deploy commands
  CONTRIBUTING.md
  Makefile
Labels: lgtm, approved

#2990 tests: write goldens
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2968 tests: add cloudidentity to e2e
  dev/ci/periodics/e2e-service-cloudidentity
Labels: lgtm, approved

#2942 Refactor SQLInstance defaulting
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/direct/sql/sqlinstance_defaults.go
  pkg/controller/direct/sql/sqlinstance_mappings.go
  pkg/controller/direct/sql/sqlinstance_resolverefs.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-activationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-auditconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-binarylog-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-pitr-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-connectorenforcement-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-databaseflags-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-deletionprotection-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-insightsconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-maintenancewindow-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-multithreading-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-passwordvalidationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-legacyref-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-replica-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-storage-direct/_http.log
Labels: lgtm, approved

#2966 Add field mapper for attached clusters direct controller migration.
  apis/containerattached/v1beta1/containerattachedcluster_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containerattachedclusters.containerattached.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/clients/generated/apis/containerattached/v1beta1/containerattachedcluster_types.go
  pkg/clients/generated/apis/containerattached/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/containerattached/containerattachedcluster_mappings.go
  pkg/controller/direct/containerattached/mapper.generated.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/containerattached/containerattachedcluster.md
Labels: lgtm, approved

#2941 dev:tools: add export changes
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#2996 tests: log wrapped err
  config/tests/samples/create/samples.go
Labels: lgtm, approved

#2978 tests: Only load the CRDs we are using
  config/tests/samples/create/harness.go
  pkg/crd/crdloader/crdloader.go
  pkg/k8s/crds.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2992 mockgcp: generate code for discoveryengine
  go.mod
  go.sum
  mockgcp/Makefile
  mockgcp/generated/google/cloud/discoveryengine/v1/engine_service.pb.gw.go
  mockgcp/go.mod
  mockgcp/go.sum
Labels: lgtm, approved

#2995 tests: create generic fuzz tester
  .github/workflows/presubmit.yaml
  apis/workstations/v1alpha1/workstationcluster_types.go
  apis/workstations/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workstationclusters.workstations.cnrm.cloud.google.com.yaml
  dev/ci/presubmits/test-mappers-roundtrip
  pkg/clients/generated/apis/workstations/v1alpha1/workstationcluster_types.go
  pkg/clients/generated/apis/workstations/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/workstations/workstationcluster_controller.go
  pkg/controller/direct/workstations/workstationcluster_mappings.go
  pkg/fuzztesting/fuzzkrm.go
  pkg/fuzztesting/fuzztests/fuzz_test.go
Labels: lgtm, approved

#2899 feat: implement missing exports [cloudbuild]
  pkg/controller/direct/cloudbuild/workerpool_controller.go
  pkg/controller/direct/cloudbuild/workerpool_mappings.go
  pkg/controller/direct/registry/registry.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_generated_export_cloudbuildworkerpool.golden
  tests/e2e/export.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3000 DiscoveryEngineDataStore: types, mappers and fuzzers
  apis/discoveryengine/v1alpha1/datastore_reference.go
  apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  apis/discoveryengine/v1alpha1/doc.go
  apis/discoveryengine/v1alpha1/groupversion_info.go
  apis/discoveryengine/v1alpha1/types.generated.go
  apis/discoveryengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryenginedatastores.discoveryengine.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatemapper/generatemappercommand.go
  go.mod
  go.sum
  pkg/clients/generated/apis/discoveryengine/group.go
  pkg/clients/generated/apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  pkg/clients/generated/apis/discoveryengine/v1alpha1/doc.go
  pkg/clients/generated/apis/discoveryengine/v1alpha1/register.go
  pkg/clients/generated/apis/discoveryengine/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/discoveryengine_client.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/discoveryenginedatastore.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/fake/fake_discoveryengine_client.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/fake/fake_discoveryenginedatastore.go
  pkg/clients/generated/client/clientset/versioned/typed/discoveryengine/v1alpha1/generated_expansion.go
  pkg/controller/direct/discoveryengine/fuzzers.go
  pkg/controller/direct/discoveryengine/mapper.generated.go
  pkg/controller/direct/discoveryengine/mapper.go
  pkg/controller/direct/maputils.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved

#3009 feat: promote BigQueryDataTransferConfig to v1beta1
  apis/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig_types.go
  apis/bigquerydatatransfer/v1beta1/doc.go
  apis/bigquerydatatransfer/v1beta1/groupversion_info.go
  apis/bigquerydatatransfer/v1beta1/types.generated.go
  apis/bigquerydatatransfer/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com.yaml
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/bigquery_v1beta1_bigquerydataset.yaml
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/bigquerydatatransfer_v1beta1_bigquerydatatransferconfig.yaml
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/bigquery_v1beta1_bigquerydataset.yaml
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/bigquerydatatransfer_v1beta1_bigquerydatatransferconfig.yaml
  config/samples/resources/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/iam_v1beta1_iamserviceaccount.yaml
  config/servicemappings/bigquerydatatransfer.yaml
  pkg/clients/generated/apis/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig_types.go
  pkg/clients/generated/apis/bigquerydatatransfer/v1beta1/doc.go
  pkg/clients/generated/apis/bigquerydatatransfer/v1beta1/register.go
  pkg/clients/generated/apis/bigquerydatatransfer/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/bigquerydatatransfer_client.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/fake/fake_bigquerydatatransfer_client.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/fake/fake_bigquerydatatransferconfig.go
  pkg/clients/generated/client/clientset/versioned/typed/bigquerydatatransfer/v1beta1/generated_expansion.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransfer_mappings.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_controller.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_externalresource.go
  pkg/controller/direct/bigquerydatatransfer/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/snippet/snippetgeneration/snippetgeneration.go
  pkg/test/resourcefixture/sets.go
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_generated_object_bigquerydatatransferconfig-salesforce.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/_generated_object_bigquerydatatransferconfig-scheduledquery.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1beta1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/update.yaml
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
  scripts/generate-google3-docs/resource-reference/overview.md
  scripts/generate-google3-docs/resource-reference/templates/bigquerydatatransfer_bigquerydatatransferconfig.tmpl
  scripts/resource-autogen/allowlist/allowlist.go
Labels: lgtm, approved

#3008 fix: Fix SQLInstance authorizednetworks periodic
  pkg/controller/direct/sql/sqlinstance_defaults.go
  pkg/controller/direct/sql/sqlinstance_equality.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-activationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-auditconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-binarylog-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-pitr-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-connectorenforcement-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-databaseflags-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-deletionprotection-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-insightsconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-maintenancewindow-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-multithreading-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-passwordvalidationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-legacyref-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-replica-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-storage-direct/_http.log
Labels: lgtm, approved

#3018 Add script to update images in expander-helm
  experiments/compositions/expanders/helm-expander/Dockerfile
  experiments/compositions/expanders/helm-expander/hack/update-images.sh
Labels: lgtm, approved

#3011 chore: change type-generators to give shorter api _types.go file name
  apis/bigquery/v1beta1/dataset_types.go
  apis/bigquerydatatransfer/v1alpha1/config_types.go
  apis/bigtable/v1beta1/instance_types.go
  apis/certificatemanager/v1alpha1/dnsauthorization_types.go
  apis/certificatemanager/v1beta1/dnsauthorization_types.go
  apis/compute/v1beta1/firewallpolicyrule_types.go
  apis/compute/v1beta1/forwardingrule_types.go
  apis/containerattached/v1beta1/cluster_types.go
  apis/dataflow/v1beta1/flextemplatejob_types.go
  apis/firestore/v1alpha1/database_types.go
  apis/gkehub/v1beta1/featuremembership_types.go
  apis/kms/v1alpha1/autokeyconfig_types.go
  apis/kms/v1beta1/keyring.go
  apis/monitoring/v1beta1/dashboard_types.go
  apis/networkconnectivity/v1alpha1/serviceconnectionpolicy_types.go
  apis/privilegedaccessmanager/v1alpha1/entitlement_types.go
  apis/redis/v1alpha1/cluster_types.go
  apis/redis/v1beta1/cluster_types.go
  apis/secretmanager/v1beta1/secret_types.go
  apis/securesourcemanager/v1alpha1/instance_types.go
  apis/sql/v1beta1/instance_types.go
  apis/workstations/v1alpha1/cluster_types.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/scaffold/apis.go
Labels: lgtm, approved

#3026 chore: fix output path for types.go file
  dev/tools/controllerbuilder/scaffold/apis.go
Labels: lgtm, approved

#2939 feat: Add types and mappers for compute target TCP proxy
  apis/compute/v1beta1/computetargettcpproxy_types.go
  apis/compute/v1beta1/forwardingrule_types.go
  apis/compute/v1beta1/groupversion_info.go
  apis/compute/v1beta1/targettcpproxy_reference.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computetargettcpproxies.compute.cnrm.cloud.google.com.yaml
  dev/tasks/find-missing-fields
  pkg/clients/generated/apis/compute/v1beta1/computetargettcpproxy_types.go
  pkg/clients/generated/apis/compute/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/compute/targettcpproxy/mapper.generated.go
  pkg/controller/direct/compute/targettcpproxy/mapper.go
  pkg/controller/direct/compute/targettcpproxy/roundtrip_test.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computetargettcpproxy.md
Labels: lgtm, approved, service:compute

#3016 chore: Cleanup duplicate LRO polling code
  pkg/controller/direct/sql/sqlinstance_controller.go
Labels: lgtm, approved

#3017 doc: update resource autogen allowlist when promoting direct resource to beta.
  docs/develop-resources/deep-dives/5-releases.md
Labels: lgtm, approved

#3005 fix: update the compute image test yaml
  config/samples/resources/computeimage/image-from-url-raw/compute_v1beta1_computeimage.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeimage.md
Labels: lgtm, approved

#2914 InputReconciler length note
  experiments/compositions/README.md
Labels: lgtm, approved

#3020 test: fix dynamic tests for BigQueryDataTransferConfig
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/test/resourcefixture/contexts/bigquerydatatransfer_context.go
Labels: lgtm, approved

#3032 chore: fix dynamic test for bigqueryconnectionconnection
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/test/resourcefixture/contexts/bigquery_context.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_generated_object_bigqueryconnectionconnectionfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/update.yaml
Labels: lgtm, approved

#2980 Add warning log to clean up orphaned CRDs
  cmd/recorder/main.go
Labels: lgtm, approved

#3030 tests: wait for the webhook server to start
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#3036 doc: immutable and parent required/optional clarification
  docs/develop-resources/api-conventions/validations.md
Labels: lgtm, approved

#3034 Fix SQL direct periodics (replica, encryptionkey, postgres, mysql)
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/direct/sql/sqlinstance_defaults.go
  pkg/controller/direct/sql/sqlinstance_equality.go
  pkg/controller/direct/sql/sqlinstance_resolverefs.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-activationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-auditconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-binarylog-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-pitr-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-connectorenforcement-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-databaseflags-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-datacacheconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-deletionprotection-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-denymaintenanceperiod-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-insightsconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-maintenancewindow-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-multithreading-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/_generated_object_sqlinstance-mysql-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-passwordvalidationpolicy-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/_generated_object_sqlinstance-postgres-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-legacyref-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-replica-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-sqlserver-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-storage-direct/_http.log
Labels: lgtm, approved

#3049 Update 5-releases.md
  docs/develop-resources/deep-dives/5-releases.md
Labels: lgtm, approved

#3043 fix: Specify missing fields in clone backup configuration
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/_generated_object_sqlinstance-clone-minimal-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-clone-minimal-direct/dependencies.yaml
Labels: lgtm, approved

#3001 DiscoveryEngineDataStore: controller
  apis/discoveryengine/v1alpha1/datastore_reference.go
  apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  apis/discoveryengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_discoveryenginedatastores.discoveryengine.cnrm.cloud.google.com.yaml
  pkg/cli/cmd/bulkexport/singleresourceiamclient/singleresourceiamclient.go
  pkg/clients/generated/apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  pkg/config/controllerconfig.go
  pkg/controller/direct/discoveryengine/datastore_controller.go
  pkg/controller/direct/protoutils.go
  pkg/controller/direct/registry/registry.go
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/_generated_export_discoveryenginedatastoreminimal.golden
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/_generated_object_discoveryenginedatastoreminimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/_http.log
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/update.yaml
  tests/e2e/export.go
Labels: lgtm, approved

#3054 fix: presubmit test that depends on spannerInstance"
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_http.log
  pkg/test/resourcefixture/testdata/externalref/externalwithsubresource/_http.log
Labels: lgtm, approved

#3053 Add changes to update.yaml for Spanner Instance
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-basic/_generated_object_spannerinstance-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-basic/update.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-full/_generated_object_spannerinstance-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-full/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-full/update.yaml
Labels: lgtm, approved

#3061 fix: controller-gen crd to allow unexported field
  dev/tasks/generate-crds
Labels: lgtm, approved

#3064 Update 5-releases.md
  docs/develop-resources/deep-dives/5-releases.md
Labels: lgtm, approved

#3039 tests: switch placeholder from testFolderId -> folderID
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/acmfeature/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeature/mcsdfeature/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1alpha1/kmsautokeyconfig/_http.log
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogbucket/folderlogbucket/_http.log
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringdashboard/monitoringdashboardrefs/_http.log
  pkg/test/resourcefixture/testdata/basic/privilegedaccessmanager/v1alpha1/privilegedaccessmanagerentitlement/privilegedaccessmanagerentitlementfullfolder/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/folderinfolder/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/folder/foldermovedfoldertofolder/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinfolder/_http.log
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectmovedfoldertofolder/_http.log
  pkg/test/resourcefixture/testdata/containerannotations/folderid/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved
