Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-04, with the labels that each got.

#1393 vcr: enable replaying mode
  config/tests/samples/create/harness.go
  pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodegroup.yaml
  pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1214 mockgcp: Support for MonitoringDashboard
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/alertchart.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/collapsible_group.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/common.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/dashboard.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/dashboard_filter.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/dashboards_service.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/dashboards_service.pb.gw.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/dashboards_service_grpc.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/drilldowns.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/layouts.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/logs_panel.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/metrics.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/scorecard.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/service.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/table.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/table_display_options.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/text.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/widget.pb.go
  mockgcp/generated/mockgcp/monitoring/dashboard/v1/xychart.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockmonitoring/dashboard.go
  mockgcp/mockmonitoring/service.go
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringdashboard/_http.log
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringdashboard/create.yaml
Labels: lgtm, approved

#1297 tests: add a retry for concurrent changes to setting iam policy
  pkg/controller/iam/iamclient/iamclient_integration_test.go
Labels: lgtm, approved

#1481 docs: spell out additions to fixup script
  mockgcp/README.md
Labels: lgtm, approved

#1491 mockgcp: fix monitoring to use environment
  mockgcp/mockmonitoring/dashboard.go
  mockgcp/mockmonitoring/service.go
Labels: lgtm, approved

#1494 Fix sample yaml
  config/samples/resources/containerattachedcluster/container-attached-cluster-basic/containerattached_v1beta1_containerattachedcluster.yaml
  config/samples/resources/containerattachedcluster/container-attached-cluster-full/containerattached_v1beta1_containerattachedcluster.yaml
  config/samples/resources/containerattachedcluster/container-attached-cluster-ignore-errors/containerattached_v1beta1_containerattachedcluster.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/containerattached/containerattachedcluster.md
Labels: lgtm, approved

#1463 Add GKE cgroupMode Support
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containerclusters.container.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_containernodepools.container.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/container/v1beta1/containercluster_types.go
  pkg/clients/generated/apis/container/v1beta1/containernodepool_types.go
  pkg/clients/generated/apis/container/v1beta1/zz_generated.deepcopy.go
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containercluster/create.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/container/containercluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/container/containernodepool.md
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/container/node_config.go
Labels: lgtm, approved

#1496 test: fail the test if no test case was run
  pkg/test/resourcefixture/test_runner.go
Labels: lgtm, approved

#1497 Make goimports cover the entire repository
  Makefile
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1434 mockgcp: Add support for TagsTagValue
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples.go
  mockgcp/mockresourcemanager/service.go
  mockgcp/mockresourcemanager/tagkeys.go
  mockgcp/mockresourcemanager/tagvalues.go
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyprojectbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagvalue/tagvalueproject/_http.log
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagvalue/tagvalueproject/create.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagvalue/tagvalueproject/dependencies.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1495 docs: create release notes for 1.115.0
  docs/releasenotes/release-1.113.md
  docs/releasenotes/release-1.114.md
  docs/releasenotes/release-1.115.md
  docs/releasenotes/release-1.116.md
Labels: lgtm, approved

#1295 tests: try introducing a subtest timeout to unified_test
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1475 Add barney-s to OWNERS
  OWNERS
Labels: lgtm, approved

#1474 chore: automatically add headers as part of fmt
  experiments/compositions/composition/Makefile
Labels: lgtm, approved

#1501 Changes to make compositions deployable to a kind cluster
  experiments/compositions/composition/Makefile
  experiments/compositions/composition/config/default/kustomization.yaml
  experiments/compositions/composition/config/manager/kustomization.yaml
  experiments/compositions/composition/config/rbac/role.yaml
  experiments/compositions/composition/internal/controller/composition_controller.go
  experiments/compositions/composition/internal/controller/expander_factory.go
  experiments/compositions/composition/release/kind/alice_crds.yaml
  experiments/compositions/composition/release/kind/crds.yaml
  experiments/compositions/composition/release/kind/operator.yaml
  experiments/compositions/demo/context.yaml
  experiments/compositions/expanders/jinja-expander/Makefile
Labels: lgtm, approved

#1502 docs: call out CC and CCC for pause
  docs/releasenotes/release-1.114.md
Labels: lgtm, approved

#1447 tests: Use golden test to validate KRM object fields
  pkg/test/resourcefixture/testdata/basic/apikeys/v1alpha1/apikeyskey/apikeyskeybasic/_generated_object_apikeyskeybasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificatemanageddns/_generated_object_certificatemanagercertificatemanageddns.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificateselfmanaged/_generated_object_certificatemanagercertificateselfmanaged.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemap/_generated_object_certificatemanagercertificatemap.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemapentry/_generated_object_certificatemanagercertificatemapentry.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization/_generated_object_certificatemanagerdnsauthorization.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudfunctions/v1beta1/cloudfunctionsfunction/httpsfunction/_generated_object_httpsfunction.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/globalcomputeaddress/_generated_object_globalcomputeaddress.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeaddress/regionalcomputeaddress/_generated_object_regionalcomputeaddress.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computedisk/computediskfromsourcedisk/_generated_object_computediskfromsourcedisk.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computedisk/regionalcomputedisk/_generated_object_regionalcomputedisk.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computedisk/zonalcomputedisk/_generated_object_zonalcomputedisk.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computehealthcheck/globalcomputehealthcheck/_generated_object_globalcomputehealthcheck.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computehealthcheck/regionalcomputehealthcheck/_generated_object_regionalcomputehealthcheck.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenetwork/_generated_object_computenetwork.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenodegroup/_generated_object_computenodegroup.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computenodetemplate/_generated_object_computenodetemplate.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computesubnetwork/_generated_object_computesubnetwork.golden.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedcluster/_generated_object_containerattachedcluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainercluster/_generated_object_edgecontainercluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainernodepool/_generated_object_edgecontainernodepool.golden.yaml
  pkg/test/resourcefixture/testdata/basic/edgenetwork/v1beta1/edgenetworknetwork/_generated_object_edgenetworknetwork.golden.yaml
  pkg/test/resourcefixture/testdata/basic/edgenetwork/v1beta1/edgenetworksubnet/_generated_object_edgenetworksubnet.golden.yaml
  pkg/test/resourcefixture/testdata/basic/iam/v1beta1/iamserviceaccount/_generated_object_iamserviceaccount.golden.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringdashboard/_generated_object_monitoringdashboard.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networkservices/v1beta1/networkservicesmesh/_generated_object_networkservicesmesh.golden.yaml
  pkg/test/resourcefixture/testdata/basic/privateca/v1beta1/privatecacapool/_generated_object_privatecacapool.golden.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinfolder/_generated_object_projectinfolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectinorg/_generated_object_projectinorg.golden.yaml
  pkg/test/resourcefixture/testdata/basic/resourcemanager/v1beta1/project/projectmovedfoldertofolder/_generated_object_projectmovedfoldertofolder.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_generated_object_secretmanagersecretversion.golden.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_generated_object_service.golden.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/serviceidentity/_generated_object_serviceidentity.golden.yaml
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagebucket/_generated_object_storagebucket.golden.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyorgbasic/_generated_object_tagkeyorgbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/tags/v1beta1/tagstagkey/tagkeyprojectbasic/_generated_object_tagkeyprojectbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/vertexaitensorboard/_generated_object_vertexaitensorboard.golden.yaml
  pkg/test/resourcefixture/testdata/containerannotations/folderid/_generated_object_folderid.golden.yaml
  pkg/test/resourcefixture/testdata/directives/forcedestroy/_generated_object_forcedestroy.golden.yaml
  pkg/test/resourcefixture/testdata/iamexternalonlyref/billingaccountiampolicy/_generated_object_billingaccountiampolicy.golden.yaml
  pkg/test/resourcefixture/testdata/iamexternalonlyref/billingaccountiampolicymember/_generated_object_billingaccountiampolicymember.golden.yaml
  pkg/test/resourcefixture/testdata/iamexternalonlyref/organizationiampolicy/_generated_object_organizationiampolicy.golden.yaml
  pkg/test/resourcefixture/testdata/iamexternalonlyref/organizationiampolicymember/_generated_object_organizationiampolicymember.golden.yaml
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/storagebucket/_generated_object_storagebucket#01.golden.yaml
  pkg/test/resourcefixture/testdata/resourceid/userspecifiedresourceidandservergeneratedid/_generated_object_userspecifiedresourceidandservergeneratedid.golden.yaml
  pkg/test/utils.go
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1451 tests: add step wise for CCC Pause
  config/tests/samples/create/samples.go
  tests/e2e/script_test.go
  tests/e2e/testdata/scenarios/README.md
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/SCENARIO_README.MD
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_http02.log
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_http05.log
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_object00.yaml
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_object01.yaml
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_object02.yaml
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_object03.yaml
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/_object05.yaml
  tests/e2e/testdata/scenarios/ccc_pause_change_reconcile/script.yaml
Labels: lgtm, approved

#1512 vcr: Update vcr hook and matcher to avoid potential failures
  config/tests/samples/create/harness.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1514 chore: update github actions to use go version in go.mod
  .github/workflows/dcl-upgrade-probe.yaml
  .github/workflows/license-lint.yaml
  .github/workflows/lint.yaml
  .github/workflows/presubmit.yaml
  .github/workflows/upgrade-operator.yaml
Labels: lgtm, approved

#1470 Support dynamic names for valueFrom resources in composition
  experiments/compositions/composition/api/v1/composition_types.go
  experiments/compositions/composition/config/crd/bases/composition.google.com_compositions.yaml
  experiments/compositions/composition/internal/controller/expander_fetcher.go
Labels: lgtm, approved

#1460 mockgcp: support options on httpmux
  mockgcp/common/httpmux/mux.go
  mockgcp/mockaiplatform/service.go
  mockgcp/mockapikeys/service.go
  mockgcp/mockbilling/service.go
  mockgcp/mockiam/service.go
  mockgcp/mockresourcemanager/service.go
Labels: lgtm, approved

#1524 mockgcp: fix build error
  mockgcp/mocklogging/service.go
  mockgcp/mockmonitoring/service.go
Labels: lgtm, approved

#1465 Move output-only fields to status.observedState for new CRDs
  pkg/controller/iam/iamclient/tfiamclient.go
  pkg/crd/crdgeneration/tf2crdgeneration.go
  pkg/crd/crdloader/crdloader.go
  pkg/crd/crdloader/crdloader_test.go
  pkg/k8s/allowlist.go
  pkg/k8s/allowlist_test.go
  pkg/k8s/constants.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/k8s/state_into_spec_annotation_test.go
  pkg/krmtotf/fetchlivestate.go
  pkg/krmtotf/fetchlivestate_test.go
  pkg/krmtotf/references.go
  pkg/krmtotf/references_test.go
  pkg/krmtotf/resource.go
  pkg/krmtotf/resource_test.go
  pkg/krmtotf/templating.go
  pkg/krmtotf/tftokrm.go
  pkg/krmtotf/tftokrm_test.go
  pkg/test/resources.go
Labels: lgtm, approved

#1517 tests: skip secondary-instance sample test for now
  config/tests/samples/create/samples_test.go
Labels: lgtm, approved

#1407 Backporting https://github.com/GoogleCloudPlatform/magic-modules/pull/9463
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/provider/provider.go
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/transport/config.go
Labels: lgtm, approved

#1526 doc: update new resource guide
  README.NewResourceFromTerraform.md
Labels: lgtm, approved

#1523 Add Events and update Status for Composition CR when processing.
  experiments/compositions/composition/.gitignore
  experiments/compositions/composition/api/v1/composition_types.go
  experiments/compositions/composition/cmd/main.go
  experiments/compositions/composition/internal/controller/composition_controller.go
  experiments/compositions/composition/release/kind/crds.yaml
  experiments/compositions/composition/release/kind/operator.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionStatusFacadeCRDMissing/facade_crd.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionStatusFacadeCRDMissing/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionStatusFacadeCRDMissing/output.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionStatusValidation/fixed_composition.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionStatusValidation/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleCompositionStatusValidation/output.yaml
  experiments/compositions/composition/tests/scenario/scenario.go
  experiments/compositions/composition/tests/testcases/simple_test.go
  experiments/compositions/composition/tests/testclient/client.go
  experiments/compositions/composition/tests/utils/utils.go
Labels: lgtm, approved

#1534 ci:refactor: reorder steps
  .github/workflows/license-lint.yaml
Labels: lgtm, approved

#1533 replace instances of charlie with Platform Admin and variants
  experiments/compositions/Design Notes/API Design.md
  experiments/compositions/Design Notes/Architecture.md
  experiments/compositions/Design Notes/Feedback.md
  experiments/compositions/composition/internal/controller/expander_applier.go
Labels: lgtm, approved

#1422 genapi: Add support for TagsTagKey
  go.mod
  go.sum
  pkg/controller/direct/apikeys/apikeyskey_controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/directbase/interfaces.go
  pkg/controller/direct/resourcemanager/client.go
  pkg/controller/direct/resourcemanager/tagkey_controller.go
  pkg/controller/direct/resourcemanager/utils.go
  pkg/controller/registration/registration_controller.go
Labels: lgtm, do-not-merge/hold, approved

#1498 vcr: Set up VCR recorder for DCL requests
  config/tests/samples/create/harness.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbbackup/fullalloydbbackup/dependencies.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_computenodegroup-dcl.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_computenodegroup-oauth.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_computenodegroup-tf.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_computenodetemplate-dcl.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_computenodetemplate-oauth.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_computenodetemplate-tf.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_privatecacapool-dcl.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_privatecacapool-oauth.yaml
  tests/e2e/testdata/vcr-cassette/TestAllInSeries_fixtures_privatecacapool-tf.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1539 Don't upload artifacts for pause test
  .github/workflows/presubmit.yaml
Labels: lgtm, approved

#1541 tests: log error if we fail to read response
  pkg/test/http_recorder.go
Labels: lgtm, approved

#1250 mockgcp: create tool for openapi -> proto
  mockgcp/Makefile
  mockgcp/apis/mockgcp/storage/v1/README.md
  mockgcp/apis/mockgcp/storage/v1/service.proto
  mockgcp/tools/gapic/README.md
  mockgcp/tools/gapic/main.go
  mockgcp/tools/gapic/pkg/openapi/openapi.go
  mockgcp/tools/gapic/pkg/protogen/convert.go
  mockgcp/tools/gapic/pkg/protogen/render.go
  mockgcp/tools/gapic/pkg/sorted/map.go
Labels: lgtm, approved

#1542 Generate doc for DNS
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dns/dnsrecordset.md
Labels: lgtm, approved

#1550 skip alpha resources in TestOutputOnlyFieldsAreUnderObservedState
  pkg/k8s/allowlist_test.go
Labels: lgtm, approved

#1551 Correct the path for storage proto
  mockgcp/Makefile
Labels: lgtm, approved

#1548 Update README.md
  experiments/compositions/README.md
Labels: lgtm, approved

#1472 chore: refactor job execution in compositions with a view to making it pluggable
  experiments/compositions/composition/internal/controller/composition_controller.go
  experiments/compositions/composition/internal/controller/expander_applier.go
  experiments/compositions/composition/internal/controller/expander_reconciler.go
  experiments/compositions/composition/pkg/containerexecutor/jobcontainerexecutor/jobcontainerrunner.go
Labels: lgtm, approved

#1065 mockgcp: Initial support for container.google.apis (GKE)
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/container/v1beta1/cluster_service.pb.go
  mockgcp/generated/mockgcp/container/v1beta1/cluster_service.pb.gw.go
  mockgcp/generated/mockgcp/container/v1beta1/cluster_service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcontainer/cluster.go
  mockgcp/mockcontainer/lro.go
  mockgcp/mockcontainer/nodepool.go
  mockgcp/mockcontainer/service.go
  mockgcp/mockcontainer/utils.go
  mockgcp/pkg/storage/interfaces.go
Labels: lgtm, approved

#1559 tests: Fix accesscontextmanager test data
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeter/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/accesscontextmanager/v1beta1/accesscontextmanagerserviceperimeterresource/dependencies.yaml
Labels: lgtm, approved

#1537 chore: update to controller-tools 0.14.0
  experiments/compositions/composition/Makefile
  experiments/compositions/composition/api/v1alpha1/zz_generated.deepcopy.go
  experiments/compositions/composition/config/crd/bases/composition.google.com_compositions.yaml
  experiments/compositions/composition/config/crd/bases/composition.google.com_contexts.yaml
  experiments/compositions/composition/config/crd/bases/composition.google.com_plans.yaml
  experiments/compositions/composition/release/kind/crds.yaml
  experiments/compositions/composition/release/kind/operator.yaml
Labels: lgtm, approved

#885 mockgcp: support for pubsublite
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/admin.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/admin.pb.gw.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/admin_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/common.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/cursor.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/cursor.pb.gw.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/cursor_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/publisher.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/publisher_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/subscriber.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/subscriber_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/topic_stats.pb.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/topic_stats.pb.gw.go
  mockgcp/generated/mockgcp/cloud/pubsublite/v1/topic_stats_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockpubsublite/reservation.go
  mockgcp/mockpubsublite/service.go
  mockgcp/mockpubsublite/subscription.go
  mockgcp/mockpubsublite/topic.go
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitesubscription/pubsublitesubscriptionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitesubscription/pubsublitesubscriptionbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitetopic/pubsublitetopicbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1alpha1/pubsublitetopic/pubsublitetopicbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1beta1/pubsublitereservation/_http.log
Labels: lgtm, approved

#1521 refactor: add a jitter generator
  cmd/deletiondefender/main.go
  cmd/unmanageddetector/main.go
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples_test.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller.go
  pkg/controller/config.go
  pkg/controller/dcl/controller.go
  pkg/controller/direct/apikeys/apikeyskey_controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/resourcemanager/tagkey_controller.go
  pkg/controller/gsakeysecretgenerator/gsakey_secret_generator.go
  pkg/controller/gsakeysecretgenerator/service_account_key_integration_test.go
  pkg/controller/iam/auditconfig/iamauditconfig_controller.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
  pkg/controller/jitter/jitter.go
  pkg/controller/jitter/jitter_test.go
  pkg/controller/kccmanager/kccmanager.go
  pkg/controller/registration/registration_controller.go
  pkg/controller/tf/controller.go
  pkg/test/controller/reconciler/testreconciler.go
  pkg/test/jitter/jitter.go
Labels: lgtm, approved

#1500 mockgcp: improve StorageBucket mock
  mockgcp/Makefile
  mockgcp/apis/mockgcp/storage/v1/service.proto
  mockgcp/common/httpmux/errors.go
  mockgcp/common/httpmux/filterbody.go
  mockgcp/common/httpmux/mux.go
  mockgcp/common/httpmux/options.go
  mockgcp/generated/mockgcp/storage/v1/service.pb.go
  mockgcp/generated/mockgcp/storage/v1/service.pb.gw.go
  mockgcp/generated/mockgcp/storage/v1/service_grpc.pb.go
  mockgcp/generated/mockgcp/storage/v1/storage.pb.go
  mockgcp/generated/mockgcp/storage/v1/storage_resources.pb.go
  mockgcp/mockmonitoring/service.go
  mockgcp/mockstorage/bucket.go
  mockgcp/mockstorage/objects.go
  mockgcp/mockstorage/service.go
  mockgcp/mockstorage/utils.go
  mockgcp/mockstorage/v1.go
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagebucket/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagebucketaccesscontrol/_http.log
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/storagebucket/_http.log
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1565 Plan CR status implementation
  experiments/compositions/composition/Dockerfile
  experiments/compositions/composition/api/v1alpha1/composition_types.go
  experiments/compositions/composition/api/v1alpha1/plan_types.go
  experiments/compositions/composition/api/v1alpha1/zz_generated.deepcopy.go
  experiments/compositions/composition/config/crd/bases/composition.google.com_compositions.yaml
  experiments/compositions/composition/config/crd/bases/composition.google.com_plans.yaml
  experiments/compositions/composition/internal/controller/expander_applier.go
  experiments/compositions/composition/internal/controller/expander_reconciler.go
  experiments/compositions/composition/pkg/containerexecutor/jobcontainerexecutor/jobcontainerrunner.go
  experiments/compositions/composition/release/kind/crds.yaml
  experiments/compositions/composition/release/kind/operator.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorExpansionFailed/composition_fixed.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorExpansionFailed/input.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorExpansionFailed/output.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorFailedApplyingManifests/composition_fixed.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorFailedApplyingManifests/input.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorFailedApplyingManifests/output.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorFailedLoadingManifestsFromPlan/composition_fixed.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorFailedLoadingManifestsFromPlan/input.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusErrorFailedLoadingManifestsFromPlan/output.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusWaitingForValues/configmap_with_data.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusWaitingForValues/input.yaml
  experiments/compositions/composition/tests/data/TestSimplePlanStatusWaitingForValues/output.yaml
  experiments/compositions/composition/tests/testcases/simple_test.go
  experiments/compositions/composition/tests/utils/utils.go
Labels: lgtm, approved

#1575 tests: Split github actions jobs for tests/e2e
  .github/workflows/presubmit.yaml
  scripts/github-actions/tests-e2e-fixtures
  scripts/github-actions/tests-e2e-samples
Labels: lgtm, approved

#1471 Provide an option to inherit Facade namespace for all objects
  experiments/compositions/composition/api/v1alpha1/composition_types.go
  experiments/compositions/composition/config/crd/bases/composition.google.com_compositions.yaml
  experiments/compositions/composition/internal/controller/expander_applier.go
  experiments/compositions/composition/internal/controller/expander_reconciler.go
  experiments/compositions/composition/release/kind/crds.yaml
  experiments/compositions/composition/release/kind/operator.yaml
  experiments/compositions/composition/tests/data/TestSimpleNamespaceExplicit/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleNamespaceExplicit/output.yaml
  experiments/compositions/composition/tests/data/TestSimpleNamespaceInherit/input.yaml
  experiments/compositions/composition/tests/data/TestSimpleNamespaceInherit/output.yaml
  experiments/compositions/composition/tests/testcases/simple_test.go
Labels: lgtm, approved

#1560 chore: generate logginglogmetric krm exports
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/explicitlogmetric/_generated_object_explicitlogmetric.golden.yaml
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/exponentiallogmetric/_generated_object_exponentiallogmetric.golden.yaml
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogmetric/linearlogmetric/_generated_object_linearlogmetric.golden.yaml
Labels: lgtm, approved

#1585 fix:tests: use actual jitter generator
  pkg/test/controller/reconciler/testreconciler.go
Labels: lgtm, approved

#1583 add jiefenghe to OWNERS
  OWNERS
Labels: lgtm, approved

#1587 chore: update hack scripts to generate golden objects
  hack/compare-mock
  hack/record-gcp
Labels: lgtm, approved

#1567 mockgcp: initial support for CloudRedisInstance
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/common/operations/operations.go
  mockgcp/generated/mockgcp/cloud/common/operation_metadata.pb.go
  mockgcp/generated/mockgcp/cloud/redis/v1beta1/cloud_redis.pb.go
  mockgcp/generated/mockgcp/cloud/redis/v1beta1/cloud_redis.pb.gw.go
  mockgcp/generated/mockgcp/cloud/redis/v1beta1/cloud_redis_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockredis/instance.go
  mockgcp/mockredis/service.go
  pkg/test/resourcefixture/testdata/basic/redis/v1beta1/redisinstance/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1599 tests: use cmp.Diff for golden object check
  pkg/test/utils.go
Labels: lgtm, approved

#1603 vcr: Add README for vcr testing
  tests/README.VCRTesting.md
Labels: lgtm, approved

#1610 Composition Samples for user guide
  experiments/compositions/demo/README.md
  experiments/compositions/demo/cleanup_admin_compositions.sh
  experiments/compositions/demo/context.yaml
  experiments/compositions/demo/get_allotrope_objects.sh
  experiments/compositions/demo/setup.sh
  experiments/compositions/dev-setup/poc_setup.sh
  experiments/compositions/samples/AppTeam/README.md
  experiments/compositions/samples/AppTeam/cleanup_appteam.sh
  experiments/compositions/samples/AppTeam/composition/appteam.yaml
  experiments/compositions/samples/AppTeam/facades/appteam-clearing.yaml
  experiments/compositions/samples/AppTeam/facades/appteam-margin.yaml
  experiments/compositions/samples/AppTeam/get_appteam.sh
  experiments/compositions/samples/CloudSQL/README.md
  experiments/compositions/samples/CloudSQL/cleanup_cloudsql.sh
  experiments/compositions/samples/CloudSQL/composition/hasql.yaml
  experiments/compositions/samples/CloudSQL/facades/cloudsql-collateral.yaml
  experiments/compositions/samples/CloudSQL/facades/cloudsql-risk.yaml
  experiments/compositions/samples/CloudSQL/get_cloudsql.sh
  experiments/compositions/samples/README.md
Labels: lgtm, approved

#1612 mockgcp: Mock AlloyDBCluster
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/alloydb/v1beta/resources.pb.go
  mockgcp/generated/mockgcp/cloud/alloydb/v1beta/service.pb.go
  mockgcp/generated/mockgcp/cloud/alloydb/v1beta/service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/alloydb/v1beta/service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/secretmanager/v1/resources.pb.go
  mockgcp/generated/mockgcp/cloud/secretmanager/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/secretmanager/v1/service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockalloydb/cluster.go
  mockgcp/mockalloydb/names.go
  mockgcp/mockalloydb/service.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/basicalloydbcluster/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1615 doc: fix the broken links in new resource guide
  README.NewResourceFromTerraform.md
Labels: lgtm, approved

#1616 doc: add a note on running make test
  README.NewResourceFromTerraform.md
Labels: lgtm, approved

#1282 mockgcp: support VertexAIDataset
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/annotation.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/annotation_spec.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/data_item.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/dataset.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/dataset_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/dataset_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/dataset_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/dataset_version.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/io.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/saved_query.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/user_action_reference.pb.go
  mockgcp/mockaiplatform/dataset.go
  mockgcp/mockaiplatform/service.go
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaidataset/vertexaidatasetbasic/_http.log
Labels: lgtm, approved

#1594 tests: handle a nil object when normalizing responses
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1589 Add MockGcp for GkeHubFeature
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/configmanagement/configmanagement.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/feature.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/metering/metering.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/multiclusteringress/multiclusteringress.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/service.pb.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/gkehub/v1beta/service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockgkehub/gkehubfeature.go
  mockgcp/mockgkehub/names.go
  mockgcp/mockgkehub/service.go
  mockgcp/mockserviceusage/knownservices.go
  pkg/test/controller/k8s.go
  pkg/test/gcp/gcp.go
Labels: lgtm, approved

#1562 enh: Use gotestsum to provide better unit test output
  .github/workflows/presubmit.yaml
  operator/Makefile
  scripts/github-actions/ga-unit-test.sh
  scripts/unit-test.sh
Labels: lgtm, approved

#1371 Add test case for cluster-level state-into-spec override
  operator/pkg/k8s/constants.go
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/k8s/meta.go
  pkg/k8s/meta_test.go
  pkg/test/resourcefixture/testdata/stateabsentinspec/clusterleveloverride/create.yaml
  pkg/test/resourcefixture/testdata/stateabsentinspec/clusterleveloverride/dependencies.yaml
  pkg/test/resourcefixture/testdata/stateabsentinspec/clusterleveloverride/update.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved, tide/merge-method-squash

#1630 mockgcp: update IAMServiceAccount mock for more fidelity
  mockgcp/mockiam/serviceaccounts.go
  pkg/test/resourcefixture/testdata/basic/iam/v1beta1/iamserviceaccount/_http.log
Labels: lgtm, approved

#1600 tests: relax panic on record
  pkg/test/http_recorder.go
Labels: lgtm, approved

#1636 doc: fix resource name for vertex AI dataset
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/vertexai/vertexaidataset.md
  scripts/generate-google3-docs/resource-reference/templates/vertexai_vertexaidataset.tmpl
Labels: lgtm, approved

#1446 tests: run create/delete in order when we're doing golden testing
  config/tests/samples/create/samples.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1571 tests: Try a longer per-test timeout in unified_test
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1543 tests: Add a simple test to verify that we don't have fooUrlRef
  tests/apichecks/crds_test.go
Labels: lgtm, approved

#1629 tests: CompareGoldenObject should follow the golden output pattern
  pkg/test/utils.go
Labels: lgtm, approved

#1492 mockgcp: update MonitoringDashboard
  mockgcp/mockmonitoring/dashboard.go
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringdashboard/_http.log
Labels: lgtm, approved

#1577 docs: Create release notes for 1.116
  docs/releasenotes/release-1.116.md
  docs/releasenotes/release-1.117.md
Labels: lgtm, approved

#1642 Temporarily skip alloydb instance sample tests
  config/tests/samples/create/samples_test.go
Labels: lgtm, approved

#1624 refactor: stage gostructs as sot for logMetric
  apis/apis.go
  apis/resources/logging/v1beta1/logmetric_types.go
  apis/resources/logging/v1beta1/register.go
  apis/resources/logging/v1beta1/zz_generated.deepcopy.go
Labels: lgtm, approved, tide/merge-method-squash

#1499 feat: add direct logMetric
  .github/workflows/presubmit.yaml
  pkg/controller/direct/logging/client.go
  pkg/controller/direct/logging/logmetric_controller.go
  pkg/controller/direct/logging/utils.go
  pkg/controller/registration/registration_controller.go
  pkg/test/utils.go
  scripts/github-actions/tests-e2e-direct.sh
Labels: lgtm, approved

#1623 vcr: remove running and pending operations in vcr record
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbcluster/fullalloydbcluster/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/apikeys/v1alpha1/apikeyskey/apikeyskeybasic/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/artifactregistry/v1beta1/artifactregistryrepository/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigqueryjob/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificatemapentry/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/cloudfunctions/v1beta1/cloudfunctionsfunction/httpsfunction/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/cloudscheduler/v1beta1/cloudschedulerjob/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/cloudscheduler/v1beta1/cloudschedulerjob/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/containeranalysis/v1beta1/containeranalysisnote/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/dataproc/v1beta1/dataproccluster/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/dlp/v1beta1/dlpstoredinfotype/cloudstoragepathstoredinfotype/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/dns/v1beta1/dnsrecordset/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/eventarc/v1beta1/eventarctrigger/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/eventarc/v1beta1/eventarctrigger/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoreindex/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/iam/v1beta1/iamworkloadidentitypoolprovider/oidcworkloadidentitypoolprovider/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/identityplatform/v1beta1/identityplatformoauthidpconfig/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmscryptokey/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogview/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/monitoring/v1beta1/monitoringalertpolicy/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1beta1/networkconnectivityhub/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/networkservices/v1beta1/networkservicesgrpcroute/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/networkservices/v1beta1/networkservicesgrpcroute/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/osconfig/v1beta1/osconfigguestpolicy/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/osconfig/v1beta1/osconfigguestpolicy/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/pubsublite/v1beta1/pubsublitereservation/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/recaptchaenterprise/v1beta1/recaptchaenterprisekey/androidrecaptchaenterprisekey/_vcr_cassettes/dcl.yaml
  pkg/test/resourcefixture/testdata/basic/run/v1beta1/runservice/runservicebasic/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/servicedirectory/v1beta1/servicedirectorynamespace/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/servicenetworking/v1beta1/servicenetworkingconnection/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/serviceusage/v1beta1/service/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/sourcerepo/v1beta1/sourcereporepository/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_vcr_cassettes/tf.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqluser/_vcr_cassettes/tf.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1230 mockgcp: Support for bigquery DataSet
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/apis/mockgcp/cloud/bigquery/v2/api.proto
  mockgcp/common/httpmux/filterbody.go
  mockgcp/generated/mockgcp/cloud/bigquery/v2/api.pb.go
  mockgcp/generated/mockgcp/cloud/bigquery/v2/api.pb.gw.go
  mockgcp/generated/mockgcp/cloud/bigquery/v2/api_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbigquery/datasets.go
  mockgcp/mockbigquery/service.go
  mockgcp/mockbigquery/utils.go
  mockgcp/mockstorage/service.go
  mockgcp/tools/gapic/pkg/protogen/convert.go
  mockgcp/tools/gapic/pkg/protogen/render.go
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_generated_export_basicbigquerydataset.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_generated_object_basicbigquerydataset.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/basicbigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/_generated_export_bigquerydatasetaccessblock.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/_generated_object_bigquerydatasetaccessblock.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/bigquerydatasetaccessblock/_http.log
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/bigquerydataset/_generated_export_bigquerydataset.golden
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/bigquerydataset/_generated_object_bigquerydataset.golden.yaml
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/bigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/stateabsentinspec/bigquerydataset/_generated_export_bigquerydataset#01.golden
  pkg/test/resourcefixture/testdata/stateabsentinspec/bigquerydataset/_generated_object_bigquerydataset#01.golden.yaml
  pkg/test/resourcefixture/testdata/stateabsentinspec/bigquerydataset/_http.log
  tests/e2e/normalize.go
  tests/e2e/objectnormalization.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#1581 vcr: GH presubmit job
  .github/workflows/presubmit.yaml
  config/tests/samples/create/harness.go
  pkg/test/resourcefixture/testdata/basic/memcache/v1beta1/memcacheinstance/_vcr_cassettes/oauth.yaml
  scripts/github-actions/tests-e2e-fixtures-vcr.sh
Labels: lgtm, approved

#1650 fix: Fix panic during export
  pkg/cli/outputsink/filename/filename.go
Labels: lgtm, approved

#1634 Add Tests to validate the sample scenarios
  experiments/compositions/composition/Makefile
  experiments/compositions/composition/internal/controller/expander_applier.go
  experiments/compositions/composition/release/cc/operator.yaml
  experiments/compositions/composition/release/crds.yaml
  experiments/compositions/composition/release/facade_crds.yaml
  experiments/compositions/composition/test/case1/expanded
  experiments/compositions/composition/tests/cluster/cluster.go
  experiments/compositions/composition/tests/cluster/configcontroller/cluster.go
  experiments/compositions/composition/tests/cluster/kind/cluster.go
  experiments/compositions/composition/tests/scenario/scenario.go
  experiments/compositions/composition/tests/testcases/kcc_samples_test.go
  experiments/compositions/composition/tests/testcases/main_test.go
  experiments/compositions/composition/tests/testcases/simple_test.go
  experiments/compositions/composition/tests/testclient/client.go
  experiments/compositions/composition/tests/utils/utils.go
  experiments/compositions/dev-setup/poc_setup.sh
  experiments/compositions/samples/AppTeam/README.md
  experiments/compositions/samples/AppTeam/cleanup_appteam.sh
  experiments/compositions/samples/AppTeam/composition/appteam.yaml
  experiments/compositions/samples/AppTeam/facades/appteam-clearing.yaml
  experiments/compositions/samples/AppTeam/facades/appteam-margin.yaml
  experiments/compositions/samples/AppTeam/get_appteam.sh
  experiments/compositions/samples/CloudSQL/README.md
  experiments/compositions/samples/CloudSQL/composition/hasql.yaml
  experiments/compositions/samples/CloudSQL/facades/cloudsql-collateral.yaml
  experiments/compositions/samples/CloudSQL/facades/cloudsql-risk.yaml
Labels: lgtm, approved

#1644 enh: Rate-limit requeues on IAMPartialPolicy
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/ratelimiter/ratelimiter.go
Labels: lgtm, approved

#1649 tests: set/unset scenarios for logMetric
  pkg/controller/direct/logging/logmetric_controller.go
  scripts/github-actions/tests-e2e-direct.sh
  tests/e2e/httplog.go
  tests/e2e/script_test.go
  tests/e2e/testdata/scenarios/direct/llm_set_unset/SCENARIO_README.MD
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/_http00.log
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/_http01.log
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/_http02.log
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/_object00.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/_object01.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/_object02.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/basic/script.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/_http00.log
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/_http01.log
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/_http02.log
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/_object00.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/_object01.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/_object02.yaml
  tests/e2e/testdata/scenarios/direct/llm_set_unset/metric_descriptor/script.yaml
Labels: lgtm, approved

#1324 Promote VertexAIEndpoint v1alpha1 to v1beta1
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vertexaiendpoints.vertexai.cnrm.cloud.google.com.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-encryptionkey/iam_v1beta1_iampolicymember.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-encryptionkey/kms_v1beta1_kmscryptokey.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-encryptionkey/kms_v1beta1_kmskeyring.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-encryptionkey/vertexai_v1beta1_vertexaiendpoint.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-network/compute_v1beta1_computeaddress.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-network/compute_v1beta1_computenetwork.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-network/servicenetworking_v1beta1_servicenetworkingconnection.yaml
  config/samples/resources/vertexaiendpoint/vertexai-endpoint-network/vertexai_v1beta1_vertexaiendpoint.yaml
  config/servicemappings/vertexai.yaml
  pkg/clients/generated/apis/vertexai/v1alpha1/register.go
  pkg/clients/generated/apis/vertexai/v1alpha1/vertexaiendpoint_types.go
  pkg/clients/generated/apis/vertexai/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/apis/vertexai/v1beta1/register.go
  pkg/clients/generated/apis/vertexai/v1beta1/vertexaiendpoint_types.go
  pkg/clients/generated/apis/vertexai/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1alpha1/fake/fake_vertexai_client.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1alpha1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1alpha1/vertexai_client.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1beta1/fake/fake_vertexai_client.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1beta1/fake/fake_vertexaiendpoint.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1beta1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1beta1/vertexai_client.go
  pkg/clients/generated/client/clientset/versioned/typed/vertexai/v1beta1/vertexaiendpoint.go
  pkg/resourceskeleton/testdata/asset-skeleton.yaml
  pkg/resourceskeleton/testdata/uri-skeleton.yaml
  pkg/snippet/snippetgeneration/snippetgeneration.go
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointencryptionkey/create.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointencryptionkey/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointencryptionkey/update.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointnetwork/create.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointnetwork/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointnetwork/update.yaml
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/vertexai/vertexaiendpoint.md
  scripts/generate-google3-docs/resource-reference/overview.md
  scripts/generate-google3-docs/resource-reference/templates/vertexai_vertexaiendpoint.tmpl
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/vertexai/resource_vertex_ai_endpoint.go
Labels: lgtm, approved

#1657 Ignore record_gcp artifact
  .gitignore
Labels: lgtm, approved

#1611 Add mockgcp Cloud sql v1beta4.
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql.pb.gw.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_connect.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_connect.pb.gw.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_connect_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_iam_policies.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_iam_policies_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_resources.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_tiers.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_tiers.pb.gw.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_tiers_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_users.pb.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_users.pb.gw.go
  mockgcp/generated/mockgcp/cloud/sql/v1beta4/cloud_sql_users_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mocksql/operations_store.go
  mockgcp/mocksql/service.go
  mockgcp/mocksql/sqlinstance.go
  mockgcp/mocksql/sqloperations.go
  mockgcp/mocksql/sqluser.go
  mockgcp/mocksql/utils.go
Labels: lgtm, approved

#1605 chore: tool to add advanced OpenAPI validation for our ResourceRefs
  scripts/add-validation-to-crds/parse-crds.go
Labels: lgtm, approved

#1489 Add unit tests for state-into-spec defaulter
  operator/pkg/kccstate/kccstate.go
  operator/pkg/kccstate/kccstate_test.go
  operator/pkg/test/main/testmain.go
  pkg/controller/dcl/controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/iam/auditconfig/iamauditconfig_controller.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
  pkg/controller/tf/controller.go
  pkg/k8s/defaulter.go
  pkg/k8s/state_into_spec_annotation.go
  pkg/k8s/state_into_spec_annotation_test.go
  pkg/k8s/stateintospecdefaulter.go
  pkg/k8s/stateintospecdefaulter_test.go
Labels: lgtm, approved, tide/merge-method-squash
