Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2024-09, with the labels that each got.

#2605 Compositions: Fix manual install version
  experiments/compositions/composition/release/manifest.yaml
Labels: lgtm, approved

#2583 MockGCP: Support for ComputeServiceAttachment
  Makefile
  config/tests/samples/create/harness.go
  hack/record-gcp
  mockgcp/mockcompute/regionalserviceattachmentv1.go
  mockgcp/mockcompute/service.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_generated_object_regionalforwardingrulepsc.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_generated_object_computeserviceattachment.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_http.log
  scripts/github-actions/tests-e2e-samples
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:compute

#2604 tests: refactor to share code for removing extra events
  pkg/test/eventsink.go
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/streamingdataflowflextemplatejob/_http.log
  tests/e2e/httplog.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2598 tool: mark resourceID as immutable field in template
  dev/tools/controllerbuilder/template/apis/types.go
Labels: lgtm, approved

#2608 refactor: have compare-mock call into run-e2e
  hack/compare-mock
Labels: lgtm, approved

#2589 tests: enable some services in e2e
  dev/tasks/create-test-project
Labels: lgtm, approved

#2594 fix: Delete mysql root user after creation
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-mysql/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqluser/_http.log
  pkg/test/resourcefixture/testdata/iammemberreferences/sqlinstanceref/_http.log
Labels: lgtm, approved

#2601 fix: Skip testNoChangeAfterUpdate if update resource is empty
  pkg/controller/dynamic/dynamic_controller_integration_test.go
Labels: lgtm, approved

#2616 fix: Add go.work.sum to gitignore
  .gitignore
  go.sum
  go.work.sum
Labels: lgtm, approved

#2623 Temporarily skip compute service attachment tests
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#2627 Support acronym 'IAM' in CRD check test
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#2622 chore: fix formatting of recorder error message
  cmd/recorder/main.go
Labels: lgtm, approved

#2573 feat: generate types for BigQueryDataTransferConfig
  apis/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig_types.go
  apis/bigquerydatatransfer/v1alpha1/doc.go
  apis/bigquerydatatransfer/v1alpha1/groupversion_info.go
  apis/bigquerydatatransfer/v1alpha1/types.generated.go
  apis/bigquerydatatransfer/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/bigqueryref.go
  apis/refs/v1beta1/pubsubref.go
  dev/tasks/generate-crds
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/pkg/commands/updatetypes/updatetypescommand.go
  dev/tools/controllerbuilder/pkg/protoapi/loader.go
Labels: lgtm, approved

#2631 recorder: watch CRDs instead of using a static list
  cmd/recorder/kube/dynamic_watch.go
  cmd/recorder/kube/kubeview.go
  cmd/recorder/kube/target.go
  cmd/recorder/main.go
Labels: lgtm, approved

#2613 tool: remove unnecessary optional annotation in template
  dev/tools/controllerbuilder/template/apis/types.go
Labels: lgtm, approved

#2634 Add changes to all immutable fields in update.yaml for
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/_generated_object_certificatemanagerdnsauthorization-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-minimal/_generated_object_certificatemanagerdnsauthorization-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-minimal/update.yaml
Labels: lgtm, approved

#2643 tests: use a longer timeout in (real) e2e tests
  dev/ci/periodics/_create_project_and_run_e2e
  dev/tasks/run-e2e
Labels: lgtm, approved

#2511 tools: auto insert the generated field and messaged from a new proto field
  dev/tools/controllerbuilder/go.mod
  dev/tools/controllerbuilder/go.sum
  dev/tools/controllerbuilder/pkg/commands/updatetypes/insertfield-ast.go
  dev/tools/controllerbuilder/pkg/commands/updatetypes/insertfield-gemini.go
  dev/tools/controllerbuilder/pkg/commands/updatetypes/insertmessage-ast.go
  dev/tools/controllerbuilder/pkg/commands/updatetypes/insertmessage-gemini.go
  dev/tools/controllerbuilder/pkg/commands/updatetypes/updatetypescommand.go
  dev/tools/controllerbuilder/pkg/gocode/docmap.go
  dev/tools/controllerbuilder/update.sh
Labels: lgtm, approved

#2648 tests: turn off VCR tests for SQLUser
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#2647 fix: Skip checking for diffs in resource reference fields
  pkg/controller/dynamic/dynamic_controller_integration_test.go
Labels: lgtm, approved

#2599 direct: Generate crd and upload status.externalRef
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  dev/tasks/generate-crds
  pkg/clients/generated/apis/compute/v1beta1/computeforwardingrule_types.go
  pkg/clients/generated/apis/compute/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/compute/forwardingrule_externalresource.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_generated_object_globalcomputeforwardingrule.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_generated_object_regionalcomputeforwardingrule.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_generated_object_regionalforwardingrulepsc.golden.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
Labels: lgtm, approved, service:compute

#2651 fix: Update sqlinstance-authorizednetworks timestamp format
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/_generated_object_sqlinstance-authorizednetworks.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-authorizednetworks/update.yaml
Labels: lgtm, approved

#2655 docs:mockgcp: Update README.md
  mockgcp/README.md
Labels: lgtm, approved

#2656 mockgcp: improve cloud build worder pool
  mockgcp/mockcloudbuild/workerpool.go
  pkg/test/resourcefixture/testdata/basic/cloudbuild/v1beta1/cloudbuildworkerpool/_http.log
Labels: lgtm, approved

#2645 feat: allow users to opt-in to direct reconciliation
  pkg/controller/dcl/controller.go
  pkg/controller/direct/monitoring/utils.go
  pkg/controller/direct/registry/registry.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/controller/predicate/optin.go
  pkg/controller/registration/registration_controller.go
  pkg/controller/tf/controller.go
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_generated_object_batchdataflowflextemplatejob-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/dependencies.yaml
  tests/e2e/httplog.go
Labels: lgtm, approved

#2633 feat: add mappings for BigQueryDataTransferConfig
  dev/tools/controllerbuilder/generate.sh
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  go.mod
  go.sum
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransfer_mappings.go
  pkg/controller/direct/bigquerydatatransfer/mapper.generated.go
  pkg/controller/direct/cloudbuild/workerpool_mappings.go
  pkg/controller/direct/maputils.go
Labels: lgtm, approved

#2662 chore: improve controller builder to align flags
  dev/tools/controllerbuilder/cmd/root.go
  dev/tools/controllerbuilder/template/controller.go
  dev/tools/controllerbuilder/template/externalresource.go
Labels: lgtm, approved

#2666 chore: Change `KCC` in field description to `Config Connector`
  apis/refs/v1beta1/alertpolicyref.go
  apis/refs/v1beta1/computerefs.go
  apis/refs/v1beta1/projectref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_apikeyskeys.apikeys.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudbuildworkerpools.cloudbuild.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataflowflextemplatejobs.dataflow.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataformrepositories.dataform.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_logginglogmetrics.logging.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_monitoringdashboards.monitoring.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkconnectivityserviceconnectionpolicies.networkconnectivity.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_redisclusters.redis.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerinstances.securesourcemanager.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/monitoring/v1beta1/monitoringdashboard_types.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudbuild/cloudbuildworkerpool.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dataflow/dataflowflextemplatejob.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/logging/logginglogmetric.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/monitoring/monitoringdashboard.md
Labels: lgtm, approved

#2653 Add test case for SQLInstance SSL configuration
  mockgcp/mocksql/sqlinstance.go
  pkg/test/resourcefixture/contexts/sql_context.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-encryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl/_generated_object_sqlinstance-ssl.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-ssl/update.yaml
Labels: lgtm, approved

#2642 Add direct reconciler for FirestoreDatabase
  apis/firestore/v1alpha1/doc.go
  apis/firestore/v1alpha1/firestoredatabase_types.go
  apis/firestore/v1alpha1/groupversion_info.go
  apis/firestore/v1alpha1/types.generated.go
  apis/firestore/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_firestoredatabases.firestore.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  dev/tools/controllerbuilder/generate.sh
  dev/tools/proto-to-mapper/Makefile
  go.mod
  go.sum
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/firestore/admin/v1/backup.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/database.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/field.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin.pb.gw.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin_grpc.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/index.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/location.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/operation.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/schedule.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockfirestore/database.go
  mockgcp/mockfirestore/service.go
  pkg/clients/generated/apis/firestore/v1alpha1/doc.go
  pkg/clients/generated/apis/firestore/v1alpha1/firestoredatabase_types.go
  pkg/clients/generated/apis/firestore/v1alpha1/register.go
  pkg/clients/generated/apis/firestore/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/fake_firestore_client.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/fake_firestoredatabase.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/firestore_client.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/firestoredatabase.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/generated_expansion.go
  pkg/controller/direct/firestore/client.go
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/direct/firestore/firestoredatabase_externalresource.go
  pkg/controller/direct/firestore/firestoredatabase_mappings.go
  pkg/controller/direct/firestore/mapper.generated.go
  pkg/controller/direct/maputils.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/_generated_object_firestoredatabase-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/_http.log
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/_generated_object_firestoredatabase-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/create.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:firestore

#2671 Revert "Add direct reconciler for FirestoreDatabase"
  apis/firestore/v1alpha1/doc.go
  apis/firestore/v1alpha1/firestoredatabase_types.go
  apis/firestore/v1alpha1/groupversion_info.go
  apis/firestore/v1alpha1/types.generated.go
  apis/firestore/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_firestoredatabases.firestore.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  dev/tools/controllerbuilder/generate.sh
  dev/tools/proto-to-mapper/Makefile
  go.mod
  go.sum
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/firestore/admin/v1/backup.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/database.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/field.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin.pb.gw.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin_grpc.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/index.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/location.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/operation.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/schedule.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockfirestore/database.go
  mockgcp/mockfirestore/service.go
  pkg/clients/generated/apis/firestore/v1alpha1/doc.go
  pkg/clients/generated/apis/firestore/v1alpha1/firestoredatabase_types.go
  pkg/clients/generated/apis/firestore/v1alpha1/register.go
  pkg/clients/generated/apis/firestore/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/fake_firestore_client.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/fake_firestoredatabase.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/firestore_client.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/firestoredatabase.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/generated_expansion.go
  pkg/controller/direct/firestore/client.go
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/direct/firestore/firestoredatabase_externalresource.go
  pkg/controller/direct/firestore/firestoredatabase_mappings.go
  pkg/controller/direct/firestore/mapper.generated.go
  pkg/controller/direct/maputils.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/_generated_object_firestoredatabase-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/_http.log
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/_generated_object_firestoredatabase-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/create.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2672 fix: write finalizers eagerly in direct controller
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/k8s/finalizers.go
Labels: lgtm, approved

#2670 tests: add e2e job for cloudkms
  dev/ci/periodics/e2e-service-cloudkms
  dev/tasks/create-test-project
Labels: lgtm, approved

#2644 doc: Add 1.122 release note
  docs/releasenotes/release-1.122.md
  docs/releasenotes/release-1.123.md
Labels: lgtm, approved

#2673 Revert "Revert "Add direct reconciler for FirestoreDatabase""
  apis/firestore/v1alpha1/doc.go
  apis/firestore/v1alpha1/firestoredatabase_types.go
  apis/firestore/v1alpha1/groupversion_info.go
  apis/firestore/v1alpha1/types.generated.go
  apis/firestore/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_firestoredatabases.firestore.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  dev/tools/controllerbuilder/generate.sh
  dev/tools/proto-to-mapper/Makefile
  go.mod
  go.sum
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/firestore/admin/v1/backup.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/database.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/field.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin.pb.gw.go
  mockgcp/generated/mockgcp/firestore/admin/v1/firestore_admin_grpc.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/index.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/location.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/operation.pb.go
  mockgcp/generated/mockgcp/firestore/admin/v1/schedule.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockfirestore/database.go
  mockgcp/mockfirestore/service.go
  pkg/clients/generated/apis/firestore/v1alpha1/doc.go
  pkg/clients/generated/apis/firestore/v1alpha1/firestoredatabase_types.go
  pkg/clients/generated/apis/firestore/v1alpha1/register.go
  pkg/clients/generated/apis/firestore/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/fake_firestore_client.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/fake/fake_firestoredatabase.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/firestore_client.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/firestoredatabase.go
  pkg/clients/generated/client/clientset/versioned/typed/firestore/v1alpha1/generated_expansion.go
  pkg/controller/direct/firestore/client.go
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/direct/firestore/firestoredatabase_externalresource.go
  pkg/controller/direct/firestore/firestoredatabase_mappings.go
  pkg/controller/direct/firestore/mapper.generated.go
  pkg/controller/direct/maputils.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/_generated_object_firestoredatabase-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/_http.log
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/_generated_object_firestoredatabase-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/firestore/v1beta1/firestoredatabase/firestoredatabase-minimal/create.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2676 tests: direct changes
  config/tests/servicemapping/servicemapping_test.go
  pkg/k8s/allowlist_test.go
Labels: lgtm, approved

#2680 Exclude securesourcemanagerinstance during direct CRD generation
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerinstances.securesourcemanager.cnrm.cloud.google.com.yaml
  dev/tasks/generate-crds
  pkg/clients/generated/apis/securesourcemanager/group.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/doc.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/register.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/securesourcemanagerinstance_types.go
  pkg/clients/generated/apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/fake/fake_securesourcemanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/fake/fake_securesourcemanagerinstance.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/generated_expansion.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/securesourcemanager_client.go
  pkg/clients/generated/client/clientset/versioned/typed/securesourcemanager/v1alpha1/securesourcemanagerinstance.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#2682 tests: fix streamingdataflowflextemplatejob
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/streamingdataflowflextemplatejob/_generated_object_streamingdataflowflextemplatejob.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/streamingdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/streamingdataflowflextemplatejob/create.yaml
Labels: lgtm, approved

#2683 fix: Enable firestore service in postsubmit tests
  dev/tasks/create-test-project
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#2687 chore: fix generate.sh
  dev/tools/controllerbuilder/generate.sh
Labels: lgtm, approved

#2635 Support Mock Compute TargetTcpProxy
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/globaltargettcpproxyv1.go
  mockgcp/mockcompute/service.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/_generated_object_globalcomputeforwardingruletcp.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/_generated_object_computetargettcpproxy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargettcpproxy/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:compute

#2679 Support Mock Compute TargetHttpsProxy
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/globaltargethttpsproxiesv1.go
  mockgcp/mockcompute/regionaltargethttpsproxiesv1.go
  mockgcp/mockcompute/service.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/_generated_object_globalcomputeforwardingrulehttps.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/crossregiontargethttpsproxy/_generated_object_crossregiontargethttpsproxy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/crossregiontargethttpsproxy/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy-certmap/_generated_object_globaltargethttpsproxy-certmap.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy-certmap/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy-certmap/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy-certmap/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy-certmap/update.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy/_generated_object_globaltargethttpsproxy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxy/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxycertificatemanagercertificates/_generated_object_globaltargethttpsproxycertificatemanagercertificates.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxycertificatemanagercertificates/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxycertificatemap/_generated_object_globaltargethttpsproxycertificatemap.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/globaltargethttpsproxycertificatemap/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/regionaltargethttpsproxy/_generated_object_regionaltargethttpsproxy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computetargethttpsproxy/regionaltargethttpsproxy/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:compute

#2689 Add FuzzComputeForwardingRuleSpec test
  dev/tasks/find-missing-fields
  pkg/controller/direct/compute/mapper.generated.go
  pkg/controller/direct/compute/roundtrip_test.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved, service:compute

#2691 chore: improve controller-builder template and fix externalRef issues
  dev/tools/controllerbuilder/cmd/root.go
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/controller/controller.go
  dev/tools/controllerbuilder/template/controller/externalresource.go
Labels: lgtm, approved

#2694 test: Add full test case for global forwarding rule
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_generated_object_globalcomputeforwardingrulefull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/update.yaml
Labels: lgtm, approved

#2678 tests: roundtrip for DataformRepository
  dev/tasks/find-missing-fields
  pkg/controller/direct/dataform/repository_mappings.go
  pkg/controller/direct/dataform/roundtrip_test.go
Labels: lgtm, approved

#2693 feat: migrate BigQueryConnectionConnection from TF-based to Direct approach
  apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  apis/bigqueryconnection/v1alpha1/doc.go
  apis/bigqueryconnection/v1alpha1/groupversion_info.go
  apis/bigqueryconnection/v1alpha1/types.generated.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  crds/bigqueryconnection_v1alpha1_bigqueryconnectionconnection.yaml
  go.mod
  mockgcp/mockbigqueryconnection/connection.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_externalresource.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_generated_object_bigqueryconnectionconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_generated_object_bigqueryconnectionconnectionfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/update.yaml
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/e2e/normalize.go
Labels: lgtm, approved

#2696 chore: controller-template use gcp-client options && ToLower
  dev/tools/controllerbuilder/scaffold/controller.go
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#2685 ci: add fuzzer job
  .github/workflows/fuzz.yaml
Labels: lgtm, approved

#2699 Update mockgcp and tests for attached clusters.
  mockgcp/mockgkemulticloud/attachedcluster.go
  mockgcp/mockgkemulticloud/service.go
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/_generated_object_containerattachedclusterbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/update.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/_generated_object_containerattachedclusterfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/_http.log
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/create.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/update.yaml
Labels: lgtm, approved

#2684 Fix failing sql postsubmit tests
  pkg/controller/direct/sql/mapping.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference/_generated_object_sqlinstance-locationpreference.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-locationpreference/update.yaml
Labels: lgtm, approved

#2698 doc: require real GCP log for PR review
  docs/develop-resources/scenarios/migrate-tf-resource-alpha.md
  docs/develop-resources/scenarios/migrate-tf-resource-beta.md
  docs/develop-resources/scenarios/new-field.md
  docs/develop-resources/scenarios/new-resource.md
Labels: lgtm, approved

#2703 fix: Fix FirestoreDatabase postsubmit failures
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/test/resourcefixture/contexts/firestore_context.go
  pkg/test/resourcefixture/contexts/register.go
Labels: lgtm, approved

#2709 fix: Fix shouldSkipDriftDetection to handle direct resources
  pkg/controller/dynamic/dynamic_controller_integration_test.go
Labels: lgtm, approved

#2718 Deflake test using regional memberships
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_generated_object_basicacmgkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/basicacmgkehubfeaturemembership/update.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_generated_object_fullacmgkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullacmgkehubfeaturemembership/update.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_generated_object_meshgkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/meshgkehubfeaturemembership/update.yaml
Labels: lgtm, approved

#2665 feat: promote DataformRepository to beta
  apis/dataform/v1beta1/doc.go
  apis/dataform/v1beta1/groupversion_info.go
  apis/dataform/v1beta1/repository_types.go
  apis/dataform/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataformrepositories.dataform.cnrm.cloud.google.com.yaml
  config/samples/resources/dataformrepository/dataform_v1beta1_dataformrepository.yaml
  config/servicemappings/dataform.yaml
  pkg/clients/generated/apis/dataform/v1beta1/dataformrepository_types.go
  pkg/clients/generated/apis/dataform/v1beta1/doc.go
  pkg/clients/generated/apis/dataform/v1beta1/register.go
  pkg/clients/generated/apis/dataform/v1beta1/zz_generated.deepcopy.go
  pkg/clients/generated/client/clientset/versioned/clientset.go
  pkg/clients/generated/client/clientset/versioned/fake/clientset_generated.go
  pkg/clients/generated/client/clientset/versioned/fake/register.go
  pkg/clients/generated/client/clientset/versioned/scheme/register.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/dataform_client.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/dataformrepository.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/fake/doc.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/fake/fake_dataform_client.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/fake/fake_dataformrepository.go
  pkg/clients/generated/client/clientset/versioned/typed/dataform/v1beta1/generated_expansion.go
  pkg/controller/direct/dataform/repository_controller.go
  pkg/controller/direct/dataform/repository_mappings.go
  pkg/test/constants/presubmitconstants.go
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-base/_generated_object_dataformrepository-base.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-base/_http.log
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-base/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-base/update.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_generated_object_dataformrepository-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_http.log
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/update.yaml
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dataform/dataformrepository.md
  scripts/generate-google3-docs/resource-reference/overview.md
  scripts/generate-google3-docs/resource-reference/templates/dataform_dataformrepository.tmpl
Labels: lgtm, approved

#2720 (Part 1)Fix diffs in compute forwarding rule: operations
  mockgcp/mockcompute/globalforwardingrulesv1.go
  mockgcp/mockcompute/operations.go
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulessl/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
Labels: lgtm, approved, service:compute

#2710 Add Certificate Manager generated mapper
  go.mod
  go.sum
  pkg/controller/direct/certificatemanager/mapper.generated.go
Labels: lgtm, approved

#2721 chore: Upgrade checkout and setup-go action
  .github/workflows/presubmit.yaml
Labels: lgtm, approved

#2580 feat: better status updates for DataflowFlexTemplateJob
  pkg/controller/direct/dataflow/dataflowflextemplatejob_controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/directbase/operations.go
  pkg/test/resourcefixture/contexts/register.go
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_generated_object_batchdataflowflextemplatejob-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_http.log
Labels: lgtm, approved, service:dataflow

#2713 chore: refactor resource ref
  apis/bigqueryconnection/v1alpha1/connection_reference.go
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/interface.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_externalresource.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_generated_object_bigqueryconnectionconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_generated_object_bigqueryconnectionconnectionfull.golden.yaml
Labels: lgtm, approved

#2610 doc: add direct resource API validation guide
  docs/archive/README.NewResourceFromTerraform.md
  docs/develop-resources/README.md
  docs/develop-resources/api-conventions/validations.md
  docs/develop-resources/guides/1-add-mockgcp-tests.md
  docs/develop-resources/guides/2-define-apis.md
  docs/develop-resources/guides/4-add-controller.md
  docs/develop-resources/scenarios/alpha-to-beta.md
  docs/develop-resources/scenarios/migrate-tf-resource-alpha.md
  docs/develop-resources/scenarios/migrate-tf-resource-beta.md
  docs/develop-resources/scenarios/new-field.md
  docs/develop-resources/scenarios/new-resource.md
  docs/features/pause.md
  docs/releasenotes/release-1.114.md
  docs/releasenotes/release-1.119.md
  docs/releasenotes/release-1.120.md
  docs/releasenotes/release-1.121.md
Labels: lgtm, approved

#2714 mockgcp: stage BigLake
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/bigquery/biglake/v1/metastore.pb.go
  mockgcp/generated/mockgcp/cloud/bigquery/biglake/v1/metastore.pb.gw.go
  mockgcp/generated/mockgcp/cloud/bigquery/biglake/v1/metastore_grpc.pb.go
Labels: lgtm, approved

#2611 doc: add direct resource reference guide
  docs/develop-resources/api-conventions/resource-reference.md
Labels: lgtm, approved

#2729 fix: Compute service "External" value allows selfLink"
  apis/refs/v1beta1/computerefs.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudbuildworkerpools.cloudbuild.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataflowflextemplatejobs.dataflow.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkconnectivityserviceconnectionpolicies.networkconnectivity.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_redisclusters.redis.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_sqlinstances.sql.cnrm.cloud.google.com.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-backwardcompatible/_generated_object_sqlinstance-privatenetwork-backwardcompatible.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-backwardcompatible/_generated_object_sqlinstance-privatenetwork.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-backwardcompatible/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-backwardcompatible/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-backwardcompatible/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-privatenetwork-backwardcompatible/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudbuild/cloudbuildworkerpool.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/dataflow/dataflowflextemplatejob.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/sql/sqlinstance.md
Labels: lgtm, approved

#2732 docs: release notes update
  docs/releasenotes/release-1.123.md
Labels: lgtm, approved

#2731 fix: Enable TF-based reconciler for SQLInstances without clone source
  apis/sql/v1beta1/sqlinstance_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_sqlinstances.sql.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/sql/v1beta1/sqlinstance_types.go
  pkg/controller/registration/registration_controller.go
  scripts/github-actions/tests-e2e-fixtures-vcr.sh
Labels: lgtm, approved

#2636 Add crd for bigquerydataset
  apis/bigquery/v1beta1/bigquerydataset_types.go
  apis/bigquery/v1beta1/doc.go
  apis/bigquery/v1beta1/groupversion_info.go
  apis/bigquery/v1beta1/types.generated.go
  apis/bigquery/v1beta1/types.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatasets.bigquery.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate.sh
  dev/tools/proto-to-mapper/Makefile
  pkg/clients/generated/apis/bigquery/v1beta1/bigquerydataset_types.go
  pkg/clients/generated/apis/bigquery/v1beta1/zz_generated.deepcopy.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquery/bigquerydataset.md
Labels: lgtm, approved

#2688 feat: add SciFi controller for BigQueryDataTransferConfig
  apis/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig_types.go
  apis/bigquerydatatransfer/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/bigqueryref.go
  apis/refs/v1beta1/pubsubref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com.yaml
  dev/tasks/generate-crds
  pkg/clients/generated/apis/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig_types.go
  pkg/clients/generated/apis/bigquerydatatransfer/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransfer_mappings.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_controller.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_externalresource.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_generated_object_bigquerydatatransferconfig-salesforce.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/update.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/_generated_object_bigquerydatatransferconfig-scheduledquery.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-scheduledquery/update.yaml
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/e2e/normalize.go
  tests/e2e/replacements.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2734 chore: create simple script to deploy the operator to a kube cluster
  dev/tasks/deploy-to-kube
Labels: lgtm, approved

#2733 chore: build images with git tag, if we match exactly
  dev/tasks/build-images
Labels: lgtm, approved

#2735 Set default values to immutable and optional spec fields for certain kinds
  pkg/krmtotf/krmtotf.go
Labels: lgtm, approved

#2723 (Part 2)Fix diffs in compute forwarding rule: Labels can only be added or modified by the setLabels method
  mockgcp/mockcompute/globalforwardingrulesv1.go
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulehttps/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulessl/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingruletcp/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalcomputeforwardingrule/_http.log
Labels: lgtm, approved, service:compute

#2686 tools: require "--kind" and "--proto-resource" when generating types
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
Labels: lgtm, approved

#2715 Add ensure to make ready-pr
  Makefile
Labels: lgtm, approved

#2741 doc: update release notes for #2688
  docs/releasenotes/release-1.123.md
Labels: lgtm, approved

#2740 Fix the default field name for CloudIdentityGroup
  pkg/krmtotf/krmtotf.go
Labels: lgtm, approved

#2742 fix: bigqueryconnectionconnection misuse projectNum for projectID
  mockgcp/mockbigqueryconnection/connection.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/bigqueryconnectionconnectionfull/_http.log
Labels: lgtm, approved

#2725 (Part 4)Fix diffs in compute forwarding rule: normalize `IPAddress` in golden logs
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrule/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:compute

#2750 Update release-1.123.md with announcement about state-into-spec absent
  docs/releasenotes/release-1.123.md
Labels: lgtm, approved

#2639 test: Modify basic and full test for secretManagerSecret
  mockgcp/mocksecretmanager/secrets.go
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_object_basicsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_object_secretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_object_fullsecretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_generated_object_secretmanagersecret.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecret/dependencies.yaml
Labels: lgtm, approved

#2705 Update attached clusters mockGCP responses to more closely match GCP.
  config/samples/resources/containerattachedcluster/container-attached-cluster-basic/containerattached_v1beta1_containerattachedcluster.yaml
  config/samples/resources/containerattachedcluster/container-attached-cluster-full/containerattached_v1beta1_containerattachedcluster.yaml
  config/samples/resources/containerattachedcluster/container-attached-cluster-ignore-errors/containerattached_v1beta1_containerattachedcluster.yaml
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples.go
  mockgcp/mockgkemulticloud/attachedcluster.go
  pkg/test/controller/k8s.go
  pkg/test/gcp/gcp.go
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/_generated_object_containerattachedclusterbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/_generated_object_containerattachedclusterfull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/containerattached/v1beta1/containerattachedclusterfull/_http.log
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/containerattached/containerattachedcluster.md
Labels: lgtm, approved

#2754 test: add fuzz test for BigQueryDataTransferConfigSpec
  dev/tasks/find-missing-fields
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransfer_mappings.go
  pkg/controller/direct/bigquerydatatransfer/roundtrip_test.go
  pkg/controller/direct/maputils.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved

#2739 support bigqueryconnection cloudsql connection
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  apis/refs/v1beta1/sqlinstanceref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_controller.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_generated_object_cloudsqlconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/dependencies.yaml
Labels: lgtm, approved

#2763 docs: release note for 1.123
  docs/releasenotes/release-1.123.md
  docs/releasenotes/release-1.124.md
  docs/releasenotes/release-1.125.md
Labels: lgtm, approved

#2764 doc: create test suite in "step 1. mockgcp"
  docs/develop-resources/guides/1-add-mockgcp-tests.md
Labels: lgtm, approved

#2722 test:add mockgcp test full suite for bigquerydataset
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_generated_export_fullybigquerydataset.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_generated_object_fullybigquerydataset.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/update.yaml
Labels: lgtm, approved

#2768 test: Increase timeout for pause test
  .github/workflows/presubmit.yaml
  scripts/github-actions/ga-pause-test.sh
Labels: lgtm, approved

#2770 tests: enable bigquerydatatransfer.googleapis.com
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#2772 Allow user to user KCC_USE_DIRECT_RECONCILERS variable
  dev/tasks/run-e2e
  hack/record-gcp
Labels: lgtm, approved

#2760 dev:tool: small fix for interface type
  dev/tools/controllerbuilder/pkg/gocode/ast.go
Labels: lgtm, approved

#2612 doc: add external ref
  docs/develop-resources/api-conventions/external-reference.md
  docs/develop-resources/api-conventions/validations.md
  docs/develop-resources/guides/2-define-apis.md
  docs/develop-resources/scenarios/new-field.md
Labels: lgtm, approved

#2761 add mapper for bigquerydataset
  apis/bigquery/v1beta1/types.generated.go
  apis/bigquery/v1beta1/types.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  dev/tools/controllerbuilder/generate.sh
  go.mod
  go.sum
  pkg/controller/direct/bigquerydataset/bigquerydataset_mappings.go
Labels: lgtm, approved

#2597 direct: support forwardingrule target google api bundle
  apis/compute/v1beta1/computeforwardingrule_types.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  mockgcp/mockcompute/globalforwardingrulesv1.go
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/clients/generated/apis/compute/v1beta1/computeforwardingrule_types.go
  pkg/clients/generated/apis/compute/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/controller/direct/compute/mapper.go
  pkg/randomid/generator.go
  pkg/test/constants/constants.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/_generated_object_globalforwardingrulepscgoogleapis.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
  tests/e2e/unified_test.go
Labels: lgtm, approved, service:compute

#2779 mockgcp: we don't need the alloydb maintenance_update_policy patch any more
  mockgcp/apply-proto-patches.sh
Labels: lgtm, approved

#2781 Remove the check in allowlist_test to unblock TF to direct migration
  pkg/k8s/allowlist_test.go
Labels: lgtm, approved

#2783 tools: add default values to type and mapper generator flags
  dev/tools/controllerbuilder/pkg/commands/generatemapper/generatemappercommand.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/pkg/options/generateoptions.go
Labels: lgtm, approved

#2788 chore: several improvements and fixes to controller template
  dev/tools/controllerbuilder/template/controller/controller.go
  dev/tools/controllerbuilder/template/controller/externalresource.go
Labels: lgtm, approved

#2787 feat: add StringDuration <-> Proto mapper
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  pkg/controller/direct/maputils.go
  pkg/controller/direct/maputils_test.go
Labels: lgtm, approved

#2777 add mockgcp test for cloudsql databases
  config/tests/samples/create/harness.go
  mockgcp/mockbigqueryconnection/connection.go
  mockgcp/mocksql/operations_store.go
  mockgcp/mocksql/service.go
  mockgcp/mocksql/sqldatabase.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_generated_object_cloudsqlconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/cloudsqlconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/_generated_object_sqldatabase.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqldatabase/_http.log
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2780 mockgcp: fix makefile for KMS OpenAPI -> proto
  mockgcp/Makefile
Labels: lgtm, approved

#2792 tools: fix parsing error in controller builder
  dev/tools/controllerbuilder/scaffold/controller.go
Labels: lgtm, approved

#2767 Direct controller for CertificateManagerDNSAuthorization
  apis/certificatemanager/v1alpha1/types.generated.go
  apis/certificatemanager/v1alpha1/zz_generated.deepcopy.go
  apis/certificatemanager/v1beta1/certificatemanagerdnsauthorization_types.go
  apis/certificatemanager/v1beta1/types.generated.go
  apis/certificatemanager/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_certificatemanagerdnsauthorizations.certificatemanager.cnrm.cloud.google.com.yaml
  dev/tasks/find-missing-fields
  dev/tasks/run-e2e
  pkg/clients/generated/apis/certificatemanager/v1beta1/certificatemanagerdnsauthorization_types.go
  pkg/controller/direct/certificatemanager/dnsauthorization_controller.go
  pkg/controller/direct/certificatemanager/dnsauthorization_externalresource.go
  pkg/controller/direct/certificatemanager/dnsauthorization_mappings.go
  pkg/controller/direct/certificatemanager/rountrip_test.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagercertificate/certificatemanagercertificatemanageddns/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/_generated_object_certificatemanagerdnsauthorization-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-minimal/_generated_object_certificatemanagerdnsauthorization-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization/_generated_object_certificatemanagerdnsauthorization.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization/_http.log
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/certificatemanager/certificatemanagerdnsauthorization.md
Labels: lgtm, approved

#2795 doc: update the command to generate controller in SciFi guide
  docs/develop-resources/guides/2-define-apis.md
  docs/develop-resources/guides/4-add-controller.md
Labels: lgtm, approved

#2791 refactor: use resource name in ctrl name
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#2782 fix: Update new field name googleAPIBundle to googleAPIsBundle
  apis/compute/v1beta1/computeforwardingrule_types.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computeforwardingrules.compute.cnrm.cloud.google.com.yaml
  docs/releasenotes/release-1.123.md
  pkg/clients/generated/apis/compute/v1beta1/computeforwardingrule_types.go
  pkg/clients/generated/apis/compute/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/controller/direct/compute/mapper.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/_generated_object_globalforwardingrulepscgoogleapis.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalforwardingrulepscgoogleapis/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/compute/computeforwardingrule.md
Labels: lgtm, approved

#2758 fix: Move resolvers out of Adapter
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/globalforwardingrulesv1.go
  mockgcp/mockcompute/regionalforwardingrulev1.go
  pkg/controller/direct/compute/forwardingrule_controller.go
  pkg/controller/direct/compute/refs.go
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/regionalforwardingrulepsc/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_generated_object_computeserviceattachment.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeserviceattachment/_http.log
Labels: lgtm, approved, service:compute

#2790 test: Fix global forwarding rule dynamic test
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_generated_object_globalcomputeforwardingrulefull.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeforwardingrule/globalcomputeforwardingrulefull/update.yaml
Labels: lgtm, approved

#2773 mockgcp: add support for bigquerydatatransfer
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/bigquery/datatransfer/v1/datatransfer.pb.go
  mockgcp/generated/mockgcp/cloud/bigquery/datatransfer/v1/datatransfer.pb.gw.go
  mockgcp/generated/mockgcp/cloud/bigquery/datatransfer/v1/datatransfer_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/bigquery/datatransfer/v1/transfer.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbigquerydatatransfer/datatransfer.go
  mockgcp/mockbigquerydatatransfer/service.go
  pkg/controller/direct/bigquerydatatransfer/bigquerydatatransferconfig_controller.go
  pkg/test/resourcefixture/testdata/basic/bigquerydatatransfer/v1alpha1/bigquerydatatransferconfig/bigquerydatatransferconfig-salesforce/_http.log
Labels: lgtm, approved

#2771 test: second PR to update mutable fields for bigQueryDataset
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_generated_export_fullybigquerydataset.golden
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_generated_object_fullybigquerydataset.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/_http.log
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigquery/v1beta1/bigquerydataset/fullybigquerydataset/update.yaml
Labels: lgtm, approved

#2798 Add Support for Bigqueryconnection AWS
  apis/bigqueryconnection/v1alpha1/connection_types.go
  apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com.yaml
  mockgcp/mockbigqueryconnection/connection.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/bigqueryconnectionconnection_types.go
  pkg/clients/generated/apis/bigqueryconnection/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/bigqueryconnection/connection_mapping.go
  pkg/controller/direct/bigqueryconnection/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/awsconnectionbasic/_generated_object_awsconnectionbasic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/awsconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/awsconnectionbasic/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1alpha1/bigqueryconnectionconnection/awsconnectionbasic/update.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#2789 refactor: use new externalRef convention
  pkg/controller/direct/dataform/repository_controller.go
  pkg/controller/direct/dataform/repository_externalresource.go
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-base/_generated_object_dataformrepository-base.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_generated_object_dataformrepository-full.golden.yaml
Labels: lgtm, approved

#2664 Add GVKs supported by direct controllers to supportedgvks.All()
  Makefile
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  pkg/apis/core/v1alpha1/servicemapping_types.go
  pkg/controller/direct/registry/registry.go
  pkg/controller/mocktests/harness.go
  pkg/crd/crdgeneration/dcl2crdgeneration_test.go
  pkg/gvks/gvks.go
  pkg/gvks/supportedgvks/supportedgvks.go
  pkg/gvks/supportedgvks/supportedgvks_test.go
  pkg/test/controller/reconciler/testreconciler.go
  pkg/webhook/iam_defaulter.go
  pkg/webhook/register.go
  scripts/generate-cnrm-cluster-roles/main.go
  scripts/generate-crds/main.go
  scripts/generate-google3-docs/resource-reference/main.go
Labels: lgtm, approved

#2796 Turn on DNSAuthorization direct controller and add location field
  apis/certificatemanager/v1alpha1/certificatemanagerdnsauthorization_types.go
  apis/certificatemanager/v1beta1/certificatemanagerdnsauthorization_types.go
  apis/certificatemanager/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_certificatemanagerdnsauthorizations.certificatemanager.cnrm.cloud.google.com.yaml
  config/samples/resources/certificatemanagerdnsauthorization/certificatamanager_v1beta1_certificatemanagerdnsauthorization.yaml
  dev/tasks/run-e2e
  pkg/clients/generated/apis/certificatemanager/v1beta1/certificatemanagerdnsauthorization_types.go
  pkg/clients/generated/apis/certificatemanager/v1beta1/zz_generated.deepcopy.go
  pkg/controller/direct/certificatemanager/dnsauthorization_controller.go
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/_generated_object_certificatemanagerdnsauthorization-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/_http.log
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/certificatemanager/v1beta1/certificatemanagerdnsauthorization-full/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/certificatemanager/certificatemanagerdnsauthorization.md
Labels: lgtm, approved

#2801 Add release doc for DNSAuthorization
  docs/releasenotes/release-1.124.md
Labels: lgtm, approved
