Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2025-08, with the labels that each got.

#4917 Fix: Correctly determine sample API group for test filtering
  config/tests/samples/create/samples.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4918 chore: remove GEMINI.md from mcp
  experiments/mcp/GEMINI.md
Labels: lgtm, approved

#4881 tests: add back legacy tests
  .github/workflows/ci-presubmit-legacy.yaml
Labels: lgtm, approved

#4908 refactor(testing): remove legacy TF/DCL set cover test
  .github/workflows/ci-presubmit.yaml
  pkg/cli/gcpclient/client_integration_test.go
  pkg/test/resourcefixture/resourcefixture_test.go
  pkg/test/resourcefixture/sets.go
Labels: lgtm, approved

#4883 tests: only cache CRDs with labels
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#4906 feat: add name validation in rate limit CRDs
  docs/features/ratelimit.md
  operator/config/crd/bases/customize.core.cnrm.cloud.google.com_controllerreconcilers.yaml
  operator/config/crd/bases/customize.core.cnrm.cloud.google.com_namespacedcontrollerreconcilers.yaml
  operator/pkg/apis/core/customize/v1alpha1/controllerreconciler_types.go
  operator/pkg/apis/core/customize/v1beta1/controllerreconciler_types.go
Labels: lgtm, approved

#4910 mockgcp: add dev/tasks
  Makefile
  mockgcp/dev/tasks/fix-gofmt
  mockgcp/dev/tasks/record-gcp
Labels: lgtm, approved

#4912 ServiceNetworkingPeeredDnsDomain: Add CRD/Mapper/Fuzzer
  apis/servicenetworking/v1alpha1/doc.go
  apis/servicenetworking/v1alpha1/generate.sh
  apis/servicenetworking/v1alpha1/groupversion_info.go
  apis/servicenetworking/v1alpha1/peereddnsdomain_identity.go
  apis/servicenetworking/v1alpha1/peereddnsdomain_reference.go
  apis/servicenetworking/v1alpha1/peereddnsdomain_types.go
  apis/servicenetworking/v1alpha1/types.generated.go
  apis/servicenetworking/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_servicenetworkingpeereddnsdomains.servicenetworking.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate-proto.sh
  pkg/controller/direct/register/register.go
  pkg/controller/direct/servicenetworking/mapper.generated.go
  pkg/controller/direct/servicenetworking/mapper.go
  pkg/controller/direct/servicenetworking/peereddnsdomain_fuzzer.go
  pkg/fuzztesting/fuzzkrm_noproto.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
Labels: lgtm, approved

#4839 tests: Partially revert #4806
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#4465 preview mode: introduce reconcile end event
  pkg/cli/preview/preview_test.go
  pkg/cli/preview/recorder.go
  pkg/controller/tf/controller.go
  pkg/structuredreporting/context.go
  pkg/structuredreporting/events.go
Labels: lgtm, approved

#4931 fix: autogen
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4932 fix: add missing OnReconcileEnd method
  pkg/structuredreporting/log.go
Labels: lgtm, approved

#4832 tests: Exclude output-only spec fields in missingfields.txt
  tests/apichecks/testdata/exceptions/missingfields.txt
  tests/apichecks/testdata/exceptions/outputonlyspecfields.txt
Labels: lgtm, approved

#4934 chore: move update-golang-version to python
  dev/codebots/update-golang-version
Labels: lgtm, approved

#4922 feat (llm): add full-test-suite
  experiments/mcp/src/server.py
  experiments/promoter/tasks/add-full-test-suite.md
Labels: lgtm, approved

#4943 chore: refactor test methods into a test package
  config/tests/samples/create/harness.go
  config/tests/samples/create/samples.go
  pkg/controller/dynamic/doc.go
  pkg/controller/dynamic/dynamic_controller_integration_test.go
  pkg/controller/gsakeysecretgenerator/service_account_key_integration_test.go
  pkg/controller/iam/auditconfig/iamauditconfig_controller_integration_test.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller_integration_test.go
  pkg/controller/iam/policy/iampolicy_controller_integration_test.go
  pkg/controller/iam/policymember/iampolicymember_controller_integration_test.go
  pkg/controller/kccmanager/kccmanager_test.go
  pkg/test/kubeharness.go
  pkg/test/teststatus/common_test_functions.go
  pkg/test/teststatus/condition.go
Labels: lgtm, approved

#4865 Add kompanion lint cmd
  experiments/kompanion/Makefile
  experiments/kompanion/cmd/lint/lint.go
  experiments/kompanion/cmd/lint/result.go
  experiments/kompanion/cmd/lint/task.go
  experiments/kompanion/go.sum
  experiments/kompanion/main.go
  experiments/kompanion/pkg/utils/utils.go
Labels: lgtm, approved

#4794 mockgcp: add gcloud test for container cluster
  mockgcp/mockcontainer/cluster.go
  mockgcp/mockcontainer/lro.go
  mockgcp/mockcontainer/nodepool.go
  mockgcp/mockcontainer/service.go
  mockgcp/mockcontainer/testdata/clusters/crud/_http.log
  mockgcp/mockcontainer/testdata/clusters/crud/script.yaml
  mockgcp/mockcontainer/utils.go
  pkg/test/resourcefixture/testdata/basic/container/v1beta1/containernodepool/containernodepool/_http.log
Labels: lgtm, approved

#4935 codebot: update go to 1.24.5
  build/builder/Dockerfile
  build/tooling/Dockerfile
  dev/tools/controllerbuilder/cmd/ctf/testdata/extra_import_1/src/go.mod
  dev/tools/controllerbuilder/cmd/ctf/testdata/missing_arg_mkdir_1/src/go.mod
  dev/tools/controllerbuilder/cmd/ctf/testdata/missing_return_1/src/go.mod
  dev/tools/controllerbuilder/cmd/ctf/testdata/missing_return_2/src/go.mod
  dev/tools/controllerbuilder/cmd/ctf/testdata/unchecked_error_1/src/go.mod
  dev/tools/controllerbuilder/go.mod
  experiments/composite/go.mod
  experiments/compositions/composition/Dockerfile
  experiments/compositions/composition/Dockerfile.getter.expander
  experiments/compositions/composition/Dockerfile.inline
  experiments/compositions/composition/Dockerfile.jinja2.expander
  experiments/compositions/composition/go.mod
  experiments/compositions/expanders/cel-expander/Dockerfile
  experiments/compositions/expanders/cel-expander/go.mod
  experiments/compositions/expanders/helm-expander/Dockerfile
  experiments/compositions/expanders/helm-expander/go.mod
  experiments/compositions/facade/Dockerfile
  experiments/compositions/facade/go.mod
  experiments/kompanion/go.mod
  experiments/kubectl-plan/go.mod
  experiments/multiclusterlease/Dockerfile
  experiments/multiclusterlease/go.mod
  experiments/tools/licensescan/go.mod
  go.mod
  go.work
  mockgcp/go.mod
  mockgcp/tools/patch-proto/go.mod
  operator/Dockerfile
  scripts/environment-setup/golang-setup.sh
Labels: lgtm, approved

#4790 refactor: warn metrics
  pkg/metrics/metrics.go
Labels: lgtm, approved

#4939 tests: Update fullpocogkehubfeaturemembership yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_generated_object_fullpocogkehubfeaturemembership.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/_http.log
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkehub/v1beta1/gkehubfeaturemembership/fullpocogkehubfeaturemembership/update.yaml
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#4949 Orgpolicy update_mask support
  pkg/controller/direct/orgpolicy/policy_controller.go
  pkg/test/resourcefixture/testdata/basic/orgpolicy/v1alpha1/orgpolicypolicy/_http.log
Labels: approved

#4887 doc: Add comment to CloudIdentityMembership memberkey field
  apis/cloudidentity/v1beta1/membership_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudidentitymemberships.cloudidentity.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/cloudidentity/cloudidentitymembership.md
  tests/apichecks/testdata/exceptions/missingfields.txt
  tests/apichecks/testdata/exceptions/outputonlyspecfields.txt
Labels: lgtm, approved

#4772 Support machine-type within AlloyDB's Instance API
  apis/alloydb/v1alpha1/types.generated.go
  apis/alloydb/v1alpha1/zz_generated.deepcopy.go
  apis/alloydb/v1beta1/types.generated.go
  apis/alloydb/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbclusters.alloydb.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbinstances.alloydb.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/alloydb/instance_controller.go
  pkg/controller/direct/alloydb/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstancemachinetype/_generated_object_alloydbinstancemachinetype.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstancemachinetype/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstancemachinetype/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstancemachinetype/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstancemachinetype/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbcluster.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/alloydb/alloydbinstance.md
Labels: lgtm, approved

#4958 codebot: update go to 1.24.6
  build/builder/Dockerfile
  build/tooling/Dockerfile
  dev/tools/controllerbuilder/go.mod
  experiments/composite/go.mod
  experiments/compositions/composition/Dockerfile
  experiments/compositions/composition/Dockerfile.getter.expander
  experiments/compositions/composition/Dockerfile.inline
  experiments/compositions/composition/Dockerfile.jinja2.expander
  experiments/compositions/composition/go.mod
  experiments/compositions/expanders/cel-expander/Dockerfile
  experiments/compositions/expanders/cel-expander/go.mod
  experiments/compositions/expanders/helm-expander/Dockerfile
  experiments/compositions/expanders/helm-expander/go.mod
  experiments/compositions/facade/Dockerfile
  experiments/compositions/facade/go.mod
  experiments/kompanion/go.mod
  experiments/kubectl-plan/go.mod
  experiments/multiclusterlease/Dockerfile
  experiments/multiclusterlease/go.mod
  experiments/tools/licensescan/go.mod
  go.mod
  go.work
  mockgcp/go.mod
  mockgcp/tools/patch-proto/go.mod
  operator/Dockerfile
  scripts/environment-setup/golang-setup.sh
Labels: lgtm, approved

#4967 feat: set GOMEMLIMIT for KCC operator and controller manager
  config/installbundle/components/manager/base/manager.yaml
  operator/config/manager/manager.yaml
Labels: lgtm, approved

#4968 chore: Skip flaky gkehubfeaturemembership scenarios test
  dev/ci/presubmits/tests-scenarios-gkehubfeaturemembership
  dev/tasks/run-e2e
Labels: lgtm, approved

#4971 Add full API coverage for AssetFeed (Gemini)
  experiments/promoter/results/candidates.json
  mockgcp/mockasset/feed.go
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-full/_generated_object_assetfeed-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-full/_http.log
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-full/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-full/update.yaml
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
Labels: lgtm, approved

#4973 chore: remove TARGET_KIND
  experiments/mcp/src/server.py
  experiments/promoter/scripts/check_api_coverage.py
  experiments/promoter/tasks/add-full-test-suite.md
  tests/apichecks/crds_test.go
Labels: lgtm, approved

#4838 feat: separate op for maintenanceVersion
  mockgcp/mocksql/sqlinstance.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_generated_object_sqlinstance-postgres-minimal-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/update.yaml
Labels: lgtm, approved

#4657 Run controller managers in separate namespaces
  cmd/unmanageddetector/main.go
  config/installbundle/releases/scopes/namespaced/shared-components/unmanageddetector_clusterrole.yaml
  operator/cmd/manager/main.go
  operator/config/crd/bases/core.cnrm.cloud.google.com_configconnectorcontexts.yaml
  operator/pkg/apis/core/v1beta1/configconnectorcontext_types.go
  operator/pkg/controllers/configconnector/configconnector_controller.go
  operator/pkg/controllers/configconnector/configconnector_controller_test.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller_test.go
  operator/pkg/controllers/configconnectorcontext/namespaced.go
  operator/pkg/k8s/constants.go
  operator/pkg/test/controller/manifest.go
  pkg/controller/unmanageddetector/controller.go
  pkg/controller/unmanageddetector/controller_test.go
  pkg/k8s/constants.go
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#4853 Create a branch coverage analyzer based on go test coverage report
  dev/tools/coverageanalyzer/finduncovered.go
  dev/tools/coverageanalyzer/main.go
  go.mod
Labels: lgtm, approved

#4979 chore: Exclude generated ci-presubmit yaml
  .gitattributes
Labels: lgtm, approved

#4981 Adding preliminary label fix for alloydbinstance.
  .gemini/commands/generate/labels.toml
  pkg/controller/direct/alloydb/instance_controller.go
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstance_with_invalid_labels/_generated_object_alloydbinstance_with_invalid_labels.golden.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstance_with_invalid_labels/_http.log
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstance_with_invalid_labels/create.yaml
  pkg/test/resourcefixture/testdata/basic/alloydb/v1beta1/alloydbinstance/alloydbinstance_with_invalid_labels/dependencies.yaml
Labels: lgtm, approved

#4855 feat: Turn on CloudIdentityMembership direct controller
  apis/cloudidentity/v1beta1/membership_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudidentitymemberships.cloudidentity.cnrm.cloud.google.com.yaml
  pkg/controller/direct/cloudidentity/group_controller.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addexpirydatecloudidentitymembership-direct/_generated_object_addexpirydatecloudidentitymembership-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addexpirydatecloudidentitymembership-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addexpirydatecloudidentitymembership-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-direct/_generated_object_addrolecloudidentitymembership-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-groupdirect/_generated_object_addrolecloudidentitymembership-groupdirect.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-groupdirect/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-groupdirect/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-groupdirect/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/addrolecloudidentitymembership-groupdirect/update.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/removerolecloudidentitymembership-direct/_generated_object_removerolecloudidentitymembership-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/removerolecloudidentitymembership-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudidentity/v1beta1/cloudidentitymembership/removerolecloudidentitymembership-direct/update.yaml
  tests/e2e/testdata/scenarios/acquisition/cloudidentitymembership/cloudidentitymembership-direct/_object01.yaml
  tests/e2e/testdata/scenarios/acquisition/cloudidentitymembership/cloudidentitymembership-direct/_object02.yaml
  tests/e2e/testdata/scenarios/acquisition/cloudidentitymembership/cloudidentitymembership-direct/script.yaml
Labels: lgtm, approved

#4997 Added a command to find missing label sanitization.
  .gemini/commands/fix/findlabels.toml
  GEMINI.md
Labels: lgtm, approved

#4992 MonitoringNotificationChannel: CRD/Mapper/Fuzzer
  apis/monitoring/v1beta1/generate.sh
  apis/monitoring/v1beta1/notificationchannel_identity.go
  apis/monitoring/v1beta1/notificationchannel_reference.go
  apis/monitoring/v1beta1/notificationchannel_types.go
  apis/monitoring/v1beta1/types.generated.go
  apis/monitoring/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_monitoringnotificationchannels.monitoring.cnrm.cloud.google.com.yaml
  pkg/controller/direct/monitoring/mapper.generated.go
  pkg/controller/direct/monitoring/notificationchannel_fuzzer.go
Labels: lgtm, approved

#4989 mockgcp: billing account support
  mockgcp/GEMINI.md
  mockgcp/dev/tasks/compare-mock
  mockgcp/docs/ai/create-mockgcp.md
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbilling/billingv1.go
  mockgcp/mockbilling/normalize.go
  mockgcp/mockbilling/service.go
  mockgcp/mockbilling/testdata/account/crud/_http.log
  mockgcp/mockbilling/testdata/account/crud/script.yaml
  mockgcp/register.go
  tests/e2e/normalize.go
Labels: lgtm, approved

#4961 chore: update copyright year
  dev/tasks/sync-crds-folder.sh
Labels: lgtm, approved

#4857 feat: support setting maintenanceVersion on CREATE
  mockgcp/mocksql/sqlinstance.go
  pkg/controller/direct/sql/sqlinstance_controller.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_generated_object_sqlinstance-postgres-minimal-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-postgres-minimal-direct/update.yaml
Labels: lgtm, approved

#4861 [direct] Add metadata/spec label to SpannerInstance controller
  pkg/controller/direct/spanner/instance_controller.go
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-autoscaling-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-basic-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-direct/_generated_object_spannerinstance-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-downgrade-edition-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-processingunits-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/spannerinstance-unset-compute-fields-direct/_http.log
Labels: lgtm, approved

#4948 mockgcp: clean up dependencies to fix go.mod
  mockgcp/go.mod
  mockgcp/go.sum
  mockgcp/mockgcptests/harness.go
  mockgcp/mockgcptests/project.go
  pkg/gcp/clients.go
  pkg/test/gcp/gcp.go
Labels: lgtm, approved

#5012 fix: set observedGeneration of ConfigConnectorContext
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller.go
  operator/pkg/controllers/configconnectorcontext/configconnectorcontext_controller_test.go
Labels: lgtm, approved

#5010 Dueling controllers when update Secret used by AlloyDBCluster
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_http00.log
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_http02.log
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_http04.log
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_object00.yaml
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_object01.yaml
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_object02.yaml
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_object03.yaml
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/_object04.yaml
  tests/e2e/testdata/scenarios/alloydbcluster/secret-update/script.yaml
Labels: lgtm, approved

#4834 chore: update propose release instructions and add presubmits for updating crds/ folder
  .gemini/commands/release/propose-release.json
  .gemini/commands/release/propose-release.toml
  .github/workflows/presubmit-crds.yaml
  dev/release/propose-release.md
  dev/tasks/verify-crds-folder.sh
Labels: lgtm, approved

#5013 mockgcp: NetworkSecurity
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/docs/ai/create-mockgcp.md
  mockgcp/generated/google/apps/cloudidentity/v1beta1/service.pb.go
  mockgcp/generated/mockgcp/cloud/apigee/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/bigquery/v2/api.pb.go
  mockgcp/generated/mockgcp/cloud/ids/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/networkconnectivity/v1/networkconnectivity.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/authorization_policy.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/client_tls_policy.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/common.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/network_security.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/network_security.pb.gw.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/network_security_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/server_tls_policy.pb.go
  mockgcp/generated/mockgcp/cloud/networksecurity/v1/tls.pb.go
  mockgcp/generated/mockgcp/cloud/resourcemanager/v1/api.pb.go
  mockgcp/generated/mockgcp/cloud/servicenetworking/v1/servicenetworking.pb.go
  mockgcp/generated/mockgcp/storage/v1/service.pb.go
  mockgcp/mocknetworksecurity/authorizationpolicy.go
  mockgcp/mocknetworksecurity/normalize.go
  mockgcp/mocknetworksecurity/service.go
  mockgcp/mocknetworksecurity/testdata/authorizationpolicy/crud/_http.log
  mockgcp/mocknetworksecurity/testdata/authorizationpolicy/crud/policy.yaml
  mockgcp/mocknetworksecurity/testdata/authorizationpolicy/crud/script.yaml
  mockgcp/register.go
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/_generated_object_networksecurityauthorizationpolicy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/_http.log
Labels: lgtm, approved

#5028 chore: update copyright year in verify CRD check in presubmit
  dev/tasks/verify-crds-folder.sh
Labels: lgtm, approved

#5022 chore: fix generation for vmwareengine
  apis/vmwareengine/v1alpha1/types.generated.go
  apis/vmwareengine/v1alpha1/vmwareenginenetwork_types.go
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/vmwareengine/mapper.generated.go
  pkg/controller/direct/vmwareengine/vmwareenginenetwork_mappers.go
Labels: lgtm, approved

#4985 Add full API coverage for NetworksecurityAuthorizationPolicy (DCL-based Beta)
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-full/_generated_object_networksecurityauthorizationpolicy-full.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-full/_http.log
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-full/update.yaml
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-minimal/_generated_object_networksecurityauthorizationpolicy-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/networksecurity/v1beta1/networksecurityauthorizationpolicy/networksecurityauthorizationpolicy-minimal/update.yaml
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#5057 chore: fix generation for accesscontextmanager and servicenetworking
  apis/accesscontextmanager/v1beta1/accesspolicy_types.go
  apis/accesscontextmanager/v1beta1/types.generated.go
  apis/accesscontextmanager/v1beta1/zz_generated.deepcopy.go
  apis/servicenetworking/v1alpha1/generate.sh
  pkg/controller/direct/accesscontextmanager/mapper.generated.go
Labels: lgtm, approved

#5062 chore: ensure that resource report is up to date
  dev/ci/presubmits/validate-generated-files
  dev/tasks/generate-resource-report
  docs/reports/crd_report.csv
  docs/reports/crd_report.md
Labels: lgtm, approved

#5042 chore: generate alloydb v1alpha1 from v1beta1
  apis/alloydb/v1alpha1/cluster_identity.go
  apis/alloydb/v1alpha1/cluster_reference.go
  apis/alloydb/v1alpha1/cluster_types.go
  apis/alloydb/v1alpha1/doc.go
  apis/alloydb/v1alpha1/groupversion_info.go
  apis/alloydb/v1alpha1/instance_identity.go
  apis/alloydb/v1alpha1/instance_reference.go
  apis/alloydb/v1alpha1/instance_types.go
  apis/alloydb/v1alpha1/types.generated.go
  apis/alloydb/v1alpha1/util.go
  apis/alloydb/v1alpha1/zz_generated.deepcopy.go
  apis/alloydb/v1beta1/cluster_types.go
  apis/alloydb/v1beta1/instance_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbclusters.alloydb.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_alloydbinstances.alloydb.cnrm.cloud.google.com.yaml
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved, service:alloydb

#5081 fix: update generate-types-and-mappers
  pkg/controller/direct/networksecurity/mapper.generated.go
Labels: lgtm, approved
