Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2025-03, with the labels that each got.

#3825 fix: handle already destroyed secret versions in `Delete`
  pkg/controller/direct/secretmanager/secretversion_controller.go
Labels: lgtm, approved

#3829 test: include apigee, secretmanager and vertexai in presubmit
  .github/workflows/presubmit.yaml
  scripts/github-actions/tests-e2e-fixtures-apigee
  scripts/github-actions/tests-e2e-fixtures-vertexai
Labels: lgtm, approved

#3819 feat: add VertexAIFeaturestore as a direct resource
  apis/vertexai/v1alpha1/doc.go
  apis/vertexai/v1alpha1/featurestore_identity.go
  apis/vertexai/v1alpha1/featurestore_reference.go
  apis/vertexai/v1alpha1/featurestore_types.go
  apis/vertexai/v1alpha1/generate.sh
  apis/vertexai/v1alpha1/groupversion_info.go
  apis/vertexai/v1alpha1/types.generated.go
  apis/vertexai/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vertexaifeaturestores.vertexai.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  experiments/conductor/cmd/runner/scripts/crd_mapper_fuzzer/03-generate-fuzzer.sh
  experiments/conductor/cmd/runner/scripts/crd_mapper_fuzzer/generate-vertexai-featurestore.sh
  go.mod
  go.sum
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/entity_type.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/feature.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/feature_monitor.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/feature_monitoring_stats.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/feature_selector.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_monitoring.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_online_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_online_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_online_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/featurestore_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/types.pb.go
  mockgcp/mockaiplatform/featurestore.go
  mockgcp/mockaiplatform/service.go
  pkg/controller/direct/register/register.go
  pkg/controller/direct/vertexai/featurestore_controller.go
  pkg/controller/direct/vertexai/featurestore_fuzzer.go
  pkg/controller/direct/vertexai/featurestore_mappers.go
  pkg/controller/direct/vertexai/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/featurestore/featurestore-basic/_generated_object_featurestore-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/featurestore/featurestore-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/featurestore/featurestore-basic/create.yaml
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/featurestore/featurestore-basic/update.yaml
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#3811 feat: typers, crd, mappers for BigLakeTable
  apis/bigquerybiglake/v1alpha1/catalog_identity.go
  apis/bigquerybiglake/v1alpha1/catalog_reference.go
  apis/bigquerybiglake/v1alpha1/catalog_types.go
  apis/bigquerybiglake/v1alpha1/database_identity.go
  apis/bigquerybiglake/v1alpha1/database_reference.go
  apis/bigquerybiglake/v1alpha1/database_types.go
  apis/bigquerybiglake/v1alpha1/doc.go
  apis/bigquerybiglake/v1alpha1/generate.sh
  apis/bigquerybiglake/v1alpha1/groupversion_info.go
  apis/bigquerybiglake/v1alpha1/table_identity.go
  apis/bigquerybiglake/v1alpha1/table_reference.go
  apis/bigquerybiglake/v1alpha1/table_types.go
  apis/bigquerybiglake/v1alpha1/types.generated.go
  apis/bigquerybiglake/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_biglaketables.bigquerybiglake.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  pkg/controller/direct/bigquerybiglake/mapper.generated.go
  pkg/controller/direct/bigquerybiglake/table_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3824 tool:template: sets
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#3833 Fix up metadata and add split metadata functionality.
  experiments/conductor/branches-all.yaml
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#3835 fix: Fix vertexai presubmits
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/metadatastore/metadatastorebasic/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1alpha1/metadatastore/metadatastorefullyconfigured/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointencryptionkey/_http.log
  pkg/test/resourcefixture/testdata/basic/vertexai/v1beta1/vertexaiendpoint/vertexaiendpointnetwork/_http.log
Labels: lgtm, approved

#3832 Adding Jingyi to the approvers list.
  OWNERS
Labels: lgtm, approved

#3778 feat: add resource Spannerbackupschedule
  apis/spanner/v1alpha1/backupschedule_identity.go
  apis/spanner/v1alpha1/backupschedule_reference.go
  apis/spanner/v1alpha1/backupschedule_types.go
  apis/spanner/v1alpha1/doc.go
  apis/spanner/v1alpha1/groupversion_info.go
  apis/spanner/v1alpha1/types.generated.go
  apis/spanner/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_spannerbackupschedules.spanner.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  dev/tools/controllerbuilder/generate-proto.sh
  mockgcp/mockserviceusage/knownservices.go
  mockgcp/mockserviceusage/serviceusagev1beta1.go
  mockgcp/mockspanner/admin/database.go
  mockgcp/mockspanner/testdata/backupschedules/crud/_http.log
  pkg/controller/direct/spanner/backupschedule_controller.go
  pkg/controller/direct/spanner/backupschedule_fuzzer.go
  pkg/controller/direct/spanner/backupschedule_mapper.generated.go
  pkg/controller/direct/spanner/backupschedule_mapping.go
  pkg/controller/direct/spanner/instance_mapper.generated.go
  pkg/controller/direct/spanner/roundtrip_test.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-basic/_generated_object_spannerbackupschedules-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-basic/create.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-basic/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-basic/update.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-fully/_generated_object_spannerbackupschedules-fully.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-fully/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-fully/create.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-fully/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerbackupschedules-fully/update.yaml
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#3820 1.129-release note
  docs/releasenotes/release-1.129.md
  docs/releasenotes/release-1.131.md
Labels: lgtm, approved

#3804 mockGCP: documentai processor and version
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockdocumentai/processors.go
  mockgcp/mockdocumentai/service.go
  mockgcp/mockdocumentai/versions.go
Labels: lgtm, approved

#3839 chore: add a TODO to resolve reference fields in VertexAIFeaturestore
  pkg/controller/direct/vertexai/featurestore_controller.go
Labels: lgtm, approved

#3838 doc: update release notes
  docs/releasenotes/release-1.130.md
Labels: lgtm, approved

#3827 ComposerEnvironment types, mapper and fuzzer
  apis/composer/v1alpha1/doc.go
  apis/composer/v1alpha1/environment_identity.go
  apis/composer/v1alpha1/environment_reference.go
  apis/composer/v1alpha1/environment_types.go
  apis/composer/v1alpha1/generate.sh
  apis/composer/v1alpha1/groupversion_info.go
  apis/composer/v1alpha1/types.generated.go
  apis/composer/v1alpha1/zz_generated.deepcopy.go
  apis/compute/v1alpha1/groupversion_info.go
  apis/compute/v1alpha1/networkattachment_reference.go
  apis/compute/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_composerenvironments.composer.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  mockgcp/mockbigquerybiglake/service.go
  pkg/controller/direct/composer/environment_fuzzer.go
  pkg/controller/direct/composer/environment_mappings.go
  pkg/controller/direct/composer/mapper.generated.go
  pkg/controller/direct/maputils.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved

#3823 Add conductor commands to generate Types, Mapper, CRD and fuzzer
  .gitignore
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3805 mockgcp: support for tpu node
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/tpu/v2/cloud_tpu.pb.go
  mockgcp/generated/mockgcp/cloud/tpu/v2/cloud_tpu.pb.gw.go
  mockgcp/generated/mockgcp/cloud/tpu/v2/cloud_tpu_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mocktpu/node.go
  mockgcp/mocktpu/normalize.go
  mockgcp/mocktpu/service.go
  mockgcp/mocktpu/testdata/node/crud/_http.log
  mockgcp/mocktpu/testdata/node/crud/script.yaml
  mockgcp/mocktpu/utils.go
  tests/e2e/normalize.go
Labels: lgtm, approved

#3555 Fix SecureSourceManagerRepository Identity and Reference
  apis/securesourcemanager/v1alpha1/repository_identity.go
  apis/securesourcemanager/v1alpha1/repository_reference.go
  apis/securesourcemanager/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/securesourcemanager/repository_controller.go
Labels: lgtm, approved

#3814 feat: add controller generator
  experiments/conductor/cmd/runner/scripts/controller/_generate-controller.sh
  experiments/conductor/cmd/runner/scripts/controller/llm-fix-gobuild.txt
  experiments/conductor/cmd/runner/scripts/controller/llm-gcp-imports.txt
Labels: lgtm, approved

#3848 Add cmd to add api-enbalement metadata and refactor exec.Command
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3863 Add skip field to branches
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#3862 fix: Fix ApigeeInstance update mask
  mockgcp/mockapigee/instance.go
  pkg/controller/direct/apigee/instance_controller.go
  pkg/test/resourcefixture/testdata/basic/apigee/apigeeinstance/apigeeinstance-full/_http.log
Labels: lgtm, approved

#3852 tool: Separate log output for each step
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3867 tool: Filter out resources without proper gcloud support
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#3872 Support command to view generated files in conductor
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#3873 Revert "Spannerinstace force delete annotation"
  mockgcp/mockspanner/admin/database.go
  pkg/controller/direct/spanner/instance_controller.go
  pkg/controller/direct/spanner/spannerinstace_mapper.go
  pkg/test/resourcefixture/testdata/basic/bigqueryconnection/v1beta1/bigqueryconnectionconnection/cloudspannerconnectionbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spanneinstance-unset-compute-fields/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerdatabase/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-force-destroy/_generated_object_spannerinstace-force-destroy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-force-destroy/_generated_object_spannerinstance-force-destroy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-force-destroy/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-force-destroy/create.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-force-destroy/update.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance-full/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1beta1/spannerinstance/_http.log
  pkg/test/resourcefixture/testdata/externalref/externalwithsubresource/_http.log
Labels: lgtm, approved

#3864 Conductor: Add support for retries for failed commands
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3866 fix: Fix Firestore v1beta1 GVK
  apis/firestore/v1beta1/groupversion_info.go
Labels: lgtm, approved

#3870 fix: Fix SQLInstance replica periodic
  pkg/test/resourcefixture/contexts/sql_context.go
Labels: lgtm, approved

#3786 tests: capture kube-apiserver logs into artifacts
  config/tests/samples/create/harness.go
Labels: lgtm, approved

#3877 Conductore: modify setSkipOnBranchModifier logic
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#3850 conductor:branches: fix ai model
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#3842 Create mock for resource apphub application
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/apphub/v1/apphub_service.pb.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/apphub_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/apphub_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/application.pb.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/attributes.pb.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/service_project_attachment.pb.go
  mockgcp/generated/mockgcp/cloud/apphub/v1/workload.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockapphub/application.go
  mockgcp/mockapphub/service.go
  mockgcp/mockapphub/testdata/application/crud/_http.log
  mockgcp/mockapphub/testdata/application/crud/script.yaml
Labels: lgtm, approved

#3880 chore: mark mockgcptests as parallel-safe
  mockgcp/mockgcptests/e2e_test.go
Labels: lgtm, approved

#3739 chore: add resource config for managedkafka resources
  Makefile
  dev/tools/controllerbuilder/config/v1alpha1/managedkafka.yaml
  dev/tools/controllerbuilder/config/v1beta1/bigquerydatatransfer.yaml
  dev/tools/controllerbuilder/config/v1beta1/managedkafka.yaml
Labels: lgtm, approved

#3869 ci: no fuzz on experiments
  .github/workflows/fuzz.yaml
Labels: lgtm, approved

#3885 conductor: script yaml generation improvements
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  mockgcp/mockgcptests/proxy.go
Labels: lgtm, approved

#3889 Fix retry count logic and update deterministic steps retry to 1
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3840 Avoid fetching resource config for direct resources
  pkg/webhook/immutable_fields_validator.go
  pkg/webhook/immutable_fields_validator_test.go
Labels: lgtm, approved

#3892 Create a mock for resource tasks queue
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/tasks/v2/cloudtasks.pb.go
  mockgcp/generated/mockgcp/cloud/tasks/v2/cloudtasks.pb.gw.go
  mockgcp/generated/mockgcp/cloud/tasks/v2/cloudtasks_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/tasks/v2/queue.pb.go
  mockgcp/generated/mockgcp/cloud/tasks/v2/target.pb.go
  mockgcp/generated/mockgcp/cloud/tasks/v2/task.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mocktasks/queue.go
  mockgcp/mocktasks/service.go
  mockgcp/mocktasks/testdata/queue/crud/_http.log
  mockgcp/mocktasks/testdata/queue/crud/script.yaml
Labels: lgtm, approved

#3837 TPUVirtualMachine: CRD/Mapper/Fuzzer
  Makefile
  apis/tpu/v1alpha1/doc.go
  apis/tpu/v1alpha1/generate.sh
  apis/tpu/v1alpha1/groupversion_info.go
  apis/tpu/v1alpha1/node_identity.go
  apis/tpu/v1alpha1/node_reference.go
  apis/tpu/v1alpha1/node_types.go
  apis/tpu/v1alpha1/types.generated.go
  apis/tpu/v1alpha1/types.go
  apis/tpu/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_tpuvirtualmachines.tpu.cnrm.cloud.google.com.yaml
  go.mod
  pkg/controller/direct/register/register.go
  pkg/controller/direct/tpu/mapper.generated.go
  pkg/controller/direct/tpu/mapper.go
  pkg/controller/direct/tpu/node_fuzzer.go
  pkg/gcpclients/Makefile
  pkg/gcpclients/generated/google/cloud/tpu/v2/cloud_tpu.pb.go
  pkg/gcpclients/generated/google/cloud/tpu/v2/cloud_tpu_grpc.pb.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3898 controllerbuilder: support filters on extraction
  dev/tools/controllerbuilder/pkg/commands/exportcsv/prompt.go
  dev/tools/controllerbuilder/pkg/toolbot/csv.go
  dev/tools/controllerbuilder/pkg/toolbot/extracttoolmarkers.go
Labels: lgtm, approved

#3897 eventsink: fallback to JSON marshal in DirectoryEventSink
  pkg/test/eventsink.go
Labels: lgtm, approved

#3882 Create a mock for resource storage folder
  mockgcp/mockstorage/folder.go
  mockgcp/mockstorage/objects.go
  mockgcp/mockstorage/service.go
  mockgcp/mockstorage/testdata/folder/crud/_http.log
  mockgcp/mockstorage/testdata/folder/crud/script.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/dataflowflextemplatejob-direct-subnetwork/_http.log
  pkg/test/resourcefixture/testdata/basic/logging/v1beta1/logginglogsink/orgsink/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-auditconfig-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagebucket/storagebucketbasic/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagebucket/storagebucketsoftdelete/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagebucket/storagebucketzero/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationbase/_http.log
  pkg/test/resourcefixture/testdata/basic/storage/v1beta1/storagenotification/storagenotificationfull/_http.log
  pkg/test/resourcefixture/testdata/directives/forcedestroy/_http.log
  pkg/test/resourcefixture/testdata/reconcileintervalannotations/storagebucket/_http.log
  pkg/test/resourcefixture/testdata/stateabsentinspec/clusterleveloverride/_http.log
Labels: lgtm, approved

#3851 Create mock for resource dataproc workflowtemplate
  mockgcp/mockdataproc/service.go
  mockgcp/mockdataproc/testdata/workflowtemplate/crud/_http.log
  mockgcp/mockdataproc/testdata/workflowtemplate/crud/script.yaml
  mockgcp/mockdataproc/workflowtemplate.go
Labels: lgtm, approved

#3901 Conductor: gcloud Script generation improvements
  experiments/conductor/cmd/runner/mock_commands.go
Labels: lgtm, approved

#3899 Support pre and post steps in gcloud script yaml
  mockgcp/mockgcptests/e2e_test.go
Labels: lgtm, approved

#3903 tool: Checkout master before creating new branch
  experiments/conductor/cmd/runner/github_commands.go
Labels: lgtm, approved

#3890 mockgcp: add support for BackupDRManagementServer
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupdr.pb.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupdr.pb.gw.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupdr_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupplan.pb.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupplanassociation.pb.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupvault.pb.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupvault_ba.pb.go
  mockgcp/generated/mockgcp/cloud/backupdr/v1/backupvault_gce.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbackupdr/managementserver.go
  mockgcp/mockbackupdr/service.go
  mockgcp/mockbackupdr/testdata/managementserver/crud/_http.log
  mockgcp/mockbackupdr/testdata/managementserver/crud/script.yaml
  mockgcp/mockgcptests/proxy.go
  mockgcp/mockservicenetworking/connection.go
  tests/e2e/httplog.go
Labels: lgtm, approved

#3909 Improve error message in mapper enhancer and fix api.group
  dev/tools/controllerbuilder/pkg/toolbot/enhancewithmappers.go
  pkg/controller/direct/vertexai/featurestore_fuzzer.go
Labels: lgtm, approved

#3919 Skip recording auth token exchanges
  pkg/test/eventsink.go
Labels: lgtm, approved

#3920 conductor: pass global timeouts to the go test commands to deal with LRO operations
  experiments/conductor/cmd/runner/mock_commands.go
Labels: lgtm, approved

#3923 mockgcp tests: only capture events from "normal" steps
  mockgcp/mockgcptests/e2e_test.go
Labels: lgtm, approved

#3841 Create mock for resource aiplatform model
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/deployed_index_ref.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/deployed_model_ref.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/deployment_resource_pool.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/deployment_resource_pool_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/deployment_resource_pool_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/deployment_resource_pool_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/env_var.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/evaluated_annotation.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/job_state.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_deployment_monitoring_job.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_evaluation.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_evaluation_slice.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_garden_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_garden_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_garden_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitor.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_alert.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_job.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_spec.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_monitoring_stats.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/model_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/publisher_model.pb.go
  mockgcp/mockaiplatform/model.go
  mockgcp/mockaiplatform/service.go
  mockgcp/mockaiplatform/testdata/model/crud/_http.log
  mockgcp/mockaiplatform/testdata/model/crud/script.yaml
  mockgcp/mockgcptests/e2e_test.go
Labels: lgtm, approved

#3888 Create a mock for resource workflows execution
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/workflows/executions/v1/executions.pb.go
  mockgcp/generated/mockgcp/cloud/workflows/executions/v1/executions.pb.gw.go
  mockgcp/generated/mockgcp/cloud/workflows/executions/v1/executions_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockworkflowexecution/execution.go
  mockgcp/mockworkflowexecution/normalize.go
  mockgcp/mockworkflowexecution/service.go
  mockgcp/mockworkflowexecution/testdata/execution/crud/_http.log
  mockgcp/mockworkflowexecution/testdata/execution/crud/script.yaml
  mockgcp/mockworkflowexecution/testdata/execution/crud/workflow.yaml
Labels: lgtm, approved

#3914 conductor: support regex matching of resources
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#3917 conductor: simplify execution of git commands
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3918 conductor: always log to stderr, even when also logging to file
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3940 Broken Head: make gen-proto on latest, uploading diff
  mockgcp/generated/google/bigtable/admin/v2/bigtable_instance_admin.pb.gw.go
  mockgcp/generated/google/bigtable/admin/v2/bigtable_table_admin.pb.gw.go
Labels: lgtm, approved

#3884 mockGCP: Resource bigtable appprofile
  mockgcp/mockbigtable/appprofile.go
  mockgcp/mockbigtable/testdata/appprofile/crud/_http.log
  mockgcp/mockbigtable/testdata/appprofile/crud/script.yaml
  tests/e2e/httplog.go
Labels: lgtm, approved

#3881 chore: add linter for pluralized acronym capitalization
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#3766 mockgcp: support for resource-manager tagkey
  mockgcp/mockresourcemanager/service.go
  mockgcp/mockresourcemanager/tagkeys.go
  mockgcp/mockresourcemanager/testdata/tagkey/crud/_http.log
  mockgcp/mockresourcemanager/testdata/tagkey/crud/script.yaml
  tests/e2e/httplog.go
  tests/e2e/replacements.go
Labels: lgtm, approved, service:resourcemanager

#3935 mockgcp: for api quotapreference
  mockgcp/Makefile
  mockgcp/fixup-third-party.sh
  mockgcp/generated/mockgcp/api/cloudquotas/v1/cloudquotas.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1/cloudquotas.pb.gw.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1/cloudquotas_grpc.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1/resources.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/cloudquotas.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/cloudquotas.pb.gw.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/cloudquotas_grpc.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/quota_adjuster_settings.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/quota_adjuster_settings.pb.gw.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/quota_adjuster_settings_grpc.pb.go
  mockgcp/generated/mockgcp/api/cloudquotas/v1beta/resources.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcloudquota/quotapreference.go
  mockgcp/mockcloudquota/service.go
  mockgcp/mockcloudquota/testdata/quotapreference/crud/_http.log
  mockgcp/mockcloudquota/testdata/quotapreference/crud/script.yaml
  mockgcp/mockgcptests/e2e_test.go
Labels: lgtm, approved

#3854 Create mock for resource batch job
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/batch/v1/batch.pb.go
  mockgcp/generated/mockgcp/cloud/batch/v1/batch.pb.gw.go
  mockgcp/generated/mockgcp/cloud/batch/v1/batch_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/batch/v1/job.pb.go
  mockgcp/generated/mockgcp/cloud/batch/v1/task.pb.go
  mockgcp/generated/mockgcp/cloud/batch/v1/volume.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbatch/job.go
  mockgcp/mockbatch/service.go
  mockgcp/mockbatch/testdata/job/crud/_http.log
  mockgcp/mockbatch/testdata/job/crud/script.yaml
Labels: lgtm, approved

#3844 ComposerEnvironment direct controller
  apis/composer/v1alpha1/generate.sh
  config/tests/samples/create/harness.go
  mockgcp/mockcomposer/environment.go
  pkg/controller/direct/composer/environment_controller.go
  pkg/test/resourcefixture/testdata/basic/composer/v1alpha1/composerenvironment/_generated_object_composerenvironment.golden.yaml
  pkg/test/resourcefixture/testdata/basic/composer/v1alpha1/composerenvironment/_http.log
  pkg/test/resourcefixture/testdata/basic/composer/v1alpha1/composerenvironment/create.yaml
  pkg/test/resourcefixture/testdata/basic/composer/v1alpha1/composerenvironment/update.yaml
Labels: lgtm, approved

#3957 conductor: echo stdout/stderr even when capturing
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3887 Updated deps for CVE fixes.
  go.mod
  go.sum
Labels: lgtm, approved

#3908 Create a mockd for resource edgecontainer vpnconnection
  mockgcp/Makefile
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockedgecontainer/cluster.go
  mockgcp/mockedgecontainer/service.go
  mockgcp/mockedgecontainer/testdata/vpnconnection/crud/_http.log
  mockgcp/mockedgecontainer/testdata/vpnconnection/crud/script.yaml
  mockgcp/mockedgecontainer/vpnconnection.go
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainercluster/_generated_object_edgecontainercluster.golden.yaml
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainercluster/_http.log
  pkg/test/resourcefixture/testdata/basic/edgecontainer/v1beta1/edgecontainernodepool/_http.log
Labels: lgtm, approved

#3843 Create mock for resource apphub discoveredservice
  mockgcp/mockapphub/discoveredservice.go
  mockgcp/mockapphub/service.go
  mockgcp/mockapphub/testdata/discoveredservice/crud/_http.log
  mockgcp/mockapphub/testdata/discoveredservice/crud/script.yaml
Labels: lgtm, approved

#3951 conductor : mocks for Resource asset feed
  go.mod
  go.sum
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/asset/v1/asset_service.pb.go
  mockgcp/generated/mockgcp/cloud/asset/v1/asset_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/asset/v1/asset_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/asset/v1/assets.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockasset/feed.go
  mockgcp/mockasset/service.go
  mockgcp/mockasset/testdata/feed/crud/_http.log
  mockgcp/mockasset/testdata/feed/crud/script.yaml
Labels: lgtm, approved

#3964 fix: Remove Cache-Control header
  mockgcp/mockapphub/testdata/discoveredservice/crud/_http.log
Labels: lgtm, approved

#3967 conductor: Refactor to simplify each branch function
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3969 refactor: processBranch function for better maintainability
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3945 conductor:branches: delete operations resources
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#3905 feat: add BackupDRManagementServer as a direct resource
  apis/backupdr/v1alpha1/doc.go
  apis/backupdr/v1alpha1/generate.sh
  apis/backupdr/v1alpha1/groupversion_info.go
  apis/backupdr/v1alpha1/managementserver_identity.go
  apis/backupdr/v1alpha1/managementserver_reference.go
  apis/backupdr/v1alpha1/managementserver_types.go
  apis/backupdr/v1alpha1/types.generated.go
  apis/backupdr/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrmanagementservers.backupdr.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  experiments/conductor/cmd/runner/scripts/crd_mapper_fuzzer/generate-backupdr-managementserver.sh
  go.mod
  go.sum
  mockgcp/mockbackupdr/managementserver.go
  mockgcp/mockbackupdr/service.go
  mockgcp/mockbackupdr/testdata/managementserver/crud/_http.log
  pkg/controller/direct/backupdr/managementServer_fuzzer.go
  pkg/controller/direct/backupdr/managementserver_controller.go
  pkg/controller/direct/backupdr/managementserver_mappers.go
  pkg/controller/direct/backupdr/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/resourcefixture/contexts/backupdr_context.go
  pkg/test/resourcefixture/testdata/basic/backupdr/v1alpha1/backupdrmanagementserver/_generated_object_backupdrmanagementserver.golden.yaml
  pkg/test/resourcefixture/testdata/basic/backupdr/v1alpha1/backupdrmanagementserver/_http.log
  pkg/test/resourcefixture/testdata/basic/backupdr/v1alpha1/backupdrmanagementserver/create.yaml
  pkg/test/resourcefixture/testdata/basic/backupdr/v1alpha1/backupdrmanagementserver/dependencies.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#3971 Updated prom-to-sd for CVE
  operator/channels/packages/configconnector/1.127.0/cluster/workload-identity/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.127.0/namespaced/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.127.0/namespaced/per-namespace-components.yaml
  operator/channels/packages/configconnector/1.128.0/cluster/workload-identity/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.128.0/namespaced/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.128.0/namespaced/per-namespace-components.yaml
  operator/channels/packages/configconnector/1.129.2/cluster/workload-identity/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.129.2/namespaced/0-cnrm-system.yaml
  operator/channels/packages/configconnector/1.129.2/namespaced/per-namespace-components.yaml
  operator/config/channels/cluster-workload-identity/manager_sidecar_patch.yaml
  operator/config/channels/cluster-workload-identity/recorder_sidecar_patch.yaml
  operator/config/channels/namespaced-main/recorder_sidecar_patch.yaml
  operator/config/channels/namespaced-per-namespace-components/manager_sidecar_patch.yaml
  operator/config/gke-addon/image_configmap.yaml
  operator/scripts/update-kcc-manifest/manager_sidecar_patch.yaml
  operator/scripts/update-kcc-manifest/recorder_sidecar_patch.yaml
Labels: lgtm, approved

#3954 apilinter: improve refs check
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#3975 chore: fix compilation error in ctf
  dev/tools/controllerbuilder/cmd/ctf/main.go
Labels: lgtm, approved

#3976 controllerbuilder: allow specification of proto messages from different proto packages
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
  dev/tools/controllerbuilder/pkg/options/resource.go
  dev/tools/controllerbuilder/scaffold/apis.go
  dev/tools/controllerbuilder/template/apis/identity.go
  dev/tools/controllerbuilder/template/apis/refs.go
  dev/tools/controllerbuilder/template/apis/types.go
Labels: lgtm, approved

#3962 mockGCP: Resource bigtable authorizedview
  mockgcp/mockbigtable/appprofile.go
  mockgcp/mockbigtable/authorizedview.go
  mockgcp/mockbigtable/instance.go
  mockgcp/mockbigtable/service.go
  mockgcp/mockbigtable/table.go
  mockgcp/mockbigtable/testdata/authorizedview/crud/_http.log
  mockgcp/mockbigtable/testdata/authorizedview/crud/authorized_view.json
  mockgcp/mockbigtable/testdata/authorizedview/crud/script.yaml
Labels: lgtm, approved

#3978 conductor: add cmdAdjustTypes
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3990 chore: upload scripts for creating controllers
  experiments/conductor/branches-all.yaml
  experiments/conductor/cmd/runner/scripts/controller/01-create-controller-client.sh
  experiments/conductor/cmd/runner/scripts/controller/02-create-controller.sh
  experiments/conductor/cmd/runner/scripts/controller/03-create-identity.sh
  experiments/conductor/cmd/runner/scripts/controller/04-create-test.sh
  experiments/conductor/cmd/runner/scripts/controller/05-capture-golden-test-output.sh
  experiments/conductor/cmd/runner/scripts/controller/_generate-resource.sh
  experiments/conductor/cmd/runner/scripts/controller/generate-resource-targetsite.sh
  experiments/conductor/cmd/runner/scripts/controller/generate-service-tpu.sh
  experiments/conductor/cmd/runner/scripts/controller/notes.md
  pkg/controller/direct/dataflow/client.go
  pkg/controller/direct/discoveryengine/datastore_controller.go
  pkg/controller/direct/monitoring/client.go
Labels: lgtm, approved

#3984 chore: fix the filename for BQ reservation mappings
  pkg/controller/direct/bigqueryreservation/reservation_mappings.go
Labels: lgtm, approved

#3982 DiscoveryEngineDataStore: cleanup test
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/discoveryengine/v1alpha1/discoveryenginedatastore/discoveryenginedatastoreminimal/update.yaml
Labels: lgtm, approved

#4002 controllerbuilder: support function-scoped tool
  dev/tools/controllerbuilder/pkg/toolbot/extracttoolmarkers.go
Labels: lgtm, approved

#4001 controllerbuilder: use XML format consistently
  dev/tools/controllerbuilder/pkg/toolbot/datapoint.go
Labels: lgtm, approved

#3996 feat: add types, mappers and fuzzer for SpeechRecognizer
  apis/speech/v1alpha1/doc.go
  apis/speech/v1alpha1/groupversion_info.go
  apis/speech/v1alpha1/recognizer_identity.go
  apis/speech/v1alpha1/recognizer_reference.go
  apis/speech/v1alpha1/recognizer_types.go
  apis/speech/v1alpha1/types.generated.go
  apis/speech/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_speechrecognizers.speech.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/register/register.go
  pkg/controller/direct/speech/mapper.generated.go
  pkg/controller/direct/speech/recognizer_fuzzer.go
  pkg/controller/direct/speech/recognizer_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3855 Create mock for resource batch task
  mockgcp/Makefile
  mockgcp/mockbatch/job.go
  mockgcp/mockbatch/service.go
  mockgcp/mockbatch/task.go
  mockgcp/mockbatch/testdata/task/crud/_http.log
  mockgcp/mockbatch/testdata/task/crud/job.json
  mockgcp/mockbatch/testdata/task/crud/script.yaml
Labels: lgtm, approved

#3797 Add DocumentAIProcessorVersion types, mappers, CRD and fuzzer
  apis/documentai/generate.sh
  apis/documentai/v1alpha1/processorversion_identity.go
  apis/documentai/v1alpha1/processorversion_reference.go
  apis/documentai/v1alpha1/processorversion_types.go
  apis/documentai/v1alpha1/types.generated.go
  apis/documentai/v1alpha1/zz_generated.deepcopy.go
  apis/kms/v1alpha1/cryptokeyversion_reference.go
  apis/kms/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_documentaiprocessorversions.documentai.cnrm.cloud.google.com.yaml
  pkg/controller/direct/documentai/mapper.generated.go
  pkg/controller/direct/documentai/processorversion_fuzzer.go
  pkg/controller/direct/documentai/processorversion_mappings.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved

#3950 Add CRD and mapper for resource tasks queue
  apis/tasks/v1alpha1/doc.go
  apis/tasks/v1alpha1/groupversion_info.go
  apis/tasks/v1alpha1/queue_identity.go
  apis/tasks/v1alpha1/queue_reference.go
  apis/tasks/v1alpha1/queue_types.go
  apis/tasks/v1alpha1/types.generated.go
  apis/tasks/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_tasksqueues.tasks.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/tasks/mapper.generated.go
  pkg/controller/direct/tasks/queue_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3947 Add CRD and mappers for resource apphub application
  apis/apphub/v1alpha1/application_identity.go
  apis/apphub/v1alpha1/application_reference.go
  apis/apphub/v1alpha1/application_types.go
  apis/apphub/v1alpha1/doc.go
  apis/apphub/v1alpha1/groupversion_info.go
  apis/apphub/v1alpha1/types.generated.go
  apis/apphub/v1alpha1/zz_generated.deepcopy.go
  apis/bigquerydatatransfer/v1beta1/types.generated.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_apphubapplications.apphub.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/apphub/application_fuzzer.go
  pkg/controller/direct/apphub/applications_mapper.go
  pkg/controller/direct/apphub/mapper.generated.go
  pkg/controller/direct/apphub/roundtrip_test.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3985 feat: add types, mappers and fuzzer for BackupDRBackupPlan
  apis/backupdr/v1alpha1/backupplan_identity.go
  apis/backupdr/v1alpha1/backupplan_reference.go
  apis/backupdr/v1alpha1/backupplan_types.go
  apis/backupdr/v1alpha1/generate.sh
  apis/backupdr/v1alpha1/types.generated.go
  apis/backupdr/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrbackupplans.backupdr.cnrm.cloud.google.com.yaml
  pkg/controller/direct/backupdr/backupplan_fuzzer.go
  pkg/controller/direct/backupdr/backupplan_mappers.go
  pkg/controller/direct/backupdr/managementserver_mappers.go
  pkg/controller/direct/backupdr/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/fuzz/generate.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#3753 Add SecureSourceManager samples
  apis/securesourcemanager/v1beta1/repository_types.go
  config/samples/resources/securesourcemanagerinstance/securesourcemanagerinstance-basic/securesourcemanager_v1beta1_securesourcemanagerinstance.yaml
  config/samples/resources/securesourcemanagerinstance/securesourcemanagerinstance-cmek/iam_v1beta1_iampolicymember.yaml
  config/samples/resources/securesourcemanagerinstance/securesourcemanagerinstance-cmek/kms_v1beta1_kmscryptokey.yaml
  config/samples/resources/securesourcemanagerinstance/securesourcemanagerinstance-cmek/kms_v1beta1_kmskeyring.yaml
  config/samples/resources/securesourcemanagerinstance/securesourcemanagerinstance-cmek/securesourcemanager_v1beta1_securesourcemanagerinstance.yaml
  config/samples/resources/securesourcemanagerrepository/securesourcemanager_v1beta1_securesourcemanagerinstance.yaml
  config/samples/resources/securesourcemanagerrepository/securesourcemanager_v1beta1_securesourcemanagerrepository.yaml
  pkg/snippet/snippetgeneration/snippetgeneration.go
  scripts/generate-google3-docs/resource-reference/_toc.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/securesourcemanager/securesourcemanagerinstance.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/securesourcemanager/securesourcemanagerrepository.md
  scripts/generate-google3-docs/resource-reference/overview.md
Labels: lgtm, approved

#4019 chore: remove duplicated resource
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_cloudtasksqueues.cloudtasks.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  pkg/controller/direct/tasks/queue_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
  scripts/resource-autogen/allowlist/allowlist.go
Labels: lgtm, approved

#4018 conductor: sync printHelp()
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#4023 chore: remove the generated test for CloudTasksQueue
  pkg/test/resourcefixture/testdata/basic/cloudtasks/v1alpha1/cloudtasksqueue/queueautogen/create.yaml
Labels: lgtm, approved

#3966 chore: make replacements reproducible
  tests/e2e/normalize.go
Labels: lgtm, approved

#3999 controllerbuilder: fix default value for proto-dir flag
  dev/tools/controllerbuilder/pkg/commands/exportcsv/prompt.go
  dev/tools/controllerbuilder/pkg/commands/iteratetypes/command.go
Labels: lgtm, approved

#3997 conductor: CRD generation improvements
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4020 Support mockgcp for ColabRuntimeTemplate
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/network_spec.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_euc_config.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_execution_job.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_idle_shutdown_config.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_runtime.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_runtime_template_ref.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/notebook_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/pipeline_failure_policy.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/pipeline_job.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/pipeline_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/pipeline_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/pipeline_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/pipeline_state.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/schedule.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/schedule_service.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/schedule_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/schedule_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/service_networking.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/training_pipeline.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/ui_pipeline_spec.pb.go
  mockgcp/generated/mockgcp/cloud/aiplatform/v1beta1/value.pb.go
  mockgcp/mockaiplatform/prompt/runtimetemplate_makefile_prompt.txt
  mockgcp/mockaiplatform/prompt/runtimetemplate_roundtrip_prompt.txt
  mockgcp/mockaiplatform/runtimetemplates.go
  mockgcp/mockaiplatform/service.go
  mockgcp/mockaiplatform/testdata/runtimetemplates/crud/_http.log
  mockgcp/mockaiplatform/testdata/runtimetemplates/crud/script.yaml
Labels: lgtm, approved

#4025 feat: add types, mappers and fuzzer for VMwareEngineNetwork
  apis/vmwareengine/v1alpha1/doc.go
  apis/vmwareengine/v1alpha1/generate.sh
  apis/vmwareengine/v1alpha1/groupversion_info.go
  apis/vmwareengine/v1alpha1/types.generated.go
  apis/vmwareengine/v1alpha1/vmwareenginenetwork_identity.go
  apis/vmwareengine/v1alpha1/vmwareenginenetwork_reference.go
  apis/vmwareengine/v1alpha1/vmwareenginenetwork_types.go
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareenginenetworks.vmwareengine.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/register/register.go
  pkg/controller/direct/vmwareengine/mapper.generated.go
  pkg/controller/direct/vmwareengine/vmwareenginenetwork_fuzzer.go
  pkg/controller/direct/vmwareengine/vmwareenginenetwork_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4009 fix: bad acronyms and plural forms
  dev/tools/controllerbuilder/pkg/codegen/common.go
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#4011 Add CRD and Mappers for resource apphub discoveredworkload
  apis/apphub/v1alpha1/discoveredworkload_identity.go
  apis/apphub/v1alpha1/discoveredworkload_reference.go
  apis/apphub/v1alpha1/discoveredworkload_types.go
  apis/apphub/v1alpha1/types.generated.go
  apis/apphub/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_apphubdiscoveredworkloads.apphub.cnrm.cloud.google.com.yaml
  pkg/controller/direct/apphub/applications_mappings.go
  pkg/controller/direct/apphub/discoveredworkload_fuzzer.go
  pkg/controller/direct/apphub/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3939 mockgcp: for api quotaadjustersettings
  mockgcp/Makefile
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcloudquota/quotaadjustersettings.go
  mockgcp/mockcloudquota/service.go
  mockgcp/mockcloudquota/testdata/quotaadjustersettings/crud/_http.log
  mockgcp/mockcloudquota/testdata/quotaadjustersettings/crud/script.yaml
Labels: lgtm, approved

#3973 feat: add types, mappers and fuzzer for GKEBackupBackupPlan
  apis/container/v1beta1/containercluster_reference.go
  apis/container/v1beta1/groupversion_info.go
  apis/gkebackup/v1alpha1/backupplan_identity.go
  apis/gkebackup/v1alpha1/backupplan_reference.go
  apis/gkebackup/v1alpha1/backupplan_types.go
  apis/gkebackup/v1alpha1/doc.go
  apis/gkebackup/v1alpha1/groupversion_info.go
  apis/gkebackup/v1alpha1/types.generated.go
  apis/gkebackup/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkebackupbackupplans.gkebackup.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/gkebackup/backupplan_fuzzer.go
  pkg/controller/direct/gkebackup/backupplan_mappers.go
  pkg/controller/direct/gkebackup/mapper.generated.go
  pkg/controller/direct/register/register.go
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#3986 Add CRD and Mapper for resource dataproc jobs
  apis/dataproc/v1alpha1/doc.go
  apis/dataproc/v1alpha1/groupversion_info.go
  apis/dataproc/v1alpha1/job_identity.go
  apis/dataproc/v1alpha1/job_reference.go
  apis/dataproc/v1alpha1/job_types.go
  apis/dataproc/v1alpha1/types.generated.go
  apis/dataproc/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataprocjobs.dataproc.cnrm.cloud.google.com.yaml
  go.mod
  pkg/controller/direct/dataproc/job_mappings.go
  pkg/controller/direct/dataproc/jobs_fuzzer.go
  pkg/controller/direct/dataproc/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4016 feat: add types, mappers and fuzzer for BackupDRBackupVault
  apis/backupdr/v1alpha1/backupvault_identity.go
  apis/backupdr/v1alpha1/backupvault_reference.go
  apis/backupdr/v1alpha1/backupvault_types.go
  apis/backupdr/v1alpha1/generate.sh
  apis/backupdr/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrbackupvaults.backupdr.cnrm.cloud.google.com.yaml
  pkg/controller/direct/backupdr/backupvault_fuzzer.go
  pkg/controller/direct/backupdr/backupvault_mappers.go
  pkg/controller/direct/backupdr/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4014 controllerbuilder: gracefully handle missing mapper directory during enhancement
  dev/tools/controllerbuilder/pkg/toolbot/enhancewithmappers.go
Labels: lgtm, approved

#3995 feat: apis, crds, mappers, fuzzer for NetAppBackupPolicy
  apis/netapp/v1alpha1/backuppolicy_identity.go
  apis/netapp/v1alpha1/backuppolicy_reference.go
  apis/netapp/v1alpha1/backuppolicy_types.go
  apis/netapp/v1alpha1/doc.go
  apis/netapp/v1alpha1/groupversion_info.go
  apis/netapp/v1alpha1/types.generated.go
  apis/netapp/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_netappbackuppolicies.netapp.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/netapp/backuppolicy_fuzzer.go
  pkg/controller/direct/netapp/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4027 Mocks for resource asset-savedquery
  mockgcp/generated/mockgcp/cloud/metastore/v1/metastore.pb.go.backup
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockasset/feed.go
  mockgcp/mockasset/savedquery.go
  mockgcp/mockasset/service.go
  mockgcp/mockasset/testdata/savedquery/crud/_http.log
  mockgcp/mockasset/testdata/savedquery/crud/script.yaml
  tests/e2e/httplog.go
Labels: lgtm, approved

#4037 feat: add types, mappers and fuzzer for GKEBackupRestorePlan
  apis/gkebackup/v1alpha1/backupplan_types.go
  apis/gkebackup/v1alpha1/generate.sh
  apis/gkebackup/v1alpha1/restoreplan_identity.go
  apis/gkebackup/v1alpha1/restoreplan_reference.go
  apis/gkebackup/v1alpha1/restoreplan_types.go
  apis/gkebackup/v1alpha1/types.generated.go
  apis/gkebackup/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkebackupbackupplans.gkebackup.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkebackuprestoreplans.gkebackup.cnrm.cloud.google.com.yaml
  pkg/controller/direct/gkebackup/backupplan_mappers.go
  pkg/controller/direct/gkebackup/mapper.generated.go
  pkg/controller/direct/gkebackup/restoreplan_fuzzer.go
  pkg/controller/direct/gkebackup/restoreplan_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4034 chore: remove TODO for pluralization checks in resource types template
  apis/alloydb/v1alpha1/cluster_types.go
  apis/apigee/v1alpha1/endpointattachment_types.go
  apis/apigee/v1alpha1/environmentgroupattachment_types.go
  apis/apigee/v1beta1/endpointattachment_types.go
  apis/apigee/v1beta1/environmentgroupattachment_types.go
  apis/apphub/v1alpha1/application_types.go
  apis/apphub/v1alpha1/discoveredworkload_types.go
  apis/bigquerybiglake/v1alpha1/catalog_types.go
  apis/bigquerybiglake/v1alpha1/database_types.go
  apis/bigqueryreservation/v1alpha1/reservation_types.go
  apis/composer/v1alpha1/environment_types.go
  apis/dataproc/v1alpha1/job_types.go
  apis/discoveryengine/v1alpha1/discoveryenginedatastore_types.go
  apis/discoveryengine/v1alpha1/engine_types.go
  apis/documentai/v1alpha1/processor_types.go
  apis/iap/v1alpha1/iapsettings_types.go
  apis/managedkafka/v1alpha1/cluster_types.go
  apis/managedkafka/v1beta1/cluster_types.go
  apis/secretmanager/v1beta1/secretversion_types.go
  apis/spanner/v1beta1/instance_types.go
  apis/tasks/v1alpha1/queue_types.go
  apis/tpu/v1alpha1/node_types.go
  apis/workflows/v1alpha1/workflow_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iapsettings.iap.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/template/apis/types.go
Labels: lgtm, approved

#3924 [conductor] Mock for Apigateway api
  mockgcp/Makefile
  mockgcp/generated/google/cloud/apigateway/v1/apigateway_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/apigateway/v1/apigateway.pb.go
  mockgcp/generated/mockgcp/cloud/apigateway/v1/apigateway_service.pb.go
  mockgcp/generated/mockgcp/cloud/apigateway/v1/apigateway_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/apigateway/v1/apigateway_service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockapigateway/api.go
  mockgcp/mockapigateway/service.go
  mockgcp/mockapigateway/testdata/api/crud/_http.log
  mockgcp/mockapigateway/testdata/api/crud/script.yaml
Labels: lgtm, approved

#3991 feat: add types, mappers and fuzzer for NetworkSecurityAuthorizationPolicy
  apis/networksecurity/v1beta1/authorizationpolicy_identity.go
  apis/networksecurity/v1beta1/authorizationpolicy_reference.go
  apis/networksecurity/v1beta1/authorizationpolicy_types.go
  apis/networksecurity/v1beta1/doc.go
  apis/networksecurity/v1beta1/generate.sh
  apis/networksecurity/v1beta1/groupversion_info.go
  apis/networksecurity/v1beta1/types.generated.go
  apis/networksecurity/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networksecurityauthorizationpolicies.networksecurity.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/networksecurity/authorizationpolicy_fuzzer.go
  pkg/controller/direct/networksecurity/authorizationpolicy_mappers.go
  pkg/controller/direct/networksecurity/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/test/fuzz/generate.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/networksecurity/networksecurityauthorizationpolicy.md
Labels: lgtm, approved

#4033 feat: add types, mappers and fuzzer for VMwareEngineNetworkPeering
  apis/vmwareengine/v1alpha1/generate.sh
  apis/vmwareengine/v1alpha1/networkpeering_identity.go
  apis/vmwareengine/v1alpha1/networkpeering_reference.go
  apis/vmwareengine/v1alpha1/networkpeering_types.go
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareenginenetworkpeerings.vmwareengine.cnrm.cloud.google.com.yaml
  pkg/controller/direct/vmwareengine/networkpeering_fuzzer.go
  pkg/controller/direct/vmwareengine/networkpeering_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4010 feat: add types, mappers and fuzzer for DatastreamPrivateConnection
  apis/datastream/v1alpha1/doc.go
  apis/datastream/v1alpha1/generate.sh
  apis/datastream/v1alpha1/groupversion_info.go
  apis/datastream/v1alpha1/privateconnection_identity.go
  apis/datastream/v1alpha1/privateconnection_reference.go
  apis/datastream/v1alpha1/privateconnection_types.go
  apis/datastream/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datastreamprivateconnections.datastream.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/datastream/mapper.generated.go
  pkg/controller/direct/datastream/privateconnection_fuzzer.go
  pkg/controller/direct/datastream/privateconnection_mappers.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#4017 BackupDRBackupPlan: spec.backupVault is a reference field
  apis/backupdr/v1alpha1/backupplan_types.go
  apis/backupdr/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrbackupplans.backupdr.cnrm.cloud.google.com.yaml
  pkg/controller/direct/backupdr/backupplan_mappers.go
  pkg/controller/direct/backupdr/mapper.generated.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved

#4004 Refactor: Add Parent field to resource task-queue
  apis/tasks/v1alpha1/queue_identity.go
  apis/tasks/v1alpha1/queue_types.go
  apis/tasks/v1alpha1/zz_generated.deepcopy.go
Labels: lgtm, approved

#3981 Add CRD and Mappers for resource workflows execution
  apis/workflows/v1alpha1/doc.go
  apis/workflows/v1alpha1/execution_identity.go
  apis/workflows/v1alpha1/execution_reference.go
  apis/workflows/v1alpha1/execution_types.go
  apis/workflows/v1alpha1/types.generated.go
  apis/workflows/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_workflowsexecutions.workflows.cnrm.cloud.google.com.yaml
  pkg/controller/direct/workflows/execution_fuzzer.go
  pkg/controller/direct/workflows/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4036 feat: add types, mappers and fuzzer for BackupDRBackupPlanAssociation
  apis/backupdr/v1alpha1/backupplanassociation_identity.go
  apis/backupdr/v1alpha1/backupplanassociation_reference.go
  apis/backupdr/v1alpha1/backupplanassociation_types.go
  apis/backupdr/v1alpha1/generate.sh
  apis/backupdr/v1alpha1/types.generated.go
  apis/backupdr/v1alpha1/zz_generated.deepcopy.go
  apis/compute/v1beta1/instance_identity.go
  apis/compute/v1beta1/instance_reference.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrbackupplanassociations.backupdr.cnrm.cloud.google.com.yaml
  pkg/controller/direct/backupdr/backupplanassociation_fuzzer.go
  pkg/controller/direct/backupdr/backupplanassociation_mappers.go
  pkg/controller/direct/backupdr/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3977 discoveryengine: create generate script, move files to updated locations
  apis/discoveryengine/v1alpha1/datastore_identity.go
  apis/discoveryengine/v1alpha1/datastore_types.go
  apis/discoveryengine/v1alpha1/engine_identity.go
  apis/discoveryengine/v1alpha1/generate.sh
  apis/discoveryengine/v1alpha1/targetsite_types.go
  apis/discoveryengine/v1alpha1/types.generated.go
  apis/discoveryengine/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/discoveryengine/mapper.generated.go
Labels: approved

#3927 mockgcp: support for compute externalVpnGateways
  mockgcp/mockcompute/computeexternalvpngateways.go
  mockgcp/mockcompute/service.go
  mockgcp/mockcompute/testdata/computeexternalvpngateways/crud/_http.log
  mockgcp/mockcompute/testdata/computeexternalvpngateways/crud/script.yaml
Labels: lgtm, approved

#4044 feat: add types, mappers and fuzzer for VMwareEngineNetworkPolicy
  apis/vmwareengine/v1alpha1/generate.sh
  apis/vmwareengine/v1alpha1/networkpolicy_identity.go
  apis/vmwareengine/v1alpha1/networkpolicy_reference.go
  apis/vmwareengine/v1alpha1/networkpolicy_types.go
  apis/vmwareengine/v1alpha1/types.generated.go
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareenginenetworkpolicies.vmwareengine.cnrm.cloud.google.com.yaml
  pkg/controller/direct/vmwareengine/mapper.generated.go
  pkg/controller/direct/vmwareengine/networkpolicy_fuzzer.go
  pkg/controller/direct/vmwareengine/networkpolicy_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4012 Add CRD and Mapper for resource edgecontainer machine
  apis/edgecontainer/v1alpha1/doc.go
  apis/edgecontainer/v1alpha1/groupversion_info.go
  apis/edgecontainer/v1alpha1/machine_identity.go
  apis/edgecontainer/v1alpha1/machine_reference.go
  apis/edgecontainer/v1alpha1/machine_types.go
  apis/edgecontainer/v1alpha1/types.generated.go
  apis/edgecontainer/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_edgecontainermachines.edgecontainer.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/edgecontainer/machine_fuzzer.go
  pkg/controller/direct/edgecontainer/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4005 SSM: Remove alpha label for SSM instance
  apis/securesourcemanager/v1alpha1/instance_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_securesourcemanagerinstances.securesourcemanager.cnrm.cloud.google.com.yaml
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3979 chore: update 02 spec-and-status script
  experiments/conductor/cmd/runner/scripts/crd_mapper_fuzzer/02-generate-spec-and-status.sh
Labels: lgtm, approved

#4057 Conductor: First version of implementing controller commands
  experiments/conductor/cmd/runner/controller_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4042 Mocks for resource eventarc-channel
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/eventarc/v1/channel.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/channel_connection.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/discovery.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/enrollment.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/eventarc.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/eventarc.pb.gw.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/eventarc_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/google_api_source.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/google_channel_config.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/logging_config.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/message_bus.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/network_config.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/pipeline.pb.go
  mockgcp/generated/mockgcp/cloud/eventarc/v1/trigger.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockeventarc/channel.go
  mockgcp/mockeventarc/service.go
  mockgcp/mockeventarc/testdata/channel/crud/_http.log
  mockgcp/mockeventarc/testdata/channel/crud/script.yaml
Labels: lgtm, approved

#4040 Mocks for resource essentialcontacts-contact
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/essentialcontacts/v1/enums.pb.go
  mockgcp/generated/mockgcp/cloud/essentialcontacts/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/essentialcontacts/v1/service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/essentialcontacts/v1/service_grpc.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockessentialcontacts/contact.go
  mockgcp/mockessentialcontacts/service.go
  mockgcp/mockessentialcontacts/testdata/contact/crud/_http.log
  mockgcp/mockessentialcontacts/testdata/contact/crud/script.yaml
  tests/e2e/httplog.go
Labels: lgtm, approved

#4062 refactor: rename
  experiments/conductor/cmd/runner/controller_commands.go
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/mock_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4060 chore: write markers from generate-mapper to support regeneration
  dev/tools/controllerbuilder/pkg/annotations/fileannotation.go
  dev/tools/controllerbuilder/pkg/annotations/fileannotation_test.go
  dev/tools/controllerbuilder/pkg/codegen/generatorbase.go
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatemapper/generatemappercommand.go
  dev/tools/controllerbuilder/pkg/toolbot/extracttoolmarkers.go
Labels: lgtm, approved

#4063 chore: Ignore failing fuzz output in git
  .gitignore
Labels: lgtm, approved

#4056 Conductor: Improve Type generation
  dev/tools/controllerbuilder/Makefile
  dev/tools/controllerbuilder/pkg/codebot/tool_create_file.go
  dev/tools/controllerbuilder/pkg/llm/gemini.go
  dev/tools/controllerbuilder/pkg/llm/ollama.go
  dev/tools/controllerbuilder/pkg/llm/vertexai.go
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#3970 feat: apis, crds, mappers, fuzzer for CloudDeployDeliveryPipeline
  apis/clouddeploy/v1alpha1/deliverypipeline_identity.go
  apis/clouddeploy/v1alpha1/deliverypipeline_reference.go
  apis/clouddeploy/v1alpha1/deliverypipeline_types.go
  apis/clouddeploy/v1alpha1/doc.go
  apis/clouddeploy/v1alpha1/groupversion_info.go
  apis/clouddeploy/v1alpha1/types.generated.go
  apis/clouddeploy/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_clouddeploydeliverypipelines.clouddeploy.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/clouddeploy/deliverypipeline_fuzzer.go
  pkg/controller/direct/clouddeploy/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4008 Add dataplex lake types, mappers, CRD and fuzzer
  apis/dataplex/v1alpha1/doc.go
  apis/dataplex/v1alpha1/groupversion_info.go
  apis/dataplex/v1alpha1/lake_identity.go
  apis/dataplex/v1alpha1/lake_reference.go
  apis/dataplex/v1alpha1/lake_types.go
  apis/dataplex/v1alpha1/types.generated.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  apis/dataproc/v1alpha1/service_reference.go
  apis/dataproc/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplexlakes.dataplex.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/dataplex/lake_fuzzer.go
  pkg/controller/direct/dataplex/lake_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#3765 mockgcp: tests for resourcemanager tagvalue
  mockgcp/mockresourcemanager/service.go
  mockgcp/mockresourcemanager/tagvalues.go
  mockgcp/mockresourcemanager/testdata/tagvalue/crud/_http.log
  mockgcp/mockresourcemanager/testdata/tagvalue/crud/script.yaml
Labels: lgtm, approved, service:resourcemanager

#3974 Add CRD and Mapper for resource batch job
  apis/batch/v1alpha1/doc.go
  apis/batch/v1alpha1/groupversion_info.go
  apis/batch/v1alpha1/job_identity.go
  apis/batch/v1alpha1/job_reference.go
  apis/batch/v1alpha1/job_types.go
  apis/batch/v1alpha1/types.generated.go
  apis/batch/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_batchjobs.batch.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  go.mod
  go.sum
  pkg/controller/direct/batch/job_fuzzer.go
  pkg/controller/direct/batch/job_mapping.go
  pkg/controller/direct/batch/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4055 feat: add types, mappers and fuzzer for VMwareEngineExternalAccessRule
  apis/vmwareengine/v1alpha1/externalaccessrule_identity.go
  apis/vmwareengine/v1alpha1/externalaccessrule_reference.go
  apis/vmwareengine/v1alpha1/externalaccessrule_types.go
  apis/vmwareengine/v1alpha1/externaladdress_reference.go
  apis/vmwareengine/v1alpha1/generate.sh
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareengineexternalaccessrules.vmwareengine.cnrm.cloud.google.com.yaml
  pkg/controller/direct/vmwareengine/externalaccessrule_fuzzer.go
  pkg/controller/direct/vmwareengine/externaladdress_mappers.go
  pkg/controller/direct/vmwareengine/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4058 test: add validation for CRD shortName pluralization
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/shortname_pluralization.txt
Labels: lgtm, approved

#4064 Support mockgcp for ColabRuntime
  mockgcp/mockaiplatform/prompt/runtime_makefile_prompt.txt
  mockgcp/mockaiplatform/runtime.go
  mockgcp/mockaiplatform/runtimetemplate.go
  mockgcp/mockaiplatform/schedule.go
  mockgcp/mockaiplatform/testdata/runtime/crud/_http.log
  mockgcp/mockaiplatform/testdata/runtime/crud/script.yaml
  mockgcp/mockaiplatform/testdata/runtimetemplate/crud/_http.log
  mockgcp/mockaiplatform/testdata/runtimetemplate/crud/script.yaml
  mockgcp/mockaiplatform/testdata/schedule/crud/_http.log
  mockgcp/mockaiplatform/testdata/schedule/crud/script.yaml
  mockgcp/mockgcptests/e2e_test.go
  tests/e2e/normalize.go
Labels: lgtm, approved

#4068 Support types, mapper and fuzzer for ColabRuntimeTemplate
  apis/colab/v1alpha1/doc.go
  apis/colab/v1alpha1/groupversion_info.go
  apis/colab/v1alpha1/runtimetemplate_identity.go
  apis/colab/v1alpha1/runtimetemplate_reference.go
  apis/colab/v1alpha1/runtimetemplate_types.go
  apis/colab/v1alpha1/types.generated.go
  apis/colab/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_colabruntimetemplates.colab.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  dev/tools/controllerbuilder/pkg/codegen/common.go
  pkg/controller/direct/colab/mapper.generated.go
  pkg/controller/direct/colab/runtimetemplate_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#4065 mockgcp: NetAppBackupVault
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/netapp/v1/active_directory.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/backup.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/backup_policy.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/backup_vault.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/cloud_netapp_service.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/cloud_netapp_service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/cloud_netapp_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/common.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/kms.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/replication.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/snapshot.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/storage_pool.pb.go
  mockgcp/generated/mockgcp/cloud/netapp/v1/volume.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mocknetapp/backupvault.go
  mockgcp/mocknetapp/service.go
Labels: lgtm, approved

#4088 conductor improvements
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/github_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4086 conductor: minor adjustment to test generation
  experiments/conductor/cmd/runner/controller_commands.go
  experiments/conductor/cmd/runner/scripts/controller/04-create-test.sh
Labels: lgtm, approved

#4091 conductor: do not require gcloud http log when creating mocks
  experiments/conductor/cmd/runner/mock_commands.go
Labels: lgtm, approved

#4083 feat:mockgcp: CloudDeliveryPipeline
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/deploy/v1/automation_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/automationrun_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/cloud_deploy.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/cloud_deploy.pb.gw.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/cloud_deploy_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/customtargettype_notification_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/deliverypipeline_notification_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/deploypolicy_evaluation_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/deploypolicy_notification_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/jobrun_notification_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/log_enums.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/release_notification_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/release_render_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/rollout_notification_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/rollout_update_payload.pb.go
  mockgcp/generated/mockgcp/cloud/deploy/v1/target_notification_payload.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockclouddeploy/deliverypipeline.go
  mockgcp/mockclouddeploy/service.go
Labels: lgtm, approved

#4067 feat: add resource tasks queue controller
  apis/cloudtasks/v1alpha1/doc.go
  apis/cloudtasks/v1alpha1/groupversion_info.go
  apis/cloudtasks/v1alpha1/queue_identity.go
  apis/cloudtasks/v1alpha1/queue_reference.go
  apis/cloudtasks/v1alpha1/queue_types.go
  apis/cloudtasks/v1alpha1/types.generated.go
  apis/cloudtasks/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_tasksqueues.cloudtasks.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  config/tests/samples/create/harness.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockcloudtasks/queue.go
  mockgcp/mockcloudtasks/service.go
  mockgcp/mockcloudtasks/testdata/queue/crud/_http.log
  mockgcp/mockcloudtasks/testdata/queue/crud/script.yaml
  pkg/controller/direct/cloudtasks/mapper.generated.go
  pkg/controller/direct/cloudtasks/queue_controller.go
  pkg/controller/direct/cloudtasks/queue_fuzzer.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/resourcefixture/testdata/basic/cloudtasks/v1alpha1/cloudtasksqueue/queueautogen/_generated_object_queueautogen.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudtasks/v1alpha1/cloudtasksqueue/queueautogen/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudtasks/v1alpha1/cloudtasksqueue/queueautogen/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudtasks/v1alpha1/cloudtasksqueue/queueautogen/update.yaml
Labels: lgtm, approved

#4084 chore: refactor BackupDRManagementServer controller client
  pkg/controller/direct/backupdr/client.go
  pkg/controller/direct/backupdr/managementserver_controller.go
Labels: lgtm, approved

#4043 Add CRD and Mapper for resource storage folder
  apis/storage/v1alpha1/doc.go
  apis/storage/v1alpha1/folder_identity.go
  apis/storage/v1alpha1/folder_reference.go
  apis/storage/v1alpha1/folder_types.go
  apis/storage/v1alpha1/groupversion_info.go
  apis/storage/v1alpha1/types.generated.go
  apis/storage/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_storagefolders.storage.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/generate-proto.sh
  go.mod
  pkg/controller/direct/register/register.go
  pkg/controller/direct/storage/folder_fuzzer.go
  pkg/controller/direct/storage/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4098 edgecontainer machinetype: move hosted_node to status
  apis/edgecontainer/v1alpha1/generate.sh
  apis/edgecontainer/v1alpha1/machine_types.go
  apis/edgecontainer/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_edgecontainermachines.edgecontainer.cnrm.cloud.google.com.yaml
  pkg/controller/direct/edgecontainer/machine_fuzzer.go
  pkg/controller/direct/edgecontainer/mapper.generated.go
Labels: lgtm, approved

#4015 Add CRD and Mapper for resource networkservices servicebinding
  apis/networkservices/v1alpha1/doc.go
  apis/networkservices/v1alpha1/groupversion_info.go
  apis/networkservices/v1alpha1/servicebinding_identity.go
  apis/networkservices/v1alpha1/servicebinding_reference.go
  apis/networkservices/v1alpha1/servicebinding_types.go
  apis/networkservices/v1alpha1/types.generated.go
  apis/networkservices/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkservicesservicebindings.networkservices.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/networkservices/mapper.generated.go
  pkg/controller/direct/networkservices/servicebinding_fuzzer.go
  pkg/controller/direct/redis/cluster/roundtrip_test.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved
