Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2025-09, with the labels that each got.

#5070 experiments:genai: kompanion scripts
  experiments/kompanion/hacks/scripts/analyze_iam_policy.py
  experiments/kompanion/hacks/scripts/find_not_ready_resources.py
Labels: lgtm, approved

#5048 fix: expireTime from spec to observedState
  apis/pubsub/v1alpha1/snapshot_types.go
  apis/pubsub/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_pubsubsnapshots.pubsub.cnrm.cloud.google.com.yaml
  pkg/controller/direct/pubsub/mapper.generated.go
  pkg/controller/direct/pubsub/pubsubsnapshot_controller.go
  pkg/controller/direct/pubsub/snapshot_fuzzer.go
  pkg/controller/direct/pubsub/snapshot_mapper.go
  pkg/test/resourcefixture/testdata/basic/pubsub/v1alpha1/pubsubsnapshot/pubsubsnapshot-full/_generated_object_pubsubsnapshot-full.golden.yaml
Labels: lgtm, approved

#4339 Refactor KMSKeyHandle controller
  apis/kms/v1beta1/keyhandle_identity.go
  mockgcp/common/operations/operations.go
  mockgcp/mockkms/keyhandle.go
  mockgcp/mockkms/service.go
  pkg/controller/direct/kms/keyhandle/keyhandle_controller.go
  pkg/controller/direct/kms/keyhandle/keyhandle_mapper.go
  pkg/test/resourcefixture/contexts/kms_context.go
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/kmskeyhandle-with-id/_generated_object_kmskeyhandle-with-id.golden.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/kmskeyhandle-with-id/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/kmskeyhandle-with-id/create.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/kmskeyhandle-without-id/_generated_object_kmskeyhandle-without-id.golden.yaml
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/kmskeyhandle-without-id/_http.log
  pkg/test/resourcefixture/testdata/basic/kms/v1beta1/kmskeyhandle/kmskeyhandle-without-id/create.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/kms/kmskeyhandle.md
  scripts/generate-google3-docs/resource-reference/templates/kms_kmskeyhandle.tmpl
  tests/e2e/normalize.go
  tests/e2e/replacements.go
Labels: lgtm, approved

#5099 chore: remove unused alloydb mapper functions
  pkg/controller/direct/alloydb/mapping.go
Labels: lgtm, approved, service:alloydb

#5005 [direct] MemorystoreInstance v1alpha1 - Mapper
  apis/memorystore/v1alpha1/instance_types.go
  apis/memorystore/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_memorystoreinstances.memorystore.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/memorystore/instance_fuzzer.go
  pkg/controller/direct/memorystore/instance_mapper.go
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
Labels: lgtm, approved

#5096 FirestoreIndex: CRD/Mapper/Fuzzer
  apis/firestore/v1beta1/generate.sh
  apis/firestore/v1beta1/index_identity.go
  apis/firestore/v1beta1/index_reference.go
  apis/firestore/v1beta1/index_types.go
  apis/firestore/v1beta1/types.generated.go
  apis/firestore/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_firestoreindexes.firestore.cnrm.cloud.google.com.yaml
  docs/ai/create-crd-for-existing-terraform-resource.md
  pkg/controller/direct/firestore/firestoredatabase_controller.go
  pkg/controller/direct/firestore/firestoredatabase_fuzzer.go
  pkg/controller/direct/firestore/firestoreindex_fuzzer.go
  pkg/controller/direct/firestore/mapper.generated.go
  pkg/controller/direct/firestore/mappings.go
Labels: lgtm, approved

#5105 mockgcp: support for cloud dns zones
  mockgcp/Makefile
  mockgcp/apis/google/cloud/dns/v1/service.proto
  mockgcp/generated/google/cloud/dns/v1/service.pb.go
  mockgcp/generated/google/cloud/dns/v1/service.pb.gw.go
  mockgcp/generated/google/cloud/dns/v1/service_grpc.pb.go
  mockgcp/mockdns/managedzone.go
  mockgcp/mockdns/normalize.go
  mockgcp/mockdns/service.go
  mockgcp/mockdns/testdata/managed-zone/crud/_http.log
  mockgcp/mockdns/testdata/managed-zone/crud/script.yaml
  mockgcp/mockdns/util.go
  mockgcp/register.go
Labels: lgtm, approved

#5009 Fix: nil pointer dereference in alloydb direct controller
  pkg/controller/direct/alloydb/cluster_controller.go
  pkg/controller/direct/alloydb/instance_controller.go
Labels: lgtm, approved, service:alloydb

#5109 feat: add gemini guide for resource reference task
  docs/ai/add-resource-references.md
Labels: lgtm, approved

#5116 mockgcp: support for dns resourceRecordSets
  mockgcp/mockdns/managedzone.go
  mockgcp/mockdns/recordset.go
  mockgcp/mockdns/service.go
  mockgcp/mockdns/testdata/record-set/crud/_http.log
  mockgcp/mockdns/testdata/record-set/crud/script.yaml
  mockgcp/mockdns/util.go
Labels: lgtm, approved

#5169 Optimize Update by comparing policies
  pkg/controller/direct/orgpolicy/policy_controller.go
Labels: lgtm, approved

#4717 IAMDenyPolicy: create types/mapper/fuzzer
  apis/iam/v1alpha1/doc.go
  apis/iam/v1alpha1/generate.sh
  apis/iam/v1alpha1/groupversion_info.go
  apis/iam/v1alpha1/policy_identity.go
  apis/iam/v1alpha1/policy_reference.go
  apis/iam/v1alpha1/policy_types.go
  apis/iam/v1alpha1/types.generated.go
  apis/iam/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iamdenypolicies.iam.cnrm.cloud.google.com.yaml
  docs/reports/crd_report.csv
  docs/reports/crd_report.md
  pkg/controller/direct/iam/denypolicy_fuzzer.go
  pkg/controller/direct/iam/mapper.generated.go
  pkg/controller/direct/iam/mappers.go
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
Labels: lgtm, approved, service:iam

#5161 fix: mapper generator for OneOf if the input is not proto.Message
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  pkg/controller/direct/vmwareengine/mapper.generated.go
  pkg/controller/direct/vmwareengine/privatecloud_mappers.go
Labels: lgtm, approved

#5172 chore: require auto-generated files in cloudquota
  apis/cloudquota/v1beta1/generate.sh
Labels: lgtm, approved

#4962 exempt IAM resources from immutable field webhook
  pkg/webhook/register.go
Labels: lgtm, approved

#4628 chore: refactor bigquery references
  apis/bigquery/v1beta1/dataset_reference.go
  apis/bigquery/v1beta1/table_reference.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  apis/bigqueryanalyticshub/v1alpha1/listing_types.go
  apis/bigqueryanalyticshub/v1alpha1/zz_generated.deepcopy.go
  apis/bigqueryanalyticshub/v1beta1/listing_types.go
  apis/bigqueryanalyticshub/v1beta1/zz_generated.deepcopy.go
  apis/refs/v1beta1/bigqueryref.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigqueryanalyticshublistings.bigqueryanalyticshub.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerytables.bigquery.cnrm.cloud.google.com.yaml
  pkg/controller/direct/bigqueryanalyticshub/listing_controller.go
  pkg/controller/direct/bigqueryanalyticshub/mapper.go
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1beta1/bigqueryanalyticshublisting/bigqueryanalyticshublisting-full/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigqueryanalyticshub/v1beta1/bigqueryanalyticshublisting/bigqueryanalyticshublisting-full/update.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquery/bigquerytable.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryanalyticshub/bigqueryanalyticshublisting.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquerydatatransfer/bigquerydatatransferconfig.md
Labels: lgtm, approved

#4959 Add CEL annotation for immutable fields in IAM resources
  apis/iam/v1beta1/auditconfig_types.go
  apis/iam/v1beta1/partialpolicy_types.go
  apis/iam/v1beta1/policy_types.go
  apis/iam/v1beta1/policymember_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iamauditconfigs.iam.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iampartialpolicies.iam.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iampolicies.iam.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_iampolicymembers.iam.cnrm.cloud.google.com.yaml
Labels: lgtm, approved

#5178 test: skip preview test instead of suppressing error
  pkg/cli/preview/preview_test.go
Labels: lgtm, approved

#5108 feat: Api, mapper and fuzzer for Cloud RunJob (TF-based beta)
  apis/refs/v1beta1/secretmanagerrefs.go
  apis/run/v1beta1/doc.go
  apis/run/v1beta1/generate.sh
  apis/run/v1beta1/groupversion_info.go
  apis/run/v1beta1/job_identity.go
  apis/run/v1beta1/job_reference.go
  apis/run/v1beta1/job_types.go
  apis/run/v1beta1/types.generated.go
  apis/run/v1beta1/zz_generated.deepcopy.go
  apis/vpcaccess/v1beta1/doc.go
  apis/vpcaccess/v1beta1/register.go
  apis/vpcaccess/v1beta1/vpcaccess_connector_reference.go
  apis/vpcaccess/v1beta1/vpcaccess_types.go
  apis/vpcaccess/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_runjobs.run.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/run/job_fuzzer.go
  pkg/controller/direct/run/job_mapper.go
  pkg/controller/direct/run/mapper.generated.go
Labels: lgtm, approved

#5100 chore: BillingAccount: rename parent to parentRef
  apis/billing/v1alpha1/billingaccount_types.go
  apis/billing/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_billingaccounts.billing.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/pkg/codegen/mappergenerator.go
  pkg/controller/direct/billing/billingaccount_fuzzer.go
  pkg/controller/direct/billing/mapper.generated.go
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
Labels: lgtm, approved

#5176 refactor: name iam loggers
  pkg/controller/iam/auditconfig/iamauditconfig_controller.go
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
Labels: lgtm, approved

#5190 chore: align CloudDeploy api and mapper
  apis/clouddeploy/v1alpha1/deliverypipeline_types.go
  apis/clouddeploy/v1alpha1/generate.sh
  apis/clouddeploy/v1alpha1/types.generated.go
  apis/clouddeploy/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_clouddeploydeliverypipelines.clouddeploy.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_clouddeploydeploypolicies.clouddeploy.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_deploycustomtargettypes.clouddeploy.cnrm.cloud.google.com.yaml
  pkg/controller/direct/clouddeploy/customtargettype_fuzzer.go
  pkg/controller/direct/clouddeploy/mapper.generated.go
Labels: lgtm, approved

#5195 feat: Promote ComposerEnvironment to beta
  apis/composer/v1beta1/doc.go
  apis/composer/v1beta1/environment_identity.go
  apis/composer/v1beta1/environment_reference.go
  apis/composer/v1beta1/environment_types.go
  apis/composer/v1beta1/generate.sh
  apis/composer/v1beta1/groupversion_info.go
  apis/composer/v1beta1/types.generated.go
  apis/composer/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_composerenvironments.composer.cnrm.cloud.google.com.yaml
  docs/reports/crd_report.csv
  docs/reports/crd_report.md
  pkg/controller/direct/composer/environment_controller.go
  pkg/controller/direct/composer/environment_mappings.go
  pkg/controller/direct/composer/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/composer/v1beta1/composerenvironment/_generated_object_composerenvironment.golden.yaml
  pkg/test/resourcefixture/testdata/basic/composer/v1beta1/composerenvironment/_http.log
  pkg/test/resourcefixture/testdata/basic/composer/v1beta1/composerenvironment/create.yaml
  pkg/test/resourcefixture/testdata/basic/composer/v1beta1/composerenvironment/update.yaml
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
  tests/apichecks/testdata/exceptions/missingfields.txt
  tests/releases/testdata/missing_reference.txt
Labels: lgtm, approved

#5175 Fix: etag in existing resources
  apis/aiplatform/v1alpha1/model_types.go
  apis/aiplatform/v1alpha1/zz_generated.deepcopy.go
  apis/backupdr/v1alpha1/backupplan_types.go
  apis/backupdr/v1alpha1/managementserver_types.go
  apis/backupdr/v1alpha1/zz_generated.deepcopy.go
  apis/bigquerybiglake/v1alpha1/table_types.go
  apis/bigquerybiglake/v1alpha1/zz_generated.deepcopy.go
  apis/bigtable/v1alpha1/authorizedview_types.go
  apis/bigtable/v1alpha1/zz_generated.deepcopy.go
  apis/clouddeploy/v1alpha1/deliverypipeline_types.go
  apis/clouddeploy/v1alpha1/zz_generated.deepcopy.go
  apis/dataplex/v1alpha1/entrygroup_types.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  apis/orgpolicy/v1alpha1/policy_types.go
  apis/orgpolicy/v1alpha1/types.generated.go
  apis/orgpolicy/v1alpha1/zz_generated.deepcopy.go
  apis/spanner/v1alpha1/instanceconfig_types.go
  apis/spanner/v1alpha1/zz_generated.deepcopy.go
  apis/vertexai/v1alpha1/featurestore_types.go
  apis/vertexai/v1alpha1/zz_generated.deepcopy.go
  apis/vmwareengine/v1alpha1/vmwareenginenetwork_types.go
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_aiplatformmodels.aiplatform.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrbackupplans.backupdr.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_backupdrmanagementservers.backupdr.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_biglaketables.bigquerybiglake.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigtableauthorizedviews.bigtable.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_clouddeploydeliverypipelines.clouddeploy.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplexentrygroups.dataplex.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_orgpolicypolicies.orgpolicy.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_spannerinstanceconfigs.spanner.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vertexaifeaturestores.vertexai.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareenginenetworks.vmwareengine.cnrm.cloud.google.com.yaml
  docs/releasenotes/1.135.0.md
  pkg/controller/direct/aiplatform/model_mapping.go
  pkg/controller/direct/backupdr/backupplan_fuzzer.go
  pkg/controller/direct/backupdr/backupplan_mappers.go
  pkg/controller/direct/backupdr/managementserver_fuzzer.go
  pkg/controller/direct/backupdr/mapper.generated.go
  pkg/controller/direct/bigtable/authorizedview_fuzzer.go
  pkg/controller/direct/bigtable/authorizedview_mapper.go
  pkg/controller/direct/clouddeploy/deliverypipeline_fuzzer.go
  pkg/controller/direct/clouddeploy/mapper.generated.go
  pkg/controller/direct/dataplex/entrygroup_controller.go
  pkg/controller/direct/dataplex/entrygroup_fuzzer.go
  pkg/controller/direct/dataplex/entrygroup_mapper.go
  pkg/controller/direct/orgpolicy/mapper.generated.go
  pkg/controller/direct/orgpolicy/policy_fuzzer.go
  pkg/controller/direct/spanner/instanceconfig_controller.go
  pkg/controller/direct/spanner/instanceconfig_mapper.go
  pkg/controller/direct/vertexai/featurestore_mappers.go
  pkg/controller/direct/vmwareengine/mapper.generated.go
  tests/apichecks/testdata/exceptions/alpha-missingfields.txt
  tests/apichecks/testdata/exceptions/spec_dislike_etag.txt
Labels: lgtm, approved

#5203 chore: update template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: lgtm, approved

#5225 Ignore settings.json till we ship a MCP server.
  .gitignore
Labels: lgtm, approved

#5134 Add reconcile event start/end to iam controllers
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policy/iampolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
Labels: lgtm, approved

#5241 fix: Report reconciler loop with correct gvk for IAM controllers
  pkg/controller/iam/partialpolicy/iampartialpolicy_controller.go
  pkg/controller/iam/policymember/iampolicymember_controller.go
Labels: lgtm, approved

#5243 chore: remove jingyih from OWNERS
  OWNERS
  experiments/OWNERS
Labels: lgtm, approved

#5232 chore: create script to enable cherry-picking
  dev/tasks/cherry-pick
Labels: lgtm, approved

#5249 test: Recover cloudidentity scenarios tests
  dev/tasks/run-e2e
  tests/e2e/script_test.go
  tests/e2e/testdata/scenarios/acquisition/firewallpolicy/_object01.yaml
  tests/e2e/testdata/scenarios/acquisition/firewallpolicyrule/_object01.yaml
Labels: lgtm, approved
