Repository GoogleCloudPlatform/k8s-config-connector, pull requests merged in 2025-04, with the labels that each got.

#4218 Add labels to SecretManagerSecret Spec
  apis/secretmanager/v1beta1/secret_types.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_export_basicsecretmanagersecret.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_generated_export_fullsecretmanagersecret-auto-direct.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_generated_object_fullsecretmanagersecret-auto-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_generated_export_fullsecretmanagersecret-manual-direct.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_generated_object_fullsecretmanagersecret-manual-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/nontf.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/oauth.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/tf.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
Labels: lgtm, approved

#4111 Controller: Resource dataplex lake
  apis/storage/v1beta1/doc.go
  apis/storage/v1beta1/groupversion_info.go
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/google/cloud/dataplex/v1/catalog.pb.gw.go
  mockgcp/generated/google/cloud/dataplex/v1/content.pb.gw.go
  mockgcp/generated/google/cloud/dataplex/v1/data_taxonomy.pb.gw.go
  mockgcp/generated/google/cloud/dataplex/v1/datascans.pb.gw.go
  mockgcp/generated/google/cloud/dataplex/v1/metadata.pb.gw.go
  mockgcp/generated/google/cloud/dataplex/v1/service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/analyze.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/catalog.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/catalog_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/content.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/content_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/data_discovery.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/data_profile.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/data_quality.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/data_taxonomy.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/data_taxonomy_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/datascans.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/datascans_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/logs.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/metadata.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/metadata_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/processing.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/resources.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/security.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/dataplex/v1/tasks.pb.go
  mockgcp/mockdataplex/lake.go
  mockgcp/mockdataplex/service.go
  mockgcp/mockdataplex/testdata/lake/crud/_http.log
  pkg/controller/direct/dataplex/client.go
  pkg/controller/direct/dataplex/dataplexlake_controller.go
  pkg/controller/direct/dataplex/lake_mapper.go
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexlake/dataplexlake-minimal/_generated_object_dataplexlake-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexlake/dataplexlake-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexlake/dataplexlake-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexlake/dataplexlake-minimal/update.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved

#4102 Types and Mapper for resource eventarc channel
  apis/connector/v1/provider_identity.go
  apis/connector/v1/provider_reference.go
  apis/eventarc/v1alpha1/channel_identity.go
  apis/eventarc/v1alpha1/channel_reference.go
  apis/eventarc/v1alpha1/channel_types.go
  apis/eventarc/v1alpha1/doc.go
  apis/eventarc/v1alpha1/groupversion_info.go
  apis/eventarc/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_eventarcchannels.eventarc.cnrm.cloud.google.com.yaml
  go.mod
  go.sum
  pkg/controller/direct/eventarc/channel_fuzzer.go
  pkg/controller/direct/eventarc/mapper.generated.go
  pkg/controller/direct/register/register.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved, review

#4185 feat: update KRM status even when no fields changed
  pkg/controller/direct/backupdr/backupplan_controller.go
  pkg/controller/direct/backupdr/backupvault_controller.go
  pkg/controller/direct/backupdr/managementserver_controller.go
  pkg/controller/direct/backupdr/managementserver_fuzzer.go
  pkg/controller/direct/gkebackup/backupplan_controller.go
  pkg/controller/direct/vmwareengine/networkpolicy_controller.go
  pkg/controller/direct/vmwareengine/privatecloud_controller.go
  pkg/controller/direct/vmwareengine/vmwareenginenetwork_controller.go
Labels: lgtm, approved

#4188 feat: add controller, test and mock support for GKEBackupRestorePlan
  config/tests/samples/create/harness.go
  mockgcp/mockgkebackup/restoreplan.go
  pkg/controller/direct/gkebackup/restoreplan_controller.go
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestoreplan/gkebackuprestoreplan-minimal/_generated_object_gkebackuprestoreplan-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestoreplan/gkebackuprestoreplan-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestoreplan/gkebackuprestoreplan-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestoreplan/gkebackuprestoreplan-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestoreplan/gkebackuprestoreplan-minimal/update.yaml
Labels: lgtm, approved

#4190 feat: add resource dataproc batch controller
  apis/dataproc/v1alpha1/batch_identity.go
  config/tests/samples/create/harness.go
  mockgcp/mockdataproc/batch.go
  mockgcp/mockdataproc/service.go
  pkg/controller/direct/dataproc/batch_controller.go
  pkg/controller/direct/dataproc/client.go
  pkg/test/resourcefixture/testdata/basic/dataproc/v1alpha1/dataprocbatch/dataprocbatch-minimal/_generated_object_dataprocbatch-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataproc/v1alpha1/dataprocbatch/dataprocbatch-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/dataproc/v1alpha1/dataprocbatch/dataprocbatch-minimal/create.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved

#4182 mockGCP&Controller: Resource spanner instanceconfig
  apis/spanner/v1alpha1/instanceconfig_identity.go
  config/tests/samples/create/harness.go
  mockgcp/mockspanner/admin/instance.go
  pkg/controller/direct/spanner/client.go
  pkg/controller/direct/spanner/instance_controller.go
  pkg/controller/direct/spanner/instanceconfig_controller.go
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerinstanceconfig/spannerinstanceconfig-minimal/_generated_object_spannerinstanceconfig-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerinstanceconfig/spannerinstanceconfig-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerinstanceconfig/spannerinstanceconfig-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/spanner/v1alpha1/spannerinstanceconfig/spannerinstanceconfig-minimal/update.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved

#4191 controllerbuilder: find generated types
  dev/tools/controllerbuilder/cmd/regenerate/main.go
Labels: lgtm, approved

#3987 Add dataplex environment types, mappers, CRD and fuzzer
  apis/dataplex/v1alpha1/environment_identity.go
  apis/dataplex/v1alpha1/environment_reference.go
  apis/dataplex/v1alpha1/environment_types.go
  apis/dataplex/v1alpha1/types.generated.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplexenvironments.dataplex.cnrm.cloud.google.com.yaml
  pkg/controller/direct/dataplex/environment_fuzzer.go
  pkg/controller/direct/dataplex/environment_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4123 feat: add controller, test and mock support for VMwareEngineNetworkPeering
  config/tests/samples/create/harness.go
  mockgcp/mockvmwareengine/networkpeering.go
  pkg/controller/direct/vmwareengine/networkpeering_controller.go
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareenginenetworkpeering/vmwareenginenetworkpeering-minimal/_generated_object_vmwareenginenetworkpeering-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareenginenetworkpeering/vmwareenginenetworkpeering-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareenginenetworkpeering/vmwareenginenetworkpeering-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareenginenetworkpeering/vmwareenginenetworkpeering-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareenginenetworkpeering/vmwareenginenetworkpeering-minimal/update.yaml
Labels: lgtm, approved

#4229 Update http log for googlechannelconfig/crud
  mockgcp/mockeventarc/testdata/googlechannelconfig/crud/_http.log
Labels: lgtm, approved

#4050 Types and Mapper for resource asset feed
  apis/asset/v1alpha1/feed_identity.go
  apis/asset/v1alpha1/feed_reference.go
  apis/asset/v1alpha1/feed_types.go
  apis/asset/v1alpha1/types.generated.go
  apis/asset/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_assetfeeds.asset.cnrm.cloud.google.com.yaml
  pkg/controller/direct/asset/feed_fuzzer.go
  pkg/controller/direct/asset/feed_mapper.go
  pkg/controller/direct/asset/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved, review

#4234 chore: enable services for test project
  scripts/shared-vars-public.sh
Labels: lgtm, approved

#4235 Create README.md
  experiments/conductor/README.md
Labels: lgtm, approved

#4180 feat: types, CRDs, mappers, fuzzers for CloudDeployDeployPolicy
  apis/clouddeploy/v1alpha1/deploypolicy_identity.go
  apis/clouddeploy/v1alpha1/deploypolicy_reference.go
  apis/clouddeploy/v1alpha1/deploypolicy_types.go
  apis/clouddeploy/v1alpha1/types.generated.go
  apis/clouddeploy/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_clouddeploydeploypolicies.clouddeploy.cnrm.cloud.google.com.yaml
  pkg/controller/direct/clouddeploy/deploypolicy_fuzzer.go
  pkg/controller/direct/clouddeploy/deploypolicy_mapper.go
  pkg/controller/direct/clouddeploy/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4237 Add labels to spannerinstance and secret release note to 1.130
  docs/releasenotes/release-1.130.md
Labels: lgtm, approved

#4048 Types and Mapper for resource metastore backup
  apis/metastore/v1alpha1/backup_identity.go
  apis/metastore/v1alpha1/backup_reference.go
  apis/metastore/v1alpha1/backup_types.go
  apis/metastore/v1alpha1/service_types.go
  apis/metastore/v1alpha1/types.generated.go
  apis/metastore/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_metastorebackups.metastore.cnrm.cloud.google.com.yaml
  pkg/controller/direct/metastore/backup_fuzzer.go
  pkg/controller/direct/metastore/mapper.generated.go
  pkg/crd/fielddesc/fielddesc.go
  pkg/crd/template/template.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/crds_test.go
Labels: lgtm, approved, review

#4236 doc: Update 1.130 release notes
  docs/releasenotes/release-1.130.md
Labels: lgtm, approved

#4238 docs: release notes
  docs/releasenotes/release-1.130.md
Labels: lgtm, approved

#4046 Types and Mapper for resource eventarc googlechannelconfig
  apis/eventarc/v1alpha1/googlechannelconfig_identity.go
  apis/eventarc/v1alpha1/googlechannelconfig_reference.go
  apis/eventarc/v1alpha1/googlechannelconfig_types.go
  apis/eventarc/v1alpha1/types.generated.go
  apis/eventarc/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_eventarcgooglechannelconfigs.eventarc.cnrm.cloud.google.com.yaml
  pkg/controller/direct/eventarc/googlechannelconfig_fuzzer.go
  pkg/controller/direct/eventarc/mapper.generated.go
  pkg/controller/direct/eventarc/mapper_channel.go
  pkg/controller/direct/eventarc/mapper_googlechannel.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved, review

#4239 update release notes for 1.130
  docs/releasenotes/release-1.130.md
Labels: lgtm, approved

#4105 Types and Mapper for resource datacatalog entry
  apis/datacatalog/v1alpha1/entry_identity.go
  apis/datacatalog/v1alpha1/entry_reference.go
  apis/datacatalog/v1alpha1/entry_types.go
  apis/datacatalog/v1alpha1/entrygroup_types.go
  apis/datacatalog/v1alpha1/types.generated.go
  apis/datacatalog/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datacatalogentries.datacatalog.cnrm.cloud.google.com.yaml
  pkg/controller/direct/datacatalog/entry_fuzzer.go
  pkg/controller/direct/datacatalog/mapper.generated.go
  pkg/controller/direct/datacatalog/mapper_entry.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved, review

#4243 doc: update 1.130 release note
  docs/releasenotes/release-1.130.md
Labels: lgtm, approved

#4223 Add Release note for 1.130.1
  docs/releasenotes/release-1.130.1.md
Labels: lgtm, approved

#4242 template: use id.ID
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#4244 feat: properly resolve reference fields in DatastreamConnectionProfile controller
  pkg/controller/direct/datastream/connectionprofile_controller.go
Labels: lgtm, approved

#4245 feat: properly resolve reference fields in DatastreamPrivateConnection controller
  pkg/controller/direct/datastream/privateconnection_controller.go
Labels: lgtm, approved

#4246 test: add back the samples test in presubmit
  scripts/github-actions/tests-e2e-samples
Labels: lgtm, approved

#3690 chore: generate more fuzzers
  dev/tools/controllerbuilder/pkg/commands/generatefuzzer/README.md
  dev/tools/controllerbuilder/pkg/toolbot/csv.go
  pkg/controller/direct/iap/iapsettings_fuzzer.go
  pkg/controller/direct/managedkafka/topic_fuzzer.go
  pkg/controller/direct/redis/cluster/cluster_fuzzer.go
  pkg/controller/direct/securesourcemanager/instance_fuzzer.go
  pkg/controller/direct/securesourcemanager/repository_fuzzer.go
Labels: lgtm, approved

#3972 Add CRD and Mapper for resource aiplatform model
  apis/aiplatform/v1alpha1/doc.go
  apis/aiplatform/v1alpha1/groupversion_info.go
  apis/aiplatform/v1alpha1/model_identity.go
  apis/aiplatform/v1alpha1/model_reference.go
  apis/aiplatform/v1alpha1/model_types.go
  apis/aiplatform/v1alpha1/types.generated.go
  apis/aiplatform/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_aiplatformmodels.aiplatform.cnrm.cloud.google.com.yaml
  config/installbundle/components/clusterroles/cnrm_admin.yaml
  config/installbundle/components/clusterroles/cnrm_viewer.yaml
  pkg/controller/direct/aiplatform/mapper.generated.go
  pkg/controller/direct/aiplatform/model_fuzzer.go
  pkg/controller/direct/aiplatform/model_mapping.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/crds_test.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: approved

#4199 fix: Do not send patch request if there's no update on FirewallPolicyRule
  pkg/controller/direct/compute/firewallpolicyrule/firewallpolicyrule_controller.go
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/README.md
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/_http00.log
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/_http01.log
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/_object00.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/_object01.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/_object02.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/noupdate/script.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/README.md
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/_http00.log
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/_http01.log
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/_http02.log
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/_object00.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/_object01.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/_object02.yaml
  tests/e2e/testdata/scenarios/computefirewallpolicyrule/update/script.yaml
Labels: lgtm, approved

#4254 Inconsistent test failure (not actual failure): Skip googlechannelconfig test
  mockgcp/mockeventarc/testdata/googlechannelconfig/crud/script.yaml
  mockgcp/mockeventarc/testdata/googlechannelconfig/crud/script.yaml.skipped
Labels: lgtm, approved

#3623 Update the instruction for the migration scenario
  docs/develop-resources/scenarios/migrate-tf-resource-beta.md
Labels: lgtm, approved

#3989 Add CRD and Mapper for resource dataproc nodegroup
  apis/dataproc/v1alpha1/nodegroup_identity.go
  apis/dataproc/v1alpha1/nodegroup_reference.go
  apis/dataproc/v1alpha1/nodegroup_types.go
  apis/dataproc/v1alpha1/types.generated.go
  apis/dataproc/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataprocnodegroups.dataproc.cnrm.cloud.google.com.yaml
  pkg/controller/direct/dataproc/mapper.generated.go
  pkg/controller/direct/dataproc/nodegroup_fuzzer.go
  pkg/controller/direct/dataproc/nodegroup_mappings.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4047 Types and Mapper for resource datacatalog tagtemplate
  apis/datacatalog/v1alpha1/tagtemplate_identity.go
  apis/datacatalog/v1alpha1/tagtemplate_reference.go
  apis/datacatalog/v1alpha1/tagtemplate_types.go
  apis/datacatalog/v1alpha1/types.generated.go
  apis/datacatalog/v1alpha1/types_entry.generated.go
  apis/datacatalog/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datacatalogtagtemplates.datacatalog.cnrm.cloud.google.com.yaml
  pkg/controller/direct/datacatalog/mapper.generated.go
  pkg/controller/direct/datacatalog/mapper_entry.go
  pkg/controller/direct/datacatalog/mapper_tagtemplate.go
  pkg/controller/direct/datacatalog/tagtemplate_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved, review

#4181 Controller: Resource pubsub snapshot
  apis/pubsub/v1alpha1/snapshot_reference.go
  apis/pubsub/v1alpha1/snapshot_types.go
  apis/pubsub/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_pubsubsnapshots.pubsub.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockpubsub/snapshot.go
  pkg/controller/direct/pubsub/client.go
  pkg/controller/direct/pubsub/pubsubsnapshot_controller.go
  pkg/test/resourcefixture/testdata/basic/pubsub/v1alpha1/pubsubsnapshot/pubsubsnapshot-minimal/_generated_object_pubsubsnapshot-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/pubsub/v1alpha1/pubsubsnapshot/pubsubsnapshot-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/pubsub/v1alpha1/pubsubsnapshot/pubsubsnapshot-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/pubsub/v1alpha1/pubsubsnapshot/pubsubsnapshot-minimal/dependencies.yaml
Labels: lgtm, approved

#4226 Add compute networkedgesecurityservice types, mappers, CRD and fuzzer
  apis/compute/v1alpha1/networkedgesecurityservice_identity.go
  apis/compute/v1alpha1/networkedgesecurityservice_reference.go
  apis/compute/v1alpha1/networkedgesecurityservice_types.go
  apis/compute/v1alpha1/types.generated.go
  apis/compute/v1alpha1/zz_generated.deepcopy.go
  apis/compute/v1beta1/securitypolicy_reference.go
  apis/compute/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_computenetworkedgesecurityservices.compute.cnrm.cloud.google.com.yaml
  pkg/controller/direct/compute/networkattachment_mapper.go
  pkg/controller/direct/compute/networkedgesecurityservice_fuzzer.go
  pkg/controller/direct/compute/networkedgesecurityservice_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4260 Revert "Add CRD and Mappers for resource edgecontainer vpnconnection"
  apis/edgecontainer/v1alpha1/cluster_reference.go
  apis/edgecontainer/v1alpha1/generate.sh
  apis/edgecontainer/v1alpha1/types.generated.go
  apis/edgecontainer/v1alpha1/zz_generated.deepcopy.go
  apis/edgecontainer/v1beta1/groupversion_info.go
  apis/edgecontainer/v1beta1/vpnconnection_identity.go
  apis/edgecontainer/v1beta1/vpnconnection_reference.go
  apis/edgecontainer/v1beta1/vpnconnection_types.go
  apis/edgecontainer/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_edgecontainervpnconnections.edgecontainer.cnrm.cloud.google.com.yaml
  pkg/controller/direct/edgecontainer/mapper.generated.go
  pkg/controller/direct/edgecontainer/vpn_mappings.go
  pkg/controller/direct/edgecontainer/vpnconnection_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/edgecontainer/edgecontainervpnconnection.md
  tests/apichecks/testdata/exceptions/acronyms.txt
  tests/apichecks/testdata/exceptions/missingfields.txt
Labels: lgtm, approved

#4261 Revert "Add labels to SecretManagerSecret Spec"
  apis/secretmanager/v1beta1/secret_types.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_export_basicsecretmanagersecret.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_generated_export_fullsecretmanagersecret-auto-direct.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_generated_object_fullsecretmanagersecret-auto-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_generated_export_fullsecretmanagersecret-manual-direct.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_generated_object_fullsecretmanagersecret-manual-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/nontf.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/oauth.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/tf.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
Labels: lgtm, approved

#4268 Reland SecretManagerSecret Spec.Labels with reconcile gate
  apis/secretmanager/v1beta1/secret_types.go
  apis/secretmanager/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_secretmanagersecrets.secretmanager.cnrm.cloud.google.com.yaml
  pkg/controller/direct/secretmanager/secret_controller.go
  pkg/controller/direct/secretmanager/secret_mapping.go
  pkg/test/resourcefixture/testdata/basic/dataform/v1beta1/dataformrepository-full/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_generated_export_basicsecretmanagersecret.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/basicsecretmanagersecret/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_generated_export_fullsecretmanagersecret-auto-direct.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_generated_object_fullsecretmanagersecret-auto-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-auto-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_generated_export_fullsecretmanagersecret-manual-direct.golden
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_generated_object_fullsecretmanagersecret-manual-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/fullsecretmanagersecret-manual-direct/update.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_http.log
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/nontf.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/oauth.yaml
  pkg/test/resourcefixture/testdata/basic/secretmanager/v1beta1/secretmanagersecretversion/_vcr_cassettes/tf.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/secretmanager/secretmanagersecret.md
Labels: lgtm, approved

#4052 Types and Mapper for resource datacatalog tag
  apis/datacatalog/v1alpha1/tag_identity.go
  apis/datacatalog/v1alpha1/tag_reference.go
  apis/datacatalog/v1alpha1/tag_types.go
  apis/datacatalog/v1alpha1/types.generated.go
  apis/datacatalog/v1alpha1/types_tagtemplate.generated.go
  apis/datacatalog/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datacatalogtags.datacatalog.cnrm.cloud.google.com.yaml
  pkg/controller/direct/datacatalog/mapper.generated.go
  pkg/controller/direct/datacatalog/mapper_tag.go
  pkg/controller/direct/datacatalog/tag_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/missingrefs.txt
Labels: lgtm, approved, review

#4172 Support direct controller for ReCAPTCHAEnterpriseFirewallPolicy
  apis/recaptchaenterprise/v1alpha1/firewallpolicy_identity.go
  apis/recaptchaenterprise/v1alpha1/firewallpolicy_reference.go
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/google/cloud/recaptchaenterprise/v1/recaptchaenterprise.pb.gw.go
  mockgcp/mockrecaptchaenterprise/firewallpolicy.go
  mockgcp/mockrecaptchaenterprise/service.go
  mockgcp/mockrecaptchaenterprise/testdata/firewallpolicy/crud/_http.log
  pkg/controller/direct/recaptchaenterprise/client.go
  pkg/controller/direct/recaptchaenterprise/firewallpolicy_controller.go
  pkg/test/resourcefixture/testdata/basic/recaptchaenterprise/v1alpha1/recaptchaenterprisefirewallpolicy/basicrecaptchaenterprisefirewallpolicy/_generated_object_basicrecaptchaenterprisefirewallpolicy.golden.yaml
  pkg/test/resourcefixture/testdata/basic/recaptchaenterprise/v1alpha1/recaptchaenterprisefirewallpolicy/basicrecaptchaenterprisefirewallpolicy/_http.log
  pkg/test/resourcefixture/testdata/basic/recaptchaenterprise/v1alpha1/recaptchaenterprisefirewallpolicy/basicrecaptchaenterprisefirewallpolicy/create.yaml
  pkg/test/resourcefixture/testdata/basic/recaptchaenterprise/v1alpha1/recaptchaenterprisefirewallpolicy/basicrecaptchaenterprisefirewallpolicy/update.yaml
Labels: lgtm, approved

#3817 feat: DocumentAIVersion direct controller
  apis/documentai/v1alpha1/doc.go
  apis/documentai/v1alpha1/groupversion_info.go
  apis/documentai/v1alpha1/processorversion_identity.go
  apis/documentai/v1alpha1/processorversion_types.go
  apis/documentai/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_documentaiprocessorversions.documentai.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockdocumentai/processors.go
  mockgcp/mockdocumentai/versions.go
  pkg/controller/direct/documentai/processorversion_controller.go
  pkg/test/resourcefixture/testdata/basic/documentai/v1alpha1/documentaiversion-basic/_generated_object_documentaiversion-basic.golden.yaml
  pkg/test/resourcefixture/testdata/basic/documentai/v1alpha1/documentaiversion-basic/_http.log
  pkg/test/resourcefixture/testdata/basic/documentai/v1alpha1/documentaiversion-basic/create.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved

#4259 feat: add types, mappers and fuzzer for GKEBackupRestore
  apis/gkebackup/v1alpha1/generate.sh
  apis/gkebackup/v1alpha1/restore_identity.go
  apis/gkebackup/v1alpha1/restore_reference.go
  apis/gkebackup/v1alpha1/restore_types.go
  apis/gkebackup/v1alpha1/types.generated.go
  apis/gkebackup/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkebackuprestores.gkebackup.cnrm.cloud.google.com.yaml
  pkg/controller/direct/gkebackup/mapper.generated.go
  pkg/controller/direct/gkebackup/restore_fuzzer.go
  pkg/controller/direct/gkebackup/restore_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4272 feat: add types, mappers and fuzzer for DatastreamRoute
  apis/datastream/v1alpha1/generate.sh
  apis/datastream/v1alpha1/route_identity.go
  apis/datastream/v1alpha1/route_reference.go
  apis/datastream/v1alpha1/route_types.go
  apis/datastream/v1alpha1/types.generated.go
  apis/datastream/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datastreamroutes.datastream.cnrm.cloud.google.com.yaml
  pkg/controller/direct/datastream/mapper.generated.go
  pkg/controller/direct/datastream/route_fuzzer.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4275 feat: add types, mappers and fuzzer for VMwareEngineExternalAddress
  apis/vmwareengine/v1alpha1/externaladdress_identity.go
  apis/vmwareengine/v1alpha1/externaladdress_reference.go
  apis/vmwareengine/v1alpha1/externaladdress_types.go
  apis/vmwareengine/v1alpha1/generate.sh
  apis/vmwareengine/v1alpha1/types.generated.go
  apis/vmwareengine/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareengineexternalaccessrules.vmwareengine.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_vmwareengineexternaladdresses.vmwareengine.cnrm.cloud.google.com.yaml
  pkg/controller/direct/vmwareengine/externalaccessrule_mappers.go
  pkg/controller/direct/vmwareengine/externaladdress_fuzzer.go
  pkg/controller/direct/vmwareengine/externaladdress_mappers.go
  pkg/controller/direct/vmwareengine/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4277 feat: add types, mappers and fuzzer for SpeechCustomClass
  apis/speech/v1alpha1/customclass_identity.go
  apis/speech/v1alpha1/customclass_reference.go
  apis/speech/v1alpha1/customclass_types.go
  apis/speech/v1alpha1/generate.sh
  apis/speech/v1alpha1/recognizer_types.go
  apis/speech/v1alpha1/types.generated.go
  apis/speech/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_speechcustomclasses.speech.cnrm.cloud.google.com.yaml
  pkg/controller/direct/speech/customclass_fuzzer.go
  pkg/controller/direct/speech/customclass_mappers.go
  pkg/controller/direct/speech/mapper.generated.go
  pkg/controller/direct/speech/recognizer_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4284 conductor: move step 1 away from bash piping
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#4267 Conductor improvements and switch controllerbuilder to new default model
  dev/tools/controllerbuilder/pkg/commands/exportcsv/prompt.go
  dev/tools/controllerbuilder/pkg/llm/gemini.go
  dev/tools/controllerbuilder/pkg/llm/vertexai.go
  experiments/conductor/cmd/runner/crd_generator_commands.go
  experiments/conductor/cmd/runner/github_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4270 Update Sample Test for SpannerInstance
  config/samples/resources/bigqueryconnectionconnection/cloudspanner-connection/spanner_v1beta1_spannerinstance.yaml
  config/samples/resources/spannerdatabase/spanner_v1beta1_spannerinstance.yaml
  pkg/controller/direct/spanner/instance_controller.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigqueryconnection/bigqueryconnectionconnection.md
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/spanner/spannerdatabase.md
Labels: lgtm, approved

#4227 fix: fix permanent diff in SQLInstance backupConfiguration
  pkg/controller/direct/sql/sqlinstance_equality.go
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-diff/_generated_object_sqlinstance-backupconfiguration-diff.golden.yaml
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-diff/_http.log
  pkg/test/resourcefixture/testdata/basic/sql/v1beta1/sqlinstance/sqlinstance-backupconfiguration-diff/create.yaml
Labels: lgtm, approved

#4257 feat: properly resolve reference fields in GKEBackupBackupPlan controller
  pkg/controller/direct/backupdr/backupplan_controller.go
  pkg/controller/direct/gkebackup/backupplan_controller.go
  pkg/controller/direct/gkebackup/restoreplan_controller.go
Labels: lgtm, approved

#4253 feat: properly resolve reference fields in VMwareEngineNetworkPeering controller
  pkg/controller/direct/vmwareengine/networkpeering_controller.go
Labels: lgtm, approved

#4252 feat: properly resolve reference fields in BackupDRManagementServer controller
  pkg/controller/direct/backupdr/managementserver_controller.go
Labels: lgtm, approved

#4255 feat: properly resolve reference fields in VMwareEngineNetworkPolicy controller
  pkg/controller/direct/vmwareengine/networkpolicy_controller.go
Labels: lgtm, approved

#4256 feat: properly resolve reference fields in VMwareEnginePrivateCloud controller
  pkg/controller/direct/vmwareengine/privatecloud_controller.go
Labels: lgtm, approved

#4273 template: update status
  dev/tools/controllerbuilder/template/controller/controller.go
Labels: lgtm, approved

#4286 Update 5-releases.md
  docs/develop-resources/deep-dives/5-releases.md
Labels: lgtm, approved

#4222 Add CRD and Mapper for resource managedkafka consumergroup
  apis/managedkafka/v1alpha1/cluster_types.go
  apis/managedkafka/v1alpha1/consumergroup_identity.go
  apis/managedkafka/v1alpha1/consumergroup_reference.go
  apis/managedkafka/v1alpha1/consumergroup_types.go
  apis/managedkafka/v1alpha1/types.generated.go
  apis/managedkafka/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_managedkafkaconsumergroups.managedkafka.cnrm.cloud.google.com.yaml
  pkg/controller/direct/managedkafka/consumergroup_fuzzer.go
  pkg/controller/direct/managedkafka/consumergroup_mappings.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4258 feat: add controller, test and mock support for GKEBackupBackup
  config/tests/samples/create/harness.go
  mockgcp/mockgkebackup/backup.go
  pkg/controller/direct/gkebackup/backup_controller.go
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackupbackup/gkebackupbackup-minimal/_generated_object_gkebackupbackup-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackupbackup/gkebackupbackup-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackupbackup/gkebackupbackup-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackupbackup/gkebackupbackup-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackupbackup/gkebackupbackup-minimal/update.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4114 feat: add resource storage folder controller
  apis/refs/v1beta1/storagebucketref.go
  apis/storagecontrol/v1alpha1/doc.go
  apis/storagecontrol/v1alpha1/folder_identity.go
  apis/storagecontrol/v1alpha1/folder_reference.go
  apis/storagecontrol/v1alpha1/folder_types.go
  apis/storagecontrol/v1alpha1/groupversion_info.go
  apis/storagecontrol/v1alpha1/managedfolder_identity.go
  apis/storagecontrol/v1alpha1/managedfolder_reference.go
  apis/storagecontrol/v1alpha1/managedfolder_types.go
  apis/storagecontrol/v1alpha1/types.generated.go
  apis/storagecontrol/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/direct/register/register.go
  pkg/controller/direct/storage/control/folder_client.go
  pkg/controller/direct/storage/control/folder_controller.go
  pkg/controller/direct/storage/control/folder_fuzzer.go
  pkg/controller/direct/storage/control/managedfolder_fuzzer.go
  pkg/controller/direct/storage/control/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/storagecontrol/v1alpha1/storagefolder/storagefolder-minimal/_generated_object_storagefolder-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/storagecontrol/v1alpha1/storagefolder/storagefolder-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/storagecontrol/v1alpha1/storagefolder/storagefolder-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/storagecontrol/v1alpha1/storagefolder/storagefolder-minimal/dependencies.yaml
Labels: lgtm, approved

#4294 conductor: do not add conductor prefix to git commits
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4240 MockGCP&Controller: Resource compute networkedgesecurityservice
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/networkedgesecurityservicev1.go
  mockgcp/mockcompute/service.go
  pkg/controller/direct/compute/client.go
  pkg/controller/direct/compute/networkedgesecurityservice_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkedgesecurityservice/computenetworkedgesecurityservice-minimal/_generated_object_computenetworkedgesecurityservice-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkedgesecurityservice/computenetworkedgesecurityservice-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkedgesecurityservice/computenetworkedgesecurityservice-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkedgesecurityservice/computenetworkedgesecurityservice-minimal/update.yaml
  tests/e2e/normalize.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4315 mockgcp: add comments to test scripts
  mockgcp/mockaiplatform/testdata/model/crud/script.yaml
  mockgcp/mockaiplatform/testdata/runtime/crud/script.yaml
  mockgcp/mockaiplatform/testdata/runtimetemplate/crud/script.yaml
  mockgcp/mockaiplatform/testdata/schedule/crud/script.yaml
  mockgcp/mockapigateway/testdata/api/crud/script.yaml
  mockgcp/mockapphub/testdata/application/crud/script.yaml
  mockgcp/mockapphub/testdata/discoveredservice/crud/script.yaml
  mockgcp/mockasset/testdata/feed/crud/script.yaml
  mockgcp/mockasset/testdata/savedquery/crud/script.yaml
  mockgcp/mockbackupdr/testdata/managementserver/crud/script.yaml
  mockgcp/mockbatch/testdata/job/crud/script.yaml
  mockgcp/mockbigtable/testdata/appprofile/crud/script.yaml
Labels: lgtm, approved

#4292 controllerbuilder: clearer error messages
  dev/tools/controllerbuilder/cmd/codebot/main.go
  dev/tools/controllerbuilder/pkg/toolbot/csv.go
Labels: lgtm, approved

#4296 feat: types, crds, mappers, fuzzers: BigLakeCatalog
  apis/bigquerybiglake/v1alpha1/catalog_identity.go
  apis/bigquerybiglake/v1alpha1/catalog_types.go
  apis/bigquerybiglake/v1alpha1/types.generated.go
  apis/bigquerybiglake/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_biglakecatalogs.bigquerybiglake.cnrm.cloud.google.com.yaml
  pkg/controller/direct/bigquerybiglake/catalog_fuzzer.go
  pkg/controller/direct/bigquerybiglake/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4293 mockgcptests: only force https if scheme not specified
  mockgcp/mockgcptests/proxy.go
Labels: lgtm, approved

#4187 MockGCP&Controller: Resource compute networkattachment
  config/tests/samples/create/harness.go
  mockgcp/mockcompute/networkattachmentv1.go
  mockgcp/mockcompute/service.go
  pkg/controller/direct/compute/client.go
  pkg/controller/direct/compute/networkattachment_controller.go
  pkg/controller/direct/compute/networkedgesecurityservice_controller.go
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkattachment/computenetworkattachment-minimal/_generated_object_computenetworkattachment-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkattachment/computenetworkattachment-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkattachment/computenetworkattachment-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkattachment/computenetworkattachment-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/compute/v1alpha1/computenetworkattachment/computenetworkattachment-minimal/update.yaml
Labels: lgtm, approved

#4295 mockgcp: gcloud test for bigtable instance
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbigtable/instance.go
  mockgcp/mockbigtable/normalize.go
  mockgcp/mockbigtable/service.go
  mockgcp/mockbigtable/testdata/instance/crud/_http.log
  mockgcp/mockbigtable/testdata/instance/crud/script.yaml
Labels: lgtm, approved

#4322 mockgcp: refactor mockpubsub to registry pattern
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockpubsub/normalize.go
  mockgcp/mockpubsub/service.go
Labels: lgtm, approved

#4318 mockgcp: refactor mockprivateca to use registration
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockprivateca/normalize.go
  mockgcp/mockprivateca/service.go
Labels: lgtm, approved

#4317 mockgcp: refactor discoveryengine to "registration" style
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockdiscoveryengine/datastore.go
  mockgcp/mockdiscoveryengine/normalize.go
  mockgcp/mockdiscoveryengine/service.go
Labels: lgtm, approved

#4332 Conductor: Improvements for controller generation
  experiments/conductor/cmd/runner/controller_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4333 [Cloud Bigtable App Profile Beta Migration] Split the app profile parent from instance into project ID and instance ID
  apis/bigtable/v1beta1/appprofile_identity.go
Labels: lgtm, approved

#4209 conductor: make conductor bot as author
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4330 feat: types,crds:mappers: BigLakeDatabase
  apis/bigquerybiglake/v1alpha1/database_identity.go
  apis/bigquerybiglake/v1alpha1/database_types.go
  apis/bigquerybiglake/v1alpha1/types.generated.go
  apis/bigquerybiglake/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_biglakedatabases.bigquerybiglake.cnrm.cloud.google.com.yaml
  pkg/controller/direct/bigquerybiglake/database_fuzzer.go
  pkg/controller/direct/bigquerybiglake/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4331 BigTable: NormalizedExternal should return fully qualified name
  apis/bigtable/v1alpha1/authorizedview_identity.go
  apis/bigtable/v1alpha1/authorizedview_types.go
  apis/bigtable/v1alpha1/backup_identity.go
  apis/bigtable/v1alpha1/backup_types.go
  apis/bigtable/v1alpha1/cluster_identity.go
  apis/bigtable/v1alpha1/cluster_types.go
  apis/bigtable/v1alpha1/zz_generated.deepcopy.go
  apis/bigtable/v1beta1/appprofile_identity.go
  apis/bigtable/v1beta1/appprofile_types.go
  apis/bigtable/v1beta1/instance_identity.go
  apis/bigtable/v1beta1/instance_reference.go
  apis/bigtable/v1beta1/table_identity.go
  apis/bigtable/v1beta1/table_reference.go
  apis/bigtable/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigtableauthorizedviews.bigtable.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigtablebackups.bigtable.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigtableclusters.bigtable.cnrm.cloud.google.com.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/_generated_object_bigtableinstance.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableinstance/_http.log
Labels: lgtm, approved

#4213 Support types, CRD and mapper for NetworkManagementConnectivityTest
  apis/networkmanagement/v1alpha1/connectivitytest_identity.go
  apis/networkmanagement/v1alpha1/connectivitytest_reference.go
  apis/networkmanagement/v1alpha1/connectivitytest_types.go
  apis/networkmanagement/v1alpha1/doc.go
  apis/networkmanagement/v1alpha1/groupversion_info.go
  apis/networkmanagement/v1alpha1/types.generated.go
  apis/networkmanagement/v1alpha1/zz_generated.deepcopy.go
  apis/run/v1alpha1/revision_reference.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_networkmanagementconnectivitytests.networkmanagement.cnrm.cloud.google.com.yaml
  dev/tools/controllerbuilder/pkg/codegen/common.go
  go.mod
  go.sum
  pkg/controller/direct/maputils.go
  pkg/controller/direct/networkmanagement/connectivitytest_fuzzer.go
  pkg/controller/direct/networkmanagement/connectivitytest_mappers.go
  pkg/controller/direct/networkmanagement/mapper.generated.go
  pkg/gvks/supportedgvks/gvks_generated.go
  tests/apichecks/testdata/exceptions/acronyms.txt
Labels: lgtm, approved

#4341 Revert "conductor: make conductor bot as author"
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4314 Direct Controller for asset-feed
  apis/asset/v1alpha1/feed_types.go
  apis/asset/v1alpha1/types.generated.go
  apis/asset/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_assetfeeds.asset.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockasset/feed.go
  pkg/controller/direct/asset/client.go
  pkg/controller/direct/asset/feed_controller.go
  pkg/controller/direct/asset/feed_mapper.go
  pkg/controller/direct/asset/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-minimal/_generated_object_assetfeed-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/asset/v1alpha1/assetfeed/assetfeed-minimal/update.yaml
Labels: lgtm, approved, review

#4283 feat: add controller, test and mock support for GKEBackupRestore
  apis/gkebackup/v1alpha1/restore_types.go
  apis/gkebackup/v1alpha1/types.generated.go
  apis/gkebackup/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_gkebackuprestores.gkebackup.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockgkebackup/restore.go
  pkg/controller/direct/gkebackup/mapper.generated.go
  pkg/controller/direct/gkebackup/restore_controller.go
  pkg/controller/direct/gkebackup/restore_mappers.go
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestore/gkebackuprestore-minimal/_generated_object_gkebackuprestore-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestore/gkebackuprestore-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestore/gkebackuprestore-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestore/gkebackuprestore-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/gkebackup/v1alpha1/gkebackuprestore/gkebackuprestore-minimal/update.yaml
Labels: lgtm, approved

#4305 feat: add controller, test and mock support for DatastreamRoute
  config/tests/samples/create/harness.go
  mockgcp/mockdatastream/route.go
  pkg/controller/direct/datastream/route_controller.go
  pkg/test/resourcefixture/testdata/basic/datastream/v1alpha1/datastreamroute/datastreamroute-minimal/_generated_object_datastreamroute-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/datastream/v1alpha1/datastreamroute/datastreamroute-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/datastream/v1alpha1/datastreamroute/datastreamroute-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/datastream/v1alpha1/datastreamroute/datastreamroute-minimal/dependencies.yaml
Labels: lgtm, approved

#4313 feat: add controller, test and mock support for SpeechCustomClass
  config/tests/samples/create/harness.go
  mockgcp/Makefile
  mockgcp/generated/mockgcp/cloud/resourcemanager/v1/api.pb.go
  mockgcp/generated/mockgcp/cloud/speech/v2/cloud_speech.pb.go
  mockgcp/generated/mockgcp/cloud/speech/v2/cloud_speech.pb.gw.go
  mockgcp/generated/mockgcp/cloud/speech/v2/cloud_speech_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/speech/v2/locations_metadata.pb.go
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockspeech/customclass.go
  mockgcp/mockspeech/service.go
  pkg/controller/direct/speech/client.go
  pkg/controller/direct/speech/customclass_controller.go
  pkg/test/resourcefixture/testdata/basic/speech/v1alpha1/speechcustomclass/speechcustomclass-minimal/_generated_object_speechcustomclass-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/speech/v1alpha1/speechcustomclass/speechcustomclass-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/speech/v1alpha1/speechcustomclass/speechcustomclass-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/speech/v1alpha1/speechcustomclass/speechcustomclass-minimal/update.yaml
Labels: lgtm, approved

#4329 feat: add controller, test and mock support for VMwareEngineExternalAddress
  config/tests/samples/create/harness.go
  mockgcp/mockvmwareengine/externaladdress.go
  mockgcp/mockvmwareengine/networkpolicy.go
  pkg/controller/direct/vmwareengine/externaladdress_controller.go
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareengineexternaladdress/vmwareengineexternaladdress-minimal/_generated_object_vmwareengineexternaladdress-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareengineexternaladdress/vmwareengineexternaladdress-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareengineexternaladdress/vmwareengineexternaladdress-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareengineexternaladdress/vmwareengineexternaladdress-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/vmwareengine/v1alpha1/vmwareengineexternaladdress/vmwareengineexternaladdress-minimal/update.yaml
Labels: lgtm, approved

#4278 feat: Direct controller ApiGatewayApi
  apis/apigateway/v1alpha1/api_identity.go
  config/tests/samples/create/harness.go
  mockgcp/mockapigateway/api.go
  mockgcp/mockapigateway/testdata/api/crud/_http.log
  pkg/controller/direct/apigateway/api_controller.go
  pkg/controller/direct/apigateway/api_fuzzer.go
  pkg/controller/direct/apigateway/client.go
  pkg/controller/direct/register/register.go
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapi-minimal/_generated_object_apigatewayapi-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapi-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapi-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapi-minimal/update.yaml
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapiautogen/_generated_object_apigatewayapiautogen.golden.yaml
  pkg/test/resourcefixture/testdata/basic/apigateway/v1alpha1/apigatewayapi/apigatewayapiautogen/_http.log
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4279 feat: Resource networkconnectivity internalranges controller
  config/tests/samples/create/harness.go
  mockgcp/mocknetworkconnectivity/internalranges.go
  pkg/controller/direct/networkconnectivity/internalrange_controller.go
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/networkconnectivityinternalrange/networkconnectivityinternalrange-minimal/_generated_object_networkconnectivityinternalrange-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/networkconnectivityinternalrange/networkconnectivityinternalrange-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/networkconnectivityinternalrange/networkconnectivityinternalrange-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/networkconnectivityinternalrange/networkconnectivityinternalrange-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/networkconnectivity/v1alpha1/networkconnectivityinternalrange/networkconnectivityinternalrange-minimal/update.yaml
Labels: lgtm, approved

#4343 fix: KCC release misses the RBAC for CCC
  dev/tasks/propose-tag
  operator/config/rbac/cnrm_viewer_patch.yaml
  operator/config/rbac/kustomization.yaml
Labels: lgtm, approved

#4290 Add dataplex entrygroup types, mappers, CRD and fuzzer
  apis/dataplex/v1alpha1/entrygroup_identity.go
  apis/dataplex/v1alpha1/entrygroup_reference.go
  apis/dataplex/v1alpha1/entrygroup_types.go
  apis/dataplex/v1alpha1/types.generated.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplexentrygroups.dataplex.cnrm.cloud.google.com.yaml
  pkg/controller/direct/dataplex/entrygroup_fuzzer.go
  pkg/controller/direct/dataplex/entrygroup_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4152 mockgcp: fill in monitoring notificationchannel
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockmonitoring/normalize.go
  mockgcp/mockmonitoring/notificationchannel.go
  mockgcp/mockmonitoring/service.go
  mockgcp/mockmonitoring/testdata/monitoringnotificationchannel/crud/_http.log
  mockgcp/mockmonitoring/testdata/monitoringnotificationchannel/crud/script.yaml
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4320 mockgcp: refactor mockdataflow to use registry pattern
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockdataflow/normalize.go
  mockgcp/mockdataflow/service.go
Labels: lgtm, approved

#4347 Revert "Revert "conductor: make conductor bot as author""
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4363 conductor: remove duplicate managedkafka declarations
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#4291 MockGCP&Controller: Resource dataplex entrygroup
  config/tests/samples/create/harness.go
  mockgcp/mockdataplex/entrygroup.go
  mockgcp/mockdataplex/service.go
  pkg/controller/direct/dataplex/client.go
  pkg/controller/direct/dataplex/entrygroup_controller.go
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrygroup/dataplexentrygroup-minimal/_generated_object_dataplexentrygroup-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrygroup/dataplexentrygroup-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrygroup/dataplexentrygroup-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrygroup/dataplexentrygroup-minimal/update.yaml
Labels: lgtm, approved

#4371 test: freeup space before building images in presubmit
  .github/workflows/presubmit.yaml
Labels: lgtm, approved

#4350 ci: Split presubmit fixtures test into more API groups
  .github/workflows/ci-presubmit.yaml
  scripts/github-actions/tests-e2e-fixtures
  scripts/github-actions/tests-e2e-fixtures-bigtable
  scripts/github-actions/tests-e2e-fixtures-certificatemanager
  scripts/github-actions/tests-e2e-fixtures-resourcemanager
  scripts/github-actions/tests-e2e-fixtures-spanner
  scripts/github-actions/tests-e2e-fixtures-workstations
Labels: lgtm, approved

#4348 direct: Migrate crd for v1beta1 BigQueryTable
  apis/bigquery/v1beta1/table_identity.go
  apis/bigquery/v1beta1/table_reference.go
  apis/bigquery/v1beta1/table_types.go
  apis/bigquery/v1beta1/types.generated.go
  apis/bigquery/v1beta1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_bigquerytables.bigquery.cnrm.cloud.google.com.yaml
  pkg/gvks/supportedgvks/gvks_generated.go
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/bigquery/bigquerytable.md
Labels: lgtm, approved

#4374 tool: fix a bug when annotating types file
  dev/tools/controllerbuilder/pkg/codegen/typegenerator.go
  dev/tools/controllerbuilder/pkg/commands/generatetypes/generatetypescommand.go
Labels: lgtm, approved

#4137 tests: cover DataFlowFlexTemplateJob spec.parameters.autoscalingAlgorithm
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_generated_object_batchdataflowflextemplatejob-direct.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob-direct/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/_generated_object_batchdataflowflextemplatejob.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/_http.log
  pkg/test/resourcefixture/testdata/basic/dataflow/v1beta1/dataflowflextemplatejob/batchdataflowflextemplatejob/create.yaml
Labels: lgtm, approved

#4319 mockgcp: refactor mock_http_roundtrip
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockgcp_http.go
Labels: lgtm, approved

#4369 Update KRM status even when no field changes
  pkg/controller/direct/compute/firewallpolicyrule/firewallpolicyrule_controller.go
Labels: lgtm, approved

#4325 Direct controller for datacatalog entrygroup
  apis/datacatalog/v1alpha1/entrygroup_identity.go
  config/tests/samples/create/harness.go
  mockgcp/mockdatacatalog/entrygroup.go
  pkg/controller/direct/datacatalog/client.go
  pkg/controller/direct/datacatalog/entrygroup_controller.go
  pkg/controller/direct/maputils.go
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentrygroup/datacatalogentrygroup-minimal/_generated_object_datacatalogentrygroup-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentrygroup/datacatalogentrygroup-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentrygroup/datacatalogentrygroup-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentrygroup/datacatalogentrygroup-minimal/update.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved, review

#4276 Direct Controller for essentialcontacts-contact
  apis/essentialcontacts/v1alpha1/contact_identity.go
  config/tests/samples/create/harness.go
  pkg/controller/direct/essentialcontacts/client.go
  pkg/controller/direct/essentialcontacts/contact_controller.go
  pkg/test/resourcefixture/testdata/basic/essentialcontacts/v1alpha1/essentialcontactscontact/essentialcontactscontact-minimal/_generated_object_essentialcontactscontact-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/essentialcontacts/v1alpha1/essentialcontactscontact/essentialcontactscontact-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/essentialcontacts/v1alpha1/essentialcontactscontact/essentialcontactscontact-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/essentialcontacts/v1alpha1/essentialcontactscontact/essentialcontactscontact-minimal/update.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved, review

#4364 Direct Controller for eventarc googlechannelconfig
  apis/eventarc/v1alpha1/channel_types.go
  apis/eventarc/v1alpha1/googlechannelconfig_identity.go
  apis/eventarc/v1alpha1/googlechannelconfig_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_eventarcchannels.eventarc.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_eventarcgooglechannelconfigs.eventarc.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  hack/record-gcp
  mockgcp/mockeventarc/googlechannelconfig.go
  pkg/controller/direct/eventarc/client.go
  pkg/controller/direct/eventarc/googlechannelconfig_controller.go
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcgooglechannelconfig/eventarcgooglechannelconfig-minimal/_generated_object_eventarcgooglechannelconfig-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcgooglechannelconfig/eventarcgooglechannelconfig-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcgooglechannelconfig/eventarcgooglechannelconfig-minimal/create.yaml
Labels: lgtm, approved, review

#4071 conductor:branches: remove locations
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#4370 tests: use server-side-apply for create and update
  config/tests/samples/create/samples.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4377 Direct Controller for api quotaadjustersettings
  apis/cloudquota/v1alpha1/quotaadjustersettings_identity.go
  apis/cloudquota/v1alpha1/quotaadjustersettings_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_apiquotaadjustersettings.cloudquota.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  pkg/controller/direct/cloudquota/client.go
  pkg/controller/direct/cloudquota/quotaadjustersettings_controller.go
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotaadjustersettings/apiquotaadjustersettings-minimal/_generated_object_apiquotaadjustersettings-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotaadjustersettings/apiquotaadjustersettings-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotaadjustersettings/apiquotaadjustersettings-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotaadjustersettings/apiquotaadjustersettings-minimal/update.yaml
Labels: lgtm, approved, review

#4288 Add dataplex entrytype types, mappers, CRD and fuzzer
  apis/dataplex/v1alpha1/aspecttype_reference.go
  apis/dataplex/v1alpha1/entrytype_identity.go
  apis/dataplex/v1alpha1/entrytype_reference.go
  apis/dataplex/v1alpha1/entrytype_types.go
  apis/dataplex/v1alpha1/types.generated.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplexentrytypes.dataplex.cnrm.cloud.google.com.yaml
  pkg/controller/direct/dataplex/entrytype_fuzzer.go
  pkg/controller/direct/dataplex/entrytype_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4353 mockgcp: move move_to_normalize_mockaiplatform to registration approach
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockaiplatform/normalize.go
  mockgcp/mockaiplatform/service.go
Labels: lgtm, approved

#4358 mockgcp: move mockbackupdr to registration approach
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockbackupdr/normalize.go
  mockgcp/mockbackupdr/service.go
Labels: lgtm, approved

#4356 mockgcp: move mockapigateway to registration approach
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockapigateway/normalize.go
  mockgcp/mockapigateway/service.go
Labels: lgtm, approved

#4359 mockgcp: move mockdatacatalog to registration approach
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockdatacatalog/normalize.go
  mockgcp/mockdatacatalog/service.go
Labels: lgtm, approved

#4357 mockgcp: move mockservicedirectory to registration approach
  mockgcp/mock_http_roundtrip.go
  mockgcp/mockservicedirectory/normalize.go
  mockgcp/mockservicedirectory/service.go
Labels: lgtm, approved

#4386 tests: split alloydb and cloudidentity tests
  .github/workflows/ci-presubmit.yaml
  scripts/github-actions/tests-e2e-fixtures
  scripts/github-actions/tests-e2e-fixtures-alloydb
  scripts/github-actions/tests-e2e-fixtures-cloudidentity
Labels: lgtm, approved

#4385 chore: clean up test skip logic
  dev/tasks/run-e2e
  pkg/test/resourcefixture/resourcefixture.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4344 Allow updating the bucket location field
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_storagebuckets.storage.cnrm.cloud.google.com.yaml
  scripts/generate-google3-docs/resource-reference/generated/resource-docs/storage/storagebucket.md
  tests/e2e/testdata/scenarios/storagebucket/updatebucketlocation/_http00.log
  tests/e2e/testdata/scenarios/storagebucket/updatebucketlocation/_http01.log
  tests/e2e/testdata/scenarios/storagebucket/updatebucketlocation/_object00.yaml
  tests/e2e/testdata/scenarios/storagebucket/updatebucketlocation/_object01.yaml
  tests/e2e/testdata/scenarios/storagebucket/updatebucketlocation/script.yaml
  third_party/github.com/hashicorp/terraform-provider-google-beta/google-beta/services/storage/resource_storage_bucket.go
Labels: lgtm, approved

#4389 Added a merge metadata command.
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4297 Add dataplex zone types, mappers, CRD and fuzzer
  apis/dataplex/v1alpha1/types.generated.go
  apis/dataplex/v1alpha1/zone_identity.go
  apis/dataplex/v1alpha1/zone_reference.go
  apis/dataplex/v1alpha1/zone_types.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplexzones.dataplex.cnrm.cloud.google.com.yaml
  pkg/controller/direct/dataplex/zone_fuzzer.go
  pkg/controller/direct/dataplex/zone_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4300 Add crd mapper fuzzer for private connection
  apis/clouddms/v1alpha1/privateconnection_identity.go
  apis/clouddms/v1alpha1/privateconnection_reference.go
  apis/clouddms/v1alpha1/privateconnection_types.go
  apis/clouddms/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_clouddmsprivateconnections.clouddms.cnrm.cloud.google.com.yaml
  pkg/controller/direct/clouddms/privateconnection_fuzzer.go
  pkg/controller/direct/clouddms/privateconnection_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4289 MockGCP&Controller: Resource dataplex entrytype
  apis/dataplex/v1alpha1/entrytype_identity.go
  mockgcp/mockdataplex/entrytype.go
  mockgcp/mockdataplex/lake.go
  pkg/controller/direct/dataplex/entrytype_controller.go
  pkg/controller/direct/dataplex/mapper.generated.go
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrytype/dataplexentrytype-minimal/_generated_object_dataplexentrytype-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrytype/dataplexentrytype-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrytype/dataplexentrytype-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/dataplex/v1alpha1/dataplexentrytype/dataplexentrytype-minimal/update.yaml
Labels: lgtm, approved

#4381 chore: add script to prewarm devcontainer
  dev/tasks/warm-devcontainer
Labels: lgtm, approved

#4380 chore: create script to update golden output
  dev/tasks/update-golden
Labels: lgtm, approved

#4154 mockgcp: gcloud test for monitoring alertPolicy
  mockgcp/mockmonitoring/alertpolicy.go
  mockgcp/mockmonitoring/normalize.go
  mockgcp/mockmonitoring/notificationchannel.go
  mockgcp/mockmonitoring/testdata/alertpolicy/crud/_http.log
  mockgcp/mockmonitoring/testdata/alertpolicy/crud/high-cpu-usage.json
  mockgcp/mockmonitoring/testdata/alertpolicy/crud/script.yaml
Labels: lgtm, approved

#4303 feat: add types, mappers and fuzzer for SpeechPhraseSet
  apis/speech/v1alpha1/generate.sh
  apis/speech/v1alpha1/phraseset_identity.go
  apis/speech/v1alpha1/phraseset_reference.go
  apis/speech/v1alpha1/phraseset_types.go
  apis/speech/v1alpha1/recognizer_types.go
  apis/speech/v1alpha1/types.generated.go
  apis/speech/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_speechphrasesets.speech.cnrm.cloud.google.com.yaml
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_speechrecognizers.speech.cnrm.cloud.google.com.yaml
  pkg/controller/direct/speech/mapper.generated.go
  pkg/controller/direct/speech/phraseset_fuzzer.go
  pkg/controller/direct/speech/phraseset_mappers.go
  pkg/controller/direct/speech/recognizer_mappers.go
  pkg/gvks/supportedgvks/gvks_generated.go
Labels: lgtm, approved

#4342 Add troubleshooting suggestion to test log
  config/tests/samples/create/samples.go
Labels: lgtm, approved

#4399 Metadata update.
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#4393 Direct Controller for api quotapreference
  apis/cloudquota/v1alpha1/quotapreference_identity.go
  apis/cloudquota/v1alpha1/quotapreference_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_apiquotapreferences.cloudquota.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockcloudquota/quotapreference.go
  pkg/controller/direct/cloudquota/client.go
  pkg/controller/direct/cloudquota/quotapreference_controller.go
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotapreference/apiquotapreference-minimal/_generated_object_apiquotapreference-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotapreference/apiquotapreference-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotapreference/apiquotapreference-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/cloudquota/v1alpha1/apiquotapreference/apiquotapreference-minimal/update.yaml
Labels: lgtm, approved, review

#4311 Add dataplex task types, mappers, CRD and fuzzer
  apis/dataplex/v1alpha1/task_identity.go
  apis/dataplex/v1alpha1/task_reference.go
  apis/dataplex/v1alpha1/task_types.go
  apis/dataplex/v1alpha1/types.generated.go
  apis/dataplex/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_dataplextasks.dataplex.cnrm.cloud.google.com.yaml
  pkg/controller/direct/dataplex/task_fuzzer.go
  pkg/controller/direct/dataplex/task_mapper.go
  pkg/gvks/supportedgvks/gvks_generated.go
  pkg/test/fuzz/generate.go
Labels: lgtm, approved

#4400 Fix ordering when kind is empty.
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4387 chore: update golang to 1.24.2
  build/builder/Dockerfile
  build/tooling/Dockerfile
  dev/tools/controllerbuilder/go.mod
  experiments/composite/go.mod
  experiments/compositions/composition/Dockerfile
  experiments/compositions/composition/Dockerfile.getter.expander
  experiments/compositions/composition/Dockerfile.inline
  experiments/compositions/composition/Dockerfile.jinja2.expander
  experiments/compositions/composition/go.mod
  experiments/compositions/expanders/cel-expander/Dockerfile
  experiments/compositions/expanders/cel-expander/go.mod
  experiments/compositions/expanders/helm-expander/Dockerfile
  experiments/compositions/expanders/helm-expander/go.mod
  experiments/compositions/facade/Dockerfile
  experiments/compositions/facade/go.mod
  experiments/kompanion/go.mod
  experiments/kubectl-plan/go.mod
  go.mod
  go.work
  mockgcp/go.mod
  mockgcp/mockbigtable/cluster.go
  mockgcp/tools/gapic/pkg/protogen/render.go
  mockgcp/tools/patch-proto/go.mod
  operator/Dockerfile
Labels: lgtm, approved

#4404 Added updated metadata from gemmahou.
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#4384 Direct Controller for datacatalog entry
  apis/datacatalog/v1alpha1/entry_types.go
  apis/datacatalog/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datacatalogentries.datacatalog.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockdatacatalog/entry.go
  pkg/controller/direct/datacatalog/entry_controller.go
  pkg/controller/direct/datacatalog/entry_fuzzer.go
  pkg/controller/direct/datacatalog/mapper_entry.go
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentry/datacatalogentry-minimal/_generated_object_datacatalogentry-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentry/datacatalogentry-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentry/datacatalogentry-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentry/datacatalogentry-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogentry/datacatalogentry-minimal/update.yaml
  tests/e2e/normalize.go
Labels: lgtm, approved, review

#4398 [Cloud Bigtable App Profile Beta Migration] Record real GCP log
  config/tests/samples/create/harness.go
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableappprofile/_generated_object_bigtableappprofile.golden.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableappprofile/_http.log
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableappprofile/create.yaml
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableappprofile/update.yaml
Labels: lgtm, approved

#4265 fix a typo in README.md
  experiments/conductor/README.md
Labels: lgtm, approved

#4388 Direct Controller for eventarc channel
  apis/eventarc/v1alpha1/channel_types.go
  apis/eventarc/v1alpha1/zz_generated.deepcopy.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_eventarcchannels.eventarc.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockeventarc/channel.go
  mockgcp/mockeventarc/service.go
  mockgcp/mockeventarc/testdata/channel/crud/_http.log
  pkg/controller/direct/eventarc/channel_controller.go
  pkg/controller/direct/eventarc/mapper_channel.go
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcchannel/eventarcchannel-minimal/_generated_object_eventarcchannel-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcchannel/eventarcchannel-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcchannel/eventarcchannel-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcchannel/eventarcchannel-minimal/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/eventarc/v1alpha1/eventarcchannel/eventarcchannel-minimal/update.yaml
  tests/apichecks/testdata/exceptions/missingrefs.txt
  tests/e2e/normalize.go
Labels: lgtm, approved, review

#4402 Direct Controller for metastore backup
  config/tests/samples/create/harness.go
  mockgcp/mockmetastore/backup.go
  pkg/controller/direct/metastore/backup_controller.go
  pkg/test/resourcefixture/testdata/basic/metastore/v1alpha1/metastorebackup/metastorebackup-minimal/_generated_object_metastorebackup-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/metastore/v1alpha1/metastorebackup/metastorebackup-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/metastore/v1alpha1/metastorebackup/metastorebackup-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/metastore/v1alpha1/metastorebackup/metastorebackup-minimal/dependencies.yaml
  pkg/webhook/no_unknown_fields_validator.go
  tests/e2e/normalize.go
Labels: lgtm, approved, review

#4392 Enable faster sync of Secret changes in AlloyDBCluster
  pkg/controller/direct/alloydb/cluster_controller.go
  pkg/controller/direct/colab/runtime_controller.go
  pkg/controller/direct/directbase/directbase_controller.go
  pkg/controller/direct/directbase/interfaces.go
  pkg/controller/direct/secretutil.go
  tests/e2e/unified_test.go
Labels: lgtm, approved

#4394 chore: move test files for IAPSettings
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/projectiapsettings/_generated_object_projectiapsettings.golden.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/projectiapsettings/_http.log
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/projectiapsettings/create.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/projectiapsettings/update.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/regionalcomputebackendserviceiapsettings/_generated_object_regionalcomputebackendserviceiapsettings.golden.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/regionalcomputebackendserviceiapsettings/_http.log
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/regionalcomputebackendserviceiapsettings/create.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/regionalcomputebackendserviceiapsettings/dependencies.yaml
  pkg/test/resourcefixture/testdata/basic/iap/v1beta1/iapsettings/regionalcomputebackendserviceiapsettings/update.yaml
Labels: lgtm, approved

#4395 SpeechPhraseSet: move modified types out of generated file
  apis/speech/v1alpha1/phraseset_types.go
  apis/speech/v1alpha1/types.generated.go
Labels: lgtm, approved

#4406 chore: fix NetworkRef normalization in `BackupDRManagementServer` controller
  pkg/controller/direct/backupdr/managementserver_controller.go
Labels: lgtm, approved

#4411 Marked KCC resources as terraform-v1beta1 based on CRD evaluation.
  experiments/conductor/branches-all.yaml
  experiments/conductor/cmd/runner/runner.go
Labels: lgtm, approved

#4413 Direct Controller for datacatalog tagtemplate
  apis/datacatalog/v1alpha1/tagtemplate_identity.go
  apis/datacatalog/v1alpha1/tagtemplate_types.go
  config/crds/resources/apiextensions.k8s.io_v1_customresourcedefinition_datacatalogtagtemplates.datacatalog.cnrm.cloud.google.com.yaml
  config/tests/samples/create/harness.go
  mockgcp/mockdatacatalog/tagtemplate.go
  pkg/controller/direct/datacatalog/tagtemplate_controller.go
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogtagtemplate/datacatalogtagtemplate-minimal/_generated_object_datacatalogtagtemplate-minimal.golden.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogtagtemplate/datacatalogtagtemplate-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogtagtemplate/datacatalogtagtemplate-minimal/create.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogtagtemplate/datacatalogtagtemplate-minimal/update.yaml
  pkg/test/resourcefixture/testdata/basic/datacatalog/v1alpha1/datacatalogtagtemplate/datacatalogtagtemplateautogen/create.yaml
Labels: approved, review

#4417 chore: go mod tidy
  go.mod
  go.sum
Labels: lgtm, approved

#4407 mock: update mock for BigTable AppProfile to match real
  mockgcp/mockbigtable/appprofile.go
  pkg/test/resourcefixture/testdata/basic/bigtable/v1beta1/bigtableappprofile/_http.log
Labels: lgtm, approved

#4421 chore: update goversion from 1.24 to 1.24.0
  dev/tools/controllerbuilder/go.mod
  experiments/compositions/composition/go.mod
  experiments/compositions/expanders/cel-expander/go.mod
  experiments/compositions/expanders/helm-expander/go.mod
  go.mod
  go.work
  mockgcp/tools/patch-proto/go.mod
Labels: lgtm, approved

#4414 chore: update branches-all.yaml
  experiments/conductor/branches-all.yaml
Labels: lgtm, approved

#4423 conductor: capture recent changes for controller generation
  experiments/conductor/cmd/runner/controller_commands.go
  experiments/conductor/cmd/runner/runner.go
  experiments/conductor/cmd/runner/utilities.go
Labels: lgtm, approved

#4418 update mock notebooks to use gRPC
  mockgcp/Makefile
  mockgcp/generated/google/cloud/notebooks/v1/managed_service.pb.gw.go
  mockgcp/generated/google/cloud/notebooks/v1/service.pb.gw.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/diagnostic_config.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/environment.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/event.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/execution.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/instance.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/instance_config.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/managed_service.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/managed_service_grpc.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/runtime.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/schedule.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/service.pb.go
  mockgcp/generated/mockgcp/cloud/notebooks/v1/service_grpc.pb.go
  mockgcp/mocknotebooks/instance.go
  mockgcp/mocknotebooks/notebooksenvironment.go
  mockgcp/mocknotebooks/service.go
Labels: lgtm, approved

#4422 release 1.131: Alpha controllers implemented
  docs/releasenotes/release-1.131.md
Labels: lgtm, approved

#4424 doc: update 1.131 release notes
  docs/releasenotes/release-1.131.md
Labels: lgtm, approved

#3929 mockgcp: improve fidelity of compute zones
  mockgcp/mockcompute/ids.go
  mockgcp/mockcompute/testdata/computezones/crud/_http.log
  mockgcp/mockcompute/testdata/computezones/crud/script.yaml
  mockgcp/mockcompute/zonesv1.go
  pkg/test/resourcefixture/testdata/basic/backupdr/v1alpha1/backupdrbackupplanassociation/backupdrbackupplanassociation-minimal/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancebasicexample/_http.log
  pkg/test/resourcefixture/testdata/basic/compute/v1beta1/computeinstance/computeinstancewithencrypteddisk/_http.log
  pkg/test/resourcefixture/testdata/resourceoverrides/computeinstance/networkipcomputeinstance/_http.log
Labels: lgtm, approved
